.index2-h2-icon {
    font-size: 10px;
}

.index2-h2-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/index2-h2.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .index2-h2-icon:before {
    background-image: url("../svg/index2-h2.png");
}

