<div class="brand">
	<h2 class="index-h2">品牌特卖<span>100%海外正品  精品折扣商品</span></h2>
	<ul class="clearfix">
	  <li><a href=""><img src="../img/brand1.jpg" alt="" /></a></li>
	  <li><a href=""><img src="../img/brand2.jpg" alt="" /></a></li>
	  <li><a href=""><img src="../img/brand3.jpg" alt="" /></a></li>
	  <li><a href=""><img src="../img/brand4.jpg" alt="" /></a></li>
	</ul>
</div>