<div class="comparison">
	<div class="comparison-c1 fl">
		<h3><span class="comparison-icon1"></span>顺丰海淘</h3>
		<ul>
		  <li><span class="comparison-icon3"></span>中文界面，方便浏览与支付</li>
		  <li><span class="comparison-icon3"></span>政府监管，极速清关</li>
		  <li><span class="comparison-icon3"></span>自营模式，提前备货，物流3~10天即可到手</li>
		  <li><span class="comparison-icon3"></span>商品含税包邮，高性价比</li>
		  <li><span class="comparison-icon3"></span>完善的客服体系，支持电话咨询与货品质量问题的赔付</li>
		</ul>
	</div>
	<div class="comparison-c2">
		<h3><span class="comparison-icon2"></span>传统海淘</h3>
		<ul>
		  <li><span class="comparison-icon4"></span>外文界面，付款繁琐</li>
		  <li><span class="comparison-icon4"></span>运输安全无保障</li>
		  <li><span class="comparison-icon4"></span>费心寻找转运公司，流程漫长，须30天以上</li>
		  <li><span class="comparison-icon4"></span>关税自理且昂贵，不划算</li>
		  <li><span class="comparison-icon4"></span>无客服无售后，满意靠运气</li>
		</ul>
	</div>
</div>