<div class="detail">
	<ul class="detail-tab-h">
		<li><a href="javascript:">图文详情</a></h2>
		<li class="active"><a href="javascript:">用户评价<span class="text-important">（112）</span></a></h2>
	</ul>
	<div class="detail-tab-b">
		<div class="detail-h">
			<ul class="clearfix">
				<li title="【产品名称】New Balance 女士防风立领软壳夹克">【产品名称】New Balance 女士防风立领软壳夹克</li>
				<li title="【产品名称】New Balance 女士防风立领软壳夹克">【面料成分】92%涤纶，8%弹性纤维</li>
				<li title="【产品名称】New Balance 女士防风立领软壳夹克">【产品特点】1.   92%涤纶＋8%弹性纤维2.   防风且防水</li>
				<li title="【产品名称】New Balance 女士防风立领软壳夹克">【产品款式】春／秋 夹克</li>
				<li title="【产品名称】New Balance 女士防风立领软壳夹克">【洗涤方式】可机洗</li>
			</ul>
		</div>
		<div class="detail-b ">
			== Slim::Template.new('module/flow.slim').render
			<h3>【泼墨】系列<br />新品复古泼墨男士真皮大手提包</h3>
			<p>材质特征: 头层牛皮<br />内部结构: 拉链暗袋 手机袋 证件袋<br />提拎部件: 伸缩式提把<br />里料质地: 棉<br />尺寸：上宽34/下宽36/高42/厚度14/<br />肩带最长16最短12（cm）</p>
			<!--比较-->
			== Slim::Template.new('module/comparison.slim').render
			<!--比较-->
			<!--faq-->
			== Slim::Template.new('module/faq.slim').render
			<!--faq-->
			== Slim::Template.new('module/notify.slim').render
		</div>
	</div>
	    
	<div class="comment detail-tab-b active">
		<div class="comment-h">
			<div class="comment-hc1">
				<h3>商品评价</h3>
				<div class="comment-progress"><div style="width:95%"></div></div><span class="text-error"><span class="comment-num">95%</span>好评</span>
				<p>共112条评价</p>
			</div>
			<div class="comment-hc2">
				<h3>大家认为</h3>
				<ul class="comment-label">
					-for i in 1..7
						<li>补水效果<span>（98）</span></li>
				</ul>
			</div>
			<div class="comment-hc3">
				<p>前30条评价，可获得双倍积分</p>
				<p>移动端评价，可获得双倍积分</p>
				<a class="text-link" href="">积分规则</a>
			</div>
		</div>
		<div class="comment-tab">
			<ul>
				<li class="active"><a href="javascript:">全部评价<span>（112）</span></a></li>
				<li><a href="javascript:">好评<span>（106）</span></a></li>
				<li><a href="javascript:">中评<span>（6）</span></a></li>
				<li><a href="javascript:">差评<span>（0）</span></a></li>
				<li><a href="javascript:">晒单<span>（10）</span></a></li>
				<li><a href="javascript:">追评<span>（15）</span></a></li>
			</ul>
		</div>
		<div class="comment-list">
			<table>
				<thead>
					<tr>
						<th class="col1">评价心得</th>
						<th class="col2">满意度</th>
						<th class="col3">商品信息</th>
						<th class="col4">评价用户</th>
					</tr>
				</thead>
				<tbody>
					<tr><td colspan="4"><p class="p4">暂无评价</p></td></tr>
					-for i in 1..5
						<tr>
							<td class="col1">
								<ul class="comment-label">
									-for i in 1..3
										<li>补水效果</li>
								</ul>
								<p class="p1">补水效果不错，很赞~</p>
								<ul class="comment-img">
									-for i in 1..3
										<li><img src="http://dummyimage.com/80x80" alt=""></li>
								</ul>
								<div class="comment-img-big">
									<a href="javascript:" class="comment-img-big-prev"></a>
									<ul>
										-for i in 1..3
											<li><img src="http://dummyimage.com/#{i*2}00x300" alt=""></li>
									</ul>
									<a href="javascript:" class="comment-img-big-next"></a>
								</div>
								<div class="comment-additional">
									<h4>7天后追加：</h4>
									<p>赞赞赞，用完皮肤好好~</p>
								</div>
								<p class="p2"><span class="text-important">客服回复：</span>小章鱼祝您购物愉快哦~~本月27号顺丰海淘有大促活动哦~希望您能继续支持，见证顺丰海淘的成长！</p>
							</td>
							<td class="col2">
								<span class="rating"></span>
							</td>
							<td class="col3">颜色：深褐色</td>
							<td class="col4">
								<p class="p3">F****Z</p>
								<p>来自顺丰海淘iOS手机版</p>
								<p>2015-07-25</p>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
		== Slim::Template.new('module/page.slim').render
	</div>
</div>