<div class="mask show"></div>
<div class="dialog dialog-center dialog-qrcode show">
    <h2>标题内容</h2>
    <a href="#" class="btn btn-close">关闭</a>
    <div class="dialog-b">
      <img src="../img/qrcode.png" width="140" height="140">
      <p>扫一扫分享散红包到微信</p>
    </div>
</div>