<div class="flashsale">
	<h2 class="index-h2">限时特卖<span>每周一、四 上午10:00 强势更新</span></h2>

	<ul>
	  <li class="clearfix">
	    <div class="flashsale-c1 fl">
	      <a href=""><img src="../img/flashsale.png" alt="" /></a>
	    </div>
	    <div class="flashsale-c2">
	      <div class="flashsale-c2-inner">
	      	<h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
		      <div class="flashsale-address"><img src="../img/icon-usa.png" alt="" width="23" height="17">广州保税仓发货</div>
		      <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
		      <div class="flashsale-c2r1">
		        <span class="icon icon56"></span>仅剩：<span class="text-error">3天5小时20分10秒</span>
		      </div>
	      </div>
		      
	      <div class="flashsale-c2r2 clearfix">
	        <div class="flashsale-c2r2c1 fl">
	          <span>￥</span><strong>69</strong>元起
	        </div>
	        <div class="flashsale-c2r2c2 fr">
	          <a href="#" class="btn btn-buy">立即抢购</a>
	        </div>
	      </div>
	    </div>
	  </li>
	  <li class="clearfix">
	    <div class="flashsale-c1 fl">
	      <a href=""><img src="../img/flashsale.png" alt="" /></a>
	    </div>
	    <div class="flashsale-c2">
	      <div class="flashsale-c2-inner">
	      	<h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
		      <div class="flashsale-address"><img src="../img/icon-usa.png" alt="" width="23" height="17">广州保税仓发货</div>
		      <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
		      <div class="flashsale-c2r1">
		        <span class="icon icon56"></span>活动已结束
		      </div>
	      </div>
		      
	      <div class="flashsale-c2r2 clearfix">
	        <div class="flashsale-c2r2c1 fl">
	          <strong>7</strong>折起
	        </div>
	        <div class="flashsale-c2r2c2 fr">
	          <a href="#" class="btn btn-buy disable">已结束</a>
	        </div>
	      </div>
	    </div>
	  </li>
	  <li class="clearfix">
	    <div class="flashsale-c1 fl">
	      <a href=""><img src="../img/flashsale.png" alt="" /></a>
	    </div>
	    <div class="flashsale-c2">
	      <div class="flashsale-c2-inner">
	      	<h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
		      <div class="flashsale-address"><img src="../img/icon-usa.png" alt="" width="23" height="17">广州保税仓发货</div>
		      <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
		      <div class="flashsale-c2r1">
		        <span class="icon icon56"></span><span class="text-error">3天5小时20分10秒</span>后开始
		      </div>
	      </div>
		      
	      <div class="flashsale-c2r2 clearfix">
	        <div class="flashsale-c2r2c1 fl">
	          <span>￥</span><strong>69</strong>元起
	        </div>
	        <div class="flashsale-c2r2c2 fr">
	          <a href="#" class="btn btn-buy soon">即将开始</a>
	        </div>
	      </div>
	    </div>
	  </li>
	</ul>
</div>