<!--头部-->
  <div class="ph">
    <div class="header1">
      <div class="pm">
        <div class="header1-c1 fl">
          <a href=""><span class="icon icon11"></span>海淘首页</a><a href="">登录</a><a href="">免费注册</a>
        </div>
        <div class="header1-c2 fr">
          <a href="">个人中心</a><a href="">帮助中心</a><a href="">我的优惠券</a><a href="">帮助中心</a><a href="">在线客服</a>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="pm clearfix">
        <div class="header-c1 fl">
          <a href="#" class="icon icon10">顺丰海淘</a>
          <img src="../img/slogan.png" alt="顺心全球购 丰富好生活" />
        </div>
        <ul class="header-c2 fr">
          <li class="li1">
            <span class="icon icon1 fl"></span>
            <h2><span>100%</span><br />正品保障</h2>
          </li>
          <li class="li2">
            <span class="icon icon64 fl"></span>
            <h2>全球精选<br /><span>特卖</span></h2>
          </li>
          <li class="li3">
            <span class="icon icon2 fl"></span>
            <h2>含税<br />包邮</h2>
          </li>
          <li class="li4">
            <span class="icon icon3 fl"></span>
            <h2>顶尖<br />物流</h2>
          </li>
        </ul>
      </div>
    </div>
    <!--导航-->
    <div class="nav">
      <div class="nav-inner">
        <div class="pm">
          <ul class="fl nav-c1">
            <li class="active"><a href="">首页</a></li>
            <li><a href="">母婴专区</a></li>
            <li><a href="">个护美装</a></li>
            <li><a href="">食品保健</a></li>
            <li><a href="">生活服饰</a><span class="icon icon54">NEW</span></li>
            <li><a href="">黑5狂欢</a><span class="icon icon55">HOT</span></li>
            <li><a href="">正品保障</a></li>
          </ul>
        </div>
      </div>

      <div class="nav nav-fixed">
      <div class="nav-inner">
        <div class="pm">
          <ul class="fl nav-c1">
            <li class="active"><a href="">首页</a></li>
            <li><a href="">母婴专区</a></li>
            <li><a href="">个护美装</a></li>
            <li><a href="">食品保健</a></li>
            <li><a href="">生活服饰</a><span class="icon icon54">NEW</span></li>
            <li><a href="">黑5狂欢</a><span class="icon icon55">HOT</span></li>
            <li><a href="">正品保障</a></li>
          </ul>
          <div class="fr nav-c2">
            <a href="">个人中心</a>|<a href="">我的优惠券</a>|<a href="" id="js-focus">微信关注</a>|<a href="">在线客服</a>|<a href="">意见反馈</a>
            <div class="nav-qrcode">
              <span class="icon icon16 icon16-8"></span>
              <img src="../img/qrcode.png" alt="二维码" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--头部-->