<div class="mycoupon">
    <h2>我的优惠券</h2>
    <p class="mycoupon-p1">不知道如何使用？<a href="">[优惠券使用规则]</a></p>
    <ul class="mycoupon-h clearfix">
      <li class="active"><a href="">未使用 (5)</a></li>
      <li><a href="">已使用 (2)</a></li>
      <li><a href="">已过期 (1)</a></li>
      <li><a href="">已作废 (1)</a></li>
    </ul>
    <!--
    <p class="mycoupon-b active">您还没有可用的优惠券哦~</p>
    <-->
    <!--未使用-->
    <ul class="mycoupon-b active clearfix mycoupon-b1">
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
    </ul>
    <!--已使用-->
    <ul class="mycoupon-b clearfix mycoupon-b2 mycoupon-line3">
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>使用时间：2015-3-3<br />有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>使用时间：2015-3-3<br />有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
    </ul>
    <!--已过期-->
    <ul class="mycoupon-b clearfix mycoupon-b3">
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
    </ul>
    <!--已作废-->
    <ul class="mycoupon-b clearfix mycoupon-b4">
      <li>
        <h3>新年满减优惠券</h3>
        <div class="mycoupon-r1">
          <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
          <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
        </div>
      </li>
    </ul>
      <div class="page">
        <a href=""><span class="icon icon16-7"></span></a>
        <a class="active" href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href=""><span class="icon icon16-6"></span></a>
      </div>
</div>