<ul class="orderdetail-step clearfix">
  <li class="active">
    <div>
      <h3>提交订单</h3>
      </p>2014/12/23 11:34:23</p>
    </div>
    <span></span>
    <div class="line"></div>
  </li>
  <li>
    <div><h3>付款成功</h3></div>
    <span></span>
    <div class="line"></div>
  </li>
  <li>
    <div><h3>商品出库</h3></div>
    <span></span>
    <div class="line"></div>
  </li>
  <li>
    <div><h3>等待收货</h3></div>
    <div class="line"></div>
    <span></span>
  </li>
  <li>
    <div><h3>订单完成</h3></div>
    <div class="line"></div>
    <span></span>
  </li>
</ul>