<div class="table table-2">
  <div class="table-h clearfix">
    <div class="table-c1 fl">处理时间</div>
    <div class="table-c2 fl">处理信息</div>
    <div class="table-c3 fl">操作人</div>
  </div>
  <ul class="table-b">
    <li class="clearfix">
      <div class="table-c1 fl">2014/12/23  11:34:25</div>
      <div class="table-c2 fl">您提交了订单，请等待系统确认</div>
      <div class="table-c3 fl">用户</div>
    </li>
  </ul>
</div>