<ul class="topic clearfix">
	<li>
	  <a href=""><img src="../img/topic2.jpg" alt=""></a>
	</li>
	<li>
	  <a href=""><img src="../img/topic2.jpg" alt=""></a>
	</li>
	<li>
	  <a href=""><img src="../img/topic2.jpg" alt=""></a>
	</li>
</ul>