<ul class="topic clearfix">
	<li>
	  <a href=""><img src="http://placehold.it/366x150" alt=""></a>
	</li>
	<li>
	  <a href=""><img src="http://placehold.it/366x150" alt=""></a>
	</li>
	<li>
	  <a href=""><img src="http://placehold.it/366x150" alt=""></a>
	</li>
</ul>