<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>顺丰海淘</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= styles %>

</head>
<body>
  <div id="content">
    <div class="sf-b2c-mall-header"></div>
    <div class="sf-b2c-mall-nav"></div>

      <div class="sf-b2c-mall-banner-promise"></div>
      <div class="sf-b2c-mall-component-category"></div>

      <div class="sf-b2c-mall-component-slide"></div>

      <div class="guarantee">
        <div class="guarantee-c1">
          <span class="icon icon-true"></span>
          <h2>全站真品</h2>
          <h3>quality lifestyle</h3>
        </div>
        <div class="guarantee-c2">
          <span class="icon icon-pinkage"></span>
          <h2>含税一口价</h2>
          <h3>fixed prices for all</h3>
        </div>
        <div class="guarantee-c3">
          <span class="icon icon-logistics"></span>
          <h2>物流全透明</h2>
          <h3>easy one-stop shopping</h3>
        </div>
      </div>
    </div>

    <div class="index-bj">
      <div class="index-main w990 clearfix">


        <div class="content1 clearfix">

          <div class="content1-left fl">
            <div class="sanjiao1">
              <img src="images/s3.png"></div>
            <div class="hid">
              <div  class="i1 i2 floor-03">
                <a href="/list.html?cid=57" target="_blank">
                  <img src="images/20141104_03.jpg">
                </a>
              </div>
            </div>
            <div class="content1-tags clearfix">
              <div>
                <a href="/search.html?q=Similac">雅培Similac</a>
                <a href="/search.html?q=Huggies">好奇Huggies</a>
                <a href="/search.html?q=California Baby">加州宝宝California Baby</a>
                <a href="/search.html?q=AVENT">新安怡AVENT</a>
                <a href="/search.html?q=Gerber">嘉宝Gerber</a>
              </div>
            </div>
          </div>

          <div style="border-top:2px solid #73A6DF; height:558px; padding:0px;" class="fl content1-right fl">
            <div class="content3-tops clearfix">
              {{#CHANNEL_1_1}}
              <div class="c3-top-left fl">
                <div class="c3-m clearfix">
                  <div class="title1">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                  </div>
                  <div class="t4">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{subname}}</a>
                  </div>

                    {{#productInfo}}
                        <div class="c3-ts clearfix">

                            <!-- <s>￥{{listPrice}}</s> -->
                            <div class="t6">￥{{price}}</div>
                            {{#seller}}
                                <div class="c3-bottom clearfix">
                                    <div class="t3-left fl">
                                        <a href="#">
                                            <img src="{{nationLogoUrl}}">{{nationName}}
                                        </a>
                                    </div>
                                </div>
                            {{/seller}}
                        </div>
                    {{/productInfo}}
                </div>
                <div class="c3-img clearfix">
                  <a href="{{link}}" target="_blank">
                    <img src="{{imgURL}}"></a>
                </div>
              </div>
              {{/CHANNEL_1_1}}
              <div class="c3-right fl">
                {{#CHANNEL_1_2}}
                <div class="fl c3-list">
                  <div style="padding-bottom:0px;" class="img1 img2">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                  <div class="t2">
                    <span class="text1">
                      <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                    </span>
                      {{#productInfo}}
                          <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                              <!-- <s>￥{{listPrice}}</s> -->
                          </div>
                      {{/productInfo}}
                  </div>
                    {{#productInfo}}
                        <div style="padding-top:5px;" class="t3 clearfix">
                            {{#seller}}
                                <div class="t3-left fl">
                                    <a href="#">
                                        <img src="{{nationLogoUrl}}">{{nationName}}</a>
                                </div>
                            {{/seller}}
                        </div>
                    {{/productInfo}}
                </div>
                {{/CHANNEL_1_2}}
              </div>
            </div>
            <div class="c3-bottoms clearfix">
              {{#CHANNEL_1_3}}
              <div class="c3-list2 fl">
                <div class="c3-bt-tops clearfix">
                  <div class="c3-l fl">
                    <div class="t2">
                      <span class="text1">
                        <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                      </span>
                        {{#productInfo}}
                            <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                                <!-- <s>￥{{listPrice}}</s> -->
                            </div>
                        {{/productInfo}}
                    </div>
                  </div>
                  <div class="c3-r fr">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                </div>
                  {{#productInfo}}
                      <div class="t3 clearfix">
                          {{#seller}}
                              <div class="t3-left fl">
                                  <a href="#">
                                      <img src="{{nationLogoUrl}}">{{nationName}}</a>
                              </div>
                          {{/seller}}
                      </div>
                  {{/productInfo}}
              </div>
              {{/CHANNEL_1_3}}
            </div>
          </div>
        </div>
        <div class="content1 clearfix">
          <div class="content1-left fl">
            <div class="sanjiao1">
              <img src="images/s4.png"></div>
            <div class="hid">
              <div class="i1 i2 floor-04">
                <a href="/list.html?cid=1" target="_blank">
                  <img src="images/20141104_04.jpg"></a>
              </div>
            </div>
            <div class="content1-tags clearfix">
              <div>
                <a href="/search.html?q=Calvin Klein">Calvin Klein</a>
                <a href="/search.html?q=kate spade">凯特丝蓓kate spade</a>
                <a href="/search.html?q=Fossil">化石Fossil</a>
                <a href="/search.html?q=New Balance">新百论New Balance</a>
                <a href="/search.html?q=ECCO">爱步ECCO</a>
              </div>
            </div>
          </div>
          <div style="border-top:2px solid #ddc79a; height:558px; padding:0px;" class="fl content1-right fl">
            <div class="content3-tops clearfix">
              {{#CHANNEL_2_1}}
              <div class="c3-top-left fl">
                <div class="c3-m clearfix">
                  <div class="title1">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                  </div>
                  <div class="t4">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{subname}}</a>
                  </div>

                    {{#productInfo}}
                        <div class="c3-ts clearfix">

                            <!-- <s>￥{{listPrice}}</s> -->
                            <div class="t6">￥{{price}}</div>
                            {{#seller}}
                                <div class="c3-bottom clearfix">
                                    <div class="t3-left fl">
                                        <a href="#">
                                            <img src="{{nationLogoUrl}}">{{nationName}}</a>
                                    </div>
                                </div>
                            {{/seller}}
                        </div>
                    {{/productInfo}}
                </div>
                <div class="c3-img clearfix">
                  <a href="{{link}}" target="_blank">
                    <img src="{{imgURL}}"></a>
                </div>
              </div>
              {{/CHANNEL_2_1}}
              <div class="c3-right fl">
                {{#CHANNEL_2_2}}
                <div class="fl c3-list">
                  <div style="padding-bottom:0px;" class="img1 img2">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                  <div class="t2">
                    <span class="text1">
                      <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                    </span>
                      {{#productInfo}}
                          <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                              <!-- <s>￥{{listPrice}}</s> -->
                          </div>
                      {{/productInfo}}
                  </div>
                    {{#productInfo}}
                        <div style="padding-top:5px;" class="t3 clearfix">
                            {{#seller}}
                                <div class="t3-left fl">
                                    <a href="#">
                                        <img src="{{nationLogoUrl}}">{{nationName}}</a>
                                </div>
                            {{/seller}}
                        </div>
                    {{/productInfo}}
                </div>
                {{/CHANNEL_2_2}}
              </div>
            </div>
            <div class="c3-bottoms clearfix">
              {{#CHANNEL_2_3}}
              <div class="c3-list2 fl">
                <div class="c3-bt-tops clearfix">
                  <div class="c3-l fl">
                    <div class="t2">
                      <span class="text1">
                        <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                      </span>
              {{#productInfo}}
                      <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                        <!-- <s>￥{{listPrice}}</s> -->
                      </div>
                  {{/productInfo}}
                    </div>
                  </div>
                  <div class="c3-r fr">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                </div>
                  {{#productInfo}}
                      <div class="t3 clearfix">
                          {{#seller}}
                              <div class="t3-left fl">
                                  <a href="#">
                                      <img src="{{nationLogoUrl}}">{{nationName}}</a>
                              </div>
                          {{/seller}}
                      </div>
                  {{/productInfo}}
              </div>
              {{/CHANNEL_2_3}}
            </div>
          </div>
        </div>
        <div class="content1 clearfix">
          <div class="content1-left fl">
            <div class="sanjiao1">
              <img src="images/s5.png"></div>
            <div class="hid">
              <div  class="i1 i2 floor-05">
                <a href="/list.html?cid=153" target="_blank">
                  <img src="images/20141104_05.jpg"></a>
              </div>
            </div>
            <div class="content1-tags clearfix">
              <div>
                <a href="/search.html?q=GNC">健安喜GNC</a>
                <a href="/search.html?q=Nature Made">莱萃美Nature Made</a>
                <a href="/search.html?q=Now Foods">Now Foods</a>
                <a href="/search.html?q=Manuka">蜜纽康Manuka</a>
                <a href="/search.html?q=Amazing Grass">Amazing Grass</a>
              </div>
            </div>
          </div>
          <div style="border-top:2px solid #9dde98; height:558px; padding:0px;" class="fl content1-right fl">
            <div class="content3-tops clearfix">
              {{#CHANNEL_3_1}}
              <div class="c3-top-left fl">
                <div class="c3-m clearfix">
                  <div class="title1">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                  </div>
                  <div class="t4">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{subname}}</a>
                  </div>

                    {{#productInfo}}
                  <div class="c3-ts clearfix">

                    <!-- <s>￥{{listPrice}}</s> -->
                    <div class="t6">￥{{price}}</div>
                      {{#seller}}
                    <div class="c3-bottom clearfix">
                      <div class="t3-left fl">
                        <a href="#">
                          <img src="{{nationLogoUrl}}">{{nationName}}</a>
                      </div>
                    </div>
                      {{/seller}}
                  </div>
                    {{/productInfo}}
                </div>
                <div class="c3-img clearfix">
                  <a href="{{link}}" target="_blank">
                    <img src="{{imgURL}}"></a>
                </div>
              </div>
              {{/CHANNEL_3_1}}
              <div class="c3-right fl">
                {{#CHANNEL_3_2}}
                <div class="fl c3-list">
                  <div style="padding-bottom:0px;" class="img1 img2">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                  <div class="t2">
                    <span class="text1">
                      <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                    </span>
                {{#productInfo}}
                    <div class="text2">
                      <span>
                        到手价：￥
                        <font>{{price}}</font>
                      </span>
                      <!-- <s>￥{{listPrice}}</s> -->
                    </div>
                    {{/productInfo}}
                  </div>
                    {{#productInfo}}
                        <div style="padding-top:5px;" class="t3 clearfix">
                            {{#seller}}
                                <div class="t3-left fl">
                                    <a href="#">
                                        <img src="{{nationLogoUrl}}">{{nationName}}</a>
                                </div>
                            {{/seller}}
                        </div>
                    {{/productInfo}}
                </div>
                {{/CHANNEL_3_2}}
              </div>
            </div>
            <div class="c3-bottoms clearfix">
              {{#CHANNEL_3_3}}
              <div class="c3-list2 fl">
                <div class="c3-bt-tops clearfix">
                  <div class="c3-l fl">
                    <div class="t2">
                      <span class="text1">
                        <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                      </span>
              {{#productInfo}}
                      <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                        <!-- <s>￥{{listPrice}}</s> -->
                      </div>
              {{/productInfo}}
                    </div>
                  </div>
                  <div class="c3-r fr">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                </div>
              {{#productInfo}}
                <div class="t3 clearfix">
                {{#seller}}
                  <div class="t3-left fl">
                    <a href="#">
                      <img src="{{nationLogoUrl}}">{{nationName}}</a>
                  </div>
                    {{/seller}}
                </div>
                  {{/productInfo}}
              </div>
              {{/CHANNEL_3_3}}
            </div>
          </div>
        </div>
        <div class="content1 clearfix">
          <div class="content1-left fl">
            <div class="sanjiao1">
              <img src="images/s6.png"></div>
            <div class="hid">
              <div  class="i1 i2 floor-06">
                <a href="/list.html?cid=104" target="_blank">
                  <img src="images/20141104_06.jpg"></a>
              </div>
            </div>
            <div class="content1-tags clearfix">
              <div>
                <a href="/search.html?q=Clinique">倩碧Clinique</a>
                <a href="/search.html?q=Estee Lauder">雅诗兰黛Estee Lauder</a>
                <a href="/search.html?q=Origins">悦木之源Origins</a>
                <a href="/search.html?q=花王">花王Merries</a>
                <a href="/search.html?q=Clarins">娇韵诗Clarins</a>
              </div>
            </div>
          </div>
          <div style="border-top:2px solid #de989b; height:558px; padding:0px;" class="fl content1-right fl">
            <div class="content3-tops clearfix">
              {{#CHANNEL_4_1}}
              <div class="c3-top-left fl">
                <div class="c3-m clearfix">
                  <div class="title1">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                  </div>
                  <div class="t4">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{subname}}</a>
                  </div>

              {{#productInfo}}
                  <div class="c3-ts clearfix">

                    <!-- <s>￥{{listPrice}}</s> -->
                    <div class="t6">￥{{price}}</div>
                  {{#seller}}
                    <div class="c3-bottom clearfix">
                      <div class="t3-left fl">
                        <a href="#">
                          <img src="{{nationLogoUrl}}">{{nationName}}</a>
                      </div>
                    </div>
                      {{/seller}}
                  </div>
              {{/productInfo}}
                </div>
                <div class="c3-img clearfix">
                  <a href="{{link}}" target="_blank">
                    <img src="{{imgURL}}"></a>
                </div>
              </div>
              {{/CHANNEL_4_1}}
              <div class="c3-right fl">
                {{#CHANNEL_4_2}}
                <div class="fl c3-list">
                  <div style="padding-bottom:0px;" class="img1 img2">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                  <div class="t2">
                    <span class="text1">
                      <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                    </span>
                {{#productInfo}}
                    <div class="text2">
                      <span>
                        到手价：￥
                        <font>{{productInfo.price}}</font>
                      </span>
                      <!-- <s>￥{{productInfo.listPrice}}</s> -->
                    </div>
                {{/productInfo}}
                  </div>
                    {{#productInfo}}
                  <div style="padding-top:5px;" class="t3 clearfix">
                    {{#seller}}
                    <div class="t3-left fl">
                      <a href="#">
                        <img src="{{nationLogoUrl}}">{{nationName}}</a>
                    </div>
                    {{/seller}}
                  </div>
                    {{/productInfo}}
                </div>
                {{/CHANNEL_4_2}}
              </div>
            </div>
            <div class="c3-bottoms clearfix">
              {{#CHANNEL_4_3}}
              <div class="c3-list2 fl">
                <div class="c3-bt-tops clearfix">
                  <div class="c3-l fl">
                    <div class="t2">
                      <span class="text1">
                        <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                      </span>
                       {{#productInfo}}
                      <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                        <!-- <s>￥{{listPrice}}</s> -->
                      </div>
                       {{/productInfo}}
                    </div>
                  </div>
                  <div class="c3-r fr">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                </div>
                  {{#productInfo}}
                <div class="t3 clearfix">
                    {{#seller}}
                  <div class="t3-left fl">
                    <a href="#">
                      <img src="{{nationLogoUrl}}">{{nationName}}</a>
                  </div>
                    {{/seller}}
                </div>
                  {{/productInfo}}
              </div>

              {{/CHANNEL_4_3}}
            </div>
          </div>
        </div>
        <div class="content1 clearfix">
          <div class="content1-left fl">
            <div class="sanjiao1">
              <img src="images/s7.png"></div>
            <div class="hid">
              <div  class="i1 i2 floor-07">
                <a href="/list.html?cid=179" target="_blank">
                  <img src="images/20141104_08.jpg"></a>
              </div>
            </div>
            <div class="content1-tags clearfix">
              <div>
                <a href="/search.html?q=thermos">膳魔师Thermos</a>
              <a href="/search.html?q=philips">飞利浦Philips</a>
              <a href="/search.html?q=Zojirushi">象印Zojirushi</a>
              <a href="/search.html?q=Nespresso">雀巢Nespresso</a>
              <a href="/search.html?q=Braun">博朗Braun</a>
              </div>
            </div>
          </div>
          <div style="border-top:2px solid #98d3de; height:558px; padding:0px;" class="fl content1-right fl">
            <div class="content3-tops clearfix">
              {{#CHANNEL_5_1}}
              <div class="c3-top-left fl">
                <div class="c3-m clearfix">
                  <div class="title1">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                  </div>
                  <div class="t4">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{subname}}</a>
                  </div>

              {{#productInfo}}
                  <div class="c3-ts clearfix">

                    <!-- <s>￥{{listPrice}}</s> -->
                    <div class="t6">￥{{price}}</div>
                  {{#seller}}
                    <div class="c3-bottom clearfix">
                      <div class="t3-left fl">
                        <a href="#">
                          <img src="{{nationLogoUrl}}">{{nationName}}</a>
                      </div>
                    </div>
                      {{/seller}}
                  </div>
              {{/productInfo}}
                </div>
                <div class="c3-img clearfix">
                  <a href="{{link}}" target="_blank">
                    <img src="{{imgURL}}"></a>
                </div>
              </div>
              {{/CHANNEL_5_1}}
              <div class="c3-right fl">
                {{#CHANNEL_5_2}}
                <div class="fl c3-list">
                  <div style="padding-bottom:0px;" class="img1 img2">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                  <div class="t2">
                    <span class="text1">
                      <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                    </span>
                {{#productInfo}}
                    <div class="text2">
                      <span>
                        到手价：￥
                        <font>{{productInfo.price}}</font>
                      </span>
                      <!-- <s>￥{{productInfo.listPrice}}</s> -->
                    </div>
                {{/productInfo}}
                  </div>
                    {{#productInfo}}
                  <div style="padding-top:5px;" class="t3 clearfix">
                    {{#seller}}
                    <div class="t3-left fl">
                      <a href="#">
                        <img src="{{nationLogoUrl}}">{{nationName}}</a>
                    </div>
                    {{/seller}}
                  </div>
                    {{/productInfo}}
                </div>
                {{/CHANNEL_5_2}}
              </div>
            </div>
            <div class="c3-bottoms clearfix">
              {{#CHANNEL_5_3}}
              <div class="c3-list2 fl">
                <div class="c3-bt-tops clearfix">
                  <div class="c3-l fl">
                    <div class="t2">
                      <span class="text1">
                        <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                      </span>
                       {{#productInfo}}
                      <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                        <!-- <s>￥{{listPrice}}</s> -->
                      </div>
                       {{/productInfo}}
                    </div>
                  </div>
                  <div class="c3-r fr">
                    <a href="{{link}}" target="_blank">
                      <img src="{{imgURL}}"></a>
                  </div>
                </div>
                  {{#productInfo}}
                <div class="t3 clearfix">
                    {{#seller}}
                  <div class="t3-left fl">
                    <a href="#">
                      <img src="{{nationLogoUrl}}">{{nationName}}</a>
                  </div>
                    {{/seller}}
                </div>
                  {{/productInfo}}
              </div>

              {{/CHANNEL_5_3}}
            </div>
          </div>
        </div>
        <div class="content1 clearfix">
            {{#HOT_1_1}}
                <div class="content1-left fl">
                    <div class="sanjiao1">
                        <img src="images/s1.png">
                    </div>
                    <div class="hid">
                        <div class="i1 floor-01" >

                            <a href="{{link}}" target="_blank">
                                <img src="{{imgURL}}">
                            </a>
                        </div>
                        <div class="tag-show">
                            <span class="tag1" style="left: -20px;">{{displayName}}</span>
                            {{#productInfo}}
                                <span class="tag2" style="left: -20px; background: rgb(252, 142, 88);">到手价：￥{{price}}</span>
                            {{/productInfo}}
                        </div>
                    </div>
                </div>
            {{/HOT_1_1}}
            <div class="fl content1-right fl" style="border-top:2px solid #FD874B;">
                <div class="content2-slide bd clearfix">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:800px">
                        <ul style="width: 1600px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            {{#HOT_1_2}}
                                <li style="float: left; width: 200px;">
                                    <div class="content1-list fl clearfix">
                                        <div class="img1">
                                            <a href="{{link}}" target="_blank">
                                                <img src="{{imgURL}}">
                                            </a>
                                        </div>
                                        <div class="t2">
                  <span class="text1">
                    <a href="{{link}}" target="_blank" style="color: rgb(102, 102, 102);">{{displayName}}</a>
                  </span>
                                            {{#productInfo}}
                                                <div class="text2">
                          <span>
                            到手价：￥
                            <font>{{price}}</font>
                          </span>
                                                    <!-- <s>￥{{listPrice}}</s> -->
                                                </div>
                                            {{/productInfo}}
                                        </div>
                                        {{#productInfo}}
                                            <div class="t3 clearfix">
                                                {{#seller}}
                                                    <div class="t3-left fl">
                                                        <a href="#">
                                                            <img src="{{nationLogoUrl}}">{{nationName}}
                                                        </a>
                                                    </div>
                                                {{/seller}}
                                            </div>
                                        {{/productInfo}}
                                    </div>
                                </li>
                            {{/HOT_1_2}}
                        </ul>
                    </div>
                </div>
                <a class="next"></a>
                <a class="prev"></a>
            </div>
        </div>
        <div class="content1 clearfix">
            {{#HOT_2_1}}
                <div class="content1-left fl">

                    <div class="sanjiao1">
                        <img src="images/s2.png">
                    </div>

                    <div class="hid">
                        <div class="i1 floor-02" >

                            <a href="{{link}}" target="_blank">
                                <img src="{{imgURL}}">
                            </a>
                        </div>
                        <div class="tag-show">
                            <span class="tag1">{{displayName}}</span>
                            {{#productInfo}}
                                <span class="tag2" style="background:#4DBAB1;">到手价：￥{{price}}</span>
                            {{/productInfo}}
                        </div>
                    </div>
                </div>
            {{/HOT_2_1}}
            <div class="fl content1-right fl" style="border-top:2px solid #63C1B9;">
                <div class="content2-slide bd clearfix">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:800px">
                        <ul style="width: 1600px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            {{#HOT_2_2}}
                                <li style="float: left; width: 200px;">
                                    <div class="content1-list fl clearfix">
                                        <div class="img1">
                                            <a href="{{link}}" target="_blank">
                                                <img src="{{imgURL}}"></a>
                                        </div>
                                        <div class="t2">
                        <span class="text1">
                          <a href="{{link}}" target="_blank">{{displayName}}</a>
                        </span>
                                            {{#productInfo}}
                                                <div class="text2">
                        <span>
                          到手价：￥
                          <font>{{price}}</font>
                        </span>
                                                    <!-- <s>￥{{listPrice}}</s> -->
                                                </div>
                                            {{/productInfo}}
                                        </div>
                                        {{#productInfo}}
                                            <div class="t3 clearfix">
                                                {{#seller}}
                                                    <div class="t3-left fl">
                                                        <a href="#">
                                                            <img src="{{nationLogoUrl}}">{{nationName}}
                                                        </a>
                                                    </div>
                                                {{/seller}}
                                            </div>
                                        {{/productInfo}}
                                    </div>
                                </li>
                            {{/HOT_2_2}}
                        </ul>
                    </div>
                </div>
                <a class="next"></a>
                <a class="prev"></a>
            </div>
        </div>
        <div class="liucheng">
          <img src="images/bj5.png">
        </div>
      </div>
    </div>
  </div>
  <div class="sf-b2c-mall-footer"></div>
</div>

<%= scripts %>

</body>
</html>


