<div class="nataral-shop-detail">
  <div class="pm">
    <div class="crumbs"><a href="http://www.sfht.com/y.html">原汁原味</a><span>&gt;</span>{{shopInfo.name}}</div>
    <img src="{{#sf-firstImg shopInfo.imageList}}{{/sf-firstImg}}">
    <div class="nataral-shop-detail-inner">
      <h2>{{shopInfo.name}}</h2>
      <p>{{{shopInfo.desc}}}</p>
      <div class="tooltip-pos">
        <a class="text-link" href="javascript:;">{{#sf-num shopInfo.branchAddressList}}{{/sf-num}}家分店</a>
        <div class="tooltip-outer">
          <div class="tooltip">
            <ul>
              {{#each shopInfo.branchAddressList}}
              <li><h3><span class="icon icon69"></span><a href="">{{name}}</a></h3><p>{{address}}</p></li>
              {{/each}}
            </ul>
            <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
