##titleSubmodule；name subName 1
##brandSubmodule: link name imgUrl 4
#if($content&&$content.size()==2)
    #set($titleSubmodule=$content.get(0))
    #set($brandSubmodule=$content.get(1))
    #if($brandSubmodule&&$brandSubmodule.size()>0)
    <div class="brand pm">
        #if($titleSubmodule&&$titleSubmodule.size()>0)
            <h2 class="index-h2">$!{titleSubmodule.get(0).get("name")}<span>$!{titleSubmodule.get(0).get("subName")}</span></h2>
        #end
        <ul class="clearfix">
            #foreach($brand in $brandSubmodule)
                <a href="$!{brand.get("link")}" title="$!{brand.get("name")}">
                    <li>
                        <img class="img-lazyload" src="http://img.sfht.com/sfht/img/loading.gif"
                             lazy-src="$!{brand.get("imgUrl")}" alt="$!{brand.get("name")}"/>
                    </li>
                </a>
            #end
        </ul>
    </div>
    #end
#end
