.hotsale-icon {
    font-size: 10px;
}

.hotsale-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/hotsale.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .hotsale-icon:before {
    background-image: url("../svg/hotsale.png");
}

