.svg {
    font-size: 10px;
}

.svg:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2em 4em;
}

.no-svg .svg:before {
    background-image: url("../svg/sprite.png");
}

.svg.icon-alipay:before {
    background-position: 0em 0em;
    width: 2em;
    height: 2em;
}

.svg.icon-wechat:before {
    background-position: 0em -2em;
    width: 2em;
    height: 2em;
}

