/*
@styleguide

# 公告

*/
.announcement{
  color: #f18629;
  height: 38px;
  line-height: 38px;
  background: #fce7c4;
  padding-left: 13px;
  border: 1px solid rgb(249, 206, 137);
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 22px;
}
.announcement .icon-voise{
  margin-right: 10px;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  fill: #f29545;
  fill-rule: evenodd;
}
/*
@styleguide

# 自助服务

*/
.selfService{
  margin-bottom: 48px;
}
.selfService h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.selfService ul{
  overflow: hidden;
  margin-left: -63px;
}
.selfService li{
  float: left;
  width: 192px;
  height: 205px;
  text-align: center;
  background: #fceded;
  margin-left: 63px;
}
.selfService li div{
  height: 117px;
}
.selfService li div a{
  display: inline-block;
  vertical-align: middle;
}
.selfService li div:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.selfService h3{
  font-size: 16px;
  margin-bottom: 12px;
}
.selfService h3 a{
  color: #4c4c4c;
}
.selfService p{
  color: #4c4c4c;
  font-size: 13px;
}
.selfService .icon-delivery{
  width: 55px;
  height: 52px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-airplane{
  width: 56px;
  height: 63px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-bookmark{
  width: 70px;
  height: 59px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-edit{
  width: 49px;
  height: 49px;
  fill: #000;
  fill-rule: evenodd;
}
/*
@styleguide

# 常见问题

*/
.commonProblem{
  margin-bottom: 70px;
}
.commonProblem h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.commonProblem-tab{
  overflow: hidden;
  border-bottom: 1px solid #c9c9c9;
}
.commonProblem-tab li{
  float: left;
  width: 122px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.commonProblem-tab li.active{
  border-bottom: 3px solid #e53a3c;
}
.commonProblem-icon{
  float: left;
  margin-left: -26px;
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
.commonProblem dl{
  font-size: 14px;
  line-height: 28px;
  margin-top: 37px;
}
.commonProblem dt{
  padding-left: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}
.commonProblem dd{
  color: #4c4c4c;
  padding-left: 26px;
}
/*
@styleguide

# 常见问题

*/
.onlineService{
  margin-bottom: 10px;
}
.onlineService h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.onlineService-icon{
  width: 58px;
  height: 58px;
}
.onlineService-type{
  overflow: hidden;
}
.onlineService p{
  font-size: 16px;
  margin-bottom: 54px;
  color: #5c5c5c;
}
.onlineService h3{
  font-size: 16px;
  margin-bottom: 53px;
}
.onlineService-type>li{
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}
.onlineService-type>li:last-child{
  border-right: none;
}
.onlineService-item{
  font-size: 0;
}
.onlineService-item>li{
  display: inline-block;
  font-size: 13px;
  margin: 0 12px 22px;
}
.onlineService-item>li div{
  margin-top: 14px;
}
.service-mian{
  background: #fff;
  padding: 34px 110px 87px;
}
