/*
@styleguide

# 公告

*/
.announcement-icon{
  font-size: 10px;
}
.announcement-icon:before{
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../svg/announcement.svg");
  background-repeat: no-repeat;
  background-size: 3.9em 3.7em;
}
.no-svg .announcement-icon:before{
  background-image: url("../svg/announcement.png");
}
.announcement-icon.icon-voise:before{
  background-position: -1em -1em;
  width: 1.9em;
  height: 1.7em;
}
.announcement{
  color: #f18629;
  height: 38px;
  line-height: 38px;
  background: #fce7c4;
  padding-left: 13px;
  border: 1px solid rgb(249, 206, 137);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 22px;
}
.announcement .icon-voise{
  margin-right: 10px;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  fill: #f29545;
  fill-rule: evenodd;
}
/*
@styleguide

# 自助服务

*/
.selfService-icon{
  font-size: 10px;
}
.selfService-icon:before{
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../svg/selfService.svg");
  background-repeat: no-repeat;
  background-size: 9em 30.3em;
}
.no-svg .selfService-icon:before{
  background-image: url("../svg/selfService.png");
}
.selfService-icon.icon-airplane:before{
  background-position: -1em -1em;
  width: 5.6938em;
  height: 6.3em;
}
.selfService-icon.icon-bookmark:before{
  background-position: -1em -9.3em;
  width: 7em;
  height: 5.9em;
}
.selfService-icon.icon-delivery:before{
  background-position: -1em -17.2em;
  width: 5.5em;
  height: 5.2em;
}
.selfService-icon.icon-edit:before{
  background-position: -1em -24.4em;
  width: 4.9030000000000005em;
  height: 4.9em;
}
.selfService{
  margin-bottom: 48px;
}
.selfService h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.selfService ul{
  overflow: hidden;
  margin-left: -63px;
}
.selfService li{
  float: left;
  width: 192px;
  height: 205px;
  text-align: center;
  background: #fceded;
  margin-left: 63px;
}
.selfService li div{
  height: 117px;
}
.selfService li div a{
  display: inline-block;
  vertical-align: middle;
}
.selfService li div:before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.selfService h3{
  font-size: 16px;
  margin-bottom: 12px;
}
.selfService h3 a{
  color: #4c4c4c;
}
.selfService p{
  color: #4c4c4c;
  font-size: 13px;
}
.selfService .icon-delivery{
  width: 55px;
  height: 52px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-airplane{
  width: 56px;
  height: 63px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-bookmark{
  width: 70px;
  height: 59px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-edit{
  width: 49px;
  height: 49px;
  fill: #000;
  fill-rule: evenodd;
}
/*
@styleguide

# 常见问题

*/
.commonProblem-icon{
  font-size: 10px;
}
.commonProblem-icon:before{
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../svg/commonProblem.svg");
  background-repeat: no-repeat;
  background-size: 4em 8em;
}
.no-svg .commonProblem-icon:before{
  background-image: url("../svg/commonProblem.png");
}
.commonProblem-icon.icon-a:before{
  background-position: -1em -1em;
  width: 2em;
  height: 2em;
}
.commonProblem-icon.icon-q:before{
  background-position: -1em -5em;
  width: 2em;
  height: 2em;
}
.commonProblem{
  margin-bottom: 70px;
}
.commonProblem h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.commonProblem-tab{
  overflow: hidden;
  border-bottom: 1px solid #c9c9c9;
}
.commonProblem-tab li{
  float: left;
  width: 122px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.commonProblem-tab li.active{
  border-bottom: 3px solid #e53a3c;
}
.commonProblem-icon{
  float: left;
  margin-left: -26px;
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
.commonProblem dl{
  font-size: 14px;
  line-height: 28px;
  margin-top: 37px;
}
.commonProblem dt{
  padding-left: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}
.commonProblem dd{
  color: #4c4c4c;
  padding-left: 26px;
}
/*
@styleguide

# 常见问题

*/
.onlineService-icon{
  font-size: 10px;
}
.onlineService-icon:before{
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../svg/onlineService.svg");
  background-repeat: no-repeat;
  background-size: 7.8em 117em;
}
.no-svg .onlineService-icon:before{
  background-image: url("../svg/onlineService.png");
}
.onlineService-icon.icon-onlineService1:before{
  background-position: -1em -1em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService10:before{
  background-position: -1em -8.8em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService11:before{
  background-position: -1em -16.6em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService12:before{
  background-position: -1em -24.4em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService13:before{
  background-position: -1em -32.2em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService14:before{
  background-position: -1em -40em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService15:before{
  background-position: -1em -47.8em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService2:before{
  background-position: -1em -55.6em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService3:before{
  background-position: -1em -63.4em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService4:before{
  background-position: -1em -71.2em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService5:before{
  background-position: -1em -79em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService6:before{
  background-position: -1em -86.8em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService7:before{
  background-position: -1em -94.6em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService8:before{
  background-position: -1em -102.4em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService-icon.icon-onlineService9:before{
  background-position: -1em -110.2em;
  width: 5.8em;
  height: 5.8em;
}
.onlineService{
  margin-bottom: 10px;
}
.onlineService h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.onlineService-icon{
  width: 58px;
  height: 58px;
}
.onlineService-type{
  overflow: hidden;
}
.onlineService p{
  font-size: 16px;
  margin-bottom: 54px;
  color: #5c5c5c;
}
.onlineService h3{
  font-size: 16px;
  margin-bottom: 53px;
}
.onlineService-type>li{
  float: left;
  width: 33%;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}
.onlineService-type>li:last-child{
  border-right: none;
}
.onlineService-item{
  font-size: 0;
}
.onlineService-item>li{
  display: inline-block;
  font-size: 13px;
  margin: 0 12px 22px;
}
.onlineService-item>li div{
  margin-top: 14px;
}
.service-mian{
  background: #fff;
  padding: 34px 110px 87px;
}
