##submodule1:name subName
##submodule2:imgUrl name subName startTime endTime promotionInfo
#if($content&&$content.size()==2)
    #set($titleSubmodule=$content.get(0))
    #set($flashsaleSubmodule=$content.get(1))
    #if($flashsaleSubmodule&&$flashsaleSubmodule.size()>0)
    <div class="flashsale pm cms-module-filltime">
        #if($titleSubmodule&&$titleSubmodule.size()>0)
        ##        限时特卖<span>每周一、四 上午10:00 强势更新</span>
            <h2 class="index-h2">$!{titleSubmodule.get(0).get("name")}<span>$!{titleSubmodule.get(0).get("subName")}</span></h2>
        #end
        <ul>
            #foreach($flashsale in $flashsaleSubmodule)
                <a href="$!{flashsale.get("link")}">
                    <li class="clearfix cms-src-timeinfo"
                        data-cms-starttime="$!{flashsale.get("startTime")}"
                        data-cms-endtime="$!{flashsale.get("endTime")}">
                        <div class="flashsale-c1 fl">
                            <img class="img-lazyload" src="http://img.sfht.com/sfht/img/loading.gif"
                                 lazy-src="$!{flashsale.get("imgUrl")}" alt="$!{flashsale.get("name")}"/>
                        </div>
                        <div class="flashsale-c2">
                            <h3>$!{flashsale.get("name")}</h3>

                            <p>$!{flashsale.get("subName")}</p>

                            <div class="flashsale-c2r1">
                            ##                            客户端渲染
                                <span class="cms-fill-timeinfo"></span>
                            ##                            <span class="icon icon56"></span>仅剩：<span class="text-error">3天5小时20分10秒</span>
                            </div>
                            <div class=" flashsale-c2r2 clearfix">
                                <div class="flashsale-c2r2c1 fl">
                                ##运营填充
                            ##                                <span>￥</span><strong>69</strong>元起
##                                <strong>7</strong>折起
                                $!{flashsale.get("promotionInfo")}
                                </div>
                                <div class="flashsale-c2r2c2 fr">
                                ##客户端渲染
                                    <a href="$!{flashsale.get("link")}" class="btn btn-buy cms-fill-gotobuy">立即购买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </a>
            #end
        </ul>
    </div>
    #end
#end