body{
	background: #f3f4f4;
}
.banner a{
	background: url(../img/banner.jpg) no-repeat center;
	height: 500px;
	display: block;
}
.banner2 a{
	display: block;
	background-repeat:no-repeat;
	background-position:center;
	height: 138px;
	margin-bottom: 74px;
}
.m1{
	width: 1183px;
	margin:0 auto;
}
.m1 .mh{
	background-repeat: no-repeat;
	background-position:center;
	height: 440px;
	padding-left: 402px;
	margin-bottom: 6px;
}
.m1 h2{
	font-size: 18px;
	padding-top: 247px;
	margin-bottom: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 15em;
}
.m1 .mr1{
	margin-bottom: 13px;
}
.m1 .mr1 .mc1{
	color: #dd3e3f;
	font-size: 24px;
}
.m1 .mr1 .mc1 strong{
	font-size: 38px;
	
}
.m1 .mr1 .mc2{
	font-size: 14px;
	color: #adadad;
}

.m1 ul{
	margin-left: -23px;
}
.m1 li{
	float: left;
	margin-left: 23px;
	width: 368px;
	padding:5px;
	margin-bottom: 26px;
}
