@import 'utils/variables';
@import 'utils/placeholders';
@import 'components/pagenofind';
@import 'components/recommend';
@import 'components/topic';
@import 'components/gameover';
.banner img{
  width: 100%;
}

.recCoupon img{
  width: 100%
}

.activity img{
  width: 100%
}