@import 'utils/variables';
@import 'utils/placeholders';

.m81{
	background: url(#{$bg-url}81/81.jpg) no-repeat center top;
	height: 1177px;
}
.m81-day{
	font-size: 71px;
	color: #b300f5;
	width: 84px;
	text-align: center;
	padding-top: 239px;
	padding-left: 120px;
}
.m81-play{
	width: 67px;
	height: 68px;
	background: url(#{$bg-url}81/81-play.png) no-repeat center;
	margin-left: 120px;
	margin-top: 90px;
	display: block;
	text-indent: -999em;
}
.m81-play:hover{
	opacity: 0.8;
}
.m81-info{
	font-size: 16px;
	color: #fff;
	width: 315px;
	margin-left: auto;
	margin-top: 25px;
	height: 36px;
	overflow: hidden;
}
.m81-info span{
	color: #f3da00;
}
.m81-info ul{
	position: relative;
}
.m81-info li{
	line-height: 36px;
	height: 36px;
	overflow: hidden;
}
.m81-btn{
	background: #b300f5;
	color: #fff;
	width: 274px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 24px;
	border-radius: 5px;
	display: block;
	margin-top: 350px;
	margin-left: 59px;
}
.m81-btn:hover{
	color: #fff;
}