@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/address-add';
@import 'module/address';
@import 'module/cart';
@import 'module/cart-footer';
@import 'module/order-confirm';
@import 'module/cart-coupon';
@import 'module/coupon';
@import 'module/coupons';
.nav{
	display: none;
}
.header{
	border-bottom: 3px solid #353a42;
	margin-bottom: 30px;
}

.tooltip-outer{
	bottom: 100%;
	top: auto;
	margin-top: 0;
	margin-bottom: 13px;
}