@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/slider';
.introduce1{
	background: url(http://img0.sfht.com/img/7857f99df418f1c3dd5c7af2d5279a0c.jpg) no-repeat center top;
	height: 1056px;
	
}
.introduce1 .pm{
	position: relative;
	height: 1056px;
}
.introduce1-plane{
	background: url(http://img0.sfht.com/img/3defae5635df2edafdf91aafcb7a643a.jpg) no-repeat;
	width: 270px;
	height: 75px;
	position: absolute;
	top: 1170px;
	left: 50%;
	margin-top: -37px;
	margin-left: -123px;
	
}
.introduce-logistics{
	background: url(http://img0.sfht.com/img/960cf22a63365039ad285a330890959a.jpg) no-repeat center top;
	height: 990px;
	text-indent: -999em;
}
.introduce-logistics h2{
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 33px;
	padding-top: 86px;
}
.introduce-logistics p{
	font-size: 21px;
	text-align: center;
}
.introduce-vs{
	background: url(http://img0.sfht.com/img/b3252112381d2328dc66e71cfcbb656f.jpg) no-repeat center top;
	height: 1160px;
	padding-top: 900px;
	box-sizing:border-box;
	font-size: 16px;
	line-height: 28px;
	color: #777;
}
.introduce-vs-c1{
	text-align: right;
	width: 560px;
	margin-right: 70px;
}
.introduce-vs-c1 strong{
	background: #f64f40;
	color: #fff;
}
.introduce-vs-c2 strong{
	background: #555;
	color: #fff;
}
.introduce-qa{
	padding-left: 64px;
	background: #fff;
	padding-bottom: 120px;
	padding-top: 60px;
}
.introduce-qa h2{
	font-size: 60px;
	text-align: center;
	font-weight: normal;
	height: 45px;
	margin-bottom: 84px;
	background: url(http://img0.sfht.com/img/fce75f36a1fb5ac420b36637c21d4bce.jpg) no-repeat center top;
	text-indent: -999em;
}
.introduce-qa h3{
	font-size: 24px;
	color: #df3d40;
	font-weight: normal;
	margin-bottom: 23px;
}
.introduce-qa p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 23px;
}
.introduce-qa .p1{
	color: #1d97b3;
	margin-bottom: -60px;
	position: relative;
	z-index: 1;
	padding-left: 47px;
}
.introduce-qa h3 span,
.introduce-qa p span{
	font-size: 21px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 38px;
	float: left;
	margin-left: -64px;
}
.introduce-qa h3 span{
	background: url(http://img0.sfht.com/img/58945acd39529e7b211be5fcd886ff62.jpg) no-repeat center top;

}
.introduce-qa p span{
	background: url(http://img0.sfht.com/img/6fbc87139141537bad8c386fc1f3daa4.jpg) no-repeat center top;
}
.introduce-qa img{
	margin-bottom: 96px;
}
.slider{
	height: 901px;
	margin: 0;
}
.slider-img li a{
	height: 901px;
}
.slider .btn{
	top: 420px
}

.slider-icon{
	background: url(http://img0.sfht.com/img/19ce00ad69bf4b66bd92a6b1a0ff131d.jpg) no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 112px;
	height: 112px;
	margin-left: -56px;
	margin-top: -56px;
	text-indent: -999em;
	transition:all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.slider-icon:hover{
	transform:scale(1.1);
}
.footer1{
	margin-top: 0;
}