@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/slider';
.introduce1{
	background: url(#{$bg-url}introduce/introduce1.jpg) no-repeat center top;
	height: 1056px;
	
}
.introduce1 .pm{
	position: relative;
	height: 1056px;
}
.introduce1-plane{
	background: url(#{$bg-url}introduce/plane.png) no-repeat;
	width: 270px;
	height: 75px;
	position: absolute;
	top: 1170px;
	left: 50%;
	margin-top: -37px;
	margin-left: -123px;
	
}
.introduce2{
	background:#fff url(#{$bg-url}introduce/introduce-h.png) no-repeat center 125px;
	padding-top: 470px;
	padding-bottom: 223px;
	font-size: 0;
	height: 900px;
	box-sizing:border-box;
	
}
.introduce2 ul{
	overflow: hidden;
}
.introduce2 li{
	display: inline-block;
	width: 25%;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	padding-top: 124px;
	border-left: 1px solid #ececec;
	margin-left: -1px;
}
.introduce2 .li1{
	background: url(#{$bg-url}introduce/introduce1.png) no-repeat center top;
}
.introduce2 .li2{
	background: url(#{$bg-url}introduce/introduce2.png) no-repeat center top;
}
.introduce2 .li3{
	background: url(#{$bg-url}introduce/introduce3.png) no-repeat center top;
}
.introduce2 .li4{
	background: url(#{$bg-url}introduce/introduce4.png) no-repeat center top;
}
.slider{
	height: 901px;
	margin: 0;
}
.slider-img li a{
	height: 901px;
}
.slider .btn{
	top: 420px
}

.slider-icon{
	background: url(#{$bg-url}play.png) no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 112px;
	height: 112px;
	margin-left: -56px;
	margin-top: -56px;
	text-indent: -999em;
	transition:all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.slider-icon:hover{
	transform:scale(1.1);
}
.footer1{
	margin-top: 0;
}