@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/personal';

.message{
	padding: 40px 0;
}
.message ul{
  margin-bottom: 20px;
}
.message li{
	padding: 20px 0 20px 110px;
	border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
}
.message li:last-child{
	border: none;
}
.message img{
	float: left;
	margin-left: -110px;
	border: 1px solid #E5E5E5;
}
.message-r1{
	overflow: hidden;
	margin-bottom: 13px;
	color: #999;
}
.message-r1 span{
	margin-right: 5px;
}
.message-r2{
	line-height: 22px;
	margin-bottom: 13px;
}
.message-r3{
	line-height: 22px;
	background: #F5F5F5;
	color: #666;
	padding: 5px 11px;
}
.message-none{
  text-align: center;
  padding:110px 0;
  font-size: 14px;
  color:#666;
}
.message-icon{
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 60px;
  background: url(#{$bg-url}comment-icon.png) no-repeat;
  margin-right: 20px;
}
