@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/product';
@import 'module/myorder-tab';
@import 'module/address-add';
@import 'module/personal';
@import 'module/myorder-search';
@import 'module/myorder';
@import 'module/myorder-none';
@import 'module/account-manage';
@import 'module/address-table';

.product h2{
	color: #666;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 8px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 26px;
}
.product-list li{
	margin-left: 22px;
}
.integral h2{
	font-size: 18px;
	font-weight: normal;
	padding: 43px 0 20px;
	border-bottom: 1px dashed #ccc;
}
.integral-r1{
	padding: 20px 0;
	border-bottom: 1px dashed #ccc;
}
.integral-r1 .text-important{
	font-size: 26px;
}
.integral-r1 .text-important:first-child{
	margin-right: 120px;
}
.integral-tab{
	padding-top: 26px;
	padding-bottom: 15px;
	height: 18px;
}
.integral-tab-c1{
	overflow: hidden;
}
.integral-tab-c1 ul{
	margin-left: -11px;
}
.integral-tab-c1 li{
	display: inline-block;
	padding: 0 10px;
	border-left: 1px solid #bbb;
}
.integral-tab-c1 li a{
	display: block;
	padding: 0 11px;
	height: 15px;
	line-height: 15px;
	border-radius: 2px;
}

.integral-tab-c1 li a:hover{
	background: #eee;
}
.integral-tab-c1 li.active a{
	color: #DD322D;
}
.integral-tab-c2 a{
	margin-left: 16px;
}
.integral .tooltip{
	left: -90%;
	border-radius: 5px;
}
.integral .tooltip li{
	margin-bottom: 24px;
	padding-left: 20px;
}
.integral .tooltip li:last-child{
	margin-bottom: 0;
}
.integral .tooltip li span{
	font-size: 16px;
	color: #F5A623;
	font-weight: bold;
	float: left;
	margin-left: -20px;
}
.integral .tooltip .icon16-3{
	left:92%;
}
