@import 'utils/variables';
@import 'utils/placeholders';
@import 'components/product';
@import 'components/myorder-tab';
@import 'components/address-add';
.personal{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 35px;
}
.personal-c1{
	width: 198px;
	text-align: center;
}
.personal-c1 h1{
	height: 58px;
	line-height: 58px;
	color: #de3d3f;
	border-bottom: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: normal;
}
.personal-c1 li{
	
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
}
.personal-c1 li a{
	color:#777;
	display: block;
	height: 58px;
	line-height: 58px;
}
.personal-c1 li.active{
	position: relative;
	margin-left: -1px;
	box-sizing:border-box;
	padding-right: 4px;
	width: 200px;
	background: #fff;
}
.personal-c1 li.active:before{
	content: '';
	height: 100%;
	width: 4px;
	background: #db3f40;
	position: absolute;
	left: 0px;
}
.personal-c2{
	overflow: hidden;
	padding:0 63px 0 39px;
	border-left: 1px solid #e5e5e5;
}

.myorder-search{
	margin-bottom: 32px;

}
.myorder-search input{
	width: 326px;
	padding-left: 10px;
	height: 49px;
	line-height: 49px;
	border: 1px solid #e5e5e5;
	border-radius: 3px 0 0 3px;
	vertical-align: middle;
	box-sizing:border-box;
}
.myorder-search button{
	width: 68px;
	height: 49px;
	line-height: 49px;
	margin-left: -1px;
	color: #a3a2a3;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-radius: 0 3px 3px 0;
	vertical-align: middle;
}

.myorder table{
	width: 100%;
	table-layout: fixed;
	box-sizing:border-box;
}

.myorder table table tr:last-child td{
	border-bottom: none;
}
.myorder td[colspan="4"]{
	border-bottom: 1px solid #e5e5e5 !important;
}

.myorder thead tr{
	margin-bottom: 20px;
}
.myorder thead th{
	color: #999;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
	
}
.myorder thead span{
	font-size: 16px;
	position: absolute;
	right: 0;
	top: -2px;
	color: #e5e5e5;
}
.myorder .th1,
.myorder .td1{
	width: 108px;
}
.myorder .th2,
.myorder .td2{
	width: 309px;
}
.myorder .th3,
.myorder .td3{
	width: 64px;
}
.myorder .th4,
.myorder .td4{
	width: 92px;
}
.myorder .th5,
.myorder .td5{
	width: 98px;
}
.myorder .th6,
.myorder .td6{
	width: 99px;
}
.myorder .th7,
.myorder .td7{
	width: 119px;
}
.myorder .td2{
	text-align: left;
}
.myorder .td2,
.myorder .td3,
.myorder .td4{
	border-right: none;
	border-left: none;
}
.myorder h2{
	height: 30px;
	line-height: 30px;
	background: #eee;
	margin-top: 20px;
	text-indent: 15px;
	color: #666;
	font-weight: normal;
	position: relative;
	border: 1px solid #eee;
	position: relative;
	width: 100%;
	margin-left: -1px;
}
.myorder h2 span{
	color: #999;
	margin-left: 50px;
	font-size: 10px;
}
.myorder h2 .icon{
	position: absolute;
	right: 10px;
	top: 7px;
}
.myorder td{
	border:1px solid #e5e5e5;
	color: #777;
	text-align: center;
}
.myorder td[colspan]{
	border:none;
}
.myorder img{
	width: 78px;
	height: 78px;
	border:1px solid #e5e5e5;
	margin: 18px 19px 18px 30px;
}
.myorder h3{
	color: #888;
	line-height: 20px;
	display: inline-block;
	width: 142px;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
.myorder del{
	color: #aaa;
	margin-bottom: 5px;
	display: block;
}
.myorder .text-error{
	margin-top: 10px;

}
.myorder .btn{
	display: block;
	margin: 0 auto;
}
.myorder .btn-danger{
	margin-top: 10px;
}
.myorder .btn-normal{
	margin-top: 10px;
	margin-bottom: 39px;
}
.myorder .btn-success{
	margin-bottom: 9px;
}
.myorder-link{
	display: block;
	color: #3b86c4;
	margin: 10px 0;
}
.myorder-address{
	font-size: 10px;
	color: #aaa;
	margin-top: 10px;
}
.myorder .label-error{
	margin-bottom: 14px;
	background: #ff9999;
	padding: 0 8px;
	border-radius: 4px;
	letter-spacing: 1px;
}
.myorder .icon{
	margin-right: 5px;
}
.myorder .icon79{
	vertical-align: -2px;
}
.myorder .page{
	margin: 30px 0;
	text-align: center;
}
.myorder .tooltip{
	width: 220px;
	color:#999;
}
.myorder .tooltip-h{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.myorder .tooltip li{
	margin-bottom: 10px;
	list-style: inside;
	text-align: left;
}
.myorder .tooltip .active{
	color:#db3f40;
}
.myorder .tooltip .time{
	display: block;
}
.myorder .tooltip a{
	color: #999;
}
.myorder .icon88{
	margin-left: 20px;
	margin-right: 5px;
}
.myorder-none{
	text-align: center;
	margin-bottom: 48px;
}
.myorder-none a{
	margin-top: 10px;
	display: inline-block;
}
.myorder-none p{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	text-align: left;
	color: #666;
}
.product h2{
	color: #666;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 8px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 26px;
}
.account-manage{
	height: 353px;
	display: none;
	padding-left: 100px;
	margin-top: 55px;
}
.account-manage.active{
	display: block;
}
.account-manage1 .btn{
	margin-left: 52px;
}
.account-manage2 .btn{
	margin-left: 79px;
}
.account-manage input,
.account-manage select{
	margin-left: 20px;
}
.account-manage input{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 247px;
}
.account-manage li{
	margin-bottom: 13px;
}
.account-manage label{
	font-size: 14px;
}



.address{

	margin-bottom: 128px;
}
.address h2{
	font-size: 14px;
	font-weight: normal;
	margin: 48px 0 22px;
}
.address-table{
	border:1px solid #e5e5e5;
	border-radius: 4px;
}
.address table{
	width: 100%;
	
}
.address th{
	background: #f5f7f7;
	height: 38px;
}
.address td{
	height: 50px;
	line-height: 50px;
	position: relative;
	border-top:1px solid #e5e5e5;
}
.address .col1{
	padding-left: 20px;
	width: 114px;
}
.address .col2{
	width: 220px;
}
.address .col3{
	width: 209px;
}
.address .col4{
	width: 157px;
}
.address .text-link{
	margin-right: 10px;
}
.address .label-error{
	background: #dc3334;
	padding: 0 5px;
	margin-left: 18px;
	display: none;
}
.address td:hover .label-error{
	display: inline-block;
}
.address .label i{
	border-color: transparent transparent transparent #fff;
	border-width: 10px 5px;
	left: 0;
	margin-top: -10px;
}
.address .label-disabled{
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	background: #e5e5e5;
	color: #999;
}