@import 'utils/variables';
@import 'utils/placeholders';
<<<<<<< HEAD
@import 'components/product';
@import 'components/nataral-list';
@import 'components/nataral-video';
@import 'components/mycoupon';
.nataral{
	background: #fff;
}
.nataral-header{
	background:#fff;
}
.nataral-header h1{	
	font-size:20px;
	font-family: "圆体";
	font-weight: normal;
	padding-bottom: 15px;	
	padding-top: 30px;
}
.nataral-header h1 span{
	font-size: 14px;
	margin-left: 5px;
	color: #888;
}
.nataral-header .icon10{
	padding-right: 10px;
	border-right: 1px solid #666;
	margin-right:10px;
}
.nataral .crumbs{
	border-top: 1px solid #f3f3f3;	
	padding-top: 15px;
	color:#ccc;
}
.nataral .crumbs a{
	color:#ccc;
}
=======
>>>>>>> 2611d043662660476d37ef27f112931705581478

@import 'module/slider';
@import 'module/product';
@import 'module/nataral-nav';
@import 'module/nataral-shop';
@import 'module/nataral-product';
@import 'module/nataral-product2';
@import 'module/nataral-product3';
@import 'module/nataral-sort';
@import 'module/nataral-top';
@import 'module/nataral-category';
@import 'module/flashsale';
.nataral-h2{
	font-size: 20px;
	color: #666;
	font-weight: normal;
	border-left:5px solid #DF3D40;
	padding-left: 13px;
	margin-bottom: 22px;
	margin-top: 20px;
	display: inline-block;
}

.btn-top{
	display: none !important;
}

.nataral-index-c1{
	width:890px;
}

.nataral-index-c2{
	width:270px;
}
