@import 'utils/variables';
@import 'utils/placeholders';
@import 'components/slider';
@import 'components/product';
@import 'components/crumbs';
@import 'module/classify';
@import 'module/sort';
.nataral-h2{
	font-size: 20px;
	color: #666;
	font-weight: normal;
	border-left:5px solid #DF3D40;
	padding-left: 13px;
	margin-bottom: 22px;
	margin-top: 20px;
	display: inline-block;
}

.nataral-nav{
	border-bottom: 3px solid #32363F;    
	text-align: center;
	padding-bottom: 16px;
	margin-bottom: 20px;
}
.nataral-nav li{
	width: 73px;
	height: 73px;
	box-sizing:border-box;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	background: #EAEAEA;
	display: inline-block;
	
	font-size: 18px;
	margin: 0 90px;
	position: relative;
}
.nataral-nav li:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.nataral-nav li a{
	color: #999;
	display: inline-block;
	vertical-align: middle;
}
.nataral-nav li:before{
	content: '';
	border-width: 7px 5px;
	border-style: solid;
	border-color: transparent transparent #353942 transparent;
	position: absolute;
	bottom:-16px;
	left: 33px;
	display: none;
}
.nataral-nav li.active{
	background: #E23E3F;
	
}
.nataral-nav li.active a{
	color: #fff;
}
.nataral-nav li.active:before{
	display: block;
}
.nataral-nav li i{
	font-family: edwardian script itc;
	font-size: 48px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: -5px;
}
.nataral-shop-list{
	margin-left: -20px;
}
.nataral-shop-list>li{
	float: left;
	width: 578px;
	margin-left: 20px;
	margin-bottom: 20px;
	background: #fff;
	box-sizing:border-box;
}
.nataral-shop-h{
	border: 1px solid #E5E5E5;
	padding: 17px;
}
.nataral-shop-b{
	border: 1px solid #E5E5E5;
	margin-top: -1px;
}
.nataral-shop-b li{
	width: 143px;
	padding:24px 24px 20px;
	border-right: 1px dashed #E5E5E5;
	float: left;
	position: relative;
}
.nataral-shop-b li:before{
	content: '';
	height: 0px;
	transition:all 0.3s;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #DF3D40;
}
.nataral-shop-b li:hover:before{
	height: 3px;
}

.nataral-shop-b li:last-child{
	border-right: none;
}
.nataral-shop-b li .icon110{
	position: absolute;
	left: 32px;
	top: 24px;
}
.nataral-shop-b h4{
	font-size: 13px;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 14px;
	font-weight: normal;

}
.nataral-shop-b h4 span{
	color: #999;
}
.nataral-shop-br1 strong{
	font-size: 20px;
	margin-right: 9px;
}
.nataral-shop-c1{
	margin-right: 18px;
}
.nataral-shop h3{
	font-size: 20px;
	margin-bottom: 21px;
	margin-top: 13px;
	font-weight: normal;
}
.nataral-shop h3:hover{
	text-decoration: underline;
}
.nataral-shop-c2{
	overflow: hidden;
}
.nataral-shop-c2r1{
	margin-bottom: 18px;
}
.nataral-shop p{
	line-height: 22px;
	color: #999;
	height: 66px;
	overflow: hidden;
}
.nataral-shop-c2 .text-important{
	margin-left: 7px;
	margin-right: 19px;
}
.nataral-shop-c2r1{
	color: #999;
}
.nataral-shop-address{
	margin-right: 18px;
}
.nataral-shop-link{
	color:#B87C00;
	background: #FFD62C;
	height: 23px;
	line-height: 23px;
	border-radius: 3px;
	padding: 0 10px;
	margin-top: 12px;
}
.nataral-shop-link:hover{
	color:#B87C00;
}
.nataral-shop-top{
	border: 1px solid #E5E5E5;
	margin-bottom: 20px;
	background: #fff;
}
.nataral-shop-top-c1{
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	width: 540px;
}
.nataral-shop-top ul{
	margin-left: -6px;
}
.nataral-shop-top li{
	display: inline-block;
	width: 128px;
	height: 48px;
	border: 1px solid #E5E5E5;
	margin-left: 6px;
	text-align: center;
}
.nataral-shop-top p{
	color: #666;
	font-size: 13px;
	line-height: 26px;
}
.nataral-shop-top h3{
	margin-top: 22px;
}
.nataral-shop-top h4{
	color: #bbb;
	font-weight: normal;
	margin: 10px 0;
}

.product h3{
	font-weight: normal;
	line-height: 24px;
	max-height: 48px;
	height: 48px;
}
.nataral-pruduct li{
	position: relative;
	padding-bottom: 0;
	margin-bottom: 72px;
}
.nataral-pruduct2 li{
	margin-bottom: 20px;
}
.nataral-product-price{
	color: #999;
	font-size: 12px;
}
.nataral-product-price2{
	width: 71px;
	padding-top: 5px;
	height: 30px;
	background: #fff;
	background: rgba(255,255,255,0.9);
	position: absolute;
	right: 15px;
	bottom:-3px;
	font-size: 12px;
	line-height: 15px;
	color:#999;
	text-align: center;
}
.nataral-pruduct .product-r2c1 strong{
	margin-right: 10px;
}

.nataral-pruduct-r1{
	
	background: #F9F9F9;
	height: 52px;
	line-height: 52px;
	border: 1px solid #E5E5E5;
	position: absolute;
	padding: 0 3px;
	text-indent:15px; 
	width: 100%;
	margin-left: -4px;
	margin-top: 3px;
	z-index: 0;
}
.nataral-pruduct-r1 a{
	color: #999;
	vertical-align: middle;
}
.nataral-pruduct-r1 a:hover{
	text-decoration: underline;
	color: #666;
}
.nataral-pruduct-r1 .icon{
	margin-right: 9px;
}
.nataral-pruduct .nataral-product-more a{
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 14px;
	border-radius: 50%;
	background: #F9F9F9;
	display: block;
	margin: 135px auto;
	color: #999;
	text-indent: 8px;
}
.nataral-pruduct2 .nataral-product-more a{
	margin: 109px auto;
}

.nataral-pruduct .nataral-product-more a:hover{
	text-decoration: underline;
	color: #666;
}
.nataral-pruduct .nataral-product-more{
	margin-bottom: 0;
}
.nataral-pruduct .nataral-product-more:hover{
	border-color: #fff;
	outline-color: #e5e5e5;

}
.product-list li{
	position: relative;
	padding-bottom: 0;
	padding-top: 12px;
}
.product-list .icon115{
	position: absolute;
	left: 28px;
	top: 17px;
}
.product-r1 img{
	max-width: 245px;
	max-height: 245px;
}

.nataral-sort{
	display: inline-block;
	margin-left: 34px;
}
.nataral-sort li{
	display: inline-block;
	font-size: 14px;
	width: 80px;
	text-align: center;
	height: 22px;
	line-height: 22px;
	margin-right: 13px;
}
.nataral-sort li:hover{
	background: #E9E9E9;
}
.nataral-sort li:hover a{
	color: #666;
}
.nataral-sort li.active{
	background: #DF3D40;
	border-radius: 3px;
}
.nataral-sort li.active a{
	color: #fff;
}
.nataral-sort li a{
	color: #999;
	display: block;
}

.nataral-top{
	width: 121px;
	border:1px solid #E5E5E5;
	position: fixed;
	bottom: 300px;
	left: 50%;
	margin-left: 600px;
	z-index: 2;
}
.nataral-top li{
	background: #fff;
	border-bottom: 1px dashed #ddd;
	font-size: 14px;
	transition:all 0.5s;
}
.nataral-top li:hover{
	background: #eee;
}
.nataral-top li a{
	display: block;
	height: 51px;
	line-height: 51px;
	text-align: center;
	color: #666;
}
.nataral-top li a:before{
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.nataral-top li.active i{
	background: #FF9F00;
}
.nataral-top i{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #B3B7C0;
	text-align: center;
}
.nataral-top li .nataral-top-text{
	margin-left: 11px;
}
.nataral-top .icon111,
.nataral-top .icon113{
	vertical-align: -1px;
}
.nataral-top i:before{
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.nataral-top-r1{
	background: #D9D9D9;
	
	margin-top: -1px;
	text-align: center;
	font-size: 14px;
}

.nataral-top-r1:hover{
	background: #999;
}
.nataral-top-r1 .nataral-top-text{
	margin-right: 7px;
}
.nataral-top-r1 a{
	color: #fff;
	display: block;
	height: 33px;
	line-height: 33px;
}
.nataral-top-r1 a:before{
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.nataral-shop-detail{
	background: #fff;
	padding-bottom: 36px;
	margin-bottom: 22px;
}
.nataral-shop-detail-inner{
	display: inline-block;
	width: 483px;
	margin-left: 30px;
	vertical-align: top;
}
.nataral-shop-detail h2{
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 26px;
	margin-top: 15px;
}
.nataral-shop-detail p{
	color: #666;
	margin-bottom: 17px;
	line-height: 28px;
	font-size: 14px;
}
.nataral-shop-detail .text-link{
	font-size: 14px;
}

.btn-top{
	display: none !important;
}

.sort{
	margin-bottom: -45px;
}
.crumbs{
	margin:0;
	padding: 15px 0;
}
@media all and (max-width:1400px){
	.nataral-top{
		width: 50px;
		left: auto;
		right: 0;
		margin-left: 0;
	}
	.nataral-top:hover{
		width: 121px;

	}
	.nataral-top:hover .nataral-top-text{
		display: inline-block;
	}
	.nataral-top-text{
		display: none;
	}
}