@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/slider';
@import 'module/product';
@import 'module/crumbs';
@import 'module/classify';
@import 'module/sort';
@import 'module/nataral-nav';
@import 'module/nataral-shop';
@import 'module/nataral-shop-detail';
@import 'module/nataral-product';
@import 'module/nataral-sort';
@import 'module/nataral-top';
.nataral-h2{
	font-size: 20px;
	color: #666;
	font-weight: normal;
	border-left:5px solid #DF3D40;
	padding-left: 13px;
	margin-bottom: 22px;
	margin-top: 20px;
	display: inline-block;
}

.btn-top{
	display: none !important;
}

.sort{
	margin-bottom: -45px;
}
.crumbs{
	margin:0;
	padding: 15px 0;
}
