@import 'utils/variables';
@import 'utils/placeholders';
@import 'module/product';
@import 'module/myorder-tab';
@import 'module/buyer-reading';
@import 'module/classify';
@import 'module/sort';
@import 'module/search-none';
@import 'module/search-page';


.myorder-tab li{
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
}
.myorder-tab li.active{
	border-width: 2px;
}