@import 'utils/variables';
@import 'utils/placeholders';

.m81{
	background: url(http://img0.sfht.com/img/f327c61b4358ec7772b82b1714826bae.jpg) no-repeat center top;
	height: 1177px;
}
.m81-day{
	font-size: 71px;
	color: #b300f5;
	width: 84px;
	text-align: center;
	padding-top: 239px;
	padding-left: 120px;
	height: 71px;
}
.m81-play{
	width: 67px;
	height: 68px;
	background: url(http://img0.sfht.com/img/2f5c475831ed7345879052b170088f91.jpg) no-repeat center;
	margin-left: 120px;
	margin-top: 90px;
	display: block;
	text-indent: -999em;
}
.m81-play:hover{
	opacity: 0.8;
}
.m81-info{
	color: #fff;
	width: 315px;
	margin-left: auto;
	margin-top: 25px;
	height: 36px;
	overflow: hidden;
}
.m81-info span{
	color: #f3da00;
}
.m81-info ul{
	position: relative;
}
.m81-info li{
	line-height: 36px;
	height: 36px;
	overflow: hidden;
}
.m81-btn{
	background: #b300f5;
	color: #fff;
	width: 274px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 24px;
	border-radius: 5px;
	display: block;
	margin-top: 350px;
	margin-left: 59px;
}
.m81-btn:hover{
	color: #fff;
	opacity: 0.8;
}
.m81-video{
	position: fixed;
	z-index: 999;
	width: 640px;
	height: 480px;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -240px;
	display: none;
	background: rgba(0,0,0,0.8);
}
.m81-video-close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background: #fff;
	position: absolute;
	right: -15px;
	top: -15px;
	font-size: 20px;
}