@import '../../utils/variables';
@import '../../utils/placeholders';
.integral-active-r1 a{
	display: block;
	text-indent: -999em;
	height: 608px;
	background: url(#{$bg-url}integral-active/integral-active_01.jpg) no-repeat center;
}
.integral-active-r2{
	padding: 60px 0;
	background: #e764ab;
	color: #fff;
}
.integral-active-r2 h2{
	font-size: 36px;
	text-align: center;
	margin-bottom: 8px;
}
.integral-active-r2 p{
	font-size: 24px;
	text-align: center;
	margin-bottom: 34px;
}
.integral-active-r2 table{
	margin: 0 auto
}
.integral-active-r2 td,
.integral-active-r2 th{
	border: 1px solid #fff;
	width: 210px;
	padding-left: 33px;
	height: 48px;
	font-size: 21px;
}
.integral-active-r2 tr:nth-child(odd) td{
	background: #fff;
	color: #e764ab;
}

.integral-active-rule{
	background: #d5338b;
}
.integral-active-rule{
	color: #fff;
	padding: 47px 0;
}
.integral-active-rule h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 47px;
}
.integral-active-rule h3{
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 9px;
}
.integral-active-rule p{
	width: 597px;
	padding: 0 56px 28px;
	border-bottom: 1px dashed #fff;
	margin: 0 auto 28px;
	font-size: 18px;
	line-height: 24px;
}
.integral-active-r4{
	background: #ae216e;
	padding: 71px 0;
	text-align: center;
}
.integral-active-r4 a{
	display: inline-block;
	width: 221px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	background: #fff;
	color: #ae216e;
	font-size: 24px;
}
