@import '../../utils/variables';
@import '../../utils/placeholders';

body{
	background: #482b88 url(http://img0.sfht.com/img/5f765bae82b26aa0127a7d7d45bd60e2.jpg) center 178px no-repeat;
}
.japan-box{
	width: 1180px;
	margin: 0 auto;
}
.japan-banner h1,
.japan-banner h2,
.japan-banner h3{
	text-indent: -999em;
	margin: 0 auto;
}
.japan-banner h1{
	margin-top: 46px;
	/*background: url(../img/japan/h1-title.png) 0 0 no-repeat;*/
	width: 776px;
	height: 170px;
}
.japan-banner h2{
	margin-top: 20px;
	/*background: url(../img/japan/h2-title.png) 0 0 no-repeat;*/
	width: 807px;
	height: 130px;
}
.japan-banner h3{
	margin-top: -32px;
	/*background: url(../img/japan/h-title-tips.png) 0 0 no-repeat;*/
	width: 988px;
	height: 137px;
}
.japan-list{
	margin-top: 42px;
	padding: 10px;
	background: rgba(0,0,0,.2);
	.active::after{
		content: "";
		position: absolute;
		bottom: -34px;
		left: 50%;
		margin-left: -12px;
		border-width: 12px;
		border-style: dashed;
		border-color: transparent;
		border-top: 12px solid #000;
		opacity: 0.25;
	}
	.active .japan-mask{
		background: none;
	}
	.active:hover .japan-mask,
	.no-open:hover .japan-mask{
		border: 0 none;
	}
	a {
		color:#fff;
	}
}
.japan-list li{
	float: left;
	position: relative;
	margin: 0 6px;
	color: #fff;
	.japan-mask{
		background: none;
	}
	&:hover{
		cursor: pointer;
		.japan-mask{
			border-bottom: 2px solid #dd3e3f;
		}
	}
}
.japan-list .no-open{
	.japan-mask{
		background: rgba(0,0,0,.6);
		span{
			font-size: 14px;
		}
	}
	&:hover{
		cursor: default;
	}
}
.japan-mask{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.japan-mask{
	text-align: center;
	h2{
		margin-top: 11px;
		margin-bottom: 10px;
		font-size: 22px;
	}
	p{
		margin-top: 25px;
		font-size: 14px;
	}
	span{
		font-size: 8px;

	}
}
.japan-mask{
	z-index: 1;
	background: rgba(0,0,0,.65);
}
.japan-intro{
	margin-top: 20px;
}
.japan-video-box{
	margin-right: 15px;
}
.japan-video-list{
	margin-right: 5px;
}
.japan-video-list li{
	display: none;
}
.japan-video-list-pic{
	width: 114px;
	float: left;
	overflow: hidden;
}
.japan-video-list-play{
	position: absolute;
	color: #fff;
	z-index: 3;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -40px;
	font-size: 16px;
	cursor: pointer;
	.icon{
		font: 0/0 a;
		display: inline-block;
		margin-bottom: 12px;
		width: 63px;
		height: 63px;
		background: url(http://img0.sfht.com/img/91bc54b68b5465bedeaebafd7e9511c5.jpg) 0 0 no-repeat;
	}
}
.japan-video-list-pic-box{
	height: 264px;
	overflow: hidden;
	margin-bottom: 6px;
}
.japan-video-list-pic-list{
	position: relative;
	top:0;
	transition: transform 0.2s ease-in-out, left 0.2s linear, top 0.2s ease-in, visibility 0.1s linear 0.2s;
}
.japan-video-list-pic-list li,
.japan-video-list li{
	position: relative;
}
.japan-video-list-pic .up,
.japan-video-list-pic .down{
	position: relative;
	float: left;
	width: 114px;
	height: 14px;
	background-color: #565162;
}
.japan-video-list-pic-list li{
	cursor: pointer;
	margin-top: 5px;
}
.japan-video-list-pic-list .active .japan-mask{
	background: none;
	border: 2px solid #fff;
}
.japan-video-list-pic .japan-arrow{
	position: absolute;
	left: 50%;
	margin-left: -6px;
	border: 6px dashed transparent;
	font: 0/0 a;
}
.japan-video-list-pic .up .japan-arrow{
	border-bottom-style: solid;
	border-bottom-color: #000;
	top: -2px;
}
.japan-video-list-pic .down .japan-arrow{
	border-top-style: solid;
	border-top-color: #000;
	top: 4px;
}
.japan-intro-text{
	overflow: hidden;
	background-color: #6d6bd9;
	color: #fff;
	padding: 20px;
}
.japan-intro-text-inner{
	position: relative;
	border: 1px solid #fff;
	padding: 47px 0 37px 55px;
	background: url(http://img0.sfht.com/img/66e7b8230c94317e6e481ffac19a5354.jpg) right bottom no-repeat;
}
.japan-intro-text-inner .japan-flag{
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
	height: 38px;
	background: url(http://img0.sfht.com/img/5f6d1f6f7e6963382d0a3aa62ce191a3.jpg) 0 0 no-repeat;
	text-indent: -999em;
}
.japan-intro-text-title h2{
	font-size: 30px;
	font-weight: 700;
}
.japan-intro-text-title p{
	font-size: 20px;
	opacity: 0.5;
	margin-top: 4px;
	text-transform: uppercase;
}
.japan-intro-text-ct{
	font-size: 20px;
	line-height: 1.5;
	margin-top: 28px;
}
.japan-intro-text-ct .bg{
	display: inline-block;
	background-color: #fff;
	color: #6d6bda;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
}
.japan-banner02{
	margin-top: 20px;
}
.japan-goods-box{
	background-color: #6d6bd9;
	margin-top: 20px;
	padding-top: 58px;
}
.japan-goods-box .title{
	text-align: center;
	border-top: 1px solid #fff;
	margin: 0 60px;
}
.japan-goods-box .text-icon{
	position: relative;
	top: -38px;
	padding: 0 40px;
	display: inline-block;
	background: #6d6bd9 url(http://img0.sfht.com/img/8919fdfd681ac1ccca311f637c0f29b6.jpg) center center no-repeat;
	width: 508px;
	height: 55px;
	font: 0/0 a;
}
.japan-goods-list{
	margin-top: -14px;
	padding-left: 18px;
}
.japan-goods-list li{
	float: left;
	padding-left: 29px;
	padding-right: 34px;
	height: 284px;
	width: 498px;
	background-color: #fff;
	margin-bottom: 20px;
	margin-right: 20px;
	img{
		float: left;
		margin-right: 22px;
	}
}
.japan-goods-item{
	overflow: hidden;
	.item{
		margin-top: 7px;
		font-size: 18px;
		color: #23201a;
		line-height: 1.2;
		opacity: 0.8;
		height: 42px;
  		overflow: hidden;
	}
	.japan-price{
		font-size: 22px;
		line-height: 1.2;
		margin-top: 27px;
		white-space: nowrap;
		.pink{
				font-size: 38px;
			em{
				padding: 0 3px;
				font-size: 26px;
			}
		}
		del{
			font-size: 16px;
			color: #727272;
		}
	}
}
.japan-button{
	background-color: #510492;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0 18px;
	font-size: 20px;
	border: 0 none;
}
.pink{
	color: #fc478b;
}
.japan-goods-item-title{
	padding-bottom: 6px;
	line-height: 1.2;
	border-bottom: 1px solid #171717;
	padding-top: 30px;
	h2{
		font-size:30px;
		font-weight: 700;
		color: #23201a;
		max-height: 36px;
		overflow: hidden;
	}
	h3{
		max-height: 28px;
		overflow: hidden;
		font-size: 24px;
	}
}
.japan-active-rule{
	margin: 42px 60px 520px;
	color: #fff;
	font-size: 18px;
}
.japan-active-rule h2{
	text-align: center;
	border-bottom: 1px solid #fff;
}
.japan-active-rule h2 span{
	position: relative;
	top: 30px;
	display: inline-block;
	background-color: #482b88;
	padding: 0 43px;
	font-size: 58px;
}
.japan-active-rule-list{
	padding: 0 50px 0 33px;
	margin-top: 77px;
	line-height: 1.5;
	.num{
		display: inline-block;
		width: 25px;
		margin-left: -25px;
	}
	li{
		padding-left: 25px;
	}
}
.japan-video{
	position: fixed;
	z-index: 999;
	width: 640px;
	height: 480px;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -240px;
	display: none;
	background: rgba(0,0,0,0.8);
}
.japan-video-close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background: #fff;
	position: absolute;
	right: -15px;
	top: -15px;
	font-size: 20px;
}
