/*
@styleguide

# 详情页
	
*/
@import '../comment/index.css';
@import '../comment-img/index.css';
@import '../comment-list/index.css';
@import '../comment-tab/index.css';
@import '../comment-additional/index.css';
@import '../comment-label/index.css';
@import '../comment-progress/index.css';
@import '../flow/index.scss';
@import '../detail-tab/index.css';
@import '../goods-seckill/index.css';/*暂时未找到哪里有引用*/
@import '../comment-h/index.css';
@import '../faq/index.scss';
.detail{
	background:#fff;
	margin-bottom:20px;
	padding:0 0 30px;
}
.detail-h{
	font-size: 14px;
}
.detail-h ul{
	padding-top:30px;
	margin: -2px 50px 0;
}
.detail-h li{
	margin-bottom: 17px;
	width: 33.3%;
	float: left;
	white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.detail-b{
	padding: 0 50px;
}
.detail-content{
	font-size: 14px;	
	line-height: 1.7;
	word-wrap: break-word;
	word-break: break-all;
}





























