@import "../../utils/variables";
@import "../dialog/index";
.dialog-purchaserInformation .dialog-b{
	padding:15px 20px;
	text-align:left;
	height:auto;
	width:auto;
}
.dialog-purchaserInformation p{
	margin-bottom:20px;
	padding-top:0;
	line-height:1.5;
}
.dialog-purchaserInformation .p2{
	color:#9B9B9B;
	font-size:12px;
}
.dialog-purchaserInformation .input{
	width:100%;
	padding:10px;
	height:auto;
	box-sizing:border-box;
}
.dialog-purchaserInformation li{
	margin-bottom:10px;
}

.dialog-purchaserInformation-r2 .btn{
	padding:0 55px;
}
.dialog-purchaserInformation-r2{
	padding-left:49px;
	padding-top:30px;
}