@charset "UTF-8";
/*
@styleguide

# 404
  
*/
.pagenofind,
.pagenofind-goods {
  background: #fff url(http://img0.sfht.com/sfht/1.1.258/img/404.png) no-repeat 150px 73px;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 74px;
  padding-top: 327px;
  padding-bottom: 80px;
  margin-bottom: 20px; }

.pagenofind a,
.pagenofind-goods a {
  font-size: 14px;
  color: #666666;
  margin: 0 50px; }

.pagenofind-goods {
  background: url(http://img0.sfht.com/sfht/1.1.258/img/404-goods.jpg) no-repeat center; }

/*
@styleguide

# 相关商品

	<div class="recommend">
	    <h2>相关商品</h2>
	    <ul class="clearfix">
	      <li>
	        <div class="recommend-c2">
	          <a href=""><img src="http://placehold.it/100x100" alt="" /></a>
	        </div>
	        <div class="recommend-c1">
	          <h3><a href="">Kate Spade  女款手提包手拎包</a></h3>
	          <div class="recommend-r1">¥1280</div>

	        </div>
	      </li>
	      <li>
	        <div class="recommend-c2">
	          <a href=""><img src="http://placehold.it/100x100" alt="" /></a>
	        </div>
	        <div class="recommend-c1">
	          <h3><a href="">Kate Spade  女款手提包手拎包</a></h3>
	          <div class="recommend-r1">¥1280</div>

	        </div>
	      </li>
	      <li>
	        <div class="recommend-c2">
	          <a href=""><img src="http://placehold.it/100x100" alt="" /></a>
	        </div>
	        <div class="recommend-c1">
	          <h3><a href="">Kate Spade  女款手提包手拎包女款手提包手拎包</a></h3>
	          <div class="recommend-r1">¥1280</div>

	        </div>
	      </li>
	      <li>
	        <div class="recommend-c2">
	          <a href=""><img src="http://placehold.it/100x100" alt="" /></a>
	        </div>
	        <div class="recommend-c1">
	          <h3><a href="">Kate Spade  女款手提包手拎包</a></h3>
	          <div class="recommend-r1">¥1280</div>

	        </div>
	      </li>
	    </ul>
	</div>

*/
.recommend {
  background: #fff;
  padding: 25px 50px;
  margin-bottom: 20px; }

.recommend h2 {
  font-size: 16px;
  color: #666;
  font-weight: normal;
  margin-bottom: 15px; }

.recommend h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  margin-bottom: 10px;
  height: 28px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all; }

.recommend ul {
  margin-left: -15px; }

.recommend li {
  float: left;
  padding: 5px;
  width: 246px;
  margin-left: 15px;
  border: 1px solid #efefef;
  margin-bottom: 16px; }

.recommend li:hover {
  border-color: #ccc; }

.recommend img {
  max-width: 120px;
  max-height: 120px; }

.recommend-c1 {
  display: inline-block;
  vertical-align: middle;
  width: 93px; }

.recommend-r1 {
  font-size: 14px;
  color: #dc3334; }

.recommend-c2 {
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px; }

.recommend-c2:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

/*
@styleguide

# 专题列表

	<ul class="topic clearfix">
		<li>
		  <a href=""><img src="http://placehold.it/366x150" alt=""></a>
		</li>
		<li>
		  <a href=""><img src="http://placehold.it/366x150" alt=""></a>
		</li>
		<li>
		  <a href=""><img src="http://placehold.it/366x150" alt=""></a>
		</li>
	</ul>

*/
.topic {
  background: #fff;
  padding-left: 10px;
  margin-bottom: 20px; }

.topic li {
  padding: 10px;
  float: left;
  width: 366px;
  height: 150px;
  text-align: center; }

.topic li:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }

.topic img {
  max-width: 366px;
  max-height: 150px;
  vertical-align: middle; }

.gameover {
  background: #fff url(http://img0.sfht.com/sfht/1.1.258/img/gameover.jpg) no-repeat center 43px;
  height: 421px;
  margin-bottom: 18px;
  margin-top: 18px; }

.gameover p {
  padding-top: 147px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center; }

.recommend {
  margin-bottom: 0;
  padding-bottom: 0; }

.topic {
  padding-left: 43px;
  padding-bottom: 34px; }

.topic li {
  padding: 6px; }

.topic img {
  width: 352px; }
