@charset "UTF-8";
/*
@styleguide

# 商品列表

	<div class="product-1">
		<div class="mb pm">
		  <h2 class="index2-h2 pm"><i></i>限时秒杀<span class="text-error">每日10:00更新</span></h2>
		  <div class="tab tab2">
		  	<ul class="clearfix">
		  		<li class="active"><a href="">9月10日</a></li>
	  			<li><a href="">9月11日</a></li>
	  			<li><a href="">9月12日</a></li>
	  			<li><a href="">9月13日</a></li>
	  			<li><a href="">9月14日</a></li>
		  	</ul>
		  </div>
		  <div class="tab-time clearfix">
		  	<ul class="tab-time-c1 fl">
		  		<li class="active"><a href="">10 : 00</a></li>
		  		<li><a href="">12 : 00</a></li>
		  		<li><a href="">14 : 00</a></li>
		  		<li><a href="">16 : 00</a></li>
		  		<li><a href="">20 : 00</a></li>
		  	</ul>
		  	<div class="tab-time-c2 fr">距本场结束还剩：<span>02</span>时<span>21</span>分<span>29</span>秒</div>
		  </div>
		  <ul class="clearfix product-1-list">
		  	-for i in 1..4
			    <li>
			      <div class="product-1-r1">
			        <a href=""><img src="../img/index-makeup/product-imgi.png" alt="" ></a><span></span>
			        <div class="icon icon-soldout icon-soldout-big">已售光</div>
			      </div>
			      <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
			      <p><img src="../img/icon-usa.png" alt="" width="22" height="14" />广州保税仓发货</p>
			      <div class="product-1-r2 clearfix">
			        <div class="product-1-r2c1 fl">
			          <span>秒杀价：￥</span><strong>129</strong>
			          
			        </div>
		            <div class="product-1-r2c2 fr"><button class="btn btn-black btn-small">加入购物车<img src="../img/index-makeup/product-imgi.png" class="addtocart-img" alt=""></button></div>
			      </div>
			    </li>
		  </ul>
		</div>
	</div>
	
*/
.product-1 {
  margin-bottom: 20px; }

.product-1 .mh {
  line-height: 24px;
  margin-bottom: 37px;
  height: 31px;
  padding-left: 4px; }

.product-1-list li {
  float: left;
  width: 239px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #e5e5e5;
          box-shadow: 0 0 0 1px #e5e5e5;
  padding: 27px;
  background: #fff;
  padding-bottom: 20px;
  position: relative; }

.product-1-list li:hover:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 3px solid #E73736; }

.product-1-list li .mask {
  position: absolute;
  background: #fff;
  z-index: 0; }

.product-1-list li .icon24,
.product-1-list li .icon24-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -37px;
  margin-top: -37px;
  width: 75px;
  height: 0; }

.product-1-list li .icon25 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -37px;
  margin-top: -37px;
  z-index: 3;
  width: 74px;
  height: 0; }

.product-1-list li .icon115 {
  position: absolute;
  left: 0;
  top: 0; }

.product-1-r1 {
  height: 229px;
  text-align: center;
  margin-bottom: 13px;
  position: relative;
  font-size: 0; }

.product-1-r1 img {
  max-width: 229px;
  max-height: 229px; }

.product-1-r1 a {
  display: inline-block;
  vertical-align: middle; }

.product-1-r1 span {
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden; }

.product-1 .icon-new,
.product-1 .icon-hot,
.product-1 .icon-sale {
  position: absolute;
  right: 20px;
  top: -3px; }

.product-1-r1 .icon-soldout1,
.product-1-r1 .icon-soldout2 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: -65px; }

.product-1 h3 {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  height: 42px;
  overflow: hidden;
  font-weight: normal; }

.product-1 h3 a:hover {
  text-decoration: underline; }

.product-1 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #949494;
  margin-bottom: 15px;
  height: 15px; }

.product-1 p img {
  margin-right: 5px;
  vertical-align: middle;
  width: 18px;
  height: 12px; }

.product-1-r2 {
  margin-bottom: 25px; }

.product-1-r2c1 {
  color: #dc3334;
  padding-top: 4px; }

.product-1-r2c1 strong {
  font-size: 14px;
  margin-right: 7px; }

.product-1-r2c1 del {
  color: #666;
  margin-right: 13px; }

.product-1-r2c1.product-1-r2c1-search strong {
  font-size: 24px;
  margin-right: 7px; }

.product-1 .mf {
  text-align: center;
  padding-top: 5px;
  *padding-top: 43px; }

.product-1 .btn-more {
  -webkit-border-radius: 28px;
          border-radius: 28px; }

.product-1 .label {
  position: absolute;
  left: 16px;
  top: -14px; }

.product-1-r2c1 img {
  width: 18px;
  height: 12px; }

.product-1 .btn {
  position: relative;
  overflow: visible; }

.addtocart-img {
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transition: 0.5s left linear, 0.5s top cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s visibility 0.5s linear;
          transition: 0.5s left linear, 0.5s top cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s visibility 0.5s linear; }

.product-1-comment {
  margin-left: 26px; }

.product-1-comment span {
  color: #29BFD6; }

.product-1-r3 {
  color: #9B9B9B; }

.myorder-tab {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px; }

.myorder-tab li {
  display: inline-block;
  height: 68px;
  line-height: 68px;
  padding: 0 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px; }

.myorder-tab li a {
  color: #777; }

.myorder-tab li strong {
  color: #de3d3f;
  margin-left: 5px;
  font-weight: bold; }

.myorder-tab li.active {
  border-bottom: 4px solid #db3f40;
  position: relative;
  top: 1px; }

.myorder-tab li.active a {
  color: #de3d3f; }

.buyer-reading {
  margin-top: 30px; }

.buyer-reading h2 {
  font-size: 16px;
  padding-bottom: 9px;
  margin-bottom: 17px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: normal; }

.buyer-reading p,
.buyer-reading li {
  line-height: 24px;
  color: #555; }

.buyer-reading li {
  list-style: inside; }

/*
@styleguide

# 排序
	
*/
.sort {
  text-align: left;
  margin-bottom: 30px; }

.sort ul,
.sort li {
  display: inline-block;
  vertical-align: middle; }

.sort ul {
  margin-left: 18px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #f3f3f3; }

.sort li {
  border-right: 1px solid #ccc; }

.sort li:last-child {
  border: none;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0; }

.sort a {
  width: 84px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: block; }

.sort li.active {
  background: #fff; }

.sort .icon107 {
  margin-left: 3px; }

.sort a.active .icon107 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.sort label {
  height: 28px;
  line-height: 28px;
  padding-left: 30px; }
  .sort label input {
    vertical-align: text-top;
    margin-top: 2px;
    margin-right: 5px; }

.sf-b2c-mall-search-pagesShow .page {
  text-align: center;
  margin-bottom: 30px; }

/*
@styleguide

# 搜索为空
	
*/
.search-none {
  text-align: center;
  margin-bottom: 130px;
  margin-top: 75px; }

.search-none h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 27px;
  margin-top: 37px; }

.search-none i {
  display: inline-block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #dc3334;
  margin: 0 10px; }

.search-page {
  text-align: center;
  margin-bottom: 20px; }

.search-page .btn {
  margin: 0 5px; }

/*
@styleguide

# 面包屑

	<div class="crumbs">
	    <a href="http://www.sfht.com/index.html">首页</a><span>&gt;</span>2014秋冬新款UGG羊皮毛一体短筒蝴蝶结保暖雪地靴
	</div>

*/
.crumbs {
  margin: 20px 0;
  color: #585758;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.crumbs a {
  color: #585758; }

.crumbs span {
  margin: 0 20px; }

.nataral-shop-detail {
  background: #fff;
  padding-bottom: 36px; }

.nataral-shop-detail img {
  width: 650px;
  height: 360px; }

.nataral-shop-detail-inner {
  display: inline-block;
  width: 483px;
  margin-left: 30px;
  vertical-align: top; }

.nataral-shop-detail h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 26px;
  margin-top: 15px; }

.nataral-shop-detail p {
  color: #666;
  margin-bottom: 17px;
  line-height: 28px;
  font-size: 14px; }

.nataral-shop-detail .text-link {
  font-size: 14px; }

.nataral-product li {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 72px; }

.nataral-product .product-r2c1 strong {
  margin-right: 10px; }

.nataral-product-r1 {
  background: #F9F9F9;
  height: 52px;
  line-height: 52px;
  border: 1px solid #E5E5E5;
  position: absolute;
  padding: 0 3px;
  text-indent: 15px;
  width: 100%;
  margin-left: -4px;
  margin-top: 3px;
  z-index: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.nataral-product-r1 a {
  color: #999;
  vertical-align: middle; }

.nataral-product-r1 a:hover {
  text-decoration: underline;
  color: #666; }

.nataral-product-r1 .icon {
  margin-right: 9px; }

.nataral-product .nataral-product-more a {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #F9F9F9;
  display: block;
  margin: 94px auto 95px;
  color: #3B86C4;
  text-indent: 8px; }

.nataral-product .nataral-product-more a:hover {
  text-decoration: underline; }

.nataral-product .nataral-product-more {
  margin-bottom: 0; }

.nataral-product h3 {
  font-weight: normal;
  line-height: 24px;
  height: 48px; }

.nataral-product li {
  position: relative;
  padding-bottom: 0;
  padding-top: 12px; }

.nataral-product img {
  max-width: 245px;
  max-height: 245px; }

.nataral-product-price {
  color: #999;
  font-size: 12px; }

.nataral-product-price2 {
  padding: 5px 10px 0;
  height: 30px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 15px;
  bottom: -3px;
  font-size: 12px;
  line-height: 15px;
  color: #999;
  text-align: center; }

.nataral-product .product-list li {
  position: relative; }

.nataral-product .product-list .icon115 {
  position: absolute;
  left: 28px;
  top: 12px; }

.classify {
  background: #fff;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 30px; }

.classify h2 {
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0 10px; }

.classify h2 strong {
  margin-right: 14px; }

.classify label {
  color: #848484;
  display: inline-block;
  width: 5em;
  text-align: right;
  vertical-align: middle;
  margin-right: 23px; }

.classify-list ul,
.classify-list li li {
  display: inline-block;
  vertical-align: middle; }

.classify-list > li {
  padding: 19px 0;
  border-top: 1px dashed #d4d4d4; }

.classify-logo ul {
  width: 1008px;
  height: 50px;
  overflow: hidden; }

.classify .active ul {
  height: auto;
  padding-bottom: 1px; }

.classify-logo li {
  width: 98px;
  height: 48px;
  border: 1px solid #e5e5e5;
  margin-right: -1px;
  margin-bottom: -1px;
  text-align: center;
  overflow: hidden; }

.classify-logo li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.classify-logo li:hover img {
  display: none; }

.classify-logo img {
  max-width: 98px;
  max-height: 48px;
  vertical-align: middle; }

.classify-logo span {
  vertical-align: middle;
  display: inline-block;
  white-space: normal; }

.classify-text li {
  margin-right: 42px; }

.classify-c2 {
  padding-top: 13px; }

.classify-c2 a {
  color: #584a4c; }

.classify .icon105 {
  margin-left: 5px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.classify .active .icon105 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.classify-more:before {
  content: '收起'; }

.classify .active .classify-more:before {
  content: '展开'; }

.classify .btn-search {
  margin-right: 10px; }

.classify-select {
  position: relative; }

.classify-select .text-disabled {
  position: absolute;
  right: 0;
  top: 0; }

.classify .classify-select {
  height: 39px;
  line-height: 39px;
  padding: 0; }

.crumbs {
  margin: 0;
  padding: 15px 0; }

.myorder-tab li {
  height: 30px;
  line-height: 30px;
  padding: 0 15px; }

.myorder-tab li.active {
  border-width: 2px; }

.nataral-shop-detail .tooltip li {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.nataral-shop-detail .tooltip li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0; }

.nataral-shop-detail .tooltip h3 {
  padding-left: 24px;
  font-size: 14px;
  margin-bottom: 5px; }

.nataral-shop-detail .tooltip p {
  padding-left: 24px; }

.nataral-shop-detail .tooltip .icon69 {
  margin-left: -24px;
  float: left; }
