@import '../../modules/slider/index';
@import '../../modules/classify/index';
@import '../../modules/products5-1/index';
@import '../../modules/index2-h2/index';
@import '../../modules/flashsale3/index';
@import '../../modules/products3/index';
@import '../../modules/products2/index';
@import '../../modules/tab/index';
@import '../../modules/products4/index';
@import '../../modules/products5/index';
@import '../../modules/products6/index';
body{
	background:#fff;
}
.index2-h2 i{
	background: #E73736;
}
.tab li.active{
	background: #E73736;
}
.tab li.active a{
	color: #fff;
}
.tab li.active:before{
	border-color: #E73736 transparent transparent transparent;
}