.open-main-icon {
    font-size: 12px;
}

.open-main-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/open-main.svg");
    background-repeat: no-repeat;
    background-size: 15.166666666666666em 91em;
}

.no-svg .open-main-icon:before {
    background-image: url("../svg/open-main.png");
}

.open-main-icon.icon-platform:before {
    background-position: -0.8333333333333334em -0.8333333333333334em;
    width: 13.5em;
    height: 13.5em;
}

.open-main-icon.icon-platform-hover:before {
    background-position: -0.8333333333333334em -16em;
    width: 13.5em;
    height: 13.5em;
}

.open-main-icon.icon-setofgoods:before {
    background-position: -0.8333333333333334em -31.166666666666664em;
    width: 13.5em;
    height: 13.5em;
}

.open-main-icon.icon-setofgoods-hover:before {
    background-position: -0.8333333333333334em -46.333333333333336em;
    width: 13.5em;
    height: 13.5em;
}

.open-main-icon.icon-supplier:before {
    background-position: -0.8333333333333334em -61.5em;
    width: 13.5em;
    height: 13.5em;
}

.open-main-icon.icon-supplier-hover:before {
    background-position: -0.8333333333333334em -76.66666666666666em;
    width: 13.5em;
    height: 13.5em;
}

