@import '../product-1/index';
@import '../products5/index';
.addtocart-button{
	background: none;
	border: none;
}
.product-1-r2c2{
	position: relative;
}
.addtocart-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    -ms-transition: .5s left linear, 0.5s top cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s visibility .5s linear;
    transition: .5s left linear, 0.5s top cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s visibility .5s linear
}