/*icon*/
.icon{
	display: inline-block;
	vertical-align: middle;
	background: url(#{$bg-url}icon.png) no-repeat;
}
.icon1{
	width: 53px;
	height: 52px;
}
.icon2{
	width: 53px;
	height: 52px;
	background-position: 0 -53px;
}
.icon3{
	width: 53px;
	height: 52px;
	background-position: 0 -106px;
}
.icon4{
	width: 16px;
	height: 16px;
	background-position: -62px 0;
}
.icon5{
	width: 27px;
	height: 17px;
	background-position: -61px -28px;
}
.icon6{
	padding-left: 16px;
	padding-right: 15px;
	height: 42px;
	line-height: 42px;
	background: #425164;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.icon6 b{
	font-size: 24px;
	margin-right: 3px;
}
.icon6 i{
	position: absolute;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-width: 21px 9px;
	right:-1px;
	top:0;
}
.icon6-1{
	background: #DC3334;
	padding-right: 24px;
	height: 26px;
	line-height: 26px;
}
.icon6-1 i{
	border-width: 13px 7px;
}
.icon6-2{
	background: #dc3334;
	height: 28px;
	line-height: 28px;
	width: 140px;
	padding:0;
	text-align: center;
}
.icon6-2 i{
	border-color:#dc3334 transparent transparent transparent;
	border-width: 14px 70px;
	left: 0;
	top:100%;
}
.icon7{
	width: 16px;
	height: 20px;
	background-position: -63px -109px;
}
.icon8{
	width: 29px;
	height: 16px;
	background-position: -62px -146px;
}
.icon9{
	width: 132px;
	height: 38px;
	background-position: -160px 0;
}
.icon10{
	width: 131px;
	height: 0;
	padding-top: 37px;
	overflow: hidden;
	background-position: -160px -70px;
}
.icon11{
	width: 15px;
	height: 13px;
	background-position: -130px -145px;
}
.icon12{
	width: 83px;
	height: 83px;
	background-position: -382px 0;
}
.icon13{
	width: 83px;
	height: 83px;
	background-position: -382px -120px;
}
.icon14{
	width: 83px;
	height: 83px;
	background-position: -382px -250px;
}
.icon15{
	width: 83px;
	height: 83px;
	background-position: -382px -380px;
}
.icon16,
.icon16-1,
.icon16-2,
.icon16-3,
.icon16-4,
.icon16-5,
.icon16-6,
.icon16-7{
	width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 10px 7px;
	border-color: transparent;
	border-top-color: #C5C7C9;
}
.icon16-1{
	border-width: 3px 3px;
	border-top-color: #272541;
}
.icon16-2{
	border-width: 9px 8px;
	border-bottom-color: #fff;
	border-top-color: transparent;
}
.icon16-3{
	border-width: 13px 10px;
	border-bottom-color: #DEDDDE;
	border-top-color: transparent;
	position: relative;
}
.icon16-4{
	border-width: 13px 10px;
	border-bottom-color: #fff;
	border-top-color: transparent;
	position: absolute;
	top: -11px;
	left: -10px;
}
.icon16-5{
	border-width: 5px 5px;
	border-color: transparent transparent transparent #e03d40;
}
.icon16-6{
	border-width: 5px 5px;
	border-color: transparent transparent transparent #949494;
}
.icon16-7{
	border-width: 5px 5px;
	border-color: transparent #949494 transparent transparent;
}
.icon16-8{
	border-width: 5px 5px;
	border-color: transparent transparent #e03d40 transparent;
}
.icon17{
	width: 112px;
	height: 0px;
	padding-top: 10px;
	overflow: hidden;
	background-position: -379px -472px;
}
.icon18{
	width: 89px;
	height: 0px;
	padding-top: 10px;
	overflow: hidden;
	background-position: -380px -498px;
}
.icon19{
	width: 57px;
	height: 0px;
	padding-top: 12px;
	overflow: hidden;
	background-position: -380px -522px;
}
.icon20{
	width: 102px;
	height: 101px;
	background-position: -271px -144px;
}
.icon21{
	width: 102px;
	height: 101px;
	background-position: -271px -250px;
}
.icon22{
	width: 102px;
	height: 101px;
	background-position: -271px -358px;
}
.icon23{
	width: 8px;
	height: 8px;
	background-position: -62px -53px;
}
.icon24,
.icon24-1{
	width: 75px;
	padding-top: 78px;
	overflow: hidden;
	height: 0;
	background-position: -61px -238px;
}
.icon24-1{
	background-position: -148px -355px;
}
.icon25{
	width: 34px;
	height: 25px;
	background-position: -62px -74px;
}
.icon26,
.icon26-1,
.icon26-2{
	height: 21px;
	line-height: 21px;
	background: #eb6877;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 0 15px;
}
.icon26-1{
	background: #67b222;
}
.icon26-2{
	background: #a1d0ed;
}
.icon27{
	width: 118px;
	height: 117px;
	background-position: -147px -234px;
}
.icon28{
	width: 102px;
	height: 125px;
	background-position: 0 -580px;
}
.icon29,
.radio{
	width: 25px;
	height: 25px;
	background-position: -128px -43px;

}
.radio.active{
	background-position: -101px -43px;
}
.icon30{
	width: 14px;
	height: 8px;
	background-position: -105px -74px;
}
.icon30:before{
	content: '';
	position: absolute;
	left: -15px;
	right:-15px;
	top: -15px;
	bottom:-15px;
}

.icon30.active{
	background-position: -128px -74px;
}
.icon31,
.icon31-1{
	width: 17px;
	height: 17px;
	background-position: -105px -89px;
}
.icon31-1{
	background-position: -105px -112px;
}
.icon32{
	width: 100px;
	height: 100px;
	background-position: -263px -473px;
}
.icon33{
	width: 100px;
	height: 100px;
	background-position: -263px -582px;
}
.icon34{
	width: 84px;
	height: 102px;
	background-position: -113px -583px;
}
.icon35{
	width: 106px;
	height: 18px;
	background-position: 0 -728px;
}
.icon36{
	width: 54px;
	height: 54px;
	background-position: -65px -319px;
}
.icon37{
	width: 16px;
	height: 12px;
	background-position: -106px -135px;
}
.icon38{
	width: 4px;
	height: 7px;
	background-position: -130px -9px;
}
.icon38.active{
	background-position: -130px 0;
}
.icon39{
	width: 186px;
	height: 0;
	padding-top: 27px;
	overflow: hidden;
	background-position: -118px -719px;
}
.icon40{
	width: 242px;
	height: 0;
	padding-top: 27px;
	overflow: hidden;
	background-position: 0 -762px;
}
.icon41{
	width: 16px;
	height: 12px;
	background-position: -107px -151px;
}
.icon42{
	width: 13px;
	height: 16px;
	background-position: -107px -167px;
}


.icon49{
	width: 13px;
	height: 13px;
	background-position: -129px -108px;
}
.icon50{
	width: 66px;
	height: 28px;
	background-position: -508px -476px;
	text-indent: -999em;
}
.icon51{
	width: 112px;
	height: 137px;
	background-position: -585px -61px;
}

.icon52{
	width: 32px;
	height: 26px;
	background-position: -569px 0;
}
.icon53{
	width: 15px;
	height: 13px;
	background-position: -130px -126px;
}
.icon54{
	width: 24px;
	height: 18px;
	background-position: -63px -167px;
	text-indent: -999em;
}
.icon55{
	width: 24px;
	height: 18px;
	background-position: -63px -189px;
	text-indent: -999em;
}
.icon56{
	width: 20px;
	height: 20px;
	background-position: -106px -188px;
}
.icon57{
	width: 16px;
	height:20px;
	background-position: -63px -109px;
}
.icon58{
	width: 13px;
	height: 12px;
	background-position: -130px -126px;
}
.icon59{
	width: 23px;
	height: 18px;
	background-position: -610px 0;
	text-indent:-999em;
}
.icon60{
	width: 18px;
	height: 18px;
	background-position: -644px 0;
	text-indent:-999em;
}
.icon61{
	width: 21px;
	height: 16px;
	background-position: -670px 0;
	text-indent:-999em;
}
.icon62{
	width: 16px;
	height: 16px;
	background-position: -131px -163px;
}
.icon63{
	width: 9px;
	height: 9px;
	background-position: -132px -182px;
	text-indent:-999em;
}
.icon64{
	width: 53px;
	height: 52px;
	background-position: -158px -148px;
}
.icon65{
	width: 83px;
	height: 83px;
	background-position: -473px 0;
}
.icon66{
	width: 32px;
	height: 32px;
	background-position: -697px 0;
}
.icon67{
	width: 12px;
	height: 7px;
	background-position: -132px -194px;
}
.icon68{
	width: 86px;
	height: 45px;
	background-position: -479px -99px;
}
.icon69{
	width: 16px;
	height: 20px;
	background-position: -162px -117px;
}
.icon70{
	width: 30px;
	height: 20px;
	background-position: -159px -140px;
}
.icon71{
	width: 24px;
	height: 24px;
	background-position: -159px -169px;
}
.icon72{
	width: 16px;
	height: 18px;
	background-position: -160px -199px;
	text-indent:-999em;
}
.icon73{
	width: 56px;
	height: 14px;
	line-height:14px;
	padding-left:2px;
	background-position: -479px -161px;
	color:#fff;
	font-size:11px;
}
.icon74{
	width: 57px;
	height: 44px;
	background-position: -481px -226px;
	text-indent:-999em
}
.icon75{
	width: 15px;
	height: 30px;
	background-position: -479px -187px;
}
.icon76{
	width: 15px;
	height: 30px;
	background-position: -501px -187px;
}
.icon77{
	width: 20px;
	height: 20px;
	background-position: -526px -188px;
	text-indent:-999em;
}
.icon78{
	width: 16px;
	height: 16px;
	background-position: -63px -212px;
}
.icon79{
	width: 13px;
	height: 13px;
	background-position: -483px -283px;
}
.icon80{
	width: 10px;
	height: 13px;
	background-position: -505px -283px;
}
.icon81{
	width: 14px;
	height: 16px;
	background-position: -521px -281px;
	text-indent: -999em;
}
.icon82{
	width: 12px;
	height: 18px;
	background-position: -203px -118px;
}
.icon83{
	width: 20px;
	height: 17px;
	background-position: -203px -143px;
}
.icon84{
	width: 164px;
	height: 58px;
	background-position: 0 -447px;
}
.icon85{
	width: 24px;
	height: 24px;
	background-position: -199px -173px;
}
.icon86{
	width: 36px;
	height: 37px;
	background-position: -495px -307px;
}
.icon87{
	width: 27px;
	height: 27px;
	background-position: -479px -353px;
}
.icon88{
	width: 18px;
	height: 18px;
	background-position: -233px -118px;
}
.icon89{
	width: 111px;
	height: 111px;
	background-position: -582px -214px;
}
.icon90{
	width: 35px;
	height: 35px;
	background-position: -64px -379px;
	text-indent: -999em;
}
.icon90.disable{
	background-position: -102px -380px;
}
.icon91{
	width: 31px;
	height: 31px;
	background-position: -373px -563px;
}
.icon92{
	width: 31px;
	height: 31px;
	background-position: -409px -602px;
}
.icon93{
	width: 31px;
	height: 31px;
	background-position: -449px -602px;
}
.icon94{
	width: 31px;
	height: 31px;
	background-position: -489px -602px;
}
.icon95{
	width: 31px;
	height: 31px;
	background-position: -528px -602px;
}
.icon96{
	width: 25px;
	height: 25px;
	background-position: -513px -354px;
}
.icon97{
	width: 22px;
	height: 14px;
	background-position: -233px -143px;
}
.icon98{
	width: 11px;
	height: 16px;
	background-position: -233px -173px;
}
.icon99{
	width: 24px;
	height: 24px;
	background-position: -482px -390px;
}
.icon100{
	width: 23px;
	height: 19px;
	background-position: -513px -392px;
}
.icon101{
	width: 112px;
	height: 112px;
	background-position: -578px -334px;
}
.icon102{
	width: 75px;
	height: 75px;
	background-position: -581px -454px;
}
.icon103{
	width: 75px;
	height: 75px;
	background-position: -580px -538px;
}
.icon104{
	width: 75px;
	height: 75px;
	background-position: -580px -623px;
}
.icon105{
	width: 8px;
	height: 5px;
	background-position: -195px -210px;
}
.icon106{
	width: 8px;
	height: 8px;
	background-position: -207px -208px;
}
.icon107{
	width: 15px;
	height: 12px;
	background-position: -233px -202px;
}
.icon108{
	width: 13px;
	height: 14px;
	background-position: -109px -214px;
	text-indent: -999em;
}
.icon109{
	width: 17px;
	height: 18px;
	background-position: -177px -452px;
}
.icon110{
	width: 35px;
	height: 27px;
	background-position: -205px -448px;
	text-indent: -999em;
}
.icon111{
	width: 15px;
	height: 11px;
	background-position: -36px -363px;
}
.icon112{
	width: 14px;
	height: 13px;
	background-position: -36px -385px;
}
.icon113{
	width: 12px;
	height: 11px;
	background-position: -37px -408px;
}
.icon114{
	width: 9px;
	height: 12px;
	background-position: -67px -418px;
}
.icon115{
	width: 41px;
	height: 32px;
	background-position: -175px -478px;
	text-indent: -999em;
}
.icon116{
	width: 11px;
	height: 17px;
	background-position: -482px -425px;
}
.icon117{
	width: 30px;
	height: 20px;
	background-position: -504px -446px;
	text-indent: -999em;
}
.icon-hot{
	width: 38px;
	height: 54px;
	background: url(http://img0.sfht.com/cmsres/20150923/adc2c3d8-8893-4c43-ba25-1341b9138031.png) no-repeat;
}
.icon-new{
	width: 38px;
	height: 54px;
	background: url(http://img0.sfht.com/cmsres/20150923/adc2c3d8-8893-4c43-ba25-1341b9138031.png) no-repeat;
	background-position: -51px 0;
}
.icon-sale{
	width: 38px;
	height: 54px;
	background: url(http://img0.sfht.com/cmsres/20150923/adc2c3d8-8893-4c43-ba25-1341b9138031.png) no-repeat;
	background-position: right 0;
}
.icon-soldout{	
	position:absolute;
	left:50%;
	top:50%;	
	text-align:center;
	color:#fff;	
	background: url(http://img0.sfht.com/cmsres/20150923/a76eef8e-5e19-4e54-a37c-f94542892288.png) no-repeat;
}
.icon-soldout-large{
	width: 121px;
	height: 121px;
	line-height:121px;
	margin-left:-60px;
	margin-top:-60px;
	font-size:16px;
}
.icon-soldout-big{
	width: 100px;
	height: 100px;
	line-height:100px;
	margin-left:-50px;
	margin-top:-50px;
	font-size:14px;
	background-position:-146px -10px;
}
.icon-soldout-normal{
	width: 81px;
	height: 81px;
	line-height:80px;
	margin-left:-40px;
	margin-top:-40px;
	font-size:14px;
	background-position:-272px -20px;
}
.icon-soldout-small{
	width: 71px;
	height: 71px;
	line-height:70px;
	margin-left:-35px;
	margin-top:-35px;
	font-size:14px;
	background-position:-378px -25px;
}