/*
@styleguide

# 提示
  
*/
.notice{
	color: #4d3703;
	background: #fff;
	padding-top:4px;
}
.notice .pm{
	background:#fff7d1;
	border:1px solid #f9efbf;
	color:#523a00;
	text-indent:10px;
	height:22px;
	line-height:22px;
	position: relative;
}
.notice .icon{
	position:absolute;
	right:8px;
	top:6px;
}