.commstar {
    width: 105px;
    height: 14px;
    background: url(#{$bg-url}star.png) 0 -14px repeat-x;
    position: relative;
    margin-top: 5px;
    display: inline-block;
    overflow: hidden;
    zoom: 1;
}

.commstar a {
    width: 20%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
}

.commstar .active,
.commstar a:hover {
    background: url(#{$bg-url}star.png) left top repeat-x;
}

.commstar .star1 {
    width: 20%;
    z-index: map-get($z-index,commstar-star1);
}

.commstar .star2 {
    width: 40%;
    z-index: map-get($z-index,commstar-star2);
}

.commstar .star3 {
    width: 60%;
    z-index: map-get($z-index,commstar-star3);
}

.commstar .star4 {
    width: 80%;
    z-index: map-get($z-index,commstar-star4);
}

.commstar .star5 {
    width: 100%;
    z-index: map-get($z-index,commstar-star5);
}