/*
@styleguide

# 文字

<span class="text-success">success</span>
<span class="text-error">error</span>
<span class="text-waining">waining</span>
<span class="text-disabled">disabled</span>
<span class="text-link">link</span>
<span class="text-orange">orange</span>

	<span class="text-success">success</span>
	<span class="text-error">error</span>
	<span class="text-waining">waining</span>
	<span class="text-disabled">disabled</span>
	<span class="text-link">link</span>
	<span class="text-orange">orange</span>
  
*/
.text-success{
	color: #67b222;
}
.text-error,
.text-important{
	color: #dc3334;
}
.text-waining{
	color: #a1d0ed;
}
.text-disabled{
	color: #ccc;
}
.text-link{
	color:#1376ce;
}
.text-orange{
	color:#F38612;
}
.text-dark {
	color: #999;
}
.text-dark:hover{
	color: #666
}
.text-dark:hover svg{
	fill:#999;
}