/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 '微软雅黑',arial;color:#333;outline:0;}
body{background:#fff;}
a{outline: none;}
a,a:hover{color:#333;}
img{vertical-align: middle;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,
.clearfix:after{content:'';display:table;}
.clearfix:after{
	clear: both;
}
.clearfix{zoom:1;}
.visuallyhidden {
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*icon*/
.icon{
	display: inline-block;
	vertical-align: middle;
	background: url(../img/icon.png) no-repeat;
	background-image: -webkit-image-set(url(../img/icon.png) 1x,
               url(../img/icon@x2.png) 2x);
}
.icon1{
	width: 51px;
	height: 51px;
}
.icon2{
	width: 51px;
	height: 51px;
	background-position: 0 -53px;
}
.icon3{
	width: 52px;
	height: 51px;
	background-position: 0 -106px;
}
.icon4{
	width: 16px;
	height: 16px;
	background-position: -62px 0;
}
.icon5{
	width: 27px;
	height: 17px;
	background-position: -61px -28px;
}
.icon6{
	padding-left: 16px;
	padding-right: 15px;
	height: 42px;
	line-height: 42px;
	background: #425164;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.icon6 b{
	font-size: 24px;
	margin-right: 3px;
}
.icon6 i{
	position: absolute;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-width: 21px 9px;
	right:-1px;
	top:0;
}
.icon6-1{
	background: #DC3334;
	padding-right: 24px;
	height: 26px;
	line-height: 26px;
}
.icon6-1 i{
	border-width: 13px 7px;
}
.icon6-2{
	background: #dc3334;
	height: 28px;
	line-height: 28px;
	width: 140px;
	padding:0;
	text-align: center;
}
.icon6-2 i{
	border-color:#dc3334 transparent transparent transparent;
	border-width: 14px 70px;
	left: 0;
	top:100%;
}
.icon7{
	width: 16px;
	height: 20px;
	background-position: -63px -109px;
}
.icon8{
	width: 29px;
	height: 16px;
	background-position: -62px -146px;
}
.icon9{
	width: 213px;
	height: 60px;
	background-position: -160px 0;
}
.icon10{
	width: 217px;
	height: 0;
	padding-top: 61px;
	overflow: hidden;
	background-position: -160px -72px;
}
.icon11{
	width: 98px;
	height: 54px;
	background-position: -160px -141px;
}
.icon12{
	width: 83px;
	height: 83px;
	background-position: -382px 0;
}
.icon13{
	width: 83px;
	height: 83px;
	background-position: -382px -120px;
}
.icon14{
	width: 83px;
	height: 83px;
	background-position: -382px -250px;
}
.icon15{
	width: 83px;
	height: 83px;
	background-position: -382px -380px;
}
.icon16,
.icon16-1,
.icon16-2,
.icon16-3,
.icon16-4,
.icon16-5,
.icon16-6,
.icon16-7{
	width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 10px 7px;
	border-color: transparent;
	border-top-color: #C5C7C9;
}
.icon16-1{
	border-width: 3px 3px;
	border-top-color: #272541;
}
.icon16-2{
	border-width: 9px 8px;
	border-bottom-color: #fff;
	border-top-color: transparent;
}
.icon16-3{
	border-width: 13px 10px;
	border-bottom-color: #DEDDDE;
	border-top-color: transparent;
	position: relative;
}
.icon16-4{
	border-width: 13px 10px;
	border-bottom-color: #f4f4f9;
	border-top-color: transparent;
	position: absolute;
	top: -11px;
	left: -10px;
}
.icon16-5{
	border-width: 5px 5px;
	border-color: transparent transparent transparent #e03d40;
}
.icon16-6{
	border-width: 5px 5px;
	border-color: transparent transparent transparent #949494;
}
.icon16-7{
	border-width: 5px 5px;
	border-color: transparent #949494 transparent transparent;
}
.icon17{
	width: 112px;
	height: 0px;
	padding-top: 10px;
	overflow: hidden;
	background-position: -383px -472px;
}
.icon18{
	width: 89px;
	height: 0px;
	padding-top: 10px;
	overflow: hidden;
	background-position: -382px -498px;
}
.icon19{
	width: 57px;
	height: 0px;
	padding-top: 12px;
	overflow: hidden;
	background-position: -382px -522px;
}
.icon20{
	width: 102px;
	height: 101px;
	background-position: -271px -144px;
}
.icon21{
	width: 102px;
	height: 101px;
	background-position: -271px -250px;
}
.icon22{
	width: 102px;
	height: 101px;
	background-position: -271px -358px;
}
.icon23{
	width: 8px;
	height: 8px;
	background-position: -62px -53px;
}
.icon24,
.icon24-1{
	width: 75px;
	padding-top: 75px;
	overflow: hidden;
	height: 0;
	background-position: -61px -238px;
}
.icon24-1{
	background-position: -148px -355px;
}
.icon25{
	width: 34px;
	height: 25px;
	background-position: -62px -74px;
}
.icon26,
.icon26-1,
.icon26-2{
	height: 21px;
	line-height: 21px;
	background: #eb6877;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 0 15px;
}
.icon26-1{
	background: #67b222;
}
.icon26-2{
	background: #a1d0ed;
}
.icon27{
	width: 118px;
	height: 117px;
	background-position: -147px -234px;
}
.icon28{
	width: 102px;
	height: 125px;
	background-position: 0 -580px;
}
.icon29,
.radio{
	width: 24px;
	height: 24px;
	background-position: -128px -43px;

}
.radio.active{
	background-position: -102px -43px;
}
.icon30{
	width: 14px;
	height: 8px;
	background-position: -105px -74px;
}

.icon30.active{
	background-position: -128px -74px;
}
.icon31,
.icon31-1{
	width: 17px;
	height: 17px;
	background-position: -105px -89px;
}
.icon31-1{
	background-position: -105px -112px;
}
.icon32{
	width: 100px;
	height: 100px;
	background-position: -263px -473px;
}
.icon33{
	width: 100px;
	height: 100px;
	background-position: -263px -582px;
}
.icon34{
	width: 84px;
	height: 102px;
	background-position: -113px -583px;
}
.icon35{
	width: 106px;
	height: 18px;
	background-position: 0 -728px;
}
.icon36{
	width: 54px;
	height: 54px;
	background-position: -65px -319px;
}
.icon37{
	width: 16px;
	height: 12px;
	background-position: -106px -135px;
}
.icon38{
	width: 4px;
	height: 7px;
	background-position: -130px -9px;
}
.icon38.active{
	background-position: -130px 0;
}
.icon39{
	width: 186px;
	height: 0;
	padding-top: 27px;
	overflow: hidden;
	background-position: -118px -719px;
}
.icon40{
	width: 242px;
	height: 0;
	padding-top: 27px;
	overflow: hidden;
	background-position: 0 -762px;
}
.icon41{
	width: 16px;
	height: 12px;
	background-position: -107px -151px;
}
.icon42{
	width: 13px;
	height: 16px;
	background-position: -107px -167px;
}
.icon43{
	width: 58px;
	height: 58px;
	background-position: -486px 0;
}
.icon44{
	width: 65px;
	height: 65px;
	background-position: -486px -72px;
}
.icon45{
	width: 61px;
	height: 58px;
	background-position: -486px -151px;
}
.icon46{
	width: 116px;
	height: 116px;
	background-position: -486px -219px;
}
.icon47{
	width: 106px;
	height: 118px;
	background-position: -486px -347px;
}
.icon48{
	width: 12px;
	height: 12px;
	background-position: -130px -90px;
}
.icon49{
	width: 13px;
	height: 13px;
	background-position: -130px -108px;
}

/*btn*/
.btn{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
}
button.btn{
	border:0 !important;
}
.btn-top{
	padding: 8px 10px;
	background: #b2b2b2;
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	position: fixed;
	bottom: 100px;
	right: 50px;
	display: none;
}
.btn-top:hover{
	background: #7f7f7f;
	background: rgba(0,0,0,0.5);
}

.btn-prev,
.btn-next{
	width: 41px;
	height: 95px;
	background: url(../img/icon.png) no-repeat;
	text-indent: -999em;

}
.btn-prev{
	background-position: 0 -162px;
}
.btn-next{
	background-position: 0 -258px;
}
.btn-buy,
.btn-more{
	width: 247px;
	height: 55px;
	line-height: 53px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #dd3e3f;
	border:1px solid #c2363d;
	border-radius: 2px;
	box-shadow: 0 2px 1px rgba(4,0,0,0.1);
}
.btn-buy:hover,
.btn-more:hover{
	background: #e84145;
	color: #fff;
}
.btn-buy:active,
.btn-more:active{
	background: #ce3a3d;
}
.btn-buy.disable,
.btn-more.disable{
	background: #ccc;
	border: 1px solid #ccc;
	box-shadow:none;
	cursor: not-allowed;
}

.btn-close{
	width: 16px;
	height: 0;
	padding-top: 16px;
	background: url(../img/icon.png) no-repeat -101px 0;
	overflow: hidden;
	position: relative;
}
.btn-close:before{
	content: '';
	position: absolute;
	left: -15px;
	right: -15px;
	top:-15px;
	bottom:-15px;
}
.btn-close:hover{
	background-position: -102px -19px;
}

.btn-goods,
.btn-brand{
	padding:3px 6px;
	border: 1px solid #BDBDBD;
	color: #272541;
	background: #fff;
	position: relative;
}
.btn-goods.disable{
	color: #ccc;
	cursor: not-allowed;
}
.btn-goods.dashed{
	border-style: dashed;
}
.btn-goods b{
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	border: 1px solid #C6C6C6;
	margin-right: 8px;
}
.btn-goods .icon{
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
.btn-goods.active{
	border-color: #dc3334;
}
.btn-goods.active .icon{
	display: block;
}


.btn-goods-white b{
	background: #fff;
}
.btn-goods-yellow b{
	background: #FFFF00;
}
.btn-goods-gray b{
	background: #686675;
}
.btn-num{
	width: 79px;
	height: 19px;
	line-height: 19px;
	border:1px solid #C6C6C6;
	overflow: hidden;
	background: #fff;
	text-align: center;
}
.btn-num a{
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}
.btn-num a.disable{
	color: #ccc;
	cursor: not-allowed;
}
.btn-num-reduce{
	float: left;
	border-right:1px solid #C6C6C6;
}
.btn-num-add{
	float: right;
	border-left:1px solid #C6C6C6;
}
.btn-num input{
	width: 49px;
	height: 19px;
	line-height: 19px;
	border: none;
	text-align: center;
}

.btn-select{
	border: 1px solid #c6c6c6;
	padding-right:5px;
	background: #fff url(../img/btn-select.png) repeat-x;
	cursor: pointer;
	*display: inline;
	*zoom:1;
	position: relative;
}
.btn-select-num{
	display: inline-block;
	border: none;
	width: 57px;
	height: 20px;
	line-height: 20px;
	padding-left: 13px;
	border-right: 1px solid #c6c6c6;
	margin-right:5px;
}
.btn-select ul{
	width: 88px;
	border: 1px solid #c6c6c6;
	position: absolute;
	background: #fff;
	color: #cdcdcd;
	top: 23px;
	left: -1px;
	border-radius: 2px;
	display: none;
	box-shadow: 3px 3px 5px rgba(4,0,0,0.15);
}
.btn-select li{
	border-bottom: 1px solid #c6c6c6;
	padding-left: 12px;
	height: 20px;
	line-height: 20px;
}
.btn-select li:last-child{
	border: none;
}
.btn-select label{
	display: block;
	cursor: pointer;
	color: #272541;
}
.btn-select.active .icon16-1{
	border-bottom-color:#272541;
	border-top-color:transparent;
	margin-top: -5px;
}
.btn-select-1{
	background: url(../img/btn-select1.png) repeat-x;
	z-index: 1;
}
.btn-select-1 .btn-select-num{
	height: 39px;
	line-height: 39px;
}
.btn-select-1 ul{
	top: 42px;
}
.btn-send{
	padding:0 15px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #67b222;
	border-radius: 2px;
	box-shadow: 0 2px 1px rgba(4,0,0,0.1);
	border:1px solid #448509;
}

.btn-send:hover{
	color: #fff;
	background: #6ec125;
}
.btn-send:active{
	background: #5fa620;
}
.btn-send.disable{
	background: #ccc;
	border: 1px solid #ccc;
	box-shadow: none;
	cursor: not-allowed;
}
.btn-register{
	width: 100%;
	text-align: center;
	padding: 0;
}
.btn-brand{
	*position: relative;
	*z-index: 2;
	background: #272541;
	color: #fff;
}
.btn-brand .detail{
	border:1px solid #DEDDDE;
	padding: 24px 27px;
	width: 348px;
	line-height: 18px;
	box-shadow: 1px 1px 5px rgba(4,0,0,0.16);
	background: #f4f4f9;
	position: absolute;
	z-index: 2;
	left: -48px;
	top: 38px;
	display: none;
	color: #333840
}

.btn-brand.active .detail,
.btn-brand:hover .detail{
	display: block;
}
.btn-brand .icon16-3{
	position: absolute;
	left: 56px;
	top: -27px;
}
.btn-add,
.btn-cancel{
	height: 34px;
	line-height: 34px;
	padding: 0 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
	font-size: 14px;
	color: #999;
}

body{
	background: #EEEEEE;
	padding-top: 60px;
	min-width: 1280px;
}
body.sub{
	min-width: inherit;
}
/*布局*/
.pm{
	width: 1180px;
	margin: 0 auto;
}

/*导航*/
.nav{
	background: url(../img/nav.png) repeat-x;
	height: 60px;
	line-height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}
.nav .li1{
	float: left;
	font-size: 16px;

}
.nav-c1{
	border-left: 1px solid #2A2D36;
}
.nav-c1 .icon49{
	position: absolute;
	right: 30px;
	top: 10px;
}

.nav-c1 .li1{
	border-right: 1px solid #2A2D36;
	position: relative;

}
.nav-c1 .li1 a{
	padding: 0 40px;
}
.nav-c2{
	border-right: 1px solid #2A2D36;
}
.nav-c2 .li1{
	border-left: 1px solid #2A2D36;
}
.nav-c2 .li1:first-child{
	border-left: none;
}
.nav li a{
	color: #C5C7C9;
	display: block;
	padding: 0 27px;
}
.nav li a:hover{
	color: #fff;
	background: #4C515B;
}
.nav .li1 ul{
	position: absolute;
	display: none;
	background: #333a40;
}
.nav .li1:hover ul{
	display: block;
}
.nav-c2 .icon{
	margin-left: 9px;
	vertical-align: -10px;
	*vertical-align: -5px;
}
.nav-c2 .li2 a{
	padding-left: 29px;
	padding-right: 0;
	width: 153px;
	background: #434852;
	font-size:14px;
	height: 50px;
	line-height: 50px;
}
.nav-info{
	color: #C5C7C9;
	margin-right: 27px;
}


/*头部*/
.header{
	height: 139px;
	background: #fff;
}
.header-c1{
	padding-top: 36px;
}
.header-c1 .icon10{
	margin-right: 34px;
}
.header-c1 .icon11{
	margin-top: 2px;
}

.header-c2{
	padding-top: 43px;
}
.header-c2 li{
	float: left;
	width: 188px;
}
.header-c2 h2,
.header-c2 p{
	margin-left: 61px;
}
.header-c2 h2{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 7px;
}
.header-c2 p{
	color:#666666;
}
/*footer1*/
.footer1{
	padding-top: 98px;
	padding-bottom: 107px;
	background: #fff;
}
.footer1 ul{
	margin-left:-228px;
}
.footer1 li{
	float: left;
	position: relative;
	width: 117px;
	margin-left: 228px;
	font-size: 16px;
	text-align: center;
}
.footer1 .icon8{
	position: absolute;
	left: 219px;
	top: 35px;
}
.footer1 h2{
	margin-top: 20px;
	color: #949494;
}

/*footer2*/
.footer2{
	background: #333840;
	padding-top: 71px;
	padding-bottom: 174px;
}
.footer2,
.footer2 a{
	color:#C5C7C9
}
.footer2 dl{
	float: left;
	margin-right: 119px;
}
.footer2 dt{
	font-size: 16px;
}
.footer2 dd{
	margin-top: 24px;
}
.footer2 dd a{
	font-size: 12px;
}
.footer2 a:hover{
	color: #fff;
}
.footer2-c1{
	margin-right: 130px;
}

.footer2 .phone{
	font-size: 24px;
	margin-bottom: 12px;
}
.footer2 .time{
	font-size: 16px;
	margin-bottom: 26px;
}
.footer2-email{
	font-size: 14px;
	margin-bottom: 18px;
}
.footer2-email .icon{
	margin-right: 10px;
}
.footer2-service{
	font-size: 14px;
}
.footer2-service .icon{
	margin-right: 12px;
}
/*footer3*/
.footer3{
	height: 50px;
	line-height: 50px;
	background: #23262C;
	color: #4b4f5e;
	text-align: center;
	font-size: 12px;
}
/*遮罩*/
.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 3;
}
/*input*/
.input{
	vertical-align: middle;
	padding: 12px 0 12px 16px;
	border:1px solid #CCCCCC;
	border-radius: 3px;
	height: 18px;
	color: #999;
}
.input:focus{
	box-shadow: 0 0 10px rgba(102,175,233,0.5);
	border-color: #66afe9;
	color: #333;
}
:-ms-input-placeholder{
	color: #999;
}
/*tooltip*/
.tooltip{

	border:1px solid #DEDDDE;
	padding: 24px 27px;
	width: 510px;
	line-height: 18px;
	box-shadow: 1px 1px 5px rgba(4,0,0,0.16);
	background: #f4f4f9;
	position: relative;
	display: inline-block;
	color: #333840
}
.tooltip .icon16-3{
	position: absolute;
	left: 50%;
	top: -27px;
	margin-left: -10px
}
.tooptip-success{
	display: inline-block;
	font-size: 14px;
	color: #67b222;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	border:2px solid #67b222;
	background: #fff;
}
.tooptip-success .icon{
	margin-right: 10px;
}
.tooltip-c2{
	overflow: hidden;
}
/*表格*/
.table{
	font-size: 14px;
	border:1px solid #dfe2e4;
	border-radius: 4px;
	background: #fff;
}
.table-h{
	height: 58px;
	line-height: 58px;
	border-bottom: 1px solid #e6e5e5;
	background: #f4f4f4 url(../img/table-h.png) repeat-x;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
}
.table-c1{
	width: 500px;
	padding-left: 23px;
}
.table-c1 strong{
	color: #e03d40;
}
.table-c2{
	width: 130px;
}
.table-c3{
	width: 174px;
}
.table-c4{
	width: 100px;
}
.table-c5{
	padding-right: 45px;
}
.table-img{
	width: 80px;
	height: 80px;
	text-align: center;
	border: 1px solid #ececec;
	border-radius: 1px;
}
.table-img img{
	vertical-align: middle;
	max-width: 80px;
	max-height: 80px;
}
.table-img span{
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.table-text{
	margin-left: 100px;
}
.table-text h3{
	margin-bottom: 17px;
	line-height: 1.5;
	max-height: 42px;
	overflow: hidden;
	width: 377px;
}
.table-text p{
	margin-bottom: 13px;
	color: #949494;
	font-size: 12px;
}
.table-b li{
	padding-top:22px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 25px;
}

.table-fr1 li{
	margin-bottom: 10px;
}
.table-fr2{
	color: #949494;
	margin-bottom: 33px;
}
.table-f{
	padding:0 45px 28px 0;
	text-align: right;
}
.table-f strong{
	font-size: 20px;
	color: #dd3e3f;
}
/*找回密码成功*/

.retrieve-success{
	text-align: center;
	font-size: 18px;
}
.retrieve-success h1{
	margin-top: 35px;
	margin-bottom: 20px;
}
.retrieve-success .btn{
	height: 64px;
	line-height: 64px;
	padding: 0 72px;
}

.u-loading{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.u-loading-bg{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  position: fixed;
  top: 0px;
  left: 0px;
  -ms-filter:”progid:DXImageTransform.Microsoft.Alpha(Opacity=30)”;
  filter: alpha(opacity=30);
}
.icon-loading{
  background:url(../images/icon-loading.gif) no-repeat center;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
.u-loading-icon{
    width: 128px;
    height: 156px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -64px;
    margin-top: -78px;
 }
 .icon-loading1{
    position:absolute;
    width: 128px;
    height: 0px;
    background:url(../img/icon-loading1.png) no-repeat bottom;
    bottom: 0;
 }
 .icon-loading2{
    position: absolute;
    width: 128px;
    height: 156px;
    background:url(../img/icon-loading2.png) no-repeat bottom;
 }
 .error-tips{display: inline-block;color: #FF0000;padding-left: 10px;}

 /*label*/
 .label-error,
 .label-success,
 .label-waining,
 .label-disabled {
 	height: 21px;
	line-height: 21px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 0 15px;
	display: inline-block;
	vertical-align: middle;
 }
 .label-error{
 	background: #eb6877;
 }
 .label-success{
 	background: #67b222;
 }
 .label-waining{
 	background: #a1d0ed;
 }
 .label-disabled{
 	background: #ccc;
 }
 /*dialog*/
 .dialog-center{
	width: 482px;
	height: 211px;
	left: 50%;
	top: 50%;
	margin-left: -307px;
	margin-top: -163px;
	position: fixed;
	background: #fff;
	border-radius: 4px;
	z-index: 3;
	text-align: center;
	display: none;
}
.dialog-center .btn-close{
	position: absolute;
	right: 26px;
	top: 26px;
}
.dialog-center p{
	padding-top: 53px;
	margin-bottom: 37px;
	font-size: 14px;
}
.dialog-r1 .btn{
	margin: 0 9px;
	height: 50px;
	line-height: 50px;
	padding: 0 56px;
}
/*page*/
.page a{
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #D5D5D5;
	margin:0 4px;
	vertical-align: middle;
	color: #949494;
}
.page .icon{
	margin-top:7px;
}
.page .icon16-7{
	margin-left: -5px;
}
.page .icon16-6{
	margin-right: -5px;
}

a[title="站长统计"]{
	display: none;
}
/*link*/
.link{
	color: #949494;
	text-decoration: underline;
}
.link:hover{
	color: #333;
	text-decoration: underline;
}