.feedback {
  padding: 53px 158px;
  background: #fff;
  margin: 46px 0;
  border-radius: 10px;
}

.feedback h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.feedback textarea {
  padding: 10px;
  width: 838px;
  height: 229px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.feedback input {
  width: 144px;
  height: 33px;
  margin: 0 10px;
}

.feedback .btn {
  width: 110px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
}

.feedback-r1 {
  margin-bottom: 20px;
}

.feedback .justify {
  width: 4em;
}
