/*订单列表*/
.orderlist{
	border: 1px solid #ddd;
	background: #fff;
	margin-top: 82px;
	border-radius: 3px;
	padding-bottom: 68px;
	margin-bottom: 20px;
}
.orderlist-h{
	padding: 49px 49px 42px;
}
.orderlist h2{
	font-size: 16px;
	margin-bottom: 14px;
	padding-top: 5px;
}
.orderlist-hc2 .input{
	width: 284px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 3px;
	font-size: 14px;
}
.orderlist-hc2 .btn{
	width: 92px;
	height: 59px;
	line-height: 59px;
}
.table-1{
	font-size: 14px;
	border: none;
}
.table-1 .table-h{
	background: #32363f;
	color: #fff;
	border-radius: 0;
}
.table-1 .table-b{
	padding: 0 40px; 
}
.table-1 .table-c1{
	padding-left: 60px;
	width: 560px;
}
.table-1 .table-b .table-c1{
	padding-left: 20px;
}
.table-1 .table-c2{
	width: 127px;
}
.table-1 .table-c3{
	width: 123px;
	
}
.table-1 .table-c4{
	width: 132px;
}
.table-1 .table-c4 a{
	color: #949494;
	text-decoration: underline;	
}
.table-1 .table-c5{
	width: 130px;
	padding-right: 0;
}
.table-1 .table-c5 .link{
	margin-left: 25px;
}
.table-1 .table-r1{
	margin-bottom: 29px;
}
.table-1 .table-text img{
	margin-right: 12px;
}
.table-1 .btn{
	margin-bottom: 10px;
	padding: 0 20px;
}
.table-1 .table-r2{
	font-size: 12px;
}
.table-1 .table-r2 span{
	margin-left: 26px;
	color: #949494;
}
.table-1-logistics{
	margin-top: 28px;
	position: relative;;
}
.table-1 .tooltip{
	background: #fff;
	position: absolute;
	left: -258px;
	top: 31px;
	display: none;
	z-index: 1;
}
.table-1 .icon16-4{
	border-bottom-color: #fff;
}
.table-1 .tooltip h4{
	margin-bottom:15px;
}
.table-1 .tooltip li{
	margin-bottom: 12px;
	padding: 0;
	border:0;
}
.table-1 .tooltip .time{
	margin-right: 38px;
}
.table-1 .tooltip .active{
	color:#67b222;
}
.table-1-upload{
	position: relative;
}
.table-1-upload h4{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 16px;
}
.table-1-upload h5{
	margin-bottom: 10px;
	font-size: 12px;
}
.table-1-upload p{
	font-size: 12px;
}
.table-1-upload:hover .tooltip{
	display: block;
	left: -104px;
	top:37px;
}
.table-none{
	text-align: center;
	font-size: 16px;
	padding: 90px 0 50px;
}
.table-none a{
	color: #939393;
	font-size: 14px;
	margin-left: 34px;
	text-decoration: underline;
}
