/*订单详情*/

.orderdetail{
	border: 3px solid #c6deee;
	background: #f3f8fc;
	border-radius: 4px;
	padding: 45px 37px 80px;
	margin-top: 30px;
	margin-bottom: 137px;
	position: relative;
}
.orderdetail h2{
	font-size: 16px;
	padding-left: 25px;
	margin-bottom: 15px;
	margin-top: 35px;
}
.orderdetail-step{
	margin-left: -32px;
}
.orderdetail-step li{
	width: 194px;
	height: 79px;
	background: #ccc;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	float: left;
	margin-left: 32px;
	position: relative;
}
.orderdetail-step li.active{
	background: #67b222;
}
.orderdetail-step h3{
	font-size: 14px;
}
.orderdetail-step div{
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: middle;
	line-height: 1.5;
}
.orderdetail-step span{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.orderdetail-step .line{
	width: 26px;
	height: 4px;
	background: #ccc;
	position: absolute;
	top: 39px;
	right: -29px;
}
.orderdetail-r1{
	border-bottom: 1px dashed #ccc;
	padding-bottom: 25px;
	font-size: 14px;
	line-height: 50px;
	margin-bottom: 25px;
}
.orderdetail-r1c1{
	margin-right: 76px;
}
.orderdetail-r2{
	font-size: 14px;
	color: #949494;
	line-height: 28px;
	margin-bottom: 72px;
}
.orderdetail-r2 strong{
	color:#df3d40;
	font-weight: normal;
}
.orderdetail-r1 .btn-send{
	padding: 0 40px;
	height: 48px;
	line-height: 48px;
}
.table-2 .table-b{
	padding: 20px 0;
}
.table-2 .table-c1{
	width: 302px;
}
.table-2 .table-c2{
	width: 453px;
}
.table-2 li{
	border:0;
	margin-bottom: 0;
	line-height: 28px;
	padding:0;
}
.info{
	border:1px solid #dfe2e4;
	border-radius: 4px;
	background: #fff
}

.info-r1{
	border-bottom: 1px dashed #dfe2e4;
	padding-left: 65px;
	padding-top: 44px;
	padding-bottom: 33px;
}
.info-r2{
	padding-left: 65px;
	padding-top: 44px;
	padding-bottom: 33px;
}
.info-c2{
	margin-left: 172px;
}
.info-c2 li{
	margin-bottom: 16px;
}
.info .btn-add{
	margin-top: 22px;
	margin-bottom: 22px;
}
.info-c2r2 li{
	width: 203px;
	margin-right: 26px;
	float: left;
}
.info-img{
	height: 128px;
	line-height: 128px;
	text-align: center;
	border: 1px dashed #ccc;
	margin-bottom: 19px;
}
.info-img img{
	vertical-align: middle;
	max-width: 201px;
	max-height: 128px;
	
}

.info-img span{
	vertical-align: middle;
	display: block;
	height: 100%;
}
.orderdetail-upload{
	text-align: center;
	display: none;
}
.orderdetail-upload img{
	padding: 3px;
	border:1px solid #ccc;
}
.orderdetail-upload p{
	color: #949494;
	margin-top: 7px;
	margin-bottom: 37px;
}
.orderdetail-upload .register-b1{
	padding-top: 53px;
	padding-bottom: 40px;
}
.mask{
	display: none;
}