body{
	padding: 0;
	background: #f6f8f9;
}
.banner1{
	height: 513px;
	background: url(../img/hot/banner1.jpg) no-repeat center;
}
.banner2{
	height: 85px;
	background: url(../img/hot/banner2.jpg) no-repeat center;
	margin-bottom: 50px;
}
.m1{
	height: 0;
	text-align: center;
	background: #fffeff;
}
.m1 .pm{
	padding-top: 116px;
	padding-bottom: 87px;
}
.m1 h1{
	font-size: 30px;
	margin-bottom: 71px;
}
.m1 h1 span{
	margin: 0 43px;
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 7px;
	background: url(../img/hot/m1-h1.png) no-repeat;
}
.m1 p{
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 50px;
}
.m1 span{
	color: #d84c4b;
}
.m1 h2{
	background: url(../img/hot/m1-h2.png) no-repeat center;
	padding-top: 19px;
	height: 55px;
	font-size: 14px;
}

.m2{
	padding-top: 130px;
	background: #fffeff;
	padding-bottom: 108px;
	background: url(../img/hot/m2.jpg) no-repeat center;
}
.m2 h2{
	font-size: 36px;
	margin-bottom: 56px;
}
.m2 .mb p{
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
}
.m2 span{
	color: #dc3334;
}


.m3{
	background: #f6f8f9 url(../img/hot/m3.jpg) no-repeat center top;
	padding-bottom: 50px;
	padding-top: 328px;
	position: relative;
}
.m3 h3{
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.m3 p{
	color:#72798b;
	margin-bottom: 20px;
}
.m3 .mc1{
	color: #dc3334;
	font-size: 14px;
	margin-right: 65px;
}
.m3 del{
	color: #444a58;
}
.m3 strong{
	font-size: 30px;
}
.m3 ul{
	margin-left: -21px;
	margin-bottom: 46px;
}
.m3 li{
	float: left;
	padding: 20px;
	background: #fff;
	width: 338px;
	margin-left: 21px;
}
.m3 .li2{
	margin-top: 115px;
	position: relative;
	z-index: 2;
}
.m3 .mt{
	text-align: center;
}
.m3 .mt a{
	width: 378px;
}
.m3 .mh{
	color: #fff;
	background: url(../img/hot/m3-mh.png) no-repeat;
	width: 535px;
	height: 535px;
	position: absolute;
	text-align: center;
	top: -25px;
	left: 50%;
	margin-left: -267px;
}
.m3 h2{
	font-size: 30px;
	padding-top: 63px;
	margin-bottom: 60px;
}
.m3 .hr1{
	font-size: 53px;
	font-weight: bold;
}
.m3 .hr2{
	font-size: 63px;
	margin-bottom: 44px;
}
.m3 .hr3{
	font-size: 14px;
	line-height: 24px;
}
.m3-1{
	background: none;
	padding-top: 0;
}
.m3-1 ul{
	margin-bottom: 17px;
}
.m3-1 li{
	margin-bottom: 25px;
}
.m4{
	background: #fff;
}
.m4 .pm{
	background: url(../img/hot/m4.png) no-repeat 201px 126px;
	padding: 157px 0;
}
.m4 p{
	font-size: 14px;
	line-height: 37px;
	margin-bottom: 37px;
	padding-left:622px; 
}
.m4 .mr1{
	font-size: 30px;
	color: #dc3334;
	padding-left:622px; 
}

.m5{
	padding-top: 127px;
	padding-bottom: 116px;
	background: #fffeff;
}
.m5 li{
	float: left;
	padding-left: 66px;
	height: 60px;
	width: 327px;
}
.m5 h3{
	font-size: 18px;
	margin-bottom: 10px;
}
.m5 p{
	line-height: 1.5;
}
.m5 .li1{
	background: url(../img/hot/m2-li1.png) no-repeat;
}
.m5 .li1 a{
	display: inline-block;
	border: 1px solid #ccc;
	height: 20px;
	line-height: 20px;
	width: 80px;
	text-align: center;
	border-radius: 20px;
;}
.m5 .li2{
	background: url(../img/hot/m2-li2.png) no-repeat;
}
.m5 .li3{
	background: url(../img/hot/m2-li3.png) no-repeat;
}
.footer{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top: 2px solid #696667;
}