/*
Error: Undefined variable: "$bg-url".
        on line 6 of components/_coupon.scss
        from line 21 of style.scss

1: @import 'base/reset';
2: 
3: @import 'layout/header';
4: @import 'layout/footer';
5: @import 'layout/layout';
6: @import 'layout/nav';
7: @import 'layout/notice';
8: 
9: @import 'components/btn';
10: @import 'components/icon';
11: @import 'components/text';

Backtrace:
components/_coupon.scss:6
style.scss:21
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/variable.rb:49:in `_perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/node.rb:50:in `perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/string_interpolation.rb:83:in `_perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/node.rb:50:in `perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/list_literal.rb:62:in `map'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/list_literal.rb:62:in `_perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/script/tree/node.rb:50:in `perform'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `map'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:315:in `map'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:88:in `block in with_import'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:88:in `with_import'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:396:in `run'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:62:in `process_result'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
d:/Program Files/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
d:/Program Files/Prepros/resources/app/ruby/loader.rb:15:in `load'
d:/Program Files/Prepros/resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$bg-url\".\A         on line 6 of components/_coupon.scss\A         from line 21 of style.scss\A \A 1: @import 'base/reset';\A 2: \A 3: @import 'layout/header';\A 4: @import 'layout/footer';\A 5: @import 'layout/layout';\A 6: @import 'layout/nav';\A 7: @import 'layout/notice';\A 8: \A 9: @import 'components/btn';\A 10: @import 'components/icon';\A 11: @import 'components/text';"; }
