.page-icon {
    font-size: 10px;
}

.page-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/page.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .page-icon:before {
    background-image: url("../svg/page.png");
}

