@charset "utf-8";
.m-inexistence{
	width: 1194px;
	margin:100px auto;
}
.m-inexistence h1{
	font-size: 38px;
	color: #949494;

	padding-top: 109px;
}
.m-inexistence a{
	color:#0018ff;
}
.m-inexistence .mr1{
	margin-top: 90px;
}
.m-inexistence .mc1{
	float: left;
	margin-left: 203px;
	margin-right: 96px;
}
.m-inexistence p{
	margin-top: 40px;
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	color: #737373;
}
.m-inexistence .goods-404{

}
.m-inexistence .goods-404 h1{
    font-size: 48px;
    font-family: "microsoft yahei";
    padding-top:80px;
}
.m-inexistence .back-first{
    text-decoration: underline;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: normal;

}