.helpcenter-account-infomation-icon {
    font-size: 10px;
}

.helpcenter-account-infomation-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/helpcenter-account-infomation.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .helpcenter-account-infomation-icon:before {
    background-image: url("../svg/helpcenter-account-infomation.png");
}

