.tab-icon {
    font-size: 10px;
}

.tab-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/tab.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .tab-icon:before {
    background-image: url("../svg/tab.png");
}

