<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/617.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('../../module/header.slim').render
<div class="pb">
  <div class="m617-banner"></div>
  <div class="pm">
    <div class="m617-r1 clearfix">
      <div class="m617-r1c1 fl">
        <a href=""><img src="../img/617/617_02.jpg"></a>
        <a href=""><img src="../img/617/617_05.jpg"></a>
      </div>
      <div class="m617-r1c2 fl">
        <a href=""><img src="../img/617/617_03.jpg"></a>
      </div>
      <div class="m617-r1c3 fr">
        <a href=""><img src="../img/617/617_04.jpg"></a>
      </div>
    </div>
    <div class="m617-time">
      <span class="c1">12</span>
      <span class="c2">34</span>
      <span class="c3">56</span>
    </div>
    <div class="m617-top">
      <ul>
        <li>年中大促</li>
        <li><a href=""><img src="../img/617/617_li1.png"><span class="s1">攻略</span><span class="s2">查看攻略</span></a></li>
        <li><a href=""><img src="../img/617/617_li2.png"><span class="s1">秒杀</span><span class="s2">整点秒杀</span></a></li>
        <li><a href=""><img src="../img/617/617_li3.png"><span class="s1">奶粉</span><span class="s2">奶粉</span></a></li>
        <li><a href=""><img src="../img/617/617_li4.png"><span class="s1">纸尿裤</span><span class="s2">纸尿裤</span></a></li>
        <li><a href=""><img src="../img/617/617_li5.png"><span class="s1">美妆</span><span class="s2">美妆个护</span></a></li>
        <li><a href=""><img src="../img/617/617_li6.png"><span class="s1">辅食</span><span class="s2">宝宝辅食</span></a></li>
        <li><a href=""><img src="../img/617/617_li7.png"><span class="s1">用品</span><span class="s2">宝宝用品</span></a></li>
        <li><a href=""><img src="../img/617/617_li8.png"><span class="s1">生鲜</span><span class="s2">活色生鲜</span></a></li>
        <li><a href=""><img src="../img/617/617_li9.png"><span class="s1">台湾馆</span><span class="s2">台湾馆</span></a></li>
        <li><a href="#"><img src="../img/617/617_li11.png"/><span class="s2">TOP<span class="icon icon16-2"></span></span></a></li>
      </ul>
      <div class="m617-top-f">分享<br /><div class="bdsharebuttonbox"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></div>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      </div>
    </div>
    <div class="m617-tab">
      <ul class="m617-tab-h">
        <li class="active"><a href="">10点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">14点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">15点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">16点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">21点整</a><span class="icon icon16-5"></span></li>
      </ul>
      <div class="m617-tab-b active">
        <li><a href=""><img src="../img/61/1.jpg"></a><div class="mask"></div><span>已抢光</span></li>
        <li><a href=""><img src="../img/61/2.jpg"></a></li>
        <li><a href=""><img src="../img/61/3.jpg"></a></li>
        <li><a href=""><img src="../img/61/4.jpg"></a></li>
        <li><a href=""><img src="../img/61/5.jpg"></a></li>
        <li><a href=""><img src="../img/61/6.jpg"></a></li>
        <li><a href=""><img src="../img/61/7.jpg"></a></li>
        <li><a href=""><img src="../img/61/8.jpg"></a></li>
      </div>
      <div class="m617-tab-b">
        <li><a href=""><img src="../img/61/5.jpg"></a></li>
        <li><a href=""><img src="../img/61/6.jpg"></a></li>
        <li><a href=""><img src="../img/61/7.jpg"></a></li>
        <li><a href=""><img src="../img/61/8.jpg"></a></li>
        <li><a href=""><img src="../img/61/1.jpg"></a></li>
        <li><a href=""><img src="../img/61/2.jpg"></a></li>
        <li><a href=""><img src="../img/61/3.jpg"></a></li>
        <li><a href=""><img src="../img/61/4.jpg"></a></li>
      </div>
      <div class="m617-tab-b">
        <li><a href=""><img src="../img/61/4.jpg"></a></li>
        <li><a href=""><img src="../img/61/5.jpg"></a></li>
        <li><a href=""><img src="../img/61/6.jpg"></a></li>
        <li><a href=""><img src="../img/61/1.jpg"></a></li>
        <li><a href=""><img src="../img/61/2.jpg"></a></li>
        <li><a href=""><img src="../img/61/3.jpg"></a></li>
        <li><a href=""><img src="../img/61/7.jpg"></a></li>
        <li><a href=""><img src="../img/61/8.jpg"></a></li>
      </div>
    </div>
  </div>

</div>
<!--尾部-->
== Slim::Template.new('../../module/footer.slim').render
<!--尾部-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/617.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
