<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/77.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('../../module/header.slim').render
<!-- 大banner开始 -->
<div class="m77-bannera">小哇陪你过七夕</div>
<div class="m77-bannerb"></div>
<div class="m77-banner-02">Valentine's  Day</div>
<!-- 大banner结束 -->
<!-- 商品列表开始 -->
<ul class="m77-list clearfix">
  <li>
    <a href=""><img src="../img/77/goods01.jpg" alt="" width="590" height="441" /></a>
  </li>
  <li>
    <a href=""><img src="../img/77/goods02.jpg" alt="" width="590" height="441" /></a>
  </li>
  <li>
    <a href=""><img src="../img/77/goods03.jpg" alt="" width="590" height="441" /></a>
  </li>
  <li>
    <a href=""><img src="../img/77/goods04.jpg" alt="" width="590" height="441" /></a>
  </li>
</ul>
<div class="love-banner-ad">
  <a href=""><img src="../img/77/ad.jpg" alt="" /></a>
</div>
<!-- 商品列表结束 -->
<!--尾部-->
== Slim::Template.new('../../module/footer.slim').render
<!--尾部-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/617.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
