.cart-footer{
	border: 1px solid #ccc;
	border-top: 1px dashed #fff;
	background: #eee;
	padding: 18px 44px 18px 25px;
	border-radius: 0 0 4px 4px;
	position: relative;
}
.cart-footer-c1 a{
	margin: 0 15px;
}
.cart-footer-c1 input{
	margin-right: 10px;
	vertical-align: -1px;
}
.cart-footer-c1 label{
	margin-right: 15px;
}
.cart-footer-c2{
	text-align: right;
}

.cart-footer-c2 .s1{
	color: #333;
	display: inline-block;
	width: 5em;
}
.cart-footer-c2 .text-important .s1,
.cart-footer-c2 .li1.text-important{
	color: #dc3334;
}
.cart-footer-c2 ul{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.cart-footer-c2 .li1{
	color: #999;
	height:30px;
	line-height: 30px;
}
.cart-footer-c2 strong{
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
}
.cart-footer .icon75{
	position: absolute;
	top: -15px;
	left:-1px;
}
.cart-footer .icon76{
	position: absolute;
	top: -15px;
	right: -1px;
}
.cart-footer .btn-disable{
	background: #9e9e9e;
	color:#fff !important;
	
}
.cart-footer-fixed{
	position: fixed;
	width: 1180px;
	box-sizing:border-box;
	z-index: map-get($z-index,cart-footer-fixed);
	bottom: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.cart-footer-fixed .icon75,
.cart-footer-fixed .icon76{
	display: none;
}