.cart-none{
	margin-top: 87px;
	margin-bottom: 100px;
	text-align: center;
}
.cart-none .btn{
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
}
.cart-none .icon101{
	margin-right: 52px;
}
.cart-none-c1{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.cart-none .icon16-5{
	margin-left: 5px;
}