.comment-img{
	font-size: 0;
  height: 95px;
}
.comment-img li{
	display: inline-block;
	border:1px solid #ccc;
	margin-right: 10px;
	cursor: -webkit-zoom-in;
	position: relative;
}
.comment-img li.active{
	cursor: -webkit-zoom-out;
}
.comment-img li.active:before{
	content: '';
	position: absolute;
	left: -4px;
	top: -4px;
	right: -4px;
	bottom: -4px;
	border: 1px solid #E13B3A;
	border-radius: 3px;
}
.comment-img li.active:after{
	content: '';
	border-style: solid;
	border-width: 6px 5px;
	border-color: #E13B3A transparent transparent transparent;
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -5px;
}
.comment-img-big{
  position: relative;
  text-align: center;
  margin-right: 35px;
}
.comment-img-big-inner{
  position: relative;
}
.comment-img-big li{
	display: none;
	cursor: -webkit-zoom-out;
  background: #fff;
  padding: 10px 0;
  margin-top: 15px;
}
.comment-img-big li.active{
	display: block;
}
.comment-img-big-prev,
.comment-img-big-next{
	width: 21px;
	height: 37px;
	z-index: map-get($z-index,comment-img-big-prev);
	position: absolute;
	top: 50%;
	margin-top: -18px;
	display: none;
}
.comment-img-big-prev{
	background: url(#{$bg-url}comment-img-prev.png) no-repeat;
	left: 19px;
}
.comment-img-big-next{
  background: url(#{$bg-url}comment-img-next.png) no-repeat;
	right: 19px;
}
.comment-img-del{
  display: inline-block;
  vertical-align: top;
}
.comment-img-del>li:hover{
  border-color: #E13B3A;
}
.comment-add-img-del{
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background: #E13B3A;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  font-size: 12px;
}
.comment-add-img-del:hover{
  color: #fff;
}
.comment-img-del>li:hover .comment-add-img-del{
  display: block;
}
