
.faq-icon1{
	@extend %faq-icon;
	width:24px;
	height:25px;

}
.faq-icon2{
	@extend %faq-icon;
	width:24px;
	height:25px;
	background-position:-24px 0;
	margin-left:-40px;
}
.faq{
	padding:0 30px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:8px;
}
.faq h3{
	font-size:28px;
	margin-bottom:24px;
}
.faq h4{
	font-size:18px;
	margin-bottom:21px;
	font-weight:normal;
}
.faq p{
	padding-left:40px;
	margin-bottom:40px;
	font-size:14px;
	color:#666;
	line-height:24px;
}