.match {
  background: #fff;
  margin-bottom: 20px;
  padding: 30px 0;
}
.match h2{
	display: inline-block;
	font-size: 18px;
	padding: 0 14px 9px;
	border-bottom: 2px solid #dc3334;
	margin-bottom: -2px;
}
.match-h{
	border-bottom: 2px solid #eee;
	margin: 0 50px;
}
.match-c1 li{
	float: left;
	width: 140px;
	margin-right: 80px;
	position: relative;
}
.match-c1 li:before{
	content: '+';
	font-size: 48px;
	color: #ccc;
	position: absolute;
	top: 50px;
	right: -54px;
}
.match-c1 li:last-child:before{
	content: '=';
}
.match-c1 h3{
	font-weight: normal;
	line-height: 19px;
	margin: 5px 0;
}
.match-c1 img{
	border: 1px solid #e5e5e5;
}
.match-c1 input{
	margin-right: 18px;
}
.match-b{
	padding: 25px 50px;
}
.match-r1{
	margin-bottom: 30px;
}
.match-c2 label{
	width: 3em;
	color: #a9a9a9;
}
.match-c2 del{
	color: #a9a9a9;
}
.match-c2 li{
	margin-bottom: 10px;
}
.match-c2 ul{
	margin-bottom: 23px;
}
.match-c2 .text-important{
	font-size: 14px;
	font-weight: bold;
	margin-right: 13px;
}

.match-r2 .btn-danger{
	margin-right: 10px;
}
