.nataral-product4-bc1{
	width: 235px;
	background: #FF5771;
	border:6px solid #FFB0B0;
	opacity: 0.7;
}
.nataral-product4-bc1 li{
	display: inline-block;
	width: 52px;
}
.nataral-product4-bc1 a{
	color: #fff;
}
.nataral-product4-bc2{
	overflow: hidden;
}