
.nataral-product3 li{
	margin-bottom: 1px;
}
.nataral-product3 .product-r1{
	height: 250px;
	margin-bottom: 10px;
}
.nataral-product3 .product-r1 img{
	max-width: 250px;
	max-height: 250px;
}
.nataral-product3 .product h3{
	margin-bottom: 6px;
}
.nataral-product3 .product-list li{
	padding-top: 6px;
}
.nataral-product3 .nataral-product-price2{
	bottom: 5px;
}

.nataral-product3 .nataral-product-r1{
	background: #fff;
	border-top: none;
	height: 18px;
	line-height: 18px;
	padding-bottom: 20px;
	position: static;
	margin-left: 0;
	width: auto;
	border: none;
}