.nataral-product li{
	position: relative;
	padding-bottom: 0;
	margin-bottom: 72px;
}


.nataral-product .product-r2c1 strong{
	margin-right: 10px;
}

.nataral-product-r1{
	
	background: #F9F9F9;
	height: 52px;
	line-height: 52px;
	border: 1px solid #E5E5E5;
	position: absolute;
	padding: 0 3px;
	text-indent:15px; 
	width: 100%;
	margin-left: -4px;
	margin-top: 3px;
	z-index: 0;
}
.nataral-product-r1 a{
	color: #999;
	vertical-align: middle;
}
.nataral-product-r1 a:hover{
	text-decoration: underline;
	color: #666;
}
.nataral-product-r1 .icon{
	margin-right: 9px;
}
.nataral-product .nataral-product-more a{
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 14px;
	border-radius: 50%;
	background: #F9F9F9;
	display: block;
	margin: 135px auto;
	color: #999;
	text-indent: 8px;
}


.nataral-product .nataral-product-more a:hover{
	text-decoration: underline;
	color: #666;
}
.nataral-product .nataral-product-more{
	margin-bottom: 0;
}
.nataral-product .nataral-product-more:hover{
	border-color: #fff;
	outline-color: #e5e5e5;

}
.nataral-product h3{
	font-weight: normal;
	line-height: 24px;
	max-height: 48px;
	height: 48px;
}

.nataral-product li{
	position: relative;
	padding-bottom: 0;
	padding-top: 12px;
}

.nataral-product img{
	max-width: 245px;
	max-height: 245px;
}