.nataral-shop-list{
	margin-left: -20px;
}
.nataral-shop-list>li{
	float: left;
	width: 578px;
	margin-left: 20px;
	margin-bottom: 20px;
	background: #fff;
	box-sizing:border-box;
	border: 1px solid #E5E5E5;
}

.nataral-shop-h{
	border-bottom: 1px solid #E5E5E5;
	padding: 10px;
	position: relative;
}
.nataral-shop-b li{
	width: 143px;
	padding:24px 24px 20px;
	border-right: 1px dashed #E5E5E5;
	float: left;
	position: relative;
}
.nataral-shop-b li:before{
	content: '';
	height: 0px;
	transition:all 0.3s;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #DF3D40;
}
.nataral-shop-b li:hover:before{
	height: 3px;
}

.nataral-shop-b li:last-child{
	border-right: none;
}
.nataral-shop-b li .icon110{
	position: absolute;
	left: 32px;
	top: 24px;
}
.nataral-shop-b h4{
	font-size: 13px;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 14px;
	font-weight: normal;
	height: 48px;
	overflow: hidden;

}
.nataral-shop-b h4 span{
	color: #999;
}
.nataral-shop-br1 strong{
	font-size: 20px;
	margin-right: 9px;
}
.nataral-shop-c1{
	margin-right: 18px;
}
.nataral-shop h3{
	font-size: 20px;
	margin-bottom: 21px;
	margin-top: 13px;
	font-weight: normal;
}
.nataral-shop-h img{
	width: 558px;
	height: 224px;
}
.nataral-shop-h h3{
	height: 50px;
	line-height: 50px;
	background: #fff;
	background: rgba(255,255,255,0.75);
	position: absolute;
	width: 100%;
	text-indent: 24px;
	left: 0;
	bottom: 0;
	margin-bottom: 10px;
}
.nataral-shop-h h3 a{
	margin-right: 25px;
}
.nataral-shop-h h3 a:hover{
	border-bottom: 1px solid #333;
}
.nataral-shop-h h3 span{
	font-size: 12px;
}
.nataral-shop-h .s1{
	color: #666;
}
.nataral-shop p{
	line-height: 22px;
	color: #999;
	height: 66px;
	overflow: hidden;
}
.nataral-shop-c2 .text-important{
	margin-left: 7px;
	margin-right: 19px;
}
.nataral-shop-c2r1{
	color: #999;
}
.nataral-shop-address{
	margin-right: 18px;
}
.nataral-shop-link{
	color:#B87C00;
	background: #FFD62C;
	height: 23px;
	line-height: 23px;
	border-radius: 3px;
	padding: 0 10px;
	margin-top: 12px;
}
.nataral-shop-link:hover{
	color:#B87C00;
}

.nataral-shop-top{
	border: 1px solid #E5E5E5;
	margin-bottom: 20px;
	background: #fff;
}
.nataral-shop-top .slider{
	width: 590px;
	height: 278px;
	margin:0;
	border: none;
	display: inline-block;
}
.nataral-shop-top .slider-img{
	height: 278px;
}
.nataral-shop-top .slider-img li a{
	height: 278px;
}
.nataral-shop-top .slider .btn{
	display: none;
}
.nataral-shop-top-c1{
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	width: 540px;
}
.nataral-shop-top-c1 ul{
	margin-left: -6px;
	font-size: 0;
}
.nataral-shop-top-c1 li{
	display: inline-block;
	width: 128px;
	height: 48px;
	border: 1px solid #E5E5E5;
	margin-left: 6px;
	text-align: center;
}
.nataral-shop-top-c1 p{
	color: #666;
	font-size: 13px;
	line-height: 26px;
	height:110px;
}
.nataral-shop-top-c1 h3{
	margin-top: 22px;
}
.nataral-shop-top-c1 h4{
	color: #bbb;
	font-weight: normal;
	margin: 10px 0;
}