<div class="banner-scroll">
  <div class="pm">
    <div class="banner-scroll-inner">
      <div class="notsoldout">
      <div class="step1">
        <img src="../img/step1.png"><span class="step1tip">注册成功顺丰海淘会员得格瓦拉代金券+顺丰海淘代金券</span>
        <div class="step1info">
          <ol>
            <li>
              <input id="input-mobile" type="text" class="input-username" placeholder="手机号">
            </li>

            <li>
              <div class="clearfix">
                <div class="fl">
                  <input type="text" class="input1" placeholder="点击按钮获取验证码" id="input-mobile-code">
                </div>
                <a href="javascript:void(0);" class="btn btn-send fr" id="mobile-code-btn">发送短信验证码</a>
              </div>
            </li>

            <li>
              <input type="password" class="password" id="input-password" placeholder="设置6-18位字母、数字或标点符号的密码">
            </li>
          </ol>

          <div class="register-br1">
            <button type="submit" class="btn btn-send btn-register" id="mobile-register-btn">提交注册</button>
          </div>
        </div>
      </div>

      <div class="step1success hide">
        <div class="step1successtip"><span class="icon icon36"></span><span class="">注册成功</span></div>
        <div class="step1successinfo">请至<a href="coupon.html"><span>我的优惠券</span>我的优惠券</a>查看格瓦拉代金券与顺丰海淘优惠券</div>
      </div>

      <p class="line"></p>

      <div class="step2">
        <img src="../img/step2.png">
        <span class="step2tip">邀请你心中的那个TA一起注册得格瓦代金券+顺丰海淘代金券甜蜜520一起看电影，买洋货！</span>

        <div class="step1info">
          <ol>
            <li>
              <input id="inviteMobile" type="text" class="invitemobile" placeholder="请输入TA的手机号" can-value="username">
            </li>
          </ol>

          <ol class="invitemessages">
              <li>
                  <span name="invitemessage1" class="icon radio active"></span>
                  <span>邀请模板1</span>
              </li>
              <li>
                  <span name="invitemessage2" class="icon radio"></span>
                  <span class="invitemessage"></span><span>邀请模板2</span>
              </li>
              <li>
                  <span name="invitemessage3" class="icon radio"></span>
                  <span class="invitemessage"></span><span>邀请模板3</span>
              </li>
          </ol>

          <div class="messagedetail" name="invitemessage1">女神，我暗恋你好久！520请和我一起看电影！</div>
          <div class="messagedetail hide" name="invitemessage2">帅哥，我宣你！520，我要和你看电影！</div>
          <div class="messagedetail hide" name="invitemessage3">闺蜜和基友，一生一起走！520来场电影吧！</div>

          <div class="step2success hide">
              <div class="step2successtip"><span class="icon icon36"></span><span>邀请已发出</span></div>
          </div>

          <div class="register-br1">
              <input id="inviteMobileCode" type="text" class="invitemobilecode" placeholder="请输入验证码">
              <img src="{{verifiedCodeUrl}}" width="74" height="40" alt="验证码" class="showmobilecode" />
              <a href="javascript:void(0);" id="verified-code-btn" class="nextmobilecode">换一个</a>
          </div>

          <div class="register-br1">
              <button type="submit" class="btn btn-send btn-register" id="inviteTaBtn">邀请TA</button>
          </div>

        </div>

      </div>
      </div>
      <div class="soldout" style="position:absolute;top:300px;width:465px;margin:0 30px;text-align:center;font-size:16px;line-height:25px;">
        对不起，太热情啦~电影票已经全部被领走啦！感谢您对顺丰海淘的支持！
      </div>
    </div>
  </div>

  <a class="close">x</a>
</div>
<div class="banner-scroll2"><a href="javascript:"><img src="../img/banner-scroll2.jpg" /></div>
