<div class="banner-scroll" style="height:0px;overflow: hidden; cursor: pointer; background: url(http://img0.sfht.com/cmsres/20150908/66b86aa1-a09d-4510-a4ca-57fe05024bf2.jpeg) no-repeat center top;">

</div>
