<div class="nav-pannel-inner clearfix">
    <!--左侧图片列表 开始-->
    <ul class="nav-pannel-img fl">
        <li>
            <a href=""><img src="http://placehold.it/280x150" alt=""></a>
        </li>
        <li>
            <a href=""><img src="http://placehold.it/280x150" alt=""></a>
        </li>
    </ul>
    <!--左侧图片列表 结束-->
    <!--右侧产品列表 开始-->
    <div class="nav-pannel-text fl">
        <dl>
            <dt><span class="nav-pannel-icon1"></span>人气品牌</dt>
            <dd><a href="">菲诗小铺</a><a href="">谜尚</a><a href="">我的美丽日记</a><a href="">SK-II</a><a href="">SKINFOOD</a><a href="">佰草集</a></dd>
        </dl>
        <dl>
            <dt><span class="nav-pannel-icon2"></span>魅力彩妆</dt>
            <dd><a href="">菲诗小铺</a><a href="">谜尚</a><a href="">我的美丽日记</a><a href="">SK-II</a><a href="">SKINFOOD</a><a href="">佰草集</a></dd>
        </dl>
        <dl>
            <dt><span class="nav-pannel-icon3"></span>彩妆工具</dt>
            <dd><a href="">菲诗小铺</a><a href="">谜尚</a><a href="">我的美丽日记</a><a href="">SK-II</a><a href="">SKINFOOD</a><a href="">佰草集</a></dd>
        </dl>
        <dl>
            <dt><span class="nav-pannel-icon4"></span>面部护理</dt>
            <dd><a href="">菲诗小铺</a><a href="">谜尚</a><a href="">我的美丽日记</a><a href="">SK-II</a><a href="">SKINFOOD</a><a href="">佰草集</a></dd>
        </dl>
        <dl>
            <dt><span class="nav-pannel-icon5"></span>身体护理</dt>
            <dd><a href="">菲诗小铺</a><a href="">谜尚</a><a href="">我的美丽日记</a><a href="">SK-II</a><a href="">SKINFOOD</a><a href="">佰草集</a></dd>
        </dl>
        <dl>
            <dt><span class="nav-pannel-icon6"></span>热门搜索</dt>
            <dd><a href="">菲诗小铺</a><a href="">谜尚</a><a href="">我的美丽日记</a><a href="">SK-II</a><a href="">SKINFOOD</a><a href="">佰草集</a><a href="">佰草集</a><a href="">佰草集</a><a href="">佰草集</a><a href="">佰草集</a></dd>
        </dl>
    </div>
    <!--右侧产品列表 结束-->
</div>