<div class="banner-scroll" style="height:0px;overflow: hidden; cursor: pointer; background: url(http://img0.sfht.com/img/e355332d09e06f23350112a27f946684.jpg) no-repeat center top;">

</div>

<div class="banner-scroll3">
<div class="bigpic" style="height:100%; overflow: hidden; cursor: pointer; background: url(http://img0.sfht.com/img/8499d20f5da6eaeceeb12addfae6d868.jpg) no-repeat center top;"></div>
<a class="close" style="position: absolute;right: 10px;top: 10px;font-size: 38px;color: #ccc;"><img src="http://img0.sfht.com/img/8ee4e2e1b66fa526f61ba447c146d481.jpg"></a>
</div>
