<div class="notice">
    <div class="pm">温馨提示：尊敬的顺丰海淘用户，因617大促和端午海关休假，活动期间订单发货预计延长7个工作日，敬请谅解。</div>
</div>
<div class="header1">
  <div class="pm">
    <div class="header1-c1 fl">
      <a href="/index.html">
        <span class="icon icon11"></span>海淘首页
      </a>
      {{#if isUserLogin}}
      <a href="#" id="user-name">{{nickname}}，欢迎回来！</a>
      <a href="#" id="user-logout">退出登录</a>
      {{else}}
      <a href="#" id="user-login">登录</a>
      <a href="#" id="user-register">免费注册</a>
      {{/if}}
    </div>
    <div class="header1-c2 fr">
      <a class="text-important header1-qrcode"><span class="icon icon116"></span>下载顺丰海淘App<img src="http://img.sfht.com/sfht/1.1.88/img/header-qrcode.png"></a>
      <a href="#" id="user-orderlist">我的订单</a>
      <a href="#" id="user-center">个人中心</a>
      <a href="#" id="user-coupon">我的优惠券</a>
      <a href="http://www.sfht.com/feedback.html">意见反馈</a>
      <a onclick="javascript:window.open('http://sf-ocs.sf-express.com:8080/live800/chatClient/chatbox.jsp?companyID=8935&amp;configID=20&amp;skillId=20&amp;enterurl=http%3A%2F%2Fsf-ocs%2Esf-express%2Ecom%3A8080%2Flive800%2Fpreview%2Ejsp&amp;pagereferrer=http%3A%2F%2Fsf-ocs%2Esf-express%2Ecom%3A8080%2Flive800%2FembedScript%2Ejsp%3FcurrentConfigId%3D20&amp;k=1', 'chatbox8935', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=950,height=650');return false;" href="javascript:void(0)">在线客服</a>
    </div>
  </div>
</div>
{{#board}}
<div class="notice">
  <div class="pm">{{board.text}}</div>
</div>
{{/board}}
{{#ad}}
<div class="notice">
  <a href="{{ad.link}}"><img src="{{ad.img}}" alt=""></a>
</div>
{{/ad}}