<div class="banner-scroll" style="height:0px;overflow: hidden; cursor: pointer; background: url(http://img0.sfht.com/img/9a437c78a12a597c603cd2da5f9eac6f.jpg) no-repeat center top;">

</div>

<div class="banner-scroll3">
<div class="bigpic" style="height:100%; overflow: hidden; cursor: pointer; background: url(http://img0.sfht.com/img/1c7587c5d2b3bc7fde1a18565d5d88cc.jpg) no-repeat center top;"></div>
<a class="close" style="position: absolute;right: 10px;top: 10px;font-size: 38px;color: #ccc;">x</a>
</div>
