<div class="banner-scroll" style="height:0px;overflow: hidden; cursor: pointer; background: url(http://img0.sfht.com/cmsres/20150921/2a68a9ee-8af2-4cf8-9b30-f86b4e9fef87.jpeg) no-repeat center top;">

</div>
