<div class="header">
  <div class="pm clearfix">
    <div class="header-c1 fl">
      <a href="#" class="icon icon10">顺丰海淘</a>
      <img src="{{slogan}}" alt="顺心全球购 丰富好生活">
    </div>
    <ul class="header-c2 fr">
      <li>
        <span class="icon icon1 fl"></span>
        <h2>正品<br>保障</h2>
      </li>
      <li>
        <span class="icon icon2 fl"></span>
        <h2>含  税<br>一口价</h2>
      </li>
      <li>
        <span class="icon icon3 fl"></span>
        <h2>顶尖<br>物流</h2>
      </li>
    </ul>
  </div>
</div>