/*404*/
.pagenofind{
	padding-top: 911px;
	height: 289px;
	background: url(../img/404.jpg) no-repeat center;
	text-align: center;
}
.pagenofind a{
	font-size: 30px;
	color: #fff;
	margin: 0 37px;
	border-bottom:1px solid #fff; 
}