/*404*/
.pagenofind,
.pagenofind-goods{
	padding-top: 911px;
	height: 289px;
	background: url(../img/404.jpg) no-repeat center;
	text-align: center;
	margin-top: -60px;
}
.pagenofind a,
.pagenofind-goods a{
	font-size: 30px;
	color: #fff;
	margin: 0 37px;
	text-decoration: underline;
}
.pagenofind-goods{
	background: url(../img/404-goods.jpg) no-repeat center;
}