/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 '微软雅黑',arial;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
img{vertical-align: middle;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,
.clearfix:after{content:'';display:table; clear:both;}
.clearfix{*zoom:1;}
/*icon*/
.icon{
	display: inline-block;
	vertical-align: middle;
	background: url(../img/icon.png) no-repeat;
}
.icon1{
	width: 51px;
	height: 51px;
}
.icon2{
	width: 51px;
	height: 51px;
	background-position: 0 -53px;
}
.icon3{
	width: 52px;
	height: 51px;
	background-position: 0 -106px;
}
.icon4{
	width: 16px;
	height: 16px;
	background-position: -62px 0;
}
.icon5{
	width: 38px;
	height: 26px;
	background-position: -62px -26px;
}
.icon6{
	padding-left: 16px;
	padding-right: 15px;
	height: 42px;
	line-height: 42px;
	background: #425164;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.icon6 b{
	font-size: 24px;
	margin-right: 3px;
}
.icon6 i{
	position: absolute;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-width: 21px 9px;
	right:0;
	top:0;
}
.icon7{
	width: 26px;
	height: 30px;
	background-position: -62px -107px;
}
.icon8{
	width: 29px;
	height: 16px;
	background-position: -62px -146px;
}
.icon9{
	width: 213px;
	height: 60px;
	background-position: -160px 0;
}
.icon10{
	width: 217px;
	height: 0;
	padding-top: 61px;
	overflow: hidden;
	background-position: -160px -72px;
}
.icon11{
	width: 98px;
	height: 54px;
	background-position: -160px -141px;
}
.icon12{
	width: 117px;
	height: 117px;
	background-position: -382px 0;
}
.icon13{
	width: 117px;
	height: 117px;
	background-position: -382px -120px;
}
.icon14{
	width: 117px;
	height: 117px;
	background-position: -382px -250px;
}
.icon15{
	width: 117px;
	height: 117px;
	background-position: -382px -380px;
}
.icon16{
	width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 10px 7px;
	border-color: transparent;
	border-top-color: #C5C7C9;
}
.icon17{
	width: 75px;
	height: 0px;
	padding-top: 12px;
	overflow: hidden;
	background-position: -62px -172px;
}
.icon18{
	width: 91px;
	height: 0px;
	padding-top: 9px;
	overflow: hidden;
	background-position: -62px -194px;
}
.icon19{
	width: 112px;
	height: 0px;
	padding-top: 12px;
	overflow: hidden;
	background-position: -62px -215px;
}
/*btn*/
.btn{
	display: inline-block;
	vertical-align: middle;
}
.btn-top{
	padding: 18px 20px;
	background: #a6a6a6;
	border-radius: 5px;
}
.btn-more{
	color: #999;
	font-size: 18px;
	text-align: center;
	width: 220px;
	height: 60px;
	line-height: 60px;
	border-radius: 30px;
	border:1px solid #ccc;
	background: #fff;
	background: url(../img/icon.png) no-repeat 0 -437px \9;
	border: none \9;
	width: 222px \9;
	height: 62px \9;
}
.btn-prev,
.btn-next{
	width: 41px;
	height: 95px;
	background: url(../img/icon.png) no-repeat;
	text-indent: -999em;
	
}
.btn-prev{
	background-position: 0 -162px;
}
.btn-next{
	background-position: 0 -258px;
}

body{
	background: #EEEEEE;
}
/*布局*/
.pm{
	width: 1180px;
	margin: 0 auto;
}
.pb{
	padding-bottom: 89px;
}