/*设置密码*/
.verification{
	padding-left: 370px;
}
.verification h1{
	font-size: 18px;
	color: #64aa30;
	margin-bottom: 55px;
}
.verification .icon36{
	margin-right: 20px;
}
.verification li{
	margin-bottom: 26px;
	font-size: 14px;
}
.verification p{
	font-size: 12px;
	color: #949494;
	margin-top: 12px;
	margin-left: 88px;
}
.verification label{
	margin-right: 18px;
	display: inline-block;
	width: 5em;
	text-align: right;
}
.verification .btn{
	padding: 0 120px;
	margin-left: 88px;
}
.verification .input{
	width: 248px;
}
.verification-failure{
	padding-left: 366px;
	font-size: 14px;
}
.verification-failure h1{
	font-size: 18px;
	margin-bottom: 38px;
}
.verification-failure-r2{
	padding-left: 79px;
}
.verification-failure .btn{
	height: 34px;
	line-height: 34px;
	padding: 0 58px;
	display: inline-block;
	margin-right: 5px;
	border-radius: 4px;
}
.verification-failure .btn-send{
	margin-left: 25px;
}
.verification-failure .btn-add{
	margin-left: 11px;
}
.verification-failure .icon26,
.verification-failure .icon26-2{
	height: 27px;
	line-height: 27px;
	border-radius: 4px;
}
.verification.retrieve h1{
	padding-left: 88px;
	margin-bottom: 25px;
}
.verification-1 h1{
	color: #333;
	font-weight: normal;
}