.invite-open-icon {
    font-size: 10px;
}

.invite-open-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/invite-open.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .invite-open-icon:before {
    background-image: url("../svg/invite-open.png");
}

