.mixins-title {
    color: black;
    font-size: 40px;
}

.mixins-title:hover {
    color: red;
}

.page{
    padding: 20px;
}

.styles-title{
    color: green;
}

.styles-article{
    font-size: 16px;
}
