.selfService-icon {
    font-size: 10px;
}

.selfService-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 7em 22.3em;
}

.no-svg .selfService-icon:before {
    background-image: url("../svg/sprite.png");
}

.selfService-icon.icon-airplane:before {
    background-position: 0em 0em;
    width: 5.6938em;
    height: 6.3em;
}

.selfService-icon.icon-bookmark:before {
    background-position: 0em -6.3em;
    width: 7em;
    height: 5.9em;
}

.selfService-icon.icon-delivery:before {
    background-position: 0em -12.2em;
    width: 5.5em;
    height: 5.2em;
}

.selfService-icon.icon-edit:before {
    background-position: 0em -17.4em;
    width: 4.9030000000000005em;
    height: 4.9em;
}

