@import '../../modules/personal/index';
@import '../../modules/integral/index';
@import '../../modules/invite-income/index';
@import '../../modules/invite-rule/index';
@import '../../modules/invite-open/index';
@import '../../modules/invite-account/index';
.invite-h2{
	font-size: 14px;
	font-weight: normal;
	margin: 40px 0;
}