##imgUrl link name
#if($content&&$content.size()==1)
    #set($banner=${content.get(0)})
<div class="pm">
    #if($banner&&$banner.size()>0)
        #set($link=$banner.get(0).get("link"))
        #if($link&&$link.length()>0)
            <a href="$!{link}" title="$!{banner.get(0).get("name")}">
                <img class="banner img-lazyload" src="http://img.sfht.com/sfht/img/loading.gif"
                     lazy-src="$!{banner.get(0).get("imgUrl")}" alt="$!{banner.get(0).get("name")}">
            </a>
        #else
            <img class="banner img-lazyload" src="http://img.sfht.com/sfht/img/loading.gif" lazy-src="$!{banner.get(0).get("imgUrl")}"
                 alt="$!{banner.get(0).get("name")}">
        #end
    #end
</div>
#end