@import '../../utils/variables';
@import '../../utils/placeholders';
@import '../../module/personal';
@import '../../module/address-table';
.invite-h2{
	font-size: 14px;
	font-weight: normal;
	margin: 40px 0;
}
.invite-h3{
	width: 140px;
	height: 38px;
	line-height: 38px;
	background: #E85254;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	border-radius: 5px 5px 5px 0;
	margin-left: -10px;
	margin-top: -10px;
	position: relative;
}
.invite-h3:before{
	content: '';
	border-width: 5px;
	border-style: solid;
	border-color: #E85254 #E85254 transparent transparent;
	position: absolute;
	bottom:-10px;
	left:0px;
}
.invite-income{
	background: #F5F5F5;
	margin-bottom: 50px;
	border-radius: 5px;
	overflow: hidden;
}
.invite-income p{
	
	text-align: center;
	padding: 33px 0;
	font-size: 14px;
	color: #666;
	
}
.invite-income-icon{
	width: 53px;
	height: 65px;
	display: inline-block;
	vertical-align: middle;
	background: url(#{$bg-url}invite-income-icon.png) no-repeat;
	margin-right: 17px;
}
.invite-income p .btn-success{
	margin-left: 22px; 
}
.invite-income-c1{
	border-right: 3px dotted #fff;
	width: 196px;
	text-align: center;
	padding-top: 38px;
	padding-bottom: 39px;
	margin-right: 48px;
}
.invite-income-c1 span{
	margin-right: 0;
	margin-bottom: 7px;
}
.invite-income h3{
	font-weight: normal;
}
.invite-income h4{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}
.invite-income ul{
	padding-top: 38px;
}
.invite-income li{
	float: left;
	width: 200px;
}
.invite-income li .btn{
	position: absolute;
	margin-left: 14px;
	margin-top: -7px;
}
.invite-income .text-important{
	font-size: 28px;
}
.invite-income-alipay{
	margin-top: 15px;
	color: #999;
}

.invite-rule{
	border: 1px solid #E56466;
	margin-bottom: 49px;
	padding-bottom: 15px;
	text-align: center;
	border-radius: 5px;
}
.invite-rule-bg{
	background: url(#{$bg-url}invite-rule.png) no-repeat center 55px;
	height: 230px;
	border-bottom: 1px dashed #E5E5E5;
	margin-bottom: 15px;
}
.invite-rule .btn{
	background: #50E3C2;
	height: 38px;
	line-height: 38px;
	border-color:#50E3C2; 
}
.invite-rule .btn:hover{
	background: #1ac199;
	border-color:#1ac199; 

}
.invite-rule p{
	display: inline-block;
	color: #666;
	margin-left: 20px;
}
.invite-open{
	border: 1px solid #FF9E36;
	margin-bottom: 54px;
	border-radius: 5px;
}
.invite-open h3{
	background: #FF9E36;
}
.invite-open h3:before{
	border-color: #FF9E36 #FF9E36 transparent transparent;
}
.invite-open li{
	float: left;
	width: 200px;
	height: 242px;
	padding: 24px 48px 0;
	border-right: 1px dashed #E5E5E5;
	margin-bottom: 50px;
}
.invite-open li:last-child{
	border: none;
}
.invite-open h4{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
}
.invite-open h5{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}
.invite-open p{
	line-height: 18px;
	color: #999;
	margin-bottom: 14px;
}
.invite-open-li1 h4{
	color: #FF9E36;
}
.invite-open-li2 h4{
	color: #8BC951;
}
.invite-open-li2 input{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 14px;
	text-indent: 6px;
}
.invite-open-li3 h4{
	color: #E85254;
}
.invite-open-li3 p{
	margin-bottom: 30px;
}
.invite-open-icon1{
	display: inline-block;
	text-indent: -999em;
	vertical-align: 10px;
	margin-left: 10px;
	width: 50px;
	height: 43px;
	background: url(#{$bg-url}invite-open-icon1.png) no-repeat;
}
.invite-open-icon2{
	display: inline-block;
	text-indent: -999em;
	vertical-align: 10px;
	margin-left: 10px;
	width: 50px;
	height: 43px;
	background: url(#{$bg-url}invite-open-icon2.png) no-repeat;
}
.invite-open-icon3{
	display: inline-block;
	text-indent: -999em;
	vertical-align: 10px;
	margin-left: 10px;
	width: 50px;
	height: 43px;
	background: url(#{$bg-url}invite-open-icon3.png) no-repeat;
}
.invite-open-way{
	margin-bottom: 32px;
}
.invite-open-way span{
	margin-left: 8px;
	border-width:5px 10px;
}

.invite-account{
	position: relative;
	margin-bottom: 44px;
}
.invite-account h3{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 11px;
}
.invite-account .page{
	margin-top: 10px;
}
.invite-account .text-link{
	position: absolute;
	right: 0;
	top: 0;
}
.invite-account .address{
	margin-bottom: 0;
}
.invite-account-b{
	opacity: 0;
	position: absolute;
	width: 100%;

}
.canvasjs-chart-canvas{
	width: 100%;
}
.invite-account-b.active{
	opacity: 1;
	position: static;
}
.icon-change{
	background: url(#{$bg-url}icon-change.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 13px;
	margin-right: 10px;
}

.invite-alipay{
	margin-bottom: 155px;
}
.invite-alipay-banner{
	background: url(#{$bg-url}invite-alipay-banner.jpg) no-repeat center top;
	height: 308px;
	text-indent: -999em;
}

.invite-alipay-way{
	background:#fff url(#{$bg-url}invite-alipay-way.jpg) no-repeat center top;
	margin-bottom: 76px;
}
.invite-alipay-way ul{
	width: 986px;
	margin: 0 auto;
}
.invite-alipay-way h2{
	color: #ff9d36;
	font-weight: normal;
	font-size: 32px;
	line-height: 50px;
}
.invite-alipay-way h3{
	color: #ff9d36;
	font-weight: normal;
	font-size: 26px;
	margin-bottom: 15px;
}
.invite-alipay-way p{
	font-size: 22px;
	line-height: 32px;
	color: #727375;
}
.invite-alipay-way .li1 h2{
	font-size: 46px;
	padding-top: 112px;
	margin-bottom: 20px;
}
.invite-alipay-way .li1 p{
	font-size: 28px;
}
.invite-alipay-way .li2 h2{
	font-size: 54px;
	padding-top: 87px;
	margin-bottom: 16px;
}
.invite-alipay-way .li3 h2{
	padding-top: 76px;
}
.invite-alipay-way .li4 h2{
	padding-top: 98px;
	line-height: 42px;
}
.invite-alipay-way .btn{
	background: #40e378;
	border:none;
	border-bottom:6px solid #00cd64; 
	line-height: 54px;
	height: 60px;
	font-size: 24px;
	margin-top: 25px;
}
.invite-alipay-way .li1{
	height: 318px;
	padding-left: 541px;
}
.invite-alipay-way .li2{
	height: 331px;
	padding-left: 80px;
}
.invite-alipay-way .li3{
	width: 390px;
	height: 333px;
	padding-left: 553px;
}
.invite-alipay-way .li4{
	height: 301px;
	width: 382px;
	padding-left: 98px;
}
.invite-alipay .pm{
	width: 986px;
}
.invite-alipay .btn-big{
	font-size: 24px;
}