.comment-progress-icon {
    font-size: 10px;
}

.comment-progress-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/comment-progress.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .comment-progress-icon:before {
    background-image: url("../svg/comment-progress.png");
}

