
<div class="pb">
  <div class="pm"> 
    <!--购物车-->
    <div class="cart">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th class="th1"><input type="checkbox" checked="checked">全选</th>
                        <th class="th2">商品信息</th>
                        <th class="th3">单价（元）</th>
                        <th class="th4">数量</th>
                        <th class="th5">金额</th>
                        <th class="th6">操作</th>
                    </tr>
                </thead>
                <tbody>
                {{#each goodItemList}}
                    <tr data-isSelected="{{isSelected}}"  data-itemIds="{{itemId}}" {{^isValid}}class="cart-disable"{{/isValid}}>
                        <td class="td1">
                            <input data-isSelected="{{isSelected}}" class="sfcheckbox" type="checkbox" {{#isChecked isSelected}}checked="checked"{{/isChecked}}> 
                            <a href="http://www.sfht.com/detail/{{itemId}}.html"><img src="{{firstimages images}}"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="http://www.sfht.com/detail/{{itemId}}.html">{{title}}</a></h2>
                            <div class="cart-standard">{{spec}}</div>
                        </td>
                        <td class="td3">
                            <del>{{sf.price price}}</del>
                            <strong>{{sf.price activityPrice}}</strong>
                            {{#isHasActivity}}<div class="icon icon73">限时促销</div>{{/isHasActivity}}
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a {{data 'limitQuantity'}} class="btn-num-reduce {{#isShowDisable canAddNum}}disable{{/isShowDisable}}" href="#">-</a><a class="btn-num-add" href="#" {{data 'limitQuantity'}}>+</a><input class="num-input" type="text" value="{{quantity}}"></span></div>
                            <p class="text-error visuallyhidden">限购{{limitQuantity}}件</p>
                        </td>
                        <td class="td5">
                            <strong class="text-error">{{sf.price perTotalPrice}}</strong>
                        </td>
                        <td class="td6">
                            <a data-itemIds="{{itemId}}" class="deleteSingleOrder con icon72" href="">删除</a>
                        </td>
                    </tr>
                {{/each}}                   
                </tbody>
            </table>
        </div>
        	
    	<div class="cart-footer cart-footer-fixed clearfix">
    		<div class="cart-footer-c1 fl">
    			<label><input data-ischecked="1" class="selectAll" type="checkbox" checked="true" />全选</label>|
    			<a id="deletedSelectGoods" href="">删除选中商品</a>
    			<a id="cleanInvalidItemsInCart" href="">清除无效商品</a>
    		</div>
    		<div class="cart-footer-c2 fr">
    			<ul>
    				<li class="li1"><span class="s1">商品总计 :</span>¥{{sf.price order.actualTotalFee}}</li>
    				<li class="li1">
    					{{#scopeIsAll promotionInfo}}<div class="tooltip-cart"><span class="icon icon77 fl"></span><span class="text-error">已满足满200减100活动：省100</span><span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>{{/scopeIsAll}}
    					<span class="s1">活动优惠 :</span>- ¥ {{order.discountFee}}
    				</li>
    				<li><span class="s1">总价（含税费） :</span><strong class="text-error">¥{{sf.price order.goodsTotalFee}}</strong></li>
    			</ul>
                {{#if isShowOverLimitPrice}}
    			<div class="tooltip-cart"><span class="icon icon77 fl"></span>您已经超过了海关<span class="text-error">限额¥1000</span>，请选择部分商品进行结算<span class="icon icon78"></span><span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>
    			{{/if}}
    			
    			<button class="btn {{canOrder}}">去结算</button>
    			

    		</div>
    		<span class="icon icon75"></span>
    		<span class="icon icon76"></span>
    	</div>
    </div>
    <!--购物车--> 
  </div>
</div>
