{{^view}}
<span class="commstar">
    <a href="javascript:;" class="star1" _val="1"></a>
    <a href="javascript:;" class="star2" _val="2"></a>
    <a href="javascript:;" class="star3" _val="3"></a>
    <a href="javascript:;" class="star4" _val="4"></a>
    <a href="javascript:;" class="star5" _val="5"></a>
</span>
{{/view}}
{{#view}}
<span>
  {{{showStar score}}}
</span>
{{/view}}


<div class="tooltip-cart tooltip-cart-left hide">
  <span class="comment-add-score"></span>
  <span class="icon icon16-5"></span>
  <span class="icon icon16-5 icon16-5-1"></span>
</div>