<div class="mask"></div>
<div class="register">
  <div class="register-h">
    <h2>登录顺丰海淘</h2>
    <a href="#" class="btn btn-close">关闭</a>
    <span class="icon icon34"></span>
    <span class="icon icon35"></span>
  </div>
  <!--登录顺丰海淘-->
  <div class="register-b register-b3 active">
     <ol>
        <li>
          <input id="user-name" type="text" class="input-username" placeholder="手机号／邮箱" can-value="username" />
          <span id="username-error-tips" class="icon icon26">{{userNameError}}</span>
        </li>
        <li>
          <label id="pwd-default-text" class="pwd-default-text" for="password">设置密码</label>
          <input type="password" class="input-password" can-value="password" />
          <span id="pwd-error-tips" class="icon icon26">{{pwdError}}</span>
        </li>
        {{#isNeedVerifiedCode}}
        <li>
          <input type="text" class="input2" placeholder="验证码" can-value="verifiedCode" />
          <img src="img/code.jpg" width="80" alt="验证码" />
          <a class="a1" href="">换一个</a>
        </li>
        {{/isNeedVerifiedCode}}
     </ol>
     <div class="register-br1">
       <a href="#" class="btn btn-register btn-send">登陆</a>
     </div>
     <div class="register-br2 clearfix">
      <div class="register-br2c1 fl">
        <label><input type="checkbox" checked />记住我</label>
      </div>
      <div class="register-br2c2 fr"><a href="">忘记密码</a></div>
     </div>
  </div>
  <!--登录顺丰海淘-->
  <div class="register-f">
    <ul class="header-c2 clearfix">
        <li>
          <span class="icon icon1 fl"></span>
          <h3>全站真品</h3>
          <p><span class="icon icon17">Quality Lifestyle</span></p>
        </li>
        <li>
          <span class="icon icon2 fl"></span>
          <h3>含税一口价</h3>
          <p><span class="icon icon18">Fixed Prices For All</span></p>
        </li>
        <li>
          <span class="icon icon3 fl"></span>
          <h3>物流全透明</h3>
          <p><span class="icon icon19">Easy One-stop Shopping</span></p>
        </li>
      </ul>
    <div class="register-fr2">不是会员？<a href="register.html">在这里注册</a></div>
  </div>
</div>