<div class="ph">
    <div class="nav">
      <div class="pm clearfix">

        <ul class="nav-c1 fl">
          <li class="li1"><a href="index.html">顺丰海淘</a></li>
          <li class="li1"><a href="index.html#LimitedTimeSale">限时特卖</a></li>
          <li class="li1"><a href="index.html#RapidSeaBuy">急速海淘</a></li>
        </ul>
        <ul class="nav-c2 fr">
          <li class="li1">
            <a href="#" id="my-account">账户<span class="icon icon16"></span></a>
            <ul>
              <li class="li2"><a href="">个人中心</a></li>
              <li class="li2"><a href="">退出</a></li>
            </ul>
          </li>
          <li class="li1"><a href="">我的订单</a></li>
          <!--<li class="li2"><a href="">账户<span class="icon icon16"></span></a></li>
          <li class="li2"><a href="{{myOrder}}">我的订单</a></li>-->
        </ul>

      </div>
    </div>

    <div class="header">
      <div class="pm clearfix">
        <div class="header-c1 fl">
          <a href="#" class="icon icon10">顺丰海淘</a>
          <span class="icon icon11"></span>
        </div>
        <ul class="header-c2 fr">
          <li>
            <span class="icon icon1 fl"></span>
            <h2>全站真品</h2>
            <p><span class="icon icon17">Quality Lifestyle</span></p>
          </li>
          <li>
            <span class="icon icon2 fl"></span>
            <h2>含税一口价</h2>
            <p><span class="icon icon18">Fixed Prices For All</span></p>
          </li>
          <li>
            <span class="icon icon3 fl"></span>
            <h2>物流全透明</h2>
            <p><span class="icon icon19">Easy One-stop Shopping</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>