<div style="padding:40px 130px 40px">
  <ol>
    <li>
      <input id="user-name" type="text" class="input" placeholder="支付宝账号" can-value="alipayaccount" style="width:100%;box-sizing: border-box; height: 40px;"/>
      <div id="username-error-tips" class="icon icon26" style="margin:5px 0;"></div>
    </li>
    <li style="margin:10px 0">
      <input id="user-name" type="text" class="input" placeholder="确认支付宝账号" can-value="alipayaccount"  style="width:100%;box-sizing: border-box; height: 40px;"/>
      <div id="username-error-tips" class="icon icon26" style="margin:5px 0;"></div>
    </li>

  </ol>
  <div class="register-br1">
   <button type="submit" class="btn btn-register btn-send"  style="width:220px;">绑定</button>
   <div style="margin-top:20px;">注：支付宝账户绑定后无法解绑。<br>为了确认您能够成功付款请确认输入无误</div>
  </div>
</div>

