<span class="commstar">
    <a href="javascript:;" class="star1" _val="1"></a>
    <a href="javascript:;" class="star2" _val="2"></a>
    <a href="javascript:;" class="star3" _val="3"></a>
    <a href="javascript:;" class="star4" _val="4"></a>
    <a href="javascript:;" class="star5" _val="5"></a>
</span>