<div class="register register-top" style="display:none;">
  <!--注册setp2-->
  <div class="register-b2 register-main">
     <p class="register-b2r1">激活邮件已发送到 <span>{{mailId}}</span></p>
     <p class="register-b2r2">请验证您的邮箱，激活账号</p>
     <div class="register-b2r3">
       <a href="{{mailLink}}" class="btn btn-send btn-register">进入我的邮箱</a>
     </div>
     <div class="register-b2r4">
       <a href="#" id="mail-resend-activate">重新激活邮件</a>
     </div>
  </div>
  <!--注册setp2-->
</div>