<div class="comment-add">
<ul>
  <li>
    <label class="justify">
        <abbr title="必填">*</abbr>商品评分<span>：</span>
    </label>

    <span id="commentstararea"></span>

    <p class="text-error">{{comment.error.score}}</p>
  </li>
  <li id="tagLi">
    <label class="justify">标 签<span>：</span></label>
    <span id="commenttagarea"></span>
    <p class="text-error">{{comment.error.commentGoodsLabels}}</p>
  </li>
  <li>
    <label class="justify"><abbr title="必填">*</abbr>您的评价<span>：</span></label>

    {{#if comment.input.viewcontent}}
      <span style="padding-top: 8px; display: inline-block;">{{comment.input.content}}</span>
    {{/if}}
    {{^if comment.input.viewcontent}}
      <textarea id="inputContent" class="textarea" placeholder="商品是否给力，快来分享下您的购物心得吧~" can-value="comment.input.content"></textarea>
      <span class="s1"><span class="text-error" id="currentword">0</span>/300字</span>
      <p class="text-error">{{comment.error.content}}</p>
    {{/if}}

  </li>
  {{#if comment.input.showpluscontent}}
  <li>
    <label class="justify"><abbr title="必填">*</abbr>追加评价<span>：</span></label>

    {{#if comment.input.viewpluscontent}}
      <span style="padding-top: 8px; display: inline-block;">{{comment.input.pluscontent}}</span>
    {{/if}}
    {{^if comment.input.viewpluscontent}}
      <textarea id="inputContentplus" class="textarea" placeholder="商品是否给力，快来分享下您的购物心得吧~" can-value="comment.input.pluscontent"></textarea>
      <span class="s1"><span class="text-error" id="pluscurrentword">0</span>/300字</span>
      <p class="text-error">{{comment.error.pluscontent}}</p>
    {{/if}}

  </li>
  {{/if}}
  <li id="img">
    <label class="justify">晒 单<span>：</span></label>

    <input type="hidden" name="imgs1" can-value="comment.input.img0">
    <input type="hidden" name="imgs2" can-value="comment.input.img1">
    <input type="hidden" name="imgs3" can-value="comment.input.img2">
    <input type="hidden" name="imgs4" can-value="comment.input.img3">
    <input type="hidden" name="imgs5" can-value="comment.input.img4">

    <ul class="comment-add-img img-list-ul">

    </ul>
    <label class="comment-add-img-add" id="pickbutton">
      <span>+</span>添加照片<input type="file" class="visuallyhidden" />
    </label>

    <p class="p2" id="imgtip1">( 最多可上传5张照片，每张不超过5M。<br />支持格式jpg，jpeg，bmp，png，gif )</p>
    <p class="p3" id="imgtip2">照片将在1个工作日后展示，审核通过后将获得40积分</p>

    {{^if comment.input.view}}
      {{#if comment.input.isLastEdit}}
        <button class="btn btn-danger btn-small" id="submitcomment">评价</button>
      {{/if}}
      {{^if comment.input.isLastEdit}}
        <button class="btn btn-danger btn-small" id="submitcomment">评价并继续</button>
      {{/if}}
      <input class="checkbox" type="checkbox" can-value="comment.input.isAnonym" />匿名评价
    {{/if}}
  </li>
</ul>
</div>