<div class="pf">
    <div class="footer1">
        <div class="pm">
            <ul class="clearfix">
                <li>
                    <span class="icon icon12"></span>
                    <h2>海外商家发货</h2>
                    <span class="icon icon8"></span>
                </li>
                <li>
                    <span class="icon icon13"></span>
                    <h2>顺丰海外收件</h2>
                    <span class="icon icon8"></span>
                </li>
                <li>
                    <span class="icon icon14"></span>
                    <h2>中国海关清关</h2>
                    <span class="icon icon8"></span>
                </li>

                <li>
                    <span class="icon icon15"></span>
                    <h2>顺丰国内派送</h2>
                </li>
            </ul>
        </div>
    </div>
</div>