<h3>添加收货地址</h3>
    <ul>
      <li class="li">
        <label for="area">选择地区：</label>
        <div class="btn btn-select" role="btn">
          <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
          <ul>
            <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
            <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
            <li>7.5</li>
            <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
            <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
          </ul>
        </div>
        <div class="btn btn-select" role="btn">
          <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
          <ul>
            <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
            <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
            <li>7.5</li>
            <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
            <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
          </ul>
        </div>
        <div class="btn btn-select" role="btn">
          <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
          <ul>
            <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
            <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
            <li>7.5</li>
            <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
            <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
          </ul>
        </div>
      </li>
      <li class="li">
        <label for="address">地址详情</label>
        <input id="address" type="text" placeholder="填写详细地址" />
      </li>
      <li class="li">
        <label for="email">邮箱</label>
        <input id="email" type="text" placeholder="填写邮箱" />
      </li>
    </ul>
    <div class="order-r2r3">
      <a href="#" class="btn btn-send">保存</a>
      <span class="icon icon26-1">保存成功</span>
    </div>