<div class="register register-top" style="display:none;">
  <!--注册成功-->
  <div class="register-b1 register-main">
     <span class="icon icon27"></span>
     <h3>注册成功</h3>
     <p>{{timmer}}秒后页面将自动跳转</p>
  </div>
  <!--注册成功-->
</div>