<div class="pb">
  <div class="pm">
    <!--订单-->
    <div class="order retrieve">
      <div class="retrieve-h">
        <label for="type">选择密码找回方式：</label>
        <a href="#" class="icon radio radio1 active"></a>手机短信
        <a href="#" class="icon radio radio2"></a>电子邮箱
      </div>
      <div class="retrieve-b active">
        <ol>
          <li class="li2">
            <label for="phone">手机号：</label>
            <input id="phone" type="text" class="input" value="159008303345">
          </li>
          <li class="li3">
            <label for="sms">短信验证码：</label>
            <input id="sms" type="text" class="input" value="">
            <a href="#" class="btn btn-send disable">60s后重新发送</a>
            <!--<a href="#" class="btn btn-send">发送验证码</a>-->
          </li>
        </ol>
        <div class="retrieve-r1">
          <a href="#" class="btn btn-send">下一步</a>
        </div>
      </div>
      <div class="retrieve-b">
        <ol>
          <li class="li2">
            <label for="email">邮箱：</label>
            <input id="email" type="text" class="input" value="159008303345">
          </li>
          <li class="li3">
            <label for="emailcode">验证码：</label>
            <input id="sms" type="text" class="input" value="">
            <img src="img/code2.jpg" alt="验证码">
          </li>
        </ol>
        <div class="retrieve-r1">
          <a href="#" class="btn btn-send">下一步</a>
          <span class="icon icon26-2">验证邮件已发送，请注意查收。</span>
        </div>
      </div>

    </div>
    <!--订单-->
  </div>
</div>