<div class="pb">
  <div class="pm">
    <!--订单-->
    <div class="order retrieve">
      <div class="retrieve-h">
        <label for="type">选择密码找回方式：</label>
        <a href="#" class="icon radio radio1 {{#mobile}}active{{/mobile}}" data-tag="mobile"></a>手机短信
        <a href="#" class="icon radio radio2 {{#mail}}active{{/mail}}" data-tag="mail"></a>电子邮箱
      </div>
      <div class="retrieve-b {{#mobile}}active{{/mobile}}">
        <ol>
          <li class="li2">
            <label for="phone">手机号：</label>
            <input id="input-mobile" type="text" class="input">
          </li>
          <li class="li3">
            <label for="sms">短信验证码：</label>
            <input id="input-sms" type="text" class="input" value="">
            {{! <a href="#" class="btn btn-send disable">60s后重新发送</a> }}
            <a href="#" class="btn btn-send" id="send-code-btn">发送验证码</a>
          </li>
        </ol>
        <div class="retrieve-r1">
          {{#msg}}<div><span class="icon {{msgType}}">{{msg}}</span></div><br/>{{/msg}}
          <a href="#" class="btn btn-send" id="send-mobile-activate-btn">下一步</a>
        </div>
      </div>
      <div class="retrieve-b {{#mail}}active{{/mail}}">
        <ol>
          <li class="li2">
            <label for="email">邮箱：</label>
            <input id="input-email" type="text" class="input">
          </li>
          <li class="li3">
            <label for="emailcode">验证码：</label>
            <input id="input-mail-code" type="text" class="input">
            {{#verifiedCodeUrl}}<img src="{{verifiedCodeUrl}}" id="verified-code" alt="验证码">{{/verifiedCodeUrl}}
          </li>
        </ol>
        <div class="retrieve-r1">
          {{#msg}}<div><span class="icon {{msgType}}">{{msg}}</span></div><br/>{{/msg}}
          <a href="#" class="btn btn-send" id="send-mail-activate-btn">发送验证邮件</a>
        </div>
      </div>

    </div>
    <!--订单-->
  </div>
</div>