<div class="fullSlide">
  <div class="bd">
    <ul>
      {{#slides}}
      <li style="background:url({{img}}) #F7DDD0 center 0 no-repeat;"><a target="_blank" href="{{link}}"></a></li>
      {{/slides}}
    </ul>
  </div>

  <div class="hd"><ul></ul></div>
</div>