
<!--       <div class="product">
        <div id="LimitedTimeSale" class="mh clearfix">
          <h2 class="fl">限时特卖</h2>
          <ul class="fl product-tab">
            <li id="current"><a href="#LimitedTimeSale">当前</a></li>
            <li id="future"><a href="#LimitedTimeSale">即将开始</a></li>
          </ul>
        </div>

        <div class="mb"> -->
          <ul class="clearfix product-list">
            {{#each limitedtimesaleInfoList}}
            <li>
              <div class="product-r1">
                <a href="{{link}}" target="_blank" title="{{title}}"><img src="{{imgUrl}}" alt="productImg" ></a>
                <span></span>

                {{#soldOut}}
                <span class="icon icon24">售完</span>
                {{/soldOut}}

              </div>
              <h3><a href="{{link}}" target="_blank" title="{{title}}">{{title}}</a></h3>
              <p title="{{subTitle}}">{{subTitle}}</p>
              <div class="product-r2 clearfix">
                {{#sf-is-product contentType}}
                  <div class="product-r2c1 fl"><span class="icon icon4"></span>{{time}}</div>
                  <div class="product-r2c2 fr"><img src={{homepageProductInfo.showNationalUrl}} alt="nationImg"></div>
                {{/sf-is-product}}

                {{^sf-is-product contentType}}
                  <div class="product-r2c1 fl"><span class="icon icon4"></span>{{time}}</div>
                  <div class="product-r2c2 fr"></div>
                {{/sf-is-product}}

              </div>
              <div class="product-r3 clearfix">
                {{#sf-is-product contentType}}
                  <div class="product-r3c1 fl">
                    <strong>￥{{sellingPrice}}</strong>
                    <del>￥{{originPrice}}</del>
                  </div>
                  <div class="product-r3c2 fr">
                    <strong>{{discount}}</strong>折
                  </div>
                {{/sf-is-product}}

                {{^sf-is-product contentType}}
                <div class="product-r3c1 fl">
                  <strong>￥{{homepageTopicInfo.price}}</strong>元起
                </div>
                <div class="product-r3c2 fr">
                  <strong>{{homepageTopicInfo.discount}}</strong>折起
                </div>
                {{/sf-is-product}}
              </div>
            </li>
            {{/each}}
          </ul>
<!--         </div>
      </div> -->