<div class="register register-top" style="display:none;">
  <!--注册setp2-->
  <div class="register-b2 register-main">
     <p class="register-b2r1">激活邮件已发送到 <span>{{mailId}}</span></p>
     <p class="register-b2r2">请验证您的邮箱，激活账号</p>
     <div class="register-b2r3">
      {{#mailLink}}
      <a href="{{mailLink}}" class="btn btn-send btn-register" target="_blank">进入我的邮箱</a>
      {{/mailLink}}
      {{#msg}}<div><br/><span class="icon {{msgType}}" id="-error">{{msg}}</span></div>{{/msg}}
     </div>
     <div class="register-b2r4">
        没有收到邮件？
        <a href="#" id="mail-resend-activate">点此重新发送</a>
     </div>
  </div>
  <!--注册setp2-->
</div>