<div class="pb">
  <div class="pm">
    <!--订单-->
    <div class="order retrieve">
      <h1>身份验证成功，请重置密码</h1>
      <ol>
        <li class="li2"><label for="password">新密码：</label><input type="password" class="input" id="input-password"></li>
        <li class="li2"><label for="repassword">确认密码：</label><input type="password" class="input" id="input-repassword"></li>
      </ol>
      <div class="retrieve-r1">
        {{#msg}}<div><span class="icon {{msgType}}">{{msg}}</span></div><br/>{{/msg}}
        <a href="#" class="btn btn-send" id="reset-password-btn">确认</a>
        
      </div>
    </div>
    <!--订单-->
  </div>
</div>