<div class="register {{^ismobile platform}}register-top{{/ismobile}}">
  <!--登录顺丰海淘-->
  <div class="register-b register-b3 register-main active">
    <form action="">
     <ol>
        <li>
          <input id="user-name" type="text" class="input-username" placeholder="手机号／邮箱" can-value="username" />
          <span id="username-error-tips" class="icon icon26"></span>
        </li>
        <li>
          {{^isPlaceholderSupport}}<label id="pwd-default-text" class="pwd-default-text" for="password">密码</label>{{/isPlaceholderSupport}}
          <input id="user-pwd" type="password" class="input-password" can-value="password" {{#isPlaceholderSupport}}placeholder="密码"{{/isPlaceholderSupport}} />
          <span id="pwd-error-tips" class="icon icon26"></span>
        </li>
        {{#isNeedVerifiedCode}}
        <li>
          <input id="verified-code" type="text" class="input2" placeholder="验证码" can-value="verifiedCode" />
          <img src="{{verifiedCodeUrl}}" width="80" alt="验证码" />
          <a class="a1" href="" id="verified-code-btn">换一个</a>
          <span id="code-error-tips" class="icon icon26"></span>
        </li>
        {{/isNeedVerifiedCode}}
     </ol>
     <div class="register-br1">
       <button type="submit" class="btn btn-register btn-send">登录</button>
     </div>
     <div class="register-br2 clearfix">
      <div class="register-br2c1 fl">
        <label><input type="checkbox" checked />记住我</label>
      </div>
      <div class="register-br2c2 fr"><a target="_blank" href="retrieve.html">忘记密码</a></div>
     </div>
     </form>
      <div class="register-other">
        <h3>使用第三方账号登陆</h3>
        <a href="javascript:void(0)" id="wechatlogin" class="register-wechat icon icon52"></a>
        <a href="javascript:void(0)" class="register-wechat icon icon68" id="alipaylogin"></a>
      </div>
  </div>
  <!--登录顺丰海淘-->
  <div class="register-f">
    <div class="register-fr2">不是会员？<a target="_self" class="btn btn-send" href="register.html">注册</a></div>
  </div>
</div>