<div>
    <div class="star">
        <span>*评分：</span>
        <span id="commentstararea"></span>
        <input type="hidden" name="commentStar">
    </div>
    <div class="tag">
        <span>*标签：</span>
        <span id="commenttagarea"></span>
    </div>
    <div class="xinde">
        <span>*心得：</span>

        <div class="cont">
            <textarea name="" cols="" rows="" class="area area01" placeholder="商品是否给力？快分享你的购买心得吧~"></textarea>
            <div class="clr"></div>
            <span class="msg-error-01 hide">麻烦填写10-500个字呦</span>
            <div class="msg-text ftx-03">10-500字</div>
        </div>

    </div>
    <div class="img" style="overflow:hidden" id="img">
        <span>晒单：</span>
        <div class="upload-img-box">
            <div class="img-list">
                <input type="hidden" name="imgs1" value="">
                <input type="hidden" name="imgs2" value="">
                <input type="hidden" name="imgs3" value="">
                <input type="hidden" name="imgs4" value="">
                <input type="hidden" name="imgs5" value="">
                <input type="hidden" name="imgs6" value="">
                <input type="hidden" name="imgs7" value="">
                <input type="hidden" name="imgs8" value="">
                <input type="hidden" name="imgs9" value="">
                <input type="hidden" name="imgs10" value="">
                <ul class="img-list-ul">
                    <li class="upload-btn">
                        <div>
                            <a id="pickbutton" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                            <span class="ftx-03 ar">0/10</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="buttonarea">
        <a href="#none" class="btn btn-5 mr20">
                <s></s>
                <span class="pingjiaEl">评价并继续</span>
            </a>
            <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare">
            <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
            <div class="msg-text"></div>
    </div>
</div>