{{^sf-isHasResults itemSearch.totalHits itemSearch.results}}
<div class="pb">
  <div class="pm">
    <div class="search-none">
      <i></i><i></i><i></i>
      <h1>对不起....我们没有找到和：“{{keyword}}”相关的商品</h1>
      <a class="text-important" href="http://www.sfht.com">返回首页</a>
    </div>
    <!--大家都在买-->

    <div class="recommend"></div>

    <!--购物须知-->
    <div class="buyer-reading">
      <h2>温馨提示</h2>
      <p>亲爱的用户，我们的商品搜索功能还在完善中，<a class="text-link" href="http://www.sfht.com/feedback.html" target="_blank">点此给我们提建议</a></p>
    </div>
  </div>
</div>
{{/sf-isHasResults}}


{{#sf-isHasResults itemSearch.totalHits itemSearch.results}}
<div class="pb">
  <div class="classify">
    <div class="pm">
      {{#if filterCustom.showCrumbs}}<div class="crumbs"><a href="http://www.sfht.com/index.html">原汁原味</a><span>&gt;</span>123</div>{{/if}}
      {{#if filterCustom.showStatInfo}}
        <h2><strong>“{{keyword}}”</strong>有<span class="text-important">{{itemSearch.totalHits}}</span>条相关产品</h2>
      {{/if}}
      <ul class="classify-list">
        {{#sf-hasSelect filters}}
          <li class="classify-select">
            <label>已选条件：</label>
            <ul id="classify-select">
              {{#each filterBrands}}
                  <li><a class="btn-search" href="javascript:">{{filterCustom.brandName}}：<strong>{{key}}</strong><span class="btn-search-close" data-role="brandIds" data-id="{{id}}"></span></a></li>
              {{/each}}
              {{#each categories.buckets}}
                {{#selected}}
                  <li><a class="btn-search" href="javascript:">{{filterCustom.categoryName}}：<strong>{{key}}</strong><span class="btn-search-close" data-role="categoryIds" data-id="{{id}}"></span></a></li>
                {{/selected}}
              {{/each}}
              {{#each filterSecondCategories}}
                  <li><a class="btn-search" href="javascript:">{{filterCustom.secondCategoryName}}：<strong>{{key}}</strong><span class="btn-search-close" data-role="catg2ndIds" data-id="{{id}}"></span></a></li>
              {{/each}}
              {{#each filterOrigins}}
                  <li><a class="btn-search" href="javascript:">{{filterCustom.originName}}：<strong>{{key}}</strong><span class="btn-search-close" data-role="originIds" data-id="{{id}}"></span></a></li>
              {{/each}}
              {{#each filterShopNations}}
                  <li><a class="btn-search" href="javascript:">{{filterCustom.shopNationName}}：<strong>{{key}}</strong><span class="btn-search-close" data-role="snIds" data-id="{{id}}"></span></a></li>
              {{/each}}
            </ul>
            {{#sf-hasSelectEmpty filters}}<a href="javascript:" class="text-disabled" id="emptyFilterBtn">全部重置</a>{{/sf-hasSelectEmpty}}
          </li>
        {{/sf-hasSelect}}
        {{#if filterCustom.brandName}}
          {{^brandIds}}
          <li class="clearfix classify-logo" data-role="selectBrand">
            <div class="classify-c1 fl">
              <label>{{filterCustom.brandName}}：</label>
              <ul id="classify-logo">
                {{#each brands.buckets}}<li data-id="{{id}}"><a href="javascript:">{{#pic}}<img src="{{pic}}" alt="{{key}}" />{{/pic}}<span>{{key}}</span></a></li>{{/each}}
              </ul>
            </div>
            {{#sf-isShowMoreBrand brands.buckets}}
              <div class="classify-c2 fr">
                <a href="javascript:" id="classify-more"><span class="classify-more"></span><span class="icon icon105"></span></a>
              </div>
            {{/sf-isShowMoreBrand}}
          </li>
          {{/brandIds}}
        {{/if}}
        {{#if filterCustom.categoryName}}
          {{^categoryIds}}
            <li class="classify-text" data-role="selectCategory">
              <label>{{filterCustom.categoryName}}：</label>
              <ul>
                {{#each categories.buckets}}
                  <li data-id="{{id}}"><a href="javascript:">{{key}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{/categoryIds}}
        {{/if}}
        {{#if filterCustom.secondCategoryName}}
          {{^secondCategoryIds}}
            <li class="classify-text" data-role="selectSecondCategory">
              <label>{{filterCustom.secondCategoryName}}：</label>
              <ul>
                {{#each secondCategories.buckets}}
                  <li data-id="{{id}}"><a href="javascript:">{{key}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{/secondCategoryIds}}
        {{/if}}
        {{#if filterCustom.originName}}
          {{^originIds}}
              <li class="classify-text" data-role="selectOrigin">
                  <label>{{filterCustom.originName}}：</label>
                  <ul>
                    {{#each origins.buckets}}
                        <li data-id="{{id}}"><a href="javascript:">{{key}}</a></li>
                    {{/each}}
                  </ul>
              </li>
          {{/originIds}}
        {{/if}}
        {{#if filterCustom.shopNationName}}
          {{^shopNationIds}}
              <li class="classify-text" data-role="selectShopNation">
                  <label>{{filterCustom.shopNationName}}：</label>
                  <ul>
                    {{#each shopNations.buckets}}
                        <li data-id="{{id}}"><a href="javascript:">{{key}}</a></li>
                    {{/each}}
                  </ul>
              </li>
          {{/shopNationIds}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<div class="pb">
  <div class="pm">
    <div class="sort">排序:
      <ul id="sortBox">
        <li class="{{#sf-isSortByDEFAULT sort}}active{{/sf-isSortByDEFAULT}}" data-role="DEFAULT"><a href="javascript:">综合</a></li><li class="{{#sf-isSortBySALE sort}}active{{/sf-isSortBySALE}}" data-role="SALE_DESC"><a href="javascript:">人气</a></li><li class="{{#sf-isSortByPRICE sort}}active{{/sf-isSortByPRICE}}" data-role="{{#sf-isSortByPRICEDESC sort}}PRICE_ASC{{/sf-isSortByPRICEDESC}}{{^sf-isSortByPRICEDESC sort}}PRICE_DESC{{/sf-isSortByPRICEDESC}}">
          <a href="javascript:" id="sort-price" class="{{#sf-isSortByPRICEDESC sort}}active{{/sf-isSortByPRICEDESC}}">价格<span class="icon icon107"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="pb">
  <div class="pm">
    <div class="product">
      <div class="mb">
        <ul class="clearfix product-list">
          {{#each itemSearch.results}}
            <li data-item-id="{{itemId}}">
              {{^sf-isYZYW productForm}}
                <a href="http://www.sfht.com/detail/{{itemId}}.html" target="_blank" title="{{title}}">
                  <div class="product-r1">
                    <img src="{{itemImage.bigImgUrl}}@240W_240h.jpg" alt="" />
                    <span></span>
                    {{#sf-isSoldOut soldOut}}
                      <div class="mask show"></div>
                      <span class="icon icon24"></span>
                    {{/sf-isSoldOut}}
                  </div>
                  <h3>{{title}}</h3>
                  <p>{{#nationPic}}<img src="{{nationPic}}"  alt="货源地" width="22" height="14" />{{/nationPic}}{{goodsOrigin}}直供 {{shippingStartPointDesc}}</p>
                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>{{sf.price sellingPrice}}</strong><del>￥{{sf.price referencePrice}}</del>{{#sf-discount sellingPrice referencePrice}}{{/sf-discount}}
                    </div>
                    {{#if isShowShoppintCart}}
                      <div class="product-r2c2 fr">
                        <a href="javascript:" class="icon icon90 {{#sf-isShowAddToCart soldOut supportShoppingCart}}addtocart{{/sf-isShowAddToCart}}{{^sf-isShowAddToCart soldOut supportShoppingCart}}disable{{/sf-isShowAddToCart}}">购买</a>
                      </div>
                    {{/if}}
                  </div>
                </a>
              {{/sf-isYZYW}}
              {{#sf-isYZYW productForm}}
                <a href="http://www.sfht.com/detail/{{itemId}}.html" target="_blank" title="{{title}}">
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">{{currencySymbol}}{{sf.price originRetailPrice}}</div></div>
                    <img src="{{itemImage.bigImgUrl}}@240W_240h.jpg" alt="">
                    <span></span>
                    {{#sf-isSoldOut soldOut}}
                      <div class="mask show"></div>
                      <span class="icon icon24"></span>
                    {{/sf-isSoldOut}}
                  </div>
                  <h3>{{title}}</h3>
                  <p>{{shopNationName}} {{shopName}} 直采</p>
                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl"><span>￥</span><strong>{{sf.price sellingPrice}}</strong><span class="nataral-product-price">约 {{currencySymbol}}{{sf.price originPrice}}</span></div>
                    {{#if isShowShoppintCart}}
                      <div class="product-r2c2 fr">
                        <a href="javascript:" class="icon icon90 {{#sf-isShowAddToCart soldOut supportShoppingCart}}addtocart{{/sf-isShowAddToCart}}{{^sf-isShowAddToCart soldOut supportShoppingCart}}disable{{/sf-isShowAddToCart}}">购买</a>
                      </div>
                    {{/if}}
                  </div>
                  {{#starGoods}}
                    <span class="icon icon115">明星</span>
                  {{/starGoods}}
                </a>
              {{/sf-isYZYW}}
            </li>
          {{/each}}
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="pb">
  <div class="pm">
    <div class="search-page">
      {{#prevPage}}<a class="btn btn-normal" href="javascript:" id="pageUpBtn">上一页</a>{{/prevPage}}{{#nextPage}}<a class="btn btn-normal" href="javascript:" id="pageDownBtn">下一页</a>{{/nextPage}}
    </div>
  </div>
</div>
{{/sf-isHasResults}}
