<div>
    <div class="item star">
        <span class="itemlabel"><em>*</em>评分：</span>
        <span id="commentstararea"></span>
        <input type="hidden" name="commentStar" can-value="comment.input.score" >
    </div>

    <div class="item tag">
        <span class="itemlabel"><em>*</em>标签：</span>
        <span id="commenttagarea"></span>
    </div>

    <div class="item xinde">
        <span class="itemlabel"><em>*</em>心得：</span>

        <div class="col2">
            <textarea placeholder="商品是否给力？快分享你的购买心得吧~" can-value="comment.input.content"></textarea>
            <div class="clr"></div>
            <span class="msg-error-01 hide">麻烦填写10-500个字呦</span>
            <div class="tip">10-500字</div>
        </div>
    </div>

    <div class="item img" style="overflow:hidden" id="img">
        <span class="itemlabel">晒单：</span>
        <div class="upload-img-box">
            <div class="img-list">
                <input type="hidden" name="imgs1" can-value="comment.input.img0">
                <input type="hidden" name="imgs2" can-value="comment.input.img1">
                <input type="hidden" name="imgs3" can-value="comment.input.img2">
                <input type="hidden" name="imgs4" can-value="comment.input.img3">
                <input type="hidden" name="imgs5" can-value="comment.input.img4">
                <ul class="img-list-ul">
                    <li class="upload-btn">
                        <div>
                            <a id="pickbutton" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                            <span class="ftx-03 ar">0/10</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <div class="buttonarea">
            <button class="btn btn-normal btn-small" id="submitcomment">评价并继续</button>
            <input type="checkbox" id="anonymousFlag" name="thirdShare" can-value="comment.input.isAnonym">
            <label>匿名评价</label>
    </div>
</div>