<div class="pf">
    <a href="#" class="btn btn-top"><span class="icon icon7"></span></a>
    <div class="footer1">
        <div class="pm">
            <ul class="clearfix">
                <li>
                    <span class="icon icon12"></span>
                    <h2>正品海外直采</h2>
                    <span class="icon icon8"></span>
                </li>
                <li>
                    <span class="icon icon13"></span>
                    <h2>顺丰海外收件</h2>
                    <span class="icon icon8"></span>
                </li>
                <li>
                    <span class="icon icon14"></span>
                    <h2>中国海关清关</h2>
                    <span class="icon icon8"></span>
                </li>

                <li>
                    <span class="icon icon15"></span>
                    <h2>物流送货上门</h2>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer2">
      <div class="pm">
        <div class="footer2-c1 fl">
          <span class="icon icon9"></span>
        </div>
        <div class="footer2-c2 fl">
          <dl>
            <dt>顺丰海淘</dt>
            <dd><a target="_blank" href="http://www.sfht.com/aboutus-aboutus.html">关于我们</a></dd>
            <dd><a target="_blank" href="http://www.sfht.com/aboutus-policy.html">法律政策</a></dd>
            <dd><a target="_blank" href="http://www.sfht.com/aboutus-contactus.html">联系我们</a></dd>
          </dl>
          <dl>
            <dt>新手指南</dt>
            <dd><a target="_blank" href="http://www.sfht.com/helpcenter-quality.html">正品保证</a></dd>
            <dd><a target="_blank" href="http://www.sfht.com/helpcenter-shopping.html">购物指南</a></dd>
            <dd><a target="_blank" href="http://www.sfht.com/helpcenter-cost.html">费用说明</a></dd>
          </dl>
          <dl>
            <dt>帮助中心</dt>
            <dd><a target="_blank" href="http://www.sfht.com/helpcenter-certification.html">实名认证</a></dd>
            <dd><a target="_blank" href="http://www.sfht.com/helpcenter-signfor.html">签收说明</a></dd>
            <dd><a target="_blank" href="http://www.sfht.com/helpcenter-transport-failure.html">运输时效</a></dd>
          </dl>
        </div>
        <div class="footer2-c3 fr">
          {{! <div class="phone">021-69763622</div> }}
          <div class="time">周一至周日8:00-22:00(节假日除外)</div>
          <div class="footer2-email"><span class="icon icon41"></span><a href="mailto:sfht_service@sf-express.com">sfht_service@sf-express.com</a></div>
          <div class="footer2-service"><span class="icon icon42"></span><a onclick="javascript:window.open('http://sf-ocs.sf-express.com:8080/live800/chatClient/chatbox.jsp?companyID=8935&configID=20&skillId=20&enterurl=http%3A%2F%2Fsf-ocs%2Esf-express%2Ecom%3A8080%2Flive800%2Fpreview%2Ejsp&pagereferrer=http%3A%2F%2Fsf-ocs%2Esf-express%2Ecom%3A8080%2Flive800%2FembedScript%2Ejsp%3FcurrentConfigId%3D20&k=1', 'chatbox8935', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=950,height=650');return false;" href="javascript:void(0)">在线客服</a></div>
        </div>
      </div>

    </div>
    <div class="footer3">
      <!-- <p>Copyright © 2015 SFHT.All Rights Reserved | 沪ICP备14044648号-1</p> -->
      <p>S.F. IMPORT AND EXPORT COMPANY LIMITED</p>
      <p>Copyright © 2015 SFHT.All Rights Reserved</p>
      <!-- <p>顺丰速运集团（上海）速运有限公司 版权所有</p> -->
    </div>
</div>
