<!--注册-->
<div class="mask"></div>
<div class="register">
  <div class="register-h">
    <h2>注册顺丰海淘</h2>
    <ul>
      <li class="active"><a href="###">手机注册</a><span class="icon icon16-2"></span></li>
      <li><a href="###">邮箱注册</a><span class="icon icon16-2"></span></li>
    </ul>
    <a href="#" class="btn btn-close">关闭</a>
  </div>
  <!--手机注册-->
  <div class="register-b active">
    <ol>
      <li>
        <input id="input-mobile-num" type="text" class="input1" can-value="user.mobileNum" /><button id="btn-send-mobilecode" class="btn btn-send">发送验证码</button>{{#mobileNum}}<span id="mobileNumErrorTips" class="icon icon26">{{numError}}</span>{{/mobileNum}}
        <!--可发送时--<a href="#" class="btn btn-send active">发送验证码</a><!--可发送时-->
      </li>
      <li>
        <input id="input-mobile-code" type="text" placeholder="手机验证码" can-value="user.mobileCode" />{{#mobileCode}}<span id="mobileCodeErorTips" class="icon icon26">{{codeError}}</span>{{/mobileCode}}
      </li>
      <li>
        <input id="input-user-password" type="password" placeholder="设置密码" can-value="user.password" />{{#password}}<span id="pwdErrorTips" class="icon icon26">{{pwdError}}</span>{{/password}}
      </li>
    </ol>
    <div class="register-br1">
      <a href="#" class="btn btn-register">同意协议并注册</a>
    </div>
    <div class="register-br2">
      <a href="">《顺丰海淘服务协议》</a>
    </div>
  </div>
  <!--手机注册-->
  <!--邮箱注册-->
  <div class="register-b">
    <ol>

      <li>
        <input type="email" placeholder="邮箱地址" />
      </li>
      <li>
        <input type="text" class="input2" /><img src="img/code.jpg" width="80" alt="验证码" /><a class="a1" href="">换一个</a>
      </li>
      <li>
        <input type="passward" placeholder="设置密码" />
      </li>
    </ol>
    <div class="register-br1">
      <a href="#" class="btn btn-register">同意协议并注册</a>
    </div>
    <div class="register-br2">
      <a href="">《顺丰海淘服务协议》</a>
    </div>
  </div>
  <!--邮箱注册-->
  <div class="register-f">
    <ul class="header-c2 clearfix">
      <li>
        <span class="icon icon1 fl"></span>
        <h3>全站真品</h3>
        <p><span class="icon icon17">Quality Lifestyle</span></p>
      </li>
      <li>
        <span class="icon icon2 fl"></span>
        <h3>含税一口价</h3>
        <p><span class="icon icon18">Fixed Prices For All</span></p>
      </li>
      <li>
        <span class="icon icon3 fl"></span>
        <h3>物流全透明</h3>
        <p><span class="icon icon19">Easy One-stop Shopping</span></p>
      </li>
    </ul>
    <div class="register-fr2">已是会员？<a href="">在这里登录</a></div>
  </div>
</div>
<!--注册-->