<h3>{{person.mainTitle.text}}</h3>
    <ul>
      <li class="li">
        <label for="area">选择地区：</label>

        <select id="s1" can-value="addr.input.nationName">
          {{#each addr.place.countries}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>

        <select id="s2"  can-value="addr.input.provinceName">
          {{#each addr.place.provinces}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>

        <select id="s3"  can-value="addr.input.cityName">
          {{#each addr.place.cities}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>

        <select id="s4"  can-value="addr.input.regionName">
          {{#each addr.place.regions}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>

      </li>
      <li class="li">
        <label for="address">地址详情：</label>
        <input id="address" type="text" can-value="addr.input.detail" placeholder="填写详细地址" />
        <span class="icon icon26" id="detailerror">{{addr.error.detail}}</span>
      </li>
      <li class="li">
        <label for="cellphone">联系电话：</label>
        <input id="cellphone" type="text" can-value="addr.input.cellphone" placeholder="填写联系电话" />
        <span class="icon icon26" id="cellphoneerror">{{addr.error.cellphone}}</span>
      </li>
      <li class="li">
        <label for="zipcode">邮编：</label>
        <input id="zipcode" type="text" can-value="addr.input.zipCode" placeholder="填写邮编" />
        <span class="icon icon26" id="zipcodeerror">{{addr.error.zipCode}}</span>
      </li>
    </ul>
    <div class="order-r2r3">
      <a href="#" class="btn btn-send" id="addressSave">保存</a>
      <a href="#" class="order-cancel" id="paddressSaveCancel">取消添加</a>
      <span class="icon icon26-1">保存成功</span>
    </div>