<!--注册-->
<div class="mask"></div>
<div class="register">
  <div class="register-h">
    <h2>抢先预约</h2>
    <a href="#" class="btn btn-close">关闭</a>
  </div>
  <!--手机注册-->
  <div class="register-b active">
    <ol>
      <li>
        <input id="input-mobile-num" placeholder="请输入手机号码" type="text" can-value="user.mobileNum" />{{#mobileNum}}<span id="mobileNumErrorTips" class="icon icon26">{{numError}}</span>{{/mobileNum}}
        <!--可发送时--<a href="#" class="btn btn-send active">发送验证码</a><!--可发送时-->
      </li>

      <li>
        <input id="input-mobile-code" placeholder="点击按钮获取验证码" type="text" class="input1" can-value="user.mobileCode" /><button id="btn-send-mobilecode" class="btn btn-send disable">发送验证码</button>{{#mobileCode}}<span id="mobileCodeErorTips" class="icon icon26">{{codeError}}</span>{{/mobileCode}}
        <!--可发送时--<a href="#" class="btn btn-send active">发送验证码</a><!--可发送时-->
      </li>
      <li>
        <input id="input-user-password" type="password" placeholder="登录密码" can-value="user.password" />{{#password}}<span id="pwdErrorTips" class="icon icon26">{{pwdError}}</span>{{/password}}
      </li>
      <li>
        <input id="input-user-repeatPwd" type="password" placeholder="重复密码" can-value="user.repeatPwd" />{{#repeatPwd}}<span id="repeatPwdErrorTips" class="icon icon26">{{repeatPwdError}}</span>{{/repeatPwd}}
      </li>
    </ol>
    <div class="register-br1">
      <a href="#" class="btn btn-register">同意协议并注册</a>
    </div>
    <div class="register-br2 clearfix">
      <div class="register-br2c1 fl">
        <label><input type="checkbox" id="ischecked" checked />我已阅读顺丰海淘注册协议</label>
      </div>
    </div>

  </div>
  <!--手机注册-->

</div>
<!--注册-->