<h3>{{person.mainTitle.text}}</h3>
<p class="order-r2r1">由于国家政策规定，海淘商品进口需提供收货人的实名认证信息。</p>
<ul>
  <li class="li">
    <label for="name">姓名：</label>
    <input type="text" id="name" placeholder="需和身份证的姓名一致" can-value="person.input.recName"/>
  </li>
  <li class="li">
    <label for="identity">身份证：</label>
    <input id="identity" type="text" placeholder="填写身份证" can-value="person.input.credtNum"/>
    <p class="order-r2r2">为了使您可以顺畅的收到进口商品，请务必填写正确的身份证信息</p>
  </li>
  <li class="li">
    <label for="phone">电话：</label>
    <input id="phone" type="text" placeholder="填写手机号" can-value="person.input.cellphone"/>
  </li>
</ul>
<div class="order-r2r3">
  <a href="#" class="btn btn-send" id="personSave">保存</a>
  <a href="#" class="order-cancel" id="personSaveCancel">取消添加</a>
</div>