.product-1-icon {
    font-size: 10px;
}

.product-1-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/product-1.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .product-1-icon:before {
    background-image: url("../svg/product-1.png");
}

