.feedback-icon {
    font-size: 10px;
}

.feedback-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/feedback.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .feedback-icon:before {
    background-image: url("../svg/feedback.png");
}

