.commonProblem-icon {
    font-size: 10px;
}

.commonProblem-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 3.2em 6.4em;
}

.no-svg .commonProblem-icon:before {
    background-image: url("../svg/sprite.png");
}

.commonProblem-icon.icon-a:before {
    background-position: 0em 0em;
    width: 3.2em;
    height: 3.2em;
}

.commonProblem-icon.icon-q:before {
    background-position: 0em -3.2em;
    width: 3.2em;
    height: 3.2em;
}

