@charset "UTF-8";
/*
@styleguide

# 订单详情

*/
.order-detail {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 35px; }

.order-detail-c1 {
  padding: 46px 30px;
  width: 175px; }

.order-detail-c1 ul {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 17px;
  margin-bottom: 17px; }

.order-detail-c1 ul:last-of-type {
  border-bottom: none;
  padding-bottom: 0; }

.order-detail-c1 .text-error {
  font-size: 16px;
  font-weight: bold;
  font-family: arial; }

.order-detail-c1 li {
  color: #666;
  line-height: 30px; }

.order-detail-c1 li span {
  color: #aaa; }

.order-detail-c1 .text-success {
  margin-left: 7px;
  font-size: 14px;
  vertical-align: middle; }

.order-detail-c2 {
  overflow: hidden;
  padding: 39px;
  border-left: 1px solid #e5e5e5; }

.order-detail-tab {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 30px; }

.order-detail-tab li {
  display: inline-block;
  margin-right: 5px;
  position: relative; }

.order-detail-tab li a {
  display: block;
  font-size: 14px;
  background: #f5f5f5;
  height: 57px;
  line-height: 57px;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  color: #767676; }

.order-detail-tab li.active:before {
  content: '';
  width: 100%;
  height: 4px;
  background: #db3f40;
  position: absolute;
  top: 0;
  left: 0; }

.order-detail-tab li.active a {
  color: #db3f40;
  background: #fff;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2; }

.order-detail-step {
  margin-bottom: 30px;
  text-align: center; }

.order-detail-step ul {
  display: inline-block;
  overflow: hidden;
  margin-left: -140px; }

.order-detail-step li {
  float: left;
  margin-left: 140px;
  position: relative; }

.order-detail-step li .icon {
  display: block;
  margin: 0 auto 10px; }

.order-detail-step li .line {
  content: '';
  width: 155px;
  height: 3px;
  background: #d1e8bc;
  position: absolute;
  top: 14px;
  left: 41px; }

.order-detail-step2 .icon92,
.order-detail-step3 .icon92,
.order-detail-step4 .icon92,
.order-detail-step5 .icon92 {
  background-position: -409px -563px; }

.order-detail-step3 .icon93,
.order-detail-step4 .icon93,
.order-detail-step5 .icon93 {
  background-position: -449px -563px; }

.order-detail-step4 .icon94,
.order-detail-step5 .icon94 {
  background-position: -489px -563px; }

.order-detail-step5 .icon95 {
  background-position: -528px -563px; }

.order-detail-state {
  background: #f5f5f5 url(http://img0.sfht.com/sfht/1.1.258/img/order-detail-state.png) no-repeat 580px 85px;
  padding: 30px 28px 30px 69px;
  min-height: 198px;
  margin-bottom: 26px; }

.order-detail-state-c2 {
  text-align: right; }

.order-detail-state-c1 {
  width: 470px; }

.order-detail-state strong {
  font-size: 18px;
  margin-right: 25px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px; }

.order-detail-state-r1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 27px; }

.order-detail-state img {
  width: 125px;
  height: 125px;
  margin-bottom: 18px; }

.order-detail-state .icon96 {
  float: left;
  margin-left: -38px;
  margin-top: 3px; }

.order-detail-state .tooltip-cart .icon16-5 {
  left: -10px;
  border-color: transparent #e03d40 transparent transparent; }

.order-detail-state .tooltip-cart .icon16-5-1 {
  left: -9px;
  border-color: transparent #fff transparent transparent; }

.order-detail-state li {
  line-height: 18px;
  margin-bottom: 15px;
  color: #999;
  padding-left: 130px; }

.order-detail-state li:first-child {
  color: #333; }

.order-detail-state li span:first-child {
  float: left;
  margin-left: -130px; }

.order-detail-state p {
  color: #aaa;
  margin-top: 19px;
  margin-bottom: -9px; }

.order-detail-state .btn-soon {
  margin-left: 5px;
  height: 32px;
  line-height: 32px; }

.order-detail-state .icon98 {
  margin-left: -19px;
  margin-top: 5px; }

.order-detail-table {
  table-layout: fixed;
  width: 100%; }

.order-detail-table th {
  color: #aaa;
  border-bottom: 1px solid #f2f2f2;
  height: 32px;
  line-height: 32px;
  text-align: center; }

.order-detail-table .th1 {
  width: 456px; }

.order-detail-table .th2 {
  width: 115px; }

.order-detail-table .th3 {
  width: 110px; }

.order-detail-table .th4 {
  width: 107px; }

.order-detail-table img {
  width: 78px;
  height: 78px;
  border: 1px solid #e5e5e5;
  margin: 20px 30px 20px 40px; }

.order-detail-table h2 {
  display: inline-block;
  width: 225px;
  line-height: 19px;
  font-weight: normal;
  vertical-align: middle; }

.order-detail-table td {
  border-bottom: 1px solid #f2f2f2;
  text-align: center; }

.order-detail-table td:first-child {
  text-align: left; }

.order-detail-cancel h1 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 25px; }

.order-detail-cancel .icon99 {
  margin-right: 10px; }

.order-detail-cancel h2 {
  font-size: 14px;
  font-weight: normal; }

.order-detail-cancel .order-detail-state-c1 {
  width: auto; }

.order-detail-cancel .order-detail-state {
  background-image: none;
  padding-right: 69px; }

.order-detail-cancel-rebuy {
  text-align: right;
  margin-top: 25px; }

.order-detail .tooltip-cart {
  border-radius: 4px;
  padding-left: 26px; }

.order-detail-cancel .label-error {
  margin-bottom: 14px;
  background: #ff9999;
  padding: 0 8px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 14px;
  height: 26px;
  line-height: 26px; }

.godds-type {
  width: 50px;
  margin-left: 8px;
  position: relative;
  color: #fff;
  background: #FFC208;
  height: 14px;
  line-height: 14px;
  padding: 2px;
  margin-top: 3px; }

.godds-type:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 9px;
  left: -18px;
  top: 0;
  border-color: transparent #FFC208 transparent transparent; }

.godds-type:after {
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: -4px;
  top: 7px; }

.order-detail-refundtax {
  margin-top: 20px;
  color: #666; }

.btn-refundtax {
  margin-left: 20px; }

.order-createrefundtax {
  background: #fff;
  margin-top: 45px;
  padding: 80px 0 300px 315px; }

.order-createrefundtax h2 {
  font-size: 18px;
  font-weight: normal;
  color: #333; }

.order-createrefundtax-b1 {
  margin-top: 80px; }

.order-createrefundtax-b1-c1 {
  margin-bottom: 20px; }

.order-createrefundtax-b1-c1 label, .order-createrefundtax-b1-c2 label {
  color: #666;
  font-size: 14px;
  width: 7em;
  display: inline-block;
  text-align: right; }

.order-createrefundtax-b1-c1 input {
  vertical-align: middle;
  width: 235px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 5px; }

.order-createrefundtax-b1-c2 p {
  display: inline-block;
  width: 345px;
  margin: 0 0 0 15px;
  line-height: 18px;
  color: #999;
  vertical-align: middle; }

.order-createrefundtax-help {
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  color: #fff;
  margin-left: 12px; }

.order-createrefundtax-dialog {
  box-sizing: border-box;
  width: 800px;
  height: 580px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -290px;
  z-index: 999;
  background: #fff;
  padding: 42px 86px 0;
  font-size: 14px; }

.order-createrefundtax-dialog h2 {
  margin-bottom: 28px;
  font-size: 16px; }

.order-createrefundtax-dialog p {
  margin-bottom: 32px; }

.order-createrefundtax-dialog li {
  margin-top: 22px; }

.order-createrefundtax-dialog-close {
  background: #e5e5e5;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  text-align: center;
  line-height: 29px;
  right: 11px;
  top: 11px;
  position: absolute;
  font-size: 16px; }

.btn-refer-tax {
  margin: 20px 0 0 100px; }

.comment-add-img > li {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #979797;
  margin-right: 10px;
  position: relative; }

.comment-add-img > li:hover {
  border-color: #E13B3A; }

.comment-add-img-del {
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background: #E13B3A;
  position: absolute;
  right: 0;
  top: 0;
  display: none; }

.comment-add-img-del:hover {
  color: #fff; }

.comment-add-img > li:hover .comment-add-img-del {
  display: block; }

.order-createrefundtax-b1-c2 label.comment-add-img-add {
  color: #fff;
  text-align: center; }

.comment-add-img-add {
  width: 90px;
  height: 39px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background: #ccc;
  text-align: center;
  line-height: 39px;
  cursor: pointer; }

.dialog-success-refertax {
  width: 376px;
  background: #fff;
  margin-left: -188px;
  padding: 60px 0 27px 0; }

.dialog-b-c1 {
  margin: 18px 0; }

.comment-add-img {
  margin: 10px 0 0 100px; }

.dialog-big-img {
  z-index: 999;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

#errorNoPicTips {
  margin: 10px 0 0 100px; }

.order-logistics-info {
  margin: 20px 0 -10px 0; }

.order-logistics-info span {
  color: #999;
  margin-right: 20px; }

.order-logistics-info span i {
  color: #333; }
