.goods-seckill-icon {
    font-size: 10px;
}

.goods-seckill-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/goods-seckill.svg");
    background-repeat: no-repeat;
    background-size: 4.3em 4em;
}

.no-svg .goods-seckill-icon:before {
    background-image: url("../svg/goods-seckill.png");
}

.goods-seckill-icon.icon-cart:before {
    background-position: -1em -1em;
    width: 2.3em;
    height: 2em;
}

