@import 'sprites/css/sprite.css';
.open-main{
	background: #fff;
	padding-bottom: 20px;
	padding-top:20px;
}
.open-main img{
	margin-bottom: 20px;
}
.open-main ul{
	background: #F9F9F9;
	text-align: center;
	padding-top: 47px;
	padding-bottom: 53px;
	font-size: 0;
	padding-left:90px; 
	padding-right:90px; 
}
.open-main li{
	display: inline-block;
	width: 33%;
}
.open-main h2{
	font-size: 20px;
	margin-bottom: 12px;
	margin-top: 17px; 
}
.open-main h2:hover{
	text-decoration: underline;
}
.open-main p{
	font-size: 14px;
	line-height: 24px;
}
.open-main-icon{
	position: relative;
}
.open-main-icon:hover{
	left: 1px;
	top: 1px;
}
.open-main-icon.icon-platform:hover:before{
	background-position: -0.8333333333333334em -16em;
}
.open-main-icon.icon-setofgoods:hover:before{
	background-position: -0.8333333333333334em -46.333333333333336em;
}
.open-main-icon.icon-supplier:hover:before{
	background-position: -0.8333333333333334em -76.66666666666666em;
}