//dev环境
$bg-url:"../img/";
//线上环境
//$bg-url:"http://img.sfht.com/sfht/1.1.185/img/";
$z-index:(
        goods-c2r2-img:-1,
        register-h-icon34:-1,
        slider-img-li:-1,
        nataral-product-r1:0,
        product-list-li-mask:0,
        slider-img-active:0,
        spike-r1-mask:0,
        spike-r1-span:1,
        btn-select-1:1,
        step-step-arrow-2:1,
        tooltip:1,
        cart-footer-fixed:1,
        coupon-icon85:1,
        goods-activity-detail:1,
        product-icon90:1,
        product2-limit:1,
        introduce-qa-p1:1,
        jCountdown-group-container-cover:1,
        jCountdown-metal-group-container-text:2,
        btn-brand:2,
        btn-brand-detail:2,
        step-step-arrow:2,
        nav-fixed-nav-inner:2,
        nav-pannel-inner:2,
        comment-img-big-prev:2,
        nataral-top:2,
        dialog-center:3,
        mask:3,
        u-dialog:3,
        product-list-li-icon25:3,
        register:3,
        commstar-star5:5,
        commstar-star4:6,
        commstar-star3:7,
        commstar-star2:8,
        commstar-star1:9,
        header1-qrcode-img:998,
        btn-top:998,
        dialog-cart:999,
        u-loading:1000,
        header-search-dropdown:99999
)