{{!<div class="comment detail-tab-b active"> }}
  <div class="comment-h">
    <div class="comment-hc1">
      <h3>商品评价</h3>
      {{^hasComments2 outline.commentCount}}
        <p>暂无评价</p>
      {{/hasComments2}}
      {{#hasComments2 outline.commentCount}}
        <div class="comment-progress"><div style="width:{{outline.score}}%"></div></div>
        <span class="text-error"><span class="comment-num">{{outline.score}}%</span>好评</span>
      {{/hasComments2}}

      <p>共{{outline.totalCount}}条评价</p>
    </div>
    <div class="comment-hc2">
      <h3>大家认为</h3>
      {{^hasLabel outline.commentGoodsLabels}}
        <p style="color: #999; margin-top: 15px;">暂无标签，快来分享下你对该商品的感受吧</p>
      {{/hasLabel}}
      {{#hasLabel outline.commentGoodsLabels}}
      <ul class="comment-label">
        {{#outline.commentGoodsLabels}}
          <li>{{name}}<span>（{{count}}）</span></li>
        {{/outline.commentGoodsLabels}}
      </ul>
      {{/hasLabel}}
    </div>
    <div class="comment-hc3">
      <p>首个含有晒单的评价将获得100积分</p>
      <a class="text-link" href="http://www.sfht.com/helpcenter-point.html">积分规则</a>
    </div>
  </div>
  <div class="comment-tab">
    <ul>
      <li class="active" data-type="0"><a href="javascript:">全部评价<span>（{{outline.totalCount}}）</span></a></li>
      <li data-type="1"><a href="javascript:">好评<span>（{{outline.goodCount}}）</span></a></li>
      <li data-type="2"><a href="javascript:">中评<span>（{{outline.middleCount}}）</span></a></li>
      <li data-type="3"><a href="javascript:">差评<span>（{{outline.badCount}}）</span></a></li>
      <li data-type="4"><a href="javascript:">晒单<span>（{{outline.shareorderCount}}）</span></a></li>
      <li data-type="5"><a href="javascript:">追评<span>（{{outline.addplusCount}}）</span></a></li>
    </ul>
  </div>
  <div class="comment-list">

    {{^comments.commentGoods}}
        <table>
          <thead>
          <tr>
            <th class="col1">评价心得</th>
            <th class="col2">满意度</th>
            <th class="col3">商品信息</th>
            <th class="col4">评价用户</th>
          </tr>
        </thead>

        <tbody><tr><td colspan="4"><p class="p4" style="text-align:center">未找到符合条件的评价</p></td></tr></tbody></table>
    {{/comments.commentGoods}}

    {{#hasComments comments.commentGoods}}
    <table>
      <thead>
        <tr>
          <th class="col1">评价心得</th>
          <th class="col2">满意度</th>
          <th class="col3">商品信息</th>
          <th class="col4">评价用户</th>
        </tr>
      </thead>
      <tbody>
          {{#each comments.commentGoods}}
          <tr>
            <td class="col1">
              <ul class="comment-label">

                {{#each commentGoodsInfo.commentGoodsLabels}}
                  <li>{{name}}</li>
                {{/each}}
              </ul>
              <p class="p1">{{commentGoodsInfo.content}}</p>
              <ul class="comment-img">
                  {{#each commentGoodsInfo.imgs}}
                  <li><img src="{{.}}" alt="" width="80px" height="80px"></li>
                  {{/each}}
              </ul>
              <div class="comment-img-big">
                <a href="javascript:" class="comment-img-big-prev"></a>
                <ul>
                    {{#each commentGoodsInfo.imgs}}
                      <li><img src="{{.}}" alt="" style="height:300px;max-width:500px"></li>
                    {{/each}}
                </ul>
                <a href="javascript:" class="comment-img-big-next"></a>
              </div>

              {{#if commentGoodsInfo.extralContent}}
              <div class="comment-additional">
                <h4>{{showCommentPlusTime commentGoodsInfo.gmtExtral commentGoodsInfo.gmtCreate}}追加：</h4>
                <p>{{commentGoodsInfo.extralContent}}</p>

                <ul class="comment-img">
                    {{#each commentGoodsInfo.extralImgs}}
                    <li><img src="{{.}}" alt="" width="80px" height="80px"></li>
                    {{/each}}
                </ul>
                <div class="comment-img-big">
                  <a href="javascript:" class="comment-img-big-prev"></a>
                  <ul>
                      {{#each commentGoodsInfo.extralImgs}}
                        <li><img src="{{.}}" alt="" style="height:300px;max-width:500px"></li>
                      {{/each}}
                  </ul>
                  <a href="javascript:" class="comment-img-big-next"></a>
                </div>

                {{#commentGoodsInfo.sysReplyExtralContent}}
                <p class="p2"><span class="text-important">客服回复：</span>{{commentGoodsInfo.sysReplyExtralContent}}</p>
                {{/commentGoodsInfo.sysReplyExtralContent }}

              </div>
              {{/if}}

              {{#commentGoodsInfo.sysReplyExtralContent}}
                <p class="p2"><span class="text-important">客服回复：</span>{{commentGoodsInfo.sysReplyExtralContent}}</p>
              {{/commentGoodsInfo.sysReplyExtralContent }}

              {{^commentGoodsInfo.sysReplyExtralContent}}
                {{#commentGoodsInfo.sysReplyContent}}
                <p class="p2"><span class="text-important">客服回复：</span>{{commentGoodsInfo.sysReplyContent}}</p>
                {{/commentGoodsInfo.sysReplyContent }}
              {{/commentGoodsInfo.sysReplyExtralContent }}
            </td>
            <td class="col2">
              <span class="rating" title="gorgeous">
              {{{showStar commentGoodsInfo.score}}}
              </span>
            </td>
            <td class="col3">{{commentGoodsInfo.itemPro}}</td>
            <td class="col4">
              <p class="p3">{{commentGoodsInfo.userNick}}</p>
              <p>{{showTerminal commentGoodsInfo.terminalType}}</p>
              <p>{{sf.time commentGoodsInfo.gmtCreate}}</p>
            </td>
          </tr>
          {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>

  {{#hasComments comments.commentGoods}}
  <div class="sf-b2c-mall-detailcomment-pagination"></div>
  {{/if}}
{{! </div>