{{#each categories}}

<div class="content1 clearfix">
  <div class="content1-left fl">
    <!--定位三角-->
    <div class="sanjiao1">
      <img src="{{recommended.corner}}" />
    </div>
    <!--定位三角-->
    <div class="hid">
      <div class="i1 i2" style="background:url({{recommended.backgroundUrl}}) no-repeat;">
        <a href="#" class="links">{{recommended.category}}</a>
        <a href="#"><img src="{{recommended.imgUrl}}" /></a>
      </div>
      <div class="tag-show" style="top:335px;">
        <span class="tag1">{{recommended.name}}</span>
        <span class="tag2" style="background:#4DBAB1;">{{recommended.buyType}}：￥{{sf.price recommended.price}}</span>
      </div>
    </div>
    <div class="content1-tags clearfix">
      <div>
        {{#each subcategories}}
        <a href="{{link}}">{{name}}</a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="fl content1-right fl" style="border-top:2px solid {{color}}; height:558px; padding:0px;">
    <div class="content3-tops clearfix">
      <div class="c3-top-left fl">
        <div class="c3-m clearfix">
          <div class="title1"><a href="#">{{imp.promotionWord}}</a></div>
          <div class="t4">
            <a href="{{imp.link}}">{{imp.name}}</a>
          </div>
          <div class="t5">
            <a href="{{imp.categoryLink}}">{{imp.category}}</a>
          </div>
          <div class="c3-ts clearfix">
            <s>￥{{sf.price imp.originalPrice}}</s>
            <div class="t6">
              ￥{{sf.price imp.price}}
            </div>
            <div class="c3-bottom clearfix">
              <div class="t3-left fl">
                <a href="#"><img src="{{countryImgUrl}}" />{{country}}</a>
              </div>
              <div class="t3-right fr">
                <a href="#"><img src="{{shopImgUrl}}" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="c3-img clearfix">
          <a href="#"><img src="{{imp.imgUrl}}" /></a>
        </div>
      </div>
      <div class="c3-right fl">
        {{#each promotionList}}
        <div class="fl c3-list">
          <div class="img1 img2" style="padding-bottom:0px;">
            <a href="#"><img src="{{imgUrl}}"></a>
          </div>
          <div class="t2">
            <span class="text1"><a href="#">{{name}}</a></span>
            <div class="text2">
              <span>{{buyType}}：￥<font>{{sf.price price}}</font></span>
              <s>￥{{sf.price originalPrice}}</s>
            </div>
          </div>
          <div class="t3 clearfix" style="padding-top:5px;">
            <div class="t3-left fl">
              <a href="#"><img src="{{countryImgUrl}}" />{{country}}</a>
            </div>
            <div class="t3-right fr">
              <a href="#"><img src="{{shopImgUrl}}"></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="c3-bottoms clearfix">
      {{#each subPromotionList}}
      <!-- @todo border-right:none只能出现在最右侧的需要用模板处理 -->
      <div class="c3-list2 fl" style="border-right:none;">
        <div class="c3-bt-tops clearfix">
          <div class="c3-l fl">
            <div class="t2">
              <!-- 字数输入有限制需要修改 -->
              <span class="text1"><a href="{{link}}">{{name}}</a></span>
              <div class="text2">
                <span>{{buyType}}：￥<font>{{sf.price price}}</font></span><br />
                <s>￥{{sf.price originalPrice}}</s>
              </div>
            </div>
          </div>
          <div class="c3-r fr"><a href="{{link}}"><img src="{{imgUrl}}" /></a></div>
        </div>
        <div class="t3 clearfix">
          <div class="t3-left fl">
            <a href="#"><img src="{{countryImgUrl}}" />{{country}}</a>
          </div>
          <div class="t3-right fr">
            <a href="#"><img src="{{shopImgUrl}}"></a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/each}}