<div class="search-love clearfix">
  <div class="search-love-title clearfix">海淘热卖商品</div>
  <div class="search-love-list clearfix">

    {{#products}}
    <div class="list-hot-shop fl" style="{{last products}}">
      <div class="hot-img">
        <a href="{{link}}" target="_blank">
          <img src="{{imgUrl}}">
        </a>
      </div>
      <div class="hot-titles">
        <a href="{{link}}" class="hot-t">{{name}}</a>
        <div class="text2">
          <span>{{buyType}}：￥<font>{{sf.price price}}</font></span>
        </div>
      </div>
      <div class="hot-bottom clearfix">
        <div class="t3-left fl">
          <a href="#" style="font-family:'宋体'; color:#B8B8B8;"><img src="{{countryImgUrl}}">{{country}}</a>
        </div>

      </div>
    </div>
    {{/products}}
  </div>
</div>