#define($_content)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1280">
    <title>顺丰海淘</title>
    <link href="https://raw.githubusercontent.com/leewind/HT-campagin-sys/master/static-img/css/common.css?t=11" rel="stylesheet" type="text/css" />
    <link href="https://raw.githubusercontent.com/leewind/HT-campagin-sys/master/static-img/css/index.css?t=11" rel="stylesheet" type="text/css" />
</head>
<body>
    #foreach ($el in $content[0].moduleCellInfo)
    <div class="banner" style="background: url(${el.property.imgUrl}) no-repeat center;"></div>
    #end

    #foreach ($el in $content)
        #if($velocityCount > 1 )
            #if ($velocityCount % 4 == 2)
            <div class="m1">
                <div class="mh ">
                    <div class="pm clearfix">
                        <img class="fl" src="${el.moduleCellInfo[0].property.imgUrl}">
                    </div>
                </div>
            #elseif ($velocityCount % 4 == 3)
            <div class="mb pm">
                <div class="mr1 clearfix" style="background-image: url(${el.moduleCellInfo[0].property.imgUrl});">
                </div>
            #elseif ($velocityCount % 4 == 0)
                <div class="product fr">
                    <div class="product-r1">
                        <a href="${el.moduleCellInfo[0].property.link}">
                            <img src="${el.moduleCellInfo[0].property.imgUrl}" alt="" >
                        </a>
                        <span></span>
                    </div>
                    <h3><a href="${el.moduleCellInfo[0].property.link}">${el.moduleCellInfo[0].property.name}</a></h3>
                    <div class="product-r2">
                        <span class="product-r2c1">促销价：<b>￥</b>
                        ##<strong>${el.moduleCellInfo[0].listPrice}</strong>
                        </span>
                        <span class="product-r2c2">零售价：￥##${el.moduleCellInfo[0].price}
                        </span>
                    </div>
                    <div class="product-btn"><a href="${el.moduleCellInfo[0].property.link}">立即购买 &gt;</a></div>
                </div>

            #elseif ($velocityCount % 4 == 1)
                <div class="mr2">
                    <ul class="clearfix">
                        #foreach ($cell in $el.moduleCellInfo)
                            <li class="product">
                                <div class="product-r1">
                                    <a href="${cell.property.link}">
                                        <img src="${cell.property.imgUrl}" alt="" >
                                    </a>
                                    <span></span>
                                </div>
                                <h3><a href="${cell.property.link}">${cell.property.name}</a></h3>
                                <div class="product-r2">
                                    <span class="product-r2c1">促销价：<b>￥</b>
                                        <strong>
                                        ##${product.listPrice}
                                        </strong></span>
                                    <span class="product-r2c2">零售价：￥##${product.price}
                                    </span>
                                </div>
                                <!--售罄状态-->
                                <div class="product-btn"><a href="${cell.property.link}">敬请期待 ...</a></div>
                                <div class="mask"></div>
                                <div class="icon-sold"></div>
                                <!--售罄状态-->
                            </li>
                        #end
                    </ul>
                </div>
            #end
        #end
    #end
<a href="#" class="btn-top">回到顶部</a>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
#end