a{
	color: #67b222;
}
.phone-veri-box{
	color: #666;
}
.phone-veri-header{
	padding-top: 20px;
}
.phone-veri-header-c2{
	padding-top: 25px;
}
.phone-veri-login{
	width: 300px;
	margin: 110px auto 50px;
	font-size: 14px;
}
.phone-veri-list{
	position: relative;
	margin-bottom: 10px;
}
.phone-veri-list input{
	border: 2px solid #ccc;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	color: #333;
	font-size: 14px;
}
.phone-veri-list label{
	position: absolute;
	left: 20px;
	top: 15px;
}
.phone-veri-list .btn-send{
	width: 110px;
	padding: 0;
	text-align: center;
	height: 42px;
	line-height: 42px;
	vertical-align: top;
}
.phone-veri-num{
	width: 196px;
	padding-left: 100px;
}
.phone-veri-code{
	padding-left: 20px;
	width: 154px;
}
.phone-veri-tips{
	font-size: 12px;
}
.phone-veri-submit .btn-send{
	width: 100%;
	text-align: center;
	padding: 0;
	margin-top: 20px;
}
.phone-veri-right,
.phone-veri-wrong,
.phone-veri-code-tips .icon{
	position: absolute;
	background-image: url(../img/phone-veri-icon.png);
	background-repeat: no-repeat;	
}
.phone-veri-right,
.phone-veri-wrong{
	width: 17px;
	height: 13px;
	left: 135px;
	top: 12px;
	display: none;
}
.phone-veri-graybtn{
	background-color: #ccc;
	color: #999999;
	border-color: #ccc;
}
.phone-veri-graybtn:hover{
	background-color: #ccc;
	color: #999;
	opacity: 0.8;
}
.phone-veri-code-tips{
	position: absolute;
	left: 320px;
	width: 250px;
	top: 17px;
	display: none;
}
.phone-veri-code-tips .icon{
	width: 16px;
	height: 16px;
	background-position: 0 -14px;
	margin-top: -4px;
}
.phone-veri-code-tips p{
	margin-left: 26px;
	padding: 10px 10px 25px;
	border-radius: 3px;
	background-color: #f5f5f5;
	color: #a3a2a3;
	line-height: 1.3;
}