/*
@styleguide

# 自助服务

*/
.selfService{
  margin-bottom: 48px;
}
.selfService h2{
  font-size: 21px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
  font-weight: normal;
}
.selfService ul{
  overflow: hidden;
  margin-left: -63px;
}
.selfService li{
  float: left;
  width: 192px;
  height: 205px;
  text-align: center;
  background: #fceded;
  margin-left: 63px;
}
.selfService li div{
  height: 117px;
}
.selfService li div a{
  display: inline-block;
  vertical-align: middle;
}

.selfService li div::before{
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.selfService h3{
  font-size: 16px;
  margin-bottom: 12px;
}
.selfService h3 a{
  color: #4c4c4c;
}
.selfService p{
  color: #4c4c4c;
  font-size: 13px;
}
.selfService .icon-delivery{
  width: 55px;
  height: 52px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-airplane{
  width: 56px;
  height: 63px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-bookmark{
  width: 70px;
  height: 59px;
  fill: #000;
  fill-rule: evenodd;
}
.selfService .icon-edit{
  width: 49px;
  height: 49px;
  fill: #000;
  fill-rule: evenodd;
}
