/*品牌特卖*/

.brand ul{
	background: #fff;
	
}
.brand li{
	float: left;
	width: 294px;
	text-align: center;
	border: 1px solid #e5e5e5;
	margin-left: -1px;
	margin-bottom:20px;
	position: relative;
}
.brand li:hover:after{
	content:'';
	position: absolute;
	width:100%;
	border-bottom:3px solid #dd3e3f;
	left:0;
	bottom:0;
}
.brand li:hover{
	border-bottom:1px solid #dd3e3f;
}
