/*品牌特卖*/

.brand ul{
	margin-bottom: 10px;
	background: #fff;
	
}
.brand li{
	float: left;
	width: 294px;
	text-align: center;
	border: 1px solid #e5e5e5;
	margin-left: -1px;
}
.brand li:hover{
	border-bottom:4px solid #dd3e3f;
}
.brand li:hover img{
	height:337px;
	width:100%;
}