.crumbs{
	margin-bottom: 52px;
	border-bottom: 1px solid #DEDDDE;
	padding-bottom: 5px;
	margin-top: 19px;
	color: #585758;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.crumbs a{
	color: #585758;
}
.crumbs span{
	margin:0 20px;
}