.detail-h{
	padding:28px 48px;
	font-size: 14px;
	border: 1px solid #F0F0F0;
}
.detail-h li{
	margin-bottom: 17px;
	width: 33.3%;
	float: left;
}
.detail-c1{
	width: 447px;
}
.detail-c2{
	width: 375px;
}
.detail-c3{
	line-height: 21px;
}
.detail-c3c2{
	margin-left: 95px;
}
.detail-b{
	font-size: 14px;	
	line-height: 1.7;
	text-align: center;
	padding: 84px 0;
	border-bottom: 1px solid #DEDDDE;
	margin-bottom: 88px;
	word-wrap: break-word;
	word-break: break-all;
}