/*dialog*/
.dialog-center{
	width: 482px;
	height: 211px;
	left: 50%;
	top: 50%;
	margin-left: -307px;
	margin-top: -163px;
	position: fixed;
	background: #fff;
	border-radius: 4px;
	z-index: 3;
	text-align: center;
	display: none;
}
.dialog-center.show{
	display:block;
}
.dialog-center .btn-close{
	position: absolute;
	right: 26px;
	top: 26px;
}
.dialog-center p{
	padding-top: 53px;
	margin-bottom: 37px;
	font-size: 14px;
}
.dialog-r1 .btn{
	margin: 0 9px;
	height: 50px;
	line-height: 50px;
	padding: 0 56px;
}
.dialog-stockout{
	padding:57px 80px;
	text-align:left;
	height:auto;
	width:auto;
}
.dialog-stockout p{
	margin-bottom:27px;
	padding-top:0;
}
.dialog-stockout .input{
	margin-left:34px;
	width:293px;
}
.dialog-stockout-r2 .btn{
	padding:0 55px;
}
.dialog-stockout-r2{
	margin-left:89px;
	margin-top:30px;
}
.dialog-subscription{
	padding-top:88px;
}
.dialog-subscription h2{
	font-size:18px;
	color:#64aa30;
	margin-top:25px;
}