.goods{
	padding-bottom: 52px;
	border-bottom: 1px solid #DEDDDE;
	margin-bottom: 47px;
}
.goods-c1{
	width: 500px;
}
.goods-c1r1{
	margin-bottom: 15px;
	height: 500px;
}
.goods-c1r1 li{
	position: absolute;
	border: 1px solid #ccc;
	text-align: center;
	height: 498px;
	width: 498px;
	opacity: 0;
	font-size: 0;
	filter:alpha(opacity=0);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-mstransition:all 0.5s;
	transition:all 0.5s;
}
.goods-c1r1 li:hover{
	border-color: #999;
}
.goods-c1r1 .active{
	opacity: 1;
	filter:alpha(opacity=100);
}
.goods-c1r1 img{
	max-width: 498px;
	max-height: 498px;
	vertical-align: middle;
}
.goods-c1r2 a{
	outline: none;
}
.goods-c1r2 img{
	max-width: 112px;
	max-height: 112px;
	vertical-align: middle;
}
.goods-c1r1 span,
.goods-c1r2 span{
	height: 100%;
	width: 0;
	vertical-align: middle;
	display: inline-block;
}
.goods-c1r2 ul{
	margin-left: -14px;
}
.goods-c1r2 .active{
	border-color: #23262C;
}
.goods-c1r2 li{
	border: 1px solid #ccc;
	float: left;
	width: 112px;
	height: 112px;
	margin-left: 14px;
	text-align: center;
	font-size: 0;
}
.goods-c1r2 li:hover{
	border-color: #999;
}
.goods-c2{
	margin-left: 563px;
	font-size: 14px;
	color: #272541;
	position: relative;
}
.goods h1{
	font-size: 18px;
	margin-bottom: 17px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.goods p{
	padding-bottom: 26px;
	border-bottom: 1px dashed #858390;
	margin-bottom: 23px;
	color: #686675;
}
.goods .mr1{
	margin-bottom: 17px;
}
.goods .mr1 strong{
	color:#df2323;
	font-size: 24px;
	margin-right: 14px;
}
.goods .mr1 b{
	font-size: 18px;
}
.goods .mr1 span{
	color:#686675;
	font-size: 12px;
	margin-right: 11px;
}

.goods .mr1 del{
	color:#686675;
}

.goods .mr2 span{
	margin-right: 13px;
}
.goods .mr3{
	border-top: 1px dashed #858390;
	padding-top: 26px;
	margin-bottom: 26px;
	position: relative;
	margin-top: 30px;
}
.goods .mr4{
	margin-bottom: 22px;
}

.goods .mr5{
	margin-bottom: 16px;
}
.goods .mr6{
	margin-bottom: 18px;
}
.goods .mr7{
	margin-bottom: 17px;
}
.goods .mr8{
	margin-bottom: 18px;
}
.goods .mr8 .btn{
	margin-right: 25px;
}
.goods .mr9{
	margin-bottom: 24px;
}

.goods .u1{
	position: absolute;
	top: -23px;
	right: 0;
	text-align: right;
}
.goods .u1-r1{
	margin-top: 36px;
}
.goods .icon4{
	margin-right: 8px;
}
.goods .icon24{
	position: absolute;
	top: -19px;
	right: 3px;
}
.goods .icon50{
	position: absolute;
	top: 27px;
	right: 3px;
}
.goods .u2{
	position: absolute;
	top: 0;
	right: 0;
	color: #dc3334;
	font-weight: bold;
}
.goods .u2 strong{
	font-size: 20px;
	margin:0 10px;
}
.goods .icon25{
	vertical-align: 0;
}
.goods .u3{
	position: absolute;
	top: -44px;
	right: 0;
	text-align: right;
}
.goods .icon5{
	margin-right: 7px;
}
.goods .s1{
	margin-right: 15px;
}
.goods .icon26{
	visibility: hidden;
}
.goods .btn{
	margin: 3px;
}
.goods-rel{
	position: relative;
}
.goods select{
	margin-right: 5px;
}