.nataral-video{
  margin-top: 15px;
  margin-bottom: 30px;
}
.nataral-video-c2{
  margin-left:680px;
  margin-right: 25px;
}
.nataral-video-c2 h2{
  font-size: 38px;
  font-weight: normal;
  line-height: 50px;
  padding-top: 21px;
  margin-bottom: 5px;
}
.nataral-video-c2r1{
  font-size: 16px;
  line-height:30px;
  height: 196px;
}
.nataral-video-c2r2-a{
  color:#0d69c5;
  font-size: 16px;
}
.nataral-video .tooltip li{
  border-bottom:1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.nataral-video .tooltip li:last-child{
  border-bottom:none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.nataral-video .tooltip h3{
  padding-left: 24px;
  font-size: 14px;
  margin-bottom: 5px;
}
.nataral-video .tooltip p{
  padding-left: 24px;
}
.nataral-video .tooltip .icon69{
  margin-left: -24px;
  float: left;
}
.nataral-video .icon16-4{
  border-bottom-color:#fff;
}