.orderlist{
	border: 1px solid #ddd;
	background: #fff;
	margin-top: 82px;
	border-radius: 3px;
	padding-bottom: 68px;
	margin-bottom: 20px;
}
.orderlist-h{
	padding: 49px 49px 42px;
}
.orderlist h2{
	font-size: 16px;
	margin-bottom: 14px;
	padding-top: 5px;
}
.orderlist-hc2 .input{
	width: 284px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 3px;
	font-size: 14px;
}
.orderlist-hc2 .btn{
	width: 92px;
	height: 59px;
	line-height: 59px;
}