.pagenofind,
.pagenofind-goods{
  background: #fff url(#{$bg-url}404.png) no-repeat 150px 73px;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 74px;
  padding-top: 327px;
  padding-bottom: 80px;
  margin-bottom: 20px;
}
.pagenofind a,
.pagenofind-goods a{
  font-size: 14px;
  color: #666666;
  margin: 0 50px;
}
.pagenofind-goods{
  background: url(#{$bg-url}404-goods.jpg) no-repeat center;
}