.product2 ul{
	margin-left:-20px;
}
.product2 li{
	width:580px;
	margin-left:20px;
	border:0 none;
	padding-top:0;
}
.product2 .product-r1{
	height:auto;
}
.product2 .btn{
	display:inline-block;
}
.product2 .product-detail{
	font-size:14px;
	color:#666;
	white-space:normal;
	line-height:24px;
}
.product2 h3{
	height:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
