.recommend2{
	padding:35px 134px; 
	background: #f8f8f8;
	border:1px solid #eeedee;
	margin-bottom: 47px;
}
.recommend2 h2{
	font-size: 18px;
	color: #686675;
	margin-bottom: 28px;
}
.recommend2 p{
	font-size: 14px;
	line-height: 21px;
}