.service {
    padding-bottom: 80px;
}

.service h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 66px;
}
.service ul{
	margin-left: -215px;
}
.service li {
    float: left;
    width: 250px;
    margin-left: 215px;
    text-align: center
}

.service h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 26px;
    margin-top: 18px
}

.service p {
    font-size: 14px;
    color: #666;
    line-height: 24px
}