.tip{
	padding-top: 57px;
	background: #F8F8F8;
	padding-bottom: 20px;
}
.tip h2{
	font-size: 18px;
	margin-bottom: 45px;
	text-align: center;
}
.tip h3{
	font-size: 16px;
	margin-bottom: 10px;
}
.tip p{
	color: #686675;
	line-height: 21px;
	height: 82px;
	font-size: 14px;
}
.tip-c1{
	width: 548px;
}
.tip-c2{
	width: 548px;
}