.verification{
	padding-left: 370px;
}
.verification h1{
	font-size: 18px;
	color: #64aa30;
	margin-bottom: 55px;
}
.verification .icon36{
	margin-right: 20px;
}
.verification li{
	margin-bottom: 10px;
	font-size: 14px;
}
.verification p{
	font-size: 12px;
	color: #949494;
	margin-top: 12px;
	margin-left: 88px;
}
.verification label{
	margin-right: 18px;
	display: inline-block;
	width: 5em;
	text-align: right;
}
.verification .btn{
	padding: 0 120px;
	margin-left: 92px;
}
.verification .input{
	width: 248px;
}
.verification.retrieve h1{
	padding-left: 88px;
	margin-bottom: 25px;
}
.verification-1 h1{
	color: #333;
	font-weight: normal;
}
.verification-1 .icon26{
  display: none;
}