.bdsharebuttonbox .bds_weixin{
	background: url(#{$bg-url}icon.png) no-repeat;
	width: 23px;
    height: 18px;
    background-position: -610px 0 !important;
    text-indent: -999px;
	margin:0 0 0 6px;
	padding-left:0;
}
.bdsharebuttonbox .bds_tsina{
	background: url(#{$bg-url}icon.png) no-repeat;
	width: 21px;
    height: 16px;
    background-position: -670px 0 !important;
    text-indent: -999px;
	margin:0 0 0 6px;
	padding-left:0;
}
.bdsharebuttonbox{
	display:inline-block;
	vertical-align:middle;
}