/*
@styleguide

# 品牌特卖

	<div class="brand">
		<h2 class="index-h2">品牌特卖<span>100%海外正品  精品折扣商品</span></h2>
		<ul class="clearfix">
		  <li><a href=""><img src="http://placehold.it/293x340" alt="" /></a></li>
		  <li><a href=""><img src="http://placehold.it/293x340" alt="" /></a></li>
		  <li><a href=""><img src="http://placehold.it/293x340" alt="" /></a></li>
		  <li><a href=""><img src="http://placehold.it/293x340" alt="" /></a></li>
		  <li><a href=""><img src="http://placehold.it/293x340" alt="" /></a></li>
		</ul>
	</div>

*/
.brand{
	margin-bottom: 20px;
}
.brand li{
	float: left;
	width: 294px;
	height:340px;
	text-align: center;
	border: 1px solid #e5e5e5;
	margin-left: -1px;
	margin-bottom:20px;
	position: relative;
	background:#fff;
}
.brand li:before{
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.brand li:hover:after{
	content:'';
	position: absolute;
	width:100%;
	border-bottom:3px solid #dd3e3f;
	left:0;
	bottom:0;
}
.brand li:hover{
	border-bottom:1px solid #dd3e3f;
}
.brand img{
	max-width:294px;
	max-height:340px;
	vertical-align:middle;
}