.buyer-reading{
	margin-top: 30px;
}
.buyer-reading h2{
	font-size: 16px;
	padding-bottom: 9px;
	margin-bottom: 17px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
}
.buyer-reading p,
.buyer-reading li{
	line-height: 24px;
	color: #555;
}
.buyer-reading li{
	list-style: inside;
}
