body{
	background:#fff;
}
.index2-h2 i{
	background: #C2F1F8;
}
.tab li.active{
	background: #C2F1F8;
}
.tab li.active a{
	color:#333;
}
.tab li.active:before{
	border-color: #C2F1F8 transparent transparent transparent;
}
.slidebar-c1>li strong{
	color: #99E7FF;
}
.slidebar-c2 li strong{
	color:#2CA3C7;
}