/*
@styleguide

# 首页标题

<h2 class="index2-h2 pm clearfix">
  <div class="fl index2-h2-c1"><i></i>品类名称<span>可自定义副标题</span></div>
  <div class="fr index2-h2-c2"><a href="">身体乳</a><span>|</span><a href="">防晒</a><span>|</span><a href="">洗面奶</a><span>|</span><a href="">乳液</a><span>|</span><a href="">护手霜</a><span>|</span><a href="" class="text-important">更多></a></div>
</h2>

	<h2 class="index2-h2 pm clearfix">
	  <div class="fl index2-h2-c1"><i></i>品类名称<span>可自定义副标题</span></div>
	  <div class="fr index2-h2-c2"><a href="">身体乳</a><span>|</span><a href="">防晒</a><span>|</span><a href="">洗面奶</a><span>|</span><a href="">乳液</a><span>|</span><a href="">护手霜</a><span>|</span><a href="" class="text-important">更多></a></div>
	</h2>
	
*/
.index2-h2{
	font-size: 19px;
	margin-bottom: 15px;
	font-weight: normal;
	color:#3E3A39;
}
.index2-h2 .text-error{
	font-size: 14px;
	margin-left: 15px;
}
.index2-h2 i{
	display: inline-block;
	width: 10px;
	height: 16px;
	margin-right: 11px;
}
.index2-h2-c1 span{
	font-size: 14px;
	color: #666;
	margin-left: 18px;
}
.index2-h2-c2{
	font-size: 14px;
	padding-top: 5px;
	
}
.index2-h2-c2 span{
	margin: 0 10px;
	color: #ddd;

}
.index2-h2-c2 span:last-child{
	display:none
}
.index2-h2-c2 a{
	color: #666;
}
.index2-h2-c2 a:hover{
	text-decoration:underline;
}
.index2-h2-c2 .text-important{
	color:#E73736;
}