body{
	background:#fff;
}
.index2-h2 i{
	background: #EF5A7E;
}
.tab li.active{
	background: #F5668A;
}
.tab li.active a{
	color:#fff;
}
.tab li.active:before{
	border-color: #F5668A transparent transparent transparent;
}
.slidebar-c1>li strong{
	color: #ED587D;
}
.slidebar-c2 li strong{
	color:#ED587D;
}