body{
	background:#fff;
}
.index2-h2 i{
	background: #DAF2BB;
}
.tab li.active{
	background: #DAF2BB;
}
.tab li.active a{
	color:#333;
}
.tab li.active:before{
	border-color: #DAF2BB transparent transparent transparent;
}
.slidebar-c1>li strong{
	color: #D9FAB0;
}
.slidebar-c2 li strong{
	color:#6CA32A;
}