/*
@styleguide

# 订单成功
	
*/
.order-success{
	padding-left: 77px;
	margin-top: 50px;
	padding-bottom: 20px;
	position: relative;
}
.order-success h1{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 14px;
}
.order-success .icon36{
	float: left;
	margin-left: -77px;
}
.order-success p{
	font-size: 14px;
	color: #999;
}
.order-success-r1{
	font-size: 14px;
	margin-bottom: 10px;
}

.order-success-pos{
	text-align: right;
	margin-top: -13px;
}
.order-success-pos .icon16-1 {
  border-width: 5px 5px;
  margin-left: 10px;
  border-color: #1376ce transparent transparent transparent;
  transition: all 0.3s;
  position: a
}
.order-success-pos .active .icon{
	transform:rotate(180deg);	
	vertical-align: 1px;
}
.order-success-detail{
	display: none;
	padding-left: 77px;
	padding-top: 17px;
	padding-bottom: 23px;
	border-top: 1px solid #e5e5e5;
}
.order-success-detail li{
	line-height: 19px;
	padding-left: 63px;
}
.order-success-detail li span{
	float: left;
	margin-left: -63px;
	color: #999;
}