@import 'product';
/*
@styleguide

# 商品列表2

	<div class="product product2">
		<div class="mb">
			<ul class="clearfix product-list">
				<li>
					<a href="">
						<div class="product-r1">
							<img src="http://placehold.it/579x339" alt="" ><span></span>
							<div class="product2-limit">限量200件，还剩166件</div>
						</div>
						<h3>白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</h3>
						<p class="product-detail">荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
						<p><img src="../img/icon-usa.png" alt="" width="22" height="14" />广州保税仓发货</p>
						<div class="product-r2 clearfix">
							<div class="product-r2c1 fl">￥<strong>129</strong><del>￥189</del>5折</div>
							<div class="product-r2c2 fr">
								<a href="#" class="btn btn-buy">立即抢购</a>
							</div>
						</div>
					</a>
				</li>
				<li>
					<div class="product-r1">
						<a href=""><img src="http://placehold.it/579x339" alt="" ></a><span></span>
						<div class="product2-limit">限量200件，还剩166件</div>
					</div>
					<h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
					<p class="product-detail">荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
					<p><img src="../img/icon-usa.png" alt="" width="22" height="14" />广州保税仓发货</p>
					<div class="product-r2 clearfix">
						<div class="product-r2c1 fl">￥<strong>129</strong><del>￥189</del>5折</div>
						<div class="product-r2c2 fr">
							<a href="#" class="btn btn-buy disable">已抢完</span></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
*/

.product2 .mb ul{
	margin-left:-19px;
}
.product2 .mb li{
	width:579px;
	margin-left:20px;
	border:0 none;
	padding-top:0;
}
.product2 .mb li:hover{
	outline-color:#e5e5e5;
}
.product2 .mb .product-r1{
	height:340px;
}
.product2 .mb .btn{
	display:inline-block;
	font-weight:normal;
	border:none;
}
.product2 .mb .product-detail{
	font-size:14px;
	color:#666;
	white-space:normal;
	line-height:21px;
	height:42px;
}
.product2 .mb h3{
	height:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 16px;
}
.product2 .mb h3:hover{
	text-decoration: underline;
}
.product2 .product-r1 img{
	max-width:579px;
	max-height:340px;
}
.product2 .disable span{
	display:block;
	font-size:12px;
}
.product2-limit{
	background:#666;
	background: rgba(0,0,0,0.2);
	color:#fff;
	text-align:right;
	height:24px;
	line-height:24px;
	font-size:14px;
	padding-right:14px;
	margin-top:-24px;
	z-index:map-get($z-index,product2-limit);
	position: relative;
}
.product2 .product-r2c2{
	width: auto;
}