@import 'module/product-1';
@import 'module/products2';
.products6{
	margin-bottom: 30px;
}
.products6-r1{
	box-shadow:0 0 0 1px #E5E5E5;
}
.products6 .swiper-container{
	width: 472px;
}
.products6-imgs li{
	float: left;
	width: 169px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border:1px solid #E5E5E5;
	box-sizing:border-box;
	margin-right: -1px;
	margin-top: -1px;
	background: #fff;
}
.products6-imgs li:first-child,
.products6-imgs li:last-child{
	width: 171px;
}