.retrieve-success{
	text-align: center;
	font-size: 18px;
}
.retrieve-success h1{
	margin-top: 35px;
	margin-bottom: 20px;
}
.retrieve-success .btn{
	height: 64px;
	line-height: 64px;
	padding: 0 72px;
}