.sale-management table{
	table-layout: auto;
}
.sale-management h1{
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.sale-management .td2, .sale-management .td3, .sale-management .td4{
	border-left:1px solid #e5e5e5;
}

.sale-management .tooltip .icon16-3{
	top:-36px;
}
