/*
@styleguide

# 面包屑

	<div class="crumbs">
	    <a href="http://www.sfht.com/index.html">首页</a><span>&gt;</span>2014秋冬新款UGG羊皮毛一体短筒蝴蝶结保暖雪地靴
	</div>

*/

.crumbs{
	margin:20px 0;
	color: #585758;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.crumbs a{
	color: #585758;
}
.crumbs span{
	margin:0 20px;
}