.dialog-alipay-icon {
    font-size: 10px;
}

.dialog-alipay-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/dialog-alipay.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .dialog-alipay-icon:before {
    background-image: url("../svg/dialog-alipay.png");
}

