.flashsale
	h2.index-h2 限时特卖
		span 每周一、四 上午10:00 强势更新
	ul
		li.clearfix
			.flashsale-c1.fl
				img(src="../../img/flashsale.png" alt="")
			.flashsale-c2
				h3 荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐荷兰牛栏婴儿奶粉1段 850g/罐
				p 荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！
				.flashsale-c2r1
					span.icon.icon56
					仅剩：
					span.text-error3天5小时20分10秒
				.flashsale-c2r2.clearfix
					.flashsale-c2r2c1.fl
						span ￥
						strong 69
						元起
					.flashsale-c2r2c2.fr
						a.btn.btn-buy 立即抢购