body{
	background: #fff;
	color: #272541;
}
.pb{
	padding-bottom: 16px;
}
@import '../components/crumbs';
@import '../components/goods';
@import '../components/recommend';
@import '../components/recommend2';
@import '../components/detail';
@import '../components/service';
@import '../components/tip';
