.flashsale-icon {
    font-size: 10px;
}

.flashsale-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/flashsale.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .flashsale-icon:before {
    background-image: url("../svg/flashsale.png");
}

