<!--精选搭配-->
  <div class="match">
    <div class="match-h">
      <h2>精选搭配</h2>
    </div>
    
    <div class="match-b clearfix">
      <ul class="match-c1 fl">
        <li>
          <a href=""><img src="http://placehold.it/138x138" alt=""></a>
          <h3><a href="">日本ISHIYA白色恋人巧克力夹心饼干12枚</a></h3>
          <p>￥1200</p>
          <span class="match-icon">+</span>
        </li>
        <li>
          <a href=""><img src="http://placehold.it/138x138" alt=""></a>
          <h3><a href="">日本ISHIYA白色恋人巧克力夹心饼干12枚</a></h3>
          <p><input type="checkbox" checked>￥1200</p>
          <span class="match-icon">+</span>
        </li>
        <li>
          <a href=""><img src="http://placehold.it/138x138" alt=""></a>
          <h3><a href="">日本ISHIYA白色恋人巧克力夹心饼干12枚</a></h3>
          <p><input type="checkbox" checked>￥1200</p>
        </li>
      </ul>
      <div class="match-c2 fr">
        <div class="match-r1">搭配优惠 : 共 3 件商品</div>
        <ul>
          <li><label class="justify">套餐价</label>：<strong class="text-important">￥1200</strong><span class="tag-black">省：￥160</span></li>
          <li><label class="justify">原 价</label>：<del>￥1360</del></li>
        </ul>
        <div class="match-r2">
          <button class="btn btn-danger btn-small">立即购买</button>
          <button class="btn btn-cart btn-small">加入购物车</button>
        </div>
        <span class="match-icon">=</span>
      </div>
    </div>
      
  </div>
<!--精选搭配-->
