.address-icon {
    font-size: 10px;
}

.address-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/address.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .address-icon:before {
    background-image: url("../svg/address.png");
}

