.parameter-error-icon {
    font-size: 12px;
}

.parameter-error-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/parameter-error.svg");
    background-repeat: no-repeat;
    background-size: 8.333333333333334em 9.833333333333334em;
}

.no-svg .parameter-error-icon:before {
    background-image: url("../svg/parameter-error.png");
}

.parameter-error-icon.icon-error:before {
    background-position: -0.8333333333333334em -0.8333333333333334em;
    width: 6.666666666666667em;
    height: 8.166666666666666em;
}

