.cart-table-icon {
    font-size: 10px;
}

.cart-table-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/cart-table.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .cart-table-icon:before {
    background-image: url("../svg/cart-table.png");
}

