.topic-icon {
    font-size: 10px;
}

.topic-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/coopoverseasbug-logo.svg");
    background-repeat: no-repeat;
    background-size: 49.7em 19.8em;
}

.no-svg .topic-icon:before {
    background-image: url("../svg/coopoverseasbug-logo.png");
}

.topic-icon.icon-logo1:before {
    background-position: -1em -1em;
    width: 47.7em;
    height: 10em;
}

.topic-icon.icon-logo2:before {
    background-position: -1em -13em;
    width: 32.9em;
    height: 5.8em;
}

5.8em;
}

;
}

ght: 5.8em;
}

;
}

ght: 5.8em;
}

: -1em -13em;
    width: 32.9em;
    height: 5.8em;
}

5.8em;
}

