.verification-failure-resend-icon {
    font-size: 10px;
}

.verification-failure-resend-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/coopoverseasbug-logo.svg");
    background-repeat: no-repeat;
    background-size: 24.8em 12.1em;
}

.no-svg .verification-failure-resend-icon:before {
    background-image: url("../svg/coopoverseasbug-logo.png");
}

.verification-failure-resend-icon.icon-logo1:before {
    background-position: -1em -1em;
    width: 22.8em;
    height: 4.8em;
}

.verification-failure-resend-icon.icon-logo2:before {
    background-position: -1em -7.8em;
    width: 19em;
    height: 3.3em;
}

  height: 3.3em;
}

