/*
Error: Undefined variable: "$bg-url".
        on line 55 of _message.scss

50: .message-icon{
51:   display: inline-block;
52:   vertical-align: middle;
53:   width: 50px;
54:   height: 60px;
55:   background: url(#{$bg-url}comment-icon.png) no-repeat;
56:   margin-right: 20px;
57: }

Backtrace:
_message.scss:55
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/string_interpolation.rb:83:in `_perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/list_literal.rb:63:in `map'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:415:in `run'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/Applications/Prepros.app/Contents/Resources/app/ruby/loader.rb:15:in `load'
/Applications/Prepros.app/Contents/Resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$bg-url\".\A         on line 55 of _message.scss\A \A 50: .message-icon{\A 51:   display: inline-block;\A 52:   vertical-align: middle;\A 53:   width: 50px;\A 54:   height: 60px;\A 55:   background: url(#{$bg-url}comment-icon.png) no-repeat;\A 56:   margin-right: 20px;\A 57: }"; }
