<button class="btn btn-normal">btn-normal</button>
<button class="btn btn-normal dashed">dashed</button>
<button class="btn btn-normal active">active</button>
<button class="btn btn-normal disable">disable</button>
<button class="btn btn-normal success">success</button>
<button class="btn btn-normal warnning">warnning</button>
<button class="btn btn-normal soon">soon</button>
<br>
<button class="btn btn-normal">btn-normal</button>
<button class="btn btn-dashed">btn-dashed</button>
<button class="btn btn-danger">btn-danger</button>
<button class="btn btn-disable">btn-disable</button>
<button class="btn btn-success">btn-success</button>
<button class="btn btn-warnning">btn-warnning</button>
<button class="btn btn-soon">btn-soon</button>
<br>
<button class="btn btn-normal btn-radius">btn-normal</button>
<button class="btn btn-dashed btn-radius">btn-dashed</button>
<button class="btn btn-danger btn-radius">btn-danger</button>
<button class="btn btn-disable btn-radius">btn-disable</button>
<button class="btn btn-success btn-radius">btn-success</button>
<button class="btn btn-warnning btn-radius">btn-warnning</button>
<button class="btn btn-soon btn-radius">btn-soon</button>
<br>
<button class="btn btn-normal btn-big">btn-normal</button>
<button class="btn btn-dashed btn-big">btn-dashed</button>
<button class="btn btn-danger btn-big">btn-danger</button>
<button class="btn btn-disable btn-big">btn-disable</button>
<button class="btn btn-success btn-big">btn-success</button>
<button class="btn btn-warnning btn-big">btn-warnning</button>
<button class="btn btn-soon btn-big">btn-soon</button>


<a href="#" class="btn btn-top"><span class="icon icon57"></span></a>
<a href="#" class="btn btn-more">查看更多</a>
<a href="#" class="btn btn-prev">向前</a>
<a href="#" class="btn btn-next">向后</a>
<a href="#" class="btn btn-buy">立即购买</a>
<a href="#" class="btn btn-buy disable">立即购买</a>
<a href="#" class="btn btn-send">发送验证码</a>
<a href="#" class="btn btn-send disable">发送验证码</a>
<a href="#" class="btn btn-send btn-register">同意协议并注册</a>
<a href="#" class="btn btn-send btn-register disable">同意协议并注册</a>
<a href="#" class="btn btn-close">关闭</a>
<a href="#" class="btn btn-add">+ 添加收货人信息</a>
<a href="#" class="btn btn-cancel">关闭</a>



<label class="btn btn-brand">UGG<input type="radio" name="brank" value="UGG" class="visuallyhidden" /><div class="detail">UGG  起源于1978年南加州海滩的UGG品牌一直是美国高端时尚生活方式的国际知名品牌。<br />材质上乘，工艺精湛，带来一年四季的鞋履、服饰、配饰、箱包及家居类全线产品。<span class="icon icon16-3"><span class="icon icon16-4"></span></span></div></label>
<label class="btn btn-goods btn-goods-white"><b></b>白色<span class="icon icon23"></span><input type="radio" name="color" value="白色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-white dashed"><b></b>白色<span class="icon icon23"></span><input type="radio" name="color" value="白色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-white disable"><b></b>白色<span class="icon icon23"></span><input type="radio" name="color" value="白色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-yellow"><b></b>黄色<span class="icon icon23"></span><input type="radio" name="color" value="黄色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-gray"><b></b>灰色<span class="icon icon23"></span><input type="radio" name="color" value="灰色" class="visuallyhidden" /></label>
<span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1" /></span>
<span class="btn btn-num"><a class="btn-num-reduce disable" href="#">-</a><a class="btn-num-add disable" href="#">+</a><input type="text" value="1" /></span>

<div class="btn btn-select" role="btn">
<span class="btn-select-num">6</span><span class="icon icon16-1"></span>
<ul>
  <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden" /></label></li>
  <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden" /></label></li>
  <li>7.5</li>
  <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden" /></label></li>
  <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden" /></label></li>
</ul>
</div>
<div class="btn btn-select btn-select-1" role="btn">
<span class="btn-select-num">6</span><span class="icon icon16-1"></span>
<ul>
  <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden" /></label></li>
  <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden" /></label></li>
  <li>7.5</li>
  <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden" /></label></li>
  <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden" /></label></li>
</ul>
</div>