<h2 class="index-h2">btn-small</h2>
<button class="btn btn-normal btn-small">btn-normal</button>
<button class="btn btn-dashed btn-small">btn-dashed</button>
<button class="btn btn-danger btn-small">btn-danger</button>
<button class="btn btn-disable btn-small">btn-disable</button>
<button class="btn btn-success btn-small">btn-success</button>
<button class="btn btn-warnning btn-small">btn-warnning</button>
<button class="btn btn-soon btn-small">btn-soon</button>
<h2 class="index-h2">btn-normal</h2>
<button class="btn btn-normal">btn-normal</button>
<button class="btn btn-dashed">btn-dashed</button>
<button class="btn btn-danger">btn-danger</button>
<button class="btn btn-disable">btn-disable</button>
<button class="btn btn-success">btn-success</button>
<button class="btn btn-warnning">btn-warnning</button>
<button class="btn btn-soon">btn-soon</button>
<h2 class="index-h2">btn-big</h2>
<button class="btn btn-normal btn-big">btn-normal</button>
<button class="btn btn-dashed btn-big">btn-dashed</button>
<button class="btn btn-danger btn-big">btn-danger</button>
<button class="btn btn-disable btn-big">btn-disable</button>
<button class="btn btn-success btn-big">btn-success</button>
<button class="btn btn-warnning btn-big">btn-warnning</button>
<button class="btn btn-soon btn-big">btn-soon</button>
<h2 class="index-h2">btn-normal</h2>
<button class="btn btn-normal btn-large">btn-normal</button>
<button class="btn btn-dashed btn-large">btn-dashed</button>
<button class="btn btn-danger btn-large">btn-danger</button>
<button class="btn btn-disable btn-large">btn-disable</button>
<button class="btn btn-success btn-large">btn-success</button>
<button class="btn btn-warnning btn-large">btn-warnning</button>
<button class="btn btn-soon btn-large">btn-soon</button>
<h2 class="index-h2">btn-radius</h2>
<button class="btn btn-normal btn-radius">btn-normal</button>
<button class="btn btn-dashed btn-radius">btn-dashed</button>
<button class="btn btn-danger btn-radius">btn-danger</button>
<button class="btn btn-disable btn-radius">btn-disable</button>
<button class="btn btn-success btn-radius">btn-success</button>
<button class="btn btn-warnning btn-radius">btn-warnning</button>
<button class="btn btn-soon btn-radius">btn-soon</button>

<h2 class="index-h2">other</h2>

<a href="#" class="btn btn-top"><span class="icon icon57"></span></a>
<a href="#" class="btn btn-prev">向前</a>
<a href="#" class="btn btn-next">向后</a>
<a href="#" class="btn btn-close">关闭</a>


<h2 class="index-h2">checkbox</h2>

<label class="btn btn-goods btn-goods-white"><b></b>白色<span class="icon icon23"></span><input type="radio" name="color" value="白色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-white dashed"><b></b>白色<span class="icon icon23"></span><input type="radio" name="color" value="白色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-white disable"><b></b>白色<span class="icon icon23"></span><input type="radio" name="color" value="白色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-yellow"><b></b>黄色<span class="icon icon23"></span><input type="radio" name="color" value="黄色" class="visuallyhidden" /></label>
<label class="btn btn-goods btn-goods-gray"><b></b>灰色<span class="icon icon23"></span><input type="radio" name="color" value="灰色" class="visuallyhidden" /></label>
<h2 class="index-h2">number</h2>
<span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1" /></span>
<span class="btn btn-num"><a class="btn-num-reduce disable" href="#">-</a><a class="btn-num-add disable" href="#">+</a><input type="text" value="1" /></span>
<h2 class="index-h2">select</h2>
<div class="btn btn-select" role="btn">
<span class="btn-select-num">6</span><span class="icon icon16-1"></span>
<ul>
  <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden" /></label></li>
  <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden" /></label></li>
  <li>7.5</li>
  <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden" /></label></li>
  <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden" /></label></li>
</ul>
</div>
<div class="btn btn-select btn-select-1" role="btn">
<span class="btn-select-num">6</span><span class="icon icon16-1"></span>
<ul>
  <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden" /></label></li>
  <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden" /></label></li>
  <li>7.5</li>
  <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden" /></label></li>
  <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden" /></label></li>
</ul>
</div>