<div class="order"><a class="order-del" href="">删除</a></div>
<!--刪除弹窗-->
<div class="dialog dialog-center">
  <a href="#" class="btn btn-close">关闭</a>
  <p>确定要删除收货人“陈小雨”的信息吗？</p>
  <div class="dialog-r1">
    <a href="#" class="btn btn-send">确定</a>
    <a href="#" class="btn btn-cancel">取消</a>
  </div>
</div>
<!--刪除弹窗-->