<span class="label label-success">success</span>
<span class="label label-error">error</span>
<span class="label label-waining">waining</span>
<span class="label label-disabled">disabled</span>
<div class="label label-new">新品上市</div>