<div class="tooltip-pos">
<span class="icon icon26">上传身份证照片</span>
<div class="tooltip-outer">
  <div class="tooltip">
    <h4>请在“查看订单”中上传身份照片</h4>
    <h5>为什么要传身份证？</h5>
    <p>由于国家政策规定，您在购买海外商品时，在物流及海关清关过程中需要出示购买人的身份证复印件。</p>
    <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
  </div>

</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="tooltip-pos">
  <a href="">查看物流</a>
  <div class="tooltip-outer">
    <div class="tooltip">
      <h4>物流跟踪</h4>
      <ul>
        <li class="active"><div class="time fl">2014\12\12 13:23:25</div><div class="tooltip-c2">从海外仓发出从海外仓发出从海外仓发出从海外仓发出从海外仓发出</div></li>
        <li><span class="time">2014\12\12 13:23:25</span>从海外仓发出</li>
        <li><span class="time">2014\12\12 13:23:25</span>从海外仓发出</li>
        <li><span class="time">2014\12\12 13:23:25</span>从海外仓发出</li>
      </ul>
      <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
      <a href="">查看全部</a>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="tooptip-success"><span class="icon icon37"></span>保存成功</span>