@import '../../../../modules/login/login.css';

html, body, .login {
  height: 100%;
}
.pm {
  position: relative;
  height: 0;
}
.ani {
  width: 73px;
  height: 73px;
  background-image: url("http://img0.sfht.com/cmsres/20151202/7ac08071-2703-4cf1-8ab2-2fe328ef63cf.png");
  position: absolute;
}

.ani1 {
  left: 217px;
  top: 532px;
}

.ani1-1 {
  left: 802px;
  top: 156px;
}

.ani2 {
  left: 648px;
  top: 190px;
}

.ani3 {
  left: 1003px;
  top: 331px;
}

.ani4 {
  left: 235px;
  top: 717px;
}

.ani4-1 {
  left: 966px;
  top: 414px;
}

.ani5 {
  left: 217px;
  top: 320px;
}

.ani6 {
  left: 38px;
  top: 342px;
}

.ani6-1 {
  left: 985px;
  top: 592px;
}

.ani7 {
  left: 94px;
  top: 209px;
}
.icon-close{
  display: none;
}

@for $i from 1 to 7{
  .ani$i{
  	background-position: 0 calc(-73px * ($i - 1));
  }
  .ani$i:hover {
	  animation: ani$i 1s steps(29);
	}
}
@keyframes ani1 {
  0% {
    background-position: 0 calc(-73px * (1 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (1 - 1));
  }
}
@keyframes ani2 {
  0% {
    background-position: 0 calc(-73px * (2 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (2 - 1));
  }
}
@keyframes ani3 {
  0% {
    background-position: 0 calc(-73px * (3 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (3 - 1));
  }
}
@keyframes ani4 {
  0% {
    background-position: 0 calc(-73px * (4 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (4 - 1));
  }
}
@keyframes ani5 {
  0% {
    background-position: 0 calc(-73px * (5 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (5 - 1));
  }
}
@keyframes ani6 {
  0% {
    background-position: 0 calc(-73px * (6 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (6 - 1));
  }
}
@keyframes ani7 {
  0% {
    background-position: 0 calc(-73px * (7 - 1));
  }

  100% {
    background-position: -2117px calc(-73px * (7 - 1));
  }
}
