<div class="pm">
      <img class="banner" src="../img/banner1.jpg">
      <div class="mycoupon">
        <h2>原汁原味开业优惠礼包</h2>
        <div class="mycoupon-b mycoupon-b1 active">
            <ul class="clearfix">
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>3</strong>满39元立减</div>
                  <p>有效期：自领取后30天内有效<br />仅限原汁原味商品</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>3</strong>满39元立减</div>
                  <p>有效期：自领取后30天内有效<br />仅限原汁原味商品</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满59元立减</div>
                  <p>有效期：自领取后30天内有效<br />仅限原汁原味商品</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满59元立减</div>
                  <p>有效期：自领取后30天内有效<br />仅限原汁原味商品</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>100</strong>满499元立减</div>
                  <p>有效期：自领取后30天内有效<br />仅限原汁原味商品</p>
                </div>
              </li>
            </ul>

          {{^if hasGetLift}}
            <button class="btn-soon" id="getcoupon">领取</button>
          {{/if}}

          {{#if hasGetLift}}
            <button class="btn-soon btn-disable">已领取</button>
          {{/if}}
        </div>

      </div>
      <div class="nataral-index">
        <div class="product pm">
          <div class="clearfix nataral-index-h">
            <h2 class="fl">推荐的商品</h2>
            <a href="http://www.sfht.com/y.html" class="fr">到原汁原味逛逛</a>
          </div>

          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/taiwancouponrecommand1.png" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">樱桃爷爷 经典原味手工牛轧糖 500g</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>69</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/taiwancouponrecommand2.png" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">裕珍馨 奶油小酥餅 牛奶 12入</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>59</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/taiwancouponrecommand3.png" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">我的美丽日记 玻尿酸保湿原液面膜 2盒共16片</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>89</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/taiwancouponrecommand4.png" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">Miss Hana不晕染防水眼线胶笔(铁盒珍藏版) 200g</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>98</strong>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>