<div class="pm">
      <img class="banner" src="../img/banner1.jpg">
      <div class="mycoupon">
        <h2>原汁原味开业优惠礼包</h2>
        <div class="mycoupon-b mycoupon-b1 active">
          {{#if showcoupon}}
            <ul class="clearfix">
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
                  <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
                  <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
                  <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
                  <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
                </div>
              </li>
              <li>
                <div class="mycoupon-r1">
                  <div class="mycoupon-r1r1"><span>￥</span><strong>5</strong>满10元立减</div>
                  <p>有效期：2015-3-3至2015-3.18<br />特惠商品不可用</p>
                </div>
              </li>
            </ul>
          {{/if}}

          {{#if showbutton}}
            <button class="btn-soon" id="getcoupon">领取</button>
          {{/if}}
        </div>

      </div>
      <div class="nataral-index">
        <div class="product pm">
          <div class="clearfix nataral-index-h">
            <h2 class="fl">推荐的商品</h2>
            <a href="" class="fr">到原汁原味逛逛</a>
          </div>

          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>

                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>