/*
@styleguide

# 个人中心

*/
.personal{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 35px;
	margin-bottom: 35px;
	display: table;
	width: 100%;
}
.personal>div{
	display: table-cell;
	vertical-align: top;
}
.personal-c1{
	width: 198px;
	text-align: center;
}
.personal-c1 h1{
	height: 58px;
	line-height: 58px;
	color: #de3d3f;
	border-bottom: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: normal;
}
.personal-c1 li{

	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
}
.personal-c1 li a{
	color:#777;
	display: block;
	height: 58px;
	line-height: 58px;
}
.personal-c1 li.active{
	position: relative;
	margin-left: -1px;
	box-sizing:border-box;
	padding-right: 4px;
	width: 200px;
	background: #fff;
}
.personal-c1 li.active:before{
	content: '';
	height: 100%;
	width: 4px;
	background: #db3f40;
	position: absolute;
	left: 0px;
}
.personal-c2{
	padding:0 39px 0 39px;
	border-left: 1px solid #e5e5e5;
}
