<div class="pm">
    <!--支付成功-->
    <div class="pay-success clearfix">
        <div class="pay-success-c1 fl"><span class="icon icon36"></span>
            <h1>您的订单已支付成功，我们将尽快为您打包发货</h1>
            <ul>
                <li><span>订单编号：</span>{{orderItem.orderId}}</li>
                <li><span>下单时间：</span>{{sf.time orderItem.gmtCreate}}</li>
                <li><span>支付方式：</span>{{sf-payment orderItem.payType}}</li>
                <li><span>支付金额：</span><b class="text-important">¥</b><strong class="text-important">{{sf.price totalPrice}}</strong></li>
                <li><span>可获得海淘积分数：</span>{{sf.price totalPoint}}</li>
            </ul>
        </div>
        <div class="pay-success-c2 fr"><img src="http://img.sfht.com/sfht/1.1.59/img/weixin-qrcode.png" alt="">
            <div class="text-error">关注顺丰海淘，实时跟踪物流信息</div>
        </div>
    </div>
    <div class="pay-success2">
        <div class="pay-success2-h">
            {{#if cartnum}}<h2>您的购物车还有未结算的商品</h2>{{/if}}
            <div class="pay-success2-r1">
                {{#if cartnum}}<a class="btn btn-danger btn-small" href="/shoppingcart.html">返回购物车</a>{{/if}}
                <a href="/orderdetail.html?orderid={{orderItem.orderId}}" title="查看订单">查看订单详情</a>|<a href="/index.html" title="继续购物">继续购物</a>
            </div>
        </div>

        {{#sf-is-not-empty orderItem.orderCouponItemList}}
        <div class="pay-success2-b clearfix">
            <div class="pay-success2-bc1 fl">

                <h2>恭喜你！获得
                  {{#orderItem.orderCouponItemList}}{{couponName}}{{sf-coupon-type-name couponType}} {{/orderItem.orderCouponItemList}}
                </h2>

                <ul>
                  {{#orderItem.orderCouponItemList}}

                    {{! 现金券}}
                    {{#sf-coupon-type couponType orderAction 'CASH'}}
                      <li>
                          <div class="gift">
                              <div class="gift-r1">{{couponName}}</div>
                              <div class="gift-r2"><strong>{{sf.price price}}</strong>元</div>
                          </div>
                      </li>
                    {{/sf-coupon-type}}

                    {{! 大礼包}}
                    {{#sf-coupon-type couponType orderAction 'GIFTBAG'}}
                    <li>
                        <div class="coupon">
                            <div class="coupon-r1"><b>¥</b><strong>{{sf.price presentCoupon.price}}</strong>{{presentCoupon.couponName}}</div>
                            <p>有效期至：{{! @todo 有效期}}</p>
                        </div>
                    </li>
                    {{/sf-coupon-type}}

                  {{/orderItem.orderCouponItemList}}
                </ul>
            </div>
            {{#orderItem.orderCouponItemList}}

              {{! 红包}}
              {{#sf-coupon-type couponType orderAction 'SHAREBAG'}}
              <div class="pay-success2-bc2 fr">
                  <div class="qrcode">
                      {{! @todo 生成二维码}}
                      <div style="width:125px;height:125px;margin-right:25px;" class="shareQrCode fl" data-code="{{code}}"></div>
                      <h2>支付成功散钱包，给你的伙伴发{{sf.price price}}元红包</h2>
                      <p>=(^.^)= 扫一扫分享散红包到微信</p>
                  </div>
              </div>
              {{/sf-coupon-type}}

            {{/orderItem.orderCouponItemList}}
        </div>
        {{/sf-is-not-empty}}
    </div>
</div>