
<div class="pb">
    <div class="pm">
        <!--去支付-->
        <div class="order-success"><span class="icon icon36"></span>
            <h1>订单提交成功，现在只差最后一步啦！</h1>
            <div class="order-success-r1">订单金额：¥900</div>
            <p>请您在提交订单后<span class="text-important">1小时00分钟</span>内完成支付，否则订单会自动取消！</p>
            <div class="order-success-pos"><a href="javascript:" id="order-detail" class="text-link">订单详情<span class="icon icon16-1"></span></a></div>
        </div>
        <div class="order-success-detail">
            <ul>
                <li><span>订单编号：</span>x201504022GIRDER471878</li>
                <li><span>下单时间：</span>201xw5-04－28</li>
                <li><span>订单内容：</span>韩国Nature Republic自然乐园芦荟胶300ml/瓶x2
                    <br />
                    <Mediheal可莱丝HDP收缩毛孔去粉刺竹炭面膜>10片/盒</li>
                <li><span>送货地址：</span>张弦悦 13306132577 上海徐汇区红梅路20071号楼8楼</li>
            </ul>
        </div>
        <div class="gotopay">
            <div class="gotopay-r1">应付金额:<b class="text-important">¥</b><strong class="text-important">896.90</strong></div>
            <h2>支付方式:</h2>
            <ul>
                <li class="active">
                    <img src="../img/gotopay1.png" alt="快捷支付" />
                    <h3>首次使用快捷支付，立减5元</h3>
                    <span class="icon icon85"></span>
                </li>
                <li>
                    <img src="../img/gotopay2.png" alt="支付宝" />
                    <h3>首次使用快捷支付，立减5元</h3>
                    <span class="icon icon85"></span>
                </li>
                <li>
                    <img src="../img/gotopay3.png" alt="微信支付" />
                    <h3>首次使用快捷支付，立减5元</h3>
                    <span class="icon icon85"></span>
                </li>
                <li>
                    <img src="../img/gotopay4.png" alt="财付通" />
                    <h3>首次使用快捷支付，立减5元</h3>
                    <span class="icon icon85"></span>
                </li>
            </ul>
            <div class="gotopay-r2">使用<span class="text-important" id="payment">快捷支付</span>进行支付
                <button class="btn btn-danger btn-big">确认支付</button>
            </div>
        </div>
    </div>
    </Mediheal可莱丝HDP收缩毛孔去粉刺竹炭面膜>
</div>

<!--
<div class="orderdetail">
  <div class="pay">
    <div class="pay-r2 clearfix">
      <h1 class="fl">{{tips.tipInfo}}</h1>
      <div class="fr pay-r2c2">应付金额：<strong>￥<span class="pay-price">{{tips.totalMoney}}</span></strong>元</div>
    </div>
      <p>请您在订单提交后2小时内完成支付，否则订单会自动取消哦！</p>
    <h2>支付方式</h2>
    <div class="order-b order-b-1 clearfix">
      {{{currentPayWay}}}
    </div>
    <div class="pay-r1">
      <a href="#" class="btn btn-send" id="gotopayBtn">去支付</a>
    </div>
  </div>


  <h2>订单信息</h2>
  <div class="info">
    <div class="info-r1">
      <div class="info-c1 fl">订单及支付</div>
      <ul class="info-c2">
        <li>订单号：{{orderId}}</li>
        <li>订单金额：￥{{sf.price orderMoney}}元</li>
        <li>付款方式：{{orderPayWay}}</li>
      </ul>
    </div>
    <div class="info-r2">
      <div class="info-c1 fl">收货人信息</div>
      <ul class="info-c2">
        <li>收货人：{{receiveName}}</li>
        <li>地址：{{country}} {{province}} {{city}} {{region}} {{detailAddress}}</li>
        <li>联系电话：{{mobile}}</li>
        <li>身份证号码：{{certNo}}</li>
      </ul>
    </div>
  </div>
</div>
-->
