<h1>确认商品信息</h1>
<div class="cart">
  <div class="cart-table">
    <table>
      <thead>
          <tr>
              <th class="th1">商品信息</th>
              <th class="th2"></th>
              <th class="th3">单价（元）</th>
              <th class="th4">数量</th>
              <th class="th5">金额（元）</th>
          </tr>
      </thead>
      <tbody class="goodsItemArea">
        {{#each orderPackageItemList}}
          <tr>
            <th colspan="5">
                <span class="icon icon82"></span><span class="order-confirm-from">{{shippingWarehouse}}</span><span class="order-confirm-time">{{shippingTime}}</span>
                {{#sf-show-etk transporterName}}<span class="icon-etk">E特快配送 </span>{{/sf-show-etk}}
            </th>
          </tr>
          {{#each orderGoodsItemList}}
          <tr>
            <td class="td1">
              <div class="cart-pos">
                <a href="javascript:void(0)"><img src="{{sf.img productImage.thumbImgUrl}}"></a><div class="order-confirm-info">
                  <div class="text-error">{{description}}</div>
                  <h2><a href="javascript:void(0)">{{goodsName}}</a></h2>
                  <div class="cart-standard">{{{spec}}}</div>
                  {{#isShowSeckillIcon goodsType}}<div class="godds-type">秒杀商品</div>{{/isShowSeckillIcon}}
                </div>
              </div>
            </td>
            <td class="td2"></td>
            <td class="td3">{{sf.price price}}</td>
            <td class="td4">{{quantity}}</td>
            <td class="td5">
                <strong class="text-error">{{sf.price totalPrice}}</strong>
            </td>
          </tr>
          {{/each}}
        {{/each}}

      </tbody>
    </table>
  </div>
  {{! end cart-table }}
  <div class="cart-coupon">
    <div class="cart-coupon-r1"><a href="javascript:void(0)" id="coupon-use">-</a>使用优惠券</div>
    <div id="coupon-use-detail">
      {{^sf-show-bestCoupon orderCouponItem}}
        <p>此订单暂无可用的优惠券。您可以 <a class="coupon2-link text-error" target="_blank" href="http://www.sfht.com/helpcenter-coupon.html">查看优惠券</a>了解使用限制。</p>
      {{/sf-show-bestCoupon}}
      {{#sf-show-bestCoupon orderCouponItem}}
        <div class="coupon" data-price="{{bestCoupon.price}}" data-code="{{bestCoupon.couponCode}}" id="useCoupon">
          <div class="coupon-r1"><b>¥</b><strong>{{sf.price bestCoupon.price}}</strong>{{bestCoupon.couponName}}</div>
          <div class="coupon-r2">有效期至：{{bestCoupon.endDate}}</div>
          <span class="icon icon85"></span>
        </div>
      {{/sf-show-bestCoupon}}
      {{#sf-show-morecoupon orderCouponItem}}
      <div class="cart-coupon-r2">
        <a href="javascript:void(0)" class="text-link" id="coupon-more"><span class="text-error" id="coupon-more-text">展开更多</span><span class="icon icon16-1"></span></a>
      </div>
      <div class="coupons" id="coupons">
        <ul class="coupons-tab">
          <li class="active"><a href="javascript:void(0)">可用优惠券</a></li>
          <li><a href="javascript:void(0)">不可用优惠券</a></li>
        </ul>
        {{! 可用优惠券 }}
        <ul id="avaliableCoupons" class="coupons-list active">
          {{#each orderCouponItem.avaliableCoupons}}
            <li {{data 'coupon'}}>
              <div class="coupon">
                  <div class="coupon-r1"><b>¥</b><strong>{{sf.price price}}</strong>{{couponName}}</div>
                  <div class="coupon-r2">有效期至：{{endDate}}</div>
              </div>
            </li>
          {{/each}}
        </ul>
        {{! 不可用优惠券 }}
        <ul id="disableCoupons" class="coupons-list">
          {{#each orderCouponItem.disableCoupons}}
            <li {{data 'coupon'}}>
              <div class="coupon coupon-disable">
                  <div class="coupon-r1"><b>¥</b><strong>{{sf.price price}}</strong>{{couponName}}</div>
                  <div class="coupon-r2">有效期至：{{endDate}}</div>
              </div>
              <div class="text-error">{{desc}}!</div>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/sf-show-morecoupon}}
      {{! end 优惠券列表 }}
      <div class="cart-coupon-r3">or<a href="javascript:void(0)" class="text-link btn-exCode">兑换优惠券？</a></div>
      <div class="cart-coupon-r4 hide">请输入您手中的兑换码：
        <input class="input" type="text" id="conpon" />
        <a id="useCouponCodeBtn" class="btn btn-normal" href="#">确定</a>
      </div>
    </div>

      <!-- start 增加积分-->
      <div class="cart-integral">
          <div class="cart-coupon-r1"><a href="javascript:" id="point-use">-</a>使用海淘积分</div>
          <div class="cart-integral-r1">
              <label><input type="checkbox" id="pointselected" checked>使用</label>
              <input type="text" class="input" id="pointUsed" value="0"/>点
              <span class="text-important" id="pointToMoney">-￥0.0</span>
          </div>
          <div class="cart-integral-r2">您有积分：{{integral}}点，本次订单可用：<span class="text-important" id="usedPoint">{{useIntegral}}点</span></div>
      </div>
      <!--   end 积分模块 -->
  </div>
  {{! end cart-coupon }}
  <div class="cart-footer clearfix">
    <div class="cart-footer-c2 fr">
        <ul>
            <li class="li1">商品总计:<span class="s1">¥{{sf.price orderFeeItem.goodsTotalFee}}</span></li>
            <li class="order-first-buy-tips"></li>
            <li class="li1">
            {{#sf-show-firstOrderTips activityDescription}}
                <div class="tooltip-cart tooltip-firstorder"><span class="text-error">若符合首单减的活动条件，优惠金额将在支付时减免</span><span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>{{/sf-show-firstOrderTips}}活动优惠 :<span class="s1">- ¥{{sf.price orderFeeItem.discount}}</span></span>
            </li>
            <li class="li1">
            {{#sf-free-shipping activityDescription}}
              <span class="text-important">【{{activityDescription.POSTAGE_FREE}}】</span>   
            {{/sf-free-shipping}}

            {{#if sf-show-couponTips}}
            <span class="text-important">【优惠券、积分不抵扣运费】</span>
            {{/if}}
              运费：<span class="s1">+ ¥{{sf.price orderFeeItem.logisticsFee}}</span>
            </li>
            <li class="li1 text-important">优惠券:<span class="s1">- ¥{{sf.price orderFeeItem.couponReduce}}</span>    </li>
            <li class="li1 text-important">积分抵扣:<span class="s1">- ¥{{sf.price orderFeeItem.integralReduce}}</span>    </li>                
            <li class="li1">总价（含税费）:
              <span class="s1">
                <strong style="font-size:18px;" class="text-error">
                  ¥{{sf.price orderFeeItem.actualTotalFee}}
                </strong>
              </span>
            </li>
            {{!  <li class="li1">可获得海淘积分 :<span class="s1">{{sf.price getpoint</span></li> }}
            <li>
              {{#sf-needshowcart}}
              <a class="text-link" id="backtocartedit" style="margin-right:5px;" href="http://www.sfht.com/shoppingcart.html">返回购物车修改</a>
              {{/sf-needshowcart}}
              <button id="submitOrder" class="btn btn-danger {{^flag}} btn-disable{{/flag}}">提交订单</button>
            </li>
            <li class="li1"><div class="text-error">{{^flag}}{{errorDes}}{{/flag}}</div></li>
        </ul>
    </div>
    <span class="icon icon75"></span>
    <span class="icon icon76"></span>
  </div>
  {{! end  cart-footer}}
</div>
