
<div class="pb">
    <div class="pm">
        <!--去支付-->
        <div class="order-success"><span class="icon icon36"></span>
            <h1>订单提交成功，现在只差最后一步啦！</h1>
            <div class="order-success-r1">订单金额：¥{{sf.price price}}</div>
           <!-- <div class="order-success-r1">获取积分数：{{sf-totalPoint selectPayType price discount}}</div>  -->
            <p>请您在提交订单后<span class="text-important">{{showEndPayTime orderGoodsItemList}}</span>内完成支付，否则订单会自动取消！</p>
            <div class="order-success-pos"><a href="javascript:" id="order-detail" class="text-link">订单详情<span class="icon icon16-1"></span></a></div>
        </div>
        <div class="order-success-detail">
            <ul>
                <li><span>订单编号：</span>{{orderId}}</li>
                <li><span>下单时间：</span>{{sf.time gmtCreate}}</li>
                <li>
                    <span>商品名称：</span>
                    {{#orderGoodsItemList}}
                        {{goodsName}}x{{quantity}}
                        <br>
                    {{/orderGoodsItemList}}
                <li><span>收货地址：</span>{{orderAddressItem.receiveName}} {{orderAddressItem.mobile}} {{orderAddressItem.detailAddress}}</li>
            </ul>
        </div>
        <div class="gotopay">
            <div class="gotopay-r1">应付金额:<b class="text-important">¥</b><strong class="text-important">{{sf-totalprice selectPayType price discount}}</strong>
            {{! 首单减 }}
            {{#sf-show-save selectPayType discount}}
            <span class="gotopay-r1-c1">原应付：¥{{sf.price price}}</span><span class="gotopay-r1-c1">首单减优惠：-¥{{sf-totalsave selectPayType discount}}</span>
            {{/sf-show-save}}

            {{#sf-show001tip selectPayType price discount}}
            <span style="font-size: 12px;margin-top: 8px;color: #999;">由于国家政策清关要求，支付金额最小为<span style="color:#dc3334">0.01</span>元
            </span>
            {{/sf-show001tip}}

            </div>
            <h2>支付方式:</h2>
            <ul class="payTypeListArea">

                {{#sf-paytype-list optionalPayTypeList 'alipay'}}
                    <li data-payType="alipay">
                        <img src="http://img.sfht.com/sfht/1.1.59/img/gotopay2.png" alt="支付宝" />
                        {{#sf-show-desc discount 'alipay'}}<h3 class="text-important">{{desc}}</h3>{{/sf-show-desc}}
                        {{^sf-show-desc discount 'alipay'}}<h3>中国最大的第三方支付平台</h3>{{/sf-show-desc}}
                        <span class="icon icon85"></span>
                    </li>
                {{/sf-paytype-list}}

                {{#sf-paytype-list optionalPayTypeList 'alipay_intl'}}
                    <li data-payType="alipay_intl">
                        <img src="http://img.sfht.com/sfht/1.1.59/img/gotopay2.png" alt="支付宝" />
                        {{#sf-show-desc discount 'alipay_intl'}}<h3 class="text-important">{{desc}}</h3>{{/sf-show-desc}}
                        {{^sf-show-desc discount 'alipay_intl'}}<h3>中国最大的第三方支付平台</h3>{{/sf-show-desc}}
                        <span class="icon icon85"></span>
                    </li>
                {{/sf-paytype-list}}

                {{#sf-paytype-list optionalPayTypeList 'lianlianpay'}}
                    <li data-payType="lianlianpay">
                        <img src="http://img.sfht.com/sfht/1.1.59/img/gotopay1.png" alt="快捷支付" />
                        {{#sf-show-desc discount 'lianlianpay'}}<h3 class="text-important">{{desc}}</h3>{{/sf-show-desc}}
                        {{^sf-show-desc discount 'lianlianpay'}}<h3>无需注册登录，银行卡直接付款</h3>{{/sf-show-desc}}
                        
                        <span class="icon icon85"></span>
                    </li>
                {{/sf-paytype-list}}

                {{#sf-paytype-list optionalPayTypeList 'tenpay_forex_wxsm'}}
                    <li data-payType="tenpay_forex_wxsm">
                        <img src="http://img.sfht.com/sfht/1.1.59/img/gotopay3.png" alt="微信支付" />
                        {{#sf-show-desc discount 'tenpay_forex_wxsm'}}<h3 class="text-important">{{desc}}</h3>{{/sf-show-desc}}
                        {{^sf-show-desc discount 'tenpay_forex_wxsm'}}<h3>微信扫一扫就能付款，更快捷</h3>{{/sf-show-desc}}
                        
                        <span class="icon icon85"></span>
                    </li>
                {{/sf-paytype-list}}

                {{#sf-paytype-list optionalPayTypeList 'tenpay_forex'}}
                    <li data-payType="tenpay_forex">
                        <img src="http://img.sfht.com/sfht/1.1.59/img/gotopay4.png" alt="财付通" />
                        {{#sf-show-desc discount 'tenpay_forex'}}<h3 class="text-important">{{desc}}</h3>{{/sf-show-desc}}
                        {{^sf-show-desc discount 'tenpay_forex'}}<h3>超过3亿用户的选择，汇率更优！</h3>{{/sf-show-desc}}
                        
                        <span class="icon icon85"></span>
                    </li>
                {{/sf-paytype-list}}
            </ul>
            <div class="gotopay-r2">使用<span class="text-important" id="payment">{{sf-getPayTypeName selectPayType}}</span>进行支付
                <button class="btn btn-danger btn-big" id="gotopayBtn">确认支付</button>
            </div>
        </div>
    </div>
</div>

<!--
<div class="orderdetail">
  <div class="pay">
    <div class="pay-r2 clearfix">
      <h1 class="fl">{{tips.tipInfo}}</h1>
      <div class="fr pay-r2c2">应付金额：<strong>￥<span class="pay-price">{{tips.totalMoney}}</span></strong>元</div>
    </div>
      <p>请您在订单提交后2小时内完成支付，否则订单会自动取消哦！</p>
    <h2>支付方式</h2>
    <div class="order-b order-b-1 clearfix">
      {{{currentPayWay}}}
    </div>
    <div class="pay-r1">
      <a href="#" class="btn btn-send" id="gotopayBtn">去支付</a>
    </div>
  </div>


  <h2>订单信息</h2>
  <div class="info">
    <div class="info-r1">
      <div class="info-c1 fl">订单及支付</div>
      <ul class="info-c2">
        <li>订单号：{{orderId}}</li>
        <li>订单金额：￥{{sf.price orderMoney}}元</li>
        <li>付款方式：{{orderPayWay}}</li>
      </ul>
    </div>
    <div class="info-r2">
      <div class="info-c1 fl">收货人信息</div>
      <ul class="info-c2">
        <li>收货人：{{receiveName}}</li>
        <li>地址：{{country}} {{province}} {{city}} {{region}} {{detailAddress}}</li>
        <li>联系电话：{{mobile}}</li>
        <li>身份证号码：{{certNo}}</li>
      </ul>
    </div>
  </div>
</div>
-->
