<h2>商品信息</h2>
<div class="table">
  <div class="table-h clearfix">
    <div class="table-c1 fl">
      商品
    </div>
    <div class="table-c2 fl">
      数量
    </div>
    <div class="table-c3 fl">
      单价
    </div>
    <div class="table-c4 fl">
      优惠金额
    </div>
    <div class="table-c5 fr">
      小计
    </div>
  </div>
  <ul class="table-b">
    <li class="clearfix">
      <div class="table-c1 fl">
        <div class="table-img fl">
          <img src="{{sf.img picUrl}}" alt="" width="68" height="42" /><span></span>
        </div>
        <div class="table-text">
          <h3><a href="javascript:void(0);">{{itemName}} </a></h3>
            <p>
                {{{spec}}}
            </p>
          <strong id="errorTips" class="visuallyhidden">该商品的配送范围不支持当前地址，请重新选择收货地址</strong>
          <!--img src="img/icon-usa.png" alt="美国国旗" width="19" height="13" /-->
        </div>

      </div>
      <div class="table-c2 fl">
        {{amount}}
      </div>
      <div class="table-c3 fl">
        ￥{{sf.price singlePrice}}
      </div>
      <div class="table-c4 fl">
        ￥0
      </div>
      <div class="table-c5 fr">
        ￥{{sf.price totalPrice}}
      </div>
    </li>
  </ul>

  <div class="coupon2">
    <p class="coupon2-p1">开业全场免邮，有钱，任性！</p>
    <h3><a href="#" class="coupon2-btn">-</a>使用优惠券抵消部分订单总额</h3>
    <div class="js-coupon">
      <ul class="mycoupon-h clearfix">
        <li class="active"><a href="">可用优惠券({{orderCoupon.avaliableAmount}})</a></li>
        <li><a href="">不可用优惠券({{orderCoupon.disableAmount}})</a></li>
      </ul>
      <div class="coupon2-b active">
        <div class="coupon2-b1">
          {{^orderCoupon.isHaveAvaliable}}
            <p>此订单暂无可用的优惠券。您可以 <a class="coupon2-link" href="">[查看所有优惠券]</a>了解使用限制。    <a class="coupon2-link" href="">[优惠券使用规则]</a></p>
          {{/orderCoupon.isHaveAvaliable}}
          {{#orderCoupon.isHaveAvaliable}}
            <p class="coupon2-p2">以下是此订单可用的优惠券。 您可以 <a class="coupon2-link" href="">[查看所有优惠券]</a>了解使用限制。    <a class="coupon2-link" href="">[优惠券使用规则]</a></p>
            <h4>代金券</h4>
            <ul>
            {{#each orderCoupon.avaliableCoupons}}
                <li><a href="#" class="icon radio" data-code="{{couponCode}}" data-price="{{price}}"></a><strong>{{couponDescription}}</strong><span>{{couponName}}</span>有效期至{{endDate}}</li>
            {{/each}}
            </ul>
          {{/orderCoupon.isHaveAvaliable}}
        </div>
        <div class="coupon2-b1">
            <div class="coupon2-r1">有优惠券兑换码？<label for="conpon" class="coupon2-link" id="inputCouponCode">[点击输入兑换码]</label></div>
            <div class="coupon2-r2 hide"><input id="conpon" type="text" class="input" placeholder="输入您的兑换码"><a href="#" class="btn btn-send">使用</a></div>
        </div>
        <div class="coupon2-r3">共使用了<strong>{{orderCoupon.useQuantity}}</strong>张优惠券，可以优惠<strong>{{sf.price orderCoupon.discountPrice}}元</strong></div>
      </div>
      <div class="coupon2-b">
        <div class="coupon2-b1 coupon2-b1-1">
            <p class="coupon2-p2">此处仅展示不符合本次订单商品使用的优惠券。<a class="coupon2-link" href="">[优惠券使用规则]</a></p>
            {{#orderCoupon.isHaveDisable}}
            <h4>代金券</h4>
            <ul>
              {{#each orderCoupon.disableCoupons}}
                <li><span>{{couponDescription}}</span><span>{{couponName}}</span><span>有效期至{{endDate}}</span><strong>{{desc}}</strong></li>
              {{/each}}
            </ul>
            {{/orderCoupon.isHaveDisable}}
        </div>
      </div>
    </div>
  </div>
  <div class="table-f clearfix">
    <div class="table-fc2 fr">
        <ul class="table-fr1">
            <li>商品总金额：￥{{sf.price allTotalPrice}}</li>
            <li>-优惠金额：￥{{sf.price orderCoupon.discountPrice}}</li>
            {{#if showTax}}
              <li>+税额：￥0</li>
            {{/if}}
            <li>+运费：￥0</li>
        </ul>
        <div class="table-fr3">实际应付款：<strong>￥{{sf.price shouldPay}}</strong></div>
    </div>
  </div>
</div>

<div class="order-f">
  <a href="javascript:void(0)" class="btn btn-send" id="submitOrder">提交订单</a>
</div>
