{{#if showStep}}
  <div class="order-detail-step {{showWhereStep}}">
    <ul>
        <li><span class="icon icon91"></span>提交订单<div class="line"></div></li>
        <li><span class="icon icon92"></span>付款成功<div class="line"></div></li>
        <li><span class="icon icon93"></span>通过审核<div class="line"></div></li>
        <li><span class="icon icon94"></span>海淘发货<div class="line"></div></li>
        <li><span class="icon icon95"></span>确认收货</li>
    </ul>
  </div>
{{/if}}
<div class="order-detail-state clearfix">
  <div class="order-detail-state-c1 fl">
      <div class="order-detail-state-r1">
          <span class="icon icon96"></span>
          <strong>当前状态：{{orderStatus}}</strong>
          {{#isShowShippingTime}}
          <div class="tooltip-cart"><span class="icon icon98 fl"></span><span class="text-error">{{shippingWarehouse}}，{{shippingTime}}</span><span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>{{/isShowShippingTime}}
          {{! 展示物流公司和承运单号 }}
          {{#sf-show-logisticsinfo status}}
          <div class="order-logistics-info">
           <span class="order-logistics-info">物流公司:<i>{{transporterDesc}}</i></span><span>承运单号:<i>{{logisticsNo}}</i></span>         
          </div>
          {{/sf-show-logisticsinfo}}
          {{! 退税 }}
          {{#isShowRefundTax status transporterName}}
          {{^sf-show-refundTax refundTax}}
          <div class="order-detail-refundtax">
           <span>如您购买的商品被税，请点击申请返还税金按钮，提交申请>></span>
           <button data-tag="{{tag}}" class="btn btn-success btn-small btn-refundtax">申请返还税金</button>  
          </div>
          {{/sf-show-refundTax}}
          
          {{#sf-show-refundTax refundTax}}
          <div class="order-detail-refundtax">
           {{#refundTaxStatus refundTax 'AUDITING'}}
           退税申请：<span class="text-important">资料已上传——审核中</span>
           {{/refundTaxStatus}} 
           {{#refundTaxStatus refundTax 'AUDIT_FAIL'}}
           退税申请：<span class="text-important">审核失败（{{refundTax.failReason}}）</span>
           <button data-tag="{{tag}}" class="btn btn-success btn-small btn-refundtax">重新申请</button>
           {{/refundTaxStatus}} 
           {{#refundTaxStatus refundTax 'REFUND_SUCCESS'}}
           退税申请：<span class="text-important">税金返还成功</span>
           {{/refundTaxStatus}}
          </div>
          {{/sf-show-refundTax}}
          {{/isShowRefundTax}}

          {{#if isShowLinkServer}}
      <p>顺丰海淘正在努力打包中… 若顺丰海淘较长时间未发货，您可以<a target="_blank" href="http://sf-ocs.sf-express.com:8080/live800/chatClient/chatbox.jsp?companyID=8935&amp;configID=20&amp;skillId=20&amp;enterurl=http%3A%2F%2Fsf-ocs%2Esf-express%2Ecom%3A8080%2Flive800%2Fpreview%2Ejsp&amp;pagereferrer=http%3A%2F%2Fsf-ocs%2Esf-express%2Ecom%3A8080%2Flive800%2FembedScript%2Ejsp%3FcurrentConfigId%3D20&amp;k=1" class="btn btn-soon btn-small">联系客服发货</a></p>{{/if}}         
      </div>

      <ul id="showUserRoutes">
        {{#each userRoutes}}
          <li class="clearfix">
            <span>{{gmtHappened}}</span>
            {{#if takePlace}}
            <span>【{{takePlace}}】{{status}}</span>
            {{else}}
            <span>{{status}}</span>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      
      <a href="" class="btn btn-normal btn-small look-more" data-tag="1">展开全部</a>
  </div>
  <div class="order-detail-state-c2 fr">
  
      <img src="http://img0.sfht.com/img/b2cfc921069a87c562fdccd1d3dc00de.jpg" alt="" />
      <div class="text-error">下载APP，实时跟踪物流信息</div>
  </div>                
</div>
{{! 订单商品详情 }}
<table class="order-detail-table">
  <thead>
      <tr>
          <th class="th1">商品信息</th>
          <th class="th2">售价</th>
          <th class="th3">数量</th>
          <th class="th4">优惠</th>
          <th class="th5">实付金额</th>
      </tr>
  </thead>
  <tbody>
    {{#each orderGoodsItemList}}
      <tr>
          <td>
              <a {{^isSecGoods goodsType}}href="http://www.sfht.com/detail/{{itemId}}.html"{{/isSecGoods}}>
                <img src="{{showImage imageUrl}}" alt="">
              </a>
              <h2>
              <a {{^isSecGoods goodsType}}href="http://www.sfht.com/detail/{{itemId}}.html"{{/isSecGoods}}>{{goodsName}}</a>
                {{#isSecGoods goodsType}}<div class="godds-type">秒杀商品</div>{{/isSecGoods}}
              </h2>
          </td>
          <td>{{sf.price price}}</td>
          <td>{{quantity}}</td>
          <td>{{sf.price discount}}</td>
          <td>{{sf.price totalPrice}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>