
<h1>选择收货地址</h1>
<div class="address">
    <ul id="addrList" class="clearfix">
        {{#each addressList}}
        <li data-addressid="{{addrId}}" data-index="{{@index}}" name="addrEach" class="{{#if isDefault}}default{{/if}} {{active}}">
            <div class="address-r1">{{recName}}</div>
            <div class="address-r2">{{cellphone}}</div>
            <div class="address-r3">{{nationName}} {{provinceName}} {{cityName}} {{regionName}} <br />{{detail}}</div>
            <div class="address-r4">
                <a class="text-link order-edit" data-index="{{@index}}" href="javascript:void(0);">编辑</a>
                {{^if isDefault}}
                <a class="text-link address-default btn-setDefault" data-index="{{@index}}" href="javascript:">设为默认地址</a>
                {{/if}}
            </div>
            
            {{#if isDefault}}
            <span data-index="{{@index}}" class="icon icon86"></span>                     
            <span class="label label-disabled">默认地址</span>
            {{/if}}
        </li>
        {{/each}}             
                        
    </ul> 
    <div class="clearfix address-manage">
        <div class="fl"><a class="text-link" id="address-all" href="javascript:">展开全部收货地址<span class="icon icon16-1"></span></a></div>
        <div class="fr"><a class="text-link" target="_blank" href="www.sfht.com/address-manage.html">管理收货地址</a></div>    
    </div>
</div>
<div class="address-add" id="editAdrArea"></div>

