<div class="step">
  <div class="pm">
    <ul>
      <li class="{{firststep}} {{secondstep}} {{thirdstep}}"><span class="icon icon31"></span>01 填写并核对订单信息<div class="line"></div></li>
      <li class="{{secondstep}} {{thirdstep}}"><span class="icon icon31"></span>02 成功提交订单<div class="line"></div></li>
      <li class="{{thirdstep}}"><span class="icon icon31"></span>03 订单支付结果<div class="line"></div></li>
    </ul>
    
  </div>
</div>
