
        <div class="table">
          <div class="table-h clearfix">
            <div class="table-c1 fl">
              商品
            </div>
            <div class="table-c2 fl">
              数量
            </div>
            <div class="table-c3 fr">
              金额
            </div>
          </div>
          <ul class="table-b">
            <li class="clearfix">
              <div class="table-c1 fl">
                <div class="table-img fl">
                  <a href=""><img src="img/product.jpg" alt="" width="68" height="42" /></a><span></span>
                </div>
                <div class="table-text">
                  <h3><a href="">kate spade new york 长款牛皮钱包 </a></h3>
                  <p>黑色</p>
                  <img src="img/icon-usa.png" alt="美国国旗" width="19" height="13" />
                </div>

              </div>
              <div class="table-c2 fl">
                1
              </div>
              <div class="table-c3 fr">
                单价：￥1800
              </div>
            </li>
          </ul>
          <div class="table-f">
            <div class="table-fr1">单价：￥1800</div>
            <div class="table-fr2">x1</div>
            <div class="table-fr3">运费：￥0</div>
            <div class="table-fr4">开业全场免邮，有钱，任性！</div>
            <div class="table-fr5">实际应付款：<strong>￥1800</strong></div>
          </div>
        </div>

        <div class="order-f">
          <a href="#" class="btn btn-send">提交订单</a>
        </div>