
<h2>嘿客店铺信息</h2>

<div class="order-b active">
  <div class="order-r2" style="display:block;">
  <!-- <h3>门店代码：{{orgCode}}</h3> -->
  <ul>
    <li class="li">
      <label for="">门店代码：</label>
      <input type="text" class="input" can-value="orgCode">
    </li>
    <li class="li">
      <label for="">店员工号：</label>
      <input type="text" class="input" can-value="sellerid">
    </li>
    <li class="li">
      <label for="">店员姓名：</label>
      <input type="text" class="input" can-value="sellername">
    </li>
  </ul>
  </div>
</div>
