<h2>选择收货地址</h2>
{{^if hasData}}
<div class="order-b active">
<div class="order-r2" id="addAdrArea">

  </div>
    <a href="#" class="btn btn-add">+ 添加收货地址</a>
</div>
{{/if}}

{{#if hasData}}
<div class="order-b" id="addrList">
  <ul>
    {{#each addressList}}
    <li class="clearfix {{active}}" name="addrEach" data-addressid="{{addrId}}">
      <div class="order-r1 clearfix">
        <div class="order-r1c1 fl">
          <span class="icon icon29"></span>
          <span>{{nationName}}</span>
          <span>{{provinceName}}</span>
          <span>{{cityName}}</span>
          <span>{{regionName}}</span>
          <span>{{detail}}</span>
          <span>{{zipCode}}</span>
        </div>
        <div class="order-r1c2 fr">
          <a class="order-edit" href="" data-index="{{@index}}">修改</a>
        </div>
      </div>
      <div class="order-r2" id="editAdrArea">
      </div>
    </li>
    {{/each}}
  </ul>

  <div class="order-r2" id="addAdrArea">

  </div>

  <a href="#" class="btn btn-add">+ 添加收货地址</a>
  <a class="icon icon30"></a>
</div>
{{/if}}