<ul class="myorder-tab">
  <li class="active" id="allorderTab"><a href="">所有订单</a></li>
  <li id="notPayOrderListTab"><a href="">待付款<strong>{{notPayOrderListLength}}</strong></a></li>
  <li id="notSendOrderListTab"><a href="">待发货<strong>{{notSendOrderListLength}}</strong></a></li>
  <li id="notGetOrderListTab"><a href="">待收货<strong>{{notGetOrderListfLength}}</strong></a></li>
</ul>

<div class="myorder-search">
  <input placeholder="输入订单号搜索" id="searchValue"><button id="search">搜索</button>
</div>

<table>
  <thead>
      <tr>
          <th class="th1">包裹<span>|</span></th>
          <th class="th2">商品</th>
          <th class="th3">售价（元）</th>
          <th class="th4">数量<span>|</span></th>
          <th class="th5">实付款（元）<span>|</span></th>
          <th class="th6">订单状态<span>|</span></th>
          <th class="th7">操作</th>
      </tr>
  </thead>
  <!--所有订单-->
  <tbody id="allorder">
    {{#if orderListIsNotEmpty}}
    {{#each orders}}
      <tr>
        <th colspan="7"><h2>订单号：{{orderId}}<span>下单时间：{{sf.time gmtCreate}}</span></h2></th>
      </tr>
      {{#each orderPackageItemList}}
        <tr>
            <td rowspan="{{countTypeOfGoodsInPackage orderGoodsItemList}}">
              <span class="label label-error">
                <span class="icon icon79"></span>包裹{{@index}}<i></i>
              </span>
              <div>共{{countGoodsInPackage orderGoodsItemList}}件商品</div>
              <p class="myorder-address"><span class="icon icon80"></span>{{shippingWarehouse}}仓库发货</p>
            </td>

            {{#first orderGoodsItemList}}
              <td class="td2">
                <img src="{{thumbImgUrl}}" alt="" />
                <h3>{{goodsName}}</h3>
              </td>
              <td class="td3">
                <del>{{sf.price originPrice}}</del>
                <div>{{sf.price price}}</div>
              </td>
              <td class="td4">{{quantity}}</td>
            {{/first}}

            <td rowspan="{{countTypeOfGoodsInOrder orderPackageItemList}}">￥{{sf.price paymentAmount}}</td>
            <td rowspan="{{countTypeOfGoodsInOrder orderPackageItemList}}">{{orderStatus}}</td>
            <td rowspan="{{countTypeOfGoodsInOrder orderPackageItemList}}">
              <span>剩余付款时间</span>
              <div class="text-error">{{shippingTime}}</div>
              {{{optionHMTL}}}
            </td>
        </tr>
        {{#others orderGoodsItemList}}
          {{#each orderGoods}}
            <tr>
              <td class="td2">
                <img src="{{thumbImgUrl}}" alt="" />
                <h3>{{goodsName}}</h3></td>
              <td class="td3">
                <del>{{sf-price originPrice}}</del>
                <div>{{sf-price price}}</div>
              </td>
              <td class="td4">{{quantity}}</td>
            </tr>
          {{/each}}<!--end orderGoodsItemList-->
        {{/others}}
      {{/each}}<!--end orderPackageItemList-->
    {{/each}}<!--end orders-->
    {{else}}

    {{/if}}
  </tbody>

  <!--代付款订单-->
  <tbody id="notPayOrderList">
    {{#if notPayOrderListIsNotEmpty}}
    {{#each notPayOrderList}}
    <tr>
        <th colspan="7">
            <h2>订单号：{{orderId}}<span>下单时间：{{sf.time gmtCreate}}</span></h2>
        </th>
    </tr>
    {{/each}}

    {{else}}
    {{/if}}
  </tbody>

  <!--待发货订单-->
  <tbody id="notSendOrderList">
    {{#if notSendOrderListIsNotEmpty}}
    {{#each notSendOrderList}}
    <tr>
        <th colspan="7">
            <h2>订单号：{{orderId}}<span>下单时间：{{sf.time gmtCreate}}</span></h2>
        </th>
    </tr>
    {{/each}}

    {{else}}
    {{/if}}
  </tbody>

  <!--待收货订单-->

  <tbody id="notGetOrderList">
    {{#if notGetOrderListIsNotEmpty}}
    {{#each notGetOrderList}}
    <tr>
        <th colspan="7">
            <h2>订单号：{{orderId}}<span>下单时间：{{sf.time gmtCreate}}</span></h2>
        </th>
    </tr>
    {{/each}}

    {{else}}
    {{/if}}
  </tbody>
</table>