<div class="orderdetail">
  <div class="pay">
    <div class="pay-r2 clearfix">
      <h1 class="fl">{{tips.tipInfo}}</h1>
      <div class="fr pay-r2c2">应付金额：<strong>￥<span class="pay-price">{{tips.totalMoney}}</span></strong>元</div>
    </div>
      <p>请您在订单提交后2小时内完成支付，否则订单会自动取消哦！</p>
    <h2>支付方式</h2>
    <div class="order-b order-b-1 clearfix">
      {{{currentPayWay}}}
    </div>
    <div class="pay-r1">
      <a href="#" class="btn btn-send" id="gotopayBtn">去支付</a>
    </div>
  </div>


  <!--订单信息-->
  <h2>订单信息</h2>
  <div class="info">
    <div class="info-r1">
      <div class="info-c1 fl">订单及支付</div>
      <ul class="info-c2">
        <li>订单号：{{orderId}}</li>
        <li>订单金额：￥{{sf.price orderMoney}}元</li>
        <li>付款方式：{{orderPayWay}}</li>
      </ul>
    </div>
    <div class="info-r2">
      <div class="info-c1 fl">收货人信息</div>
      <ul class="info-c2">
        <li>收货人：{{receiveName}}</li>
        <li>地址：{{country}} {{province}} {{city}} {{region}} {{detailAddress}}</li>
        <li>联系电话：{{mobile}}</li>
        <li>身份证号码：{{certNo}}</li>
      </ul>
    </div>
  </div>
  <!--订单信息-->
</div>
