<div class="step">
  <div class="pm">
    <ul>
      <li class="{{firststep}}"><span class="icon icon31"></span>01 填写并核对订单信息<div class="line"></div></li>
      <li class="{{secondstep}}"><span class="icon icon31"></span>02 成功提交订单<div class="line"></div></li>
      <li class="{{thirdstep}}"><span class="icon icon31"></span>03 订单支付成功</li>
    </ul>
    <span class="icon icon28"></span>
  </div>
</div>