/*
@styleguide

# 订单选择-弹窗

*/
.mask{
	display: block;
}
.orderSelect-dialog{
	width: 512px;
	height: 181px;
	position: fixed;
	background: #fff;
	left:50%;
	top:50%;
	margin-left: -256px;
	margin-top: -90px;
	z-index: 999;
	text-align: center;
  border-radius: 4px;
}
.orderSelect-dialog.success{
	width: 512px;
	height: 250px;
	margin-left: -256px;
	margin-top: -125px;
}

.orderSelect-dialog .icon-close{
	width: 14px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.orderSelect-dialog .icon-success{
	width: 73px;
	height: 73px;
	display: inline-block;
	margin-top: 55px;
	margin-bottom: 36px;
}
.orderSelect-dialog-select{
	position: relative;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 21px;
}
.orderSelect-dialog select{
	width: 440px;
	height: 40px;
	line-height: 40px;
	appearance:none;
	background: #fff;
  border-width: 1px;
  border-color: rgb(230, 229, 229);
  border-style: solid;
  border-radius: 4px;
	color: #aaa;
	padding-left: 10px;
}
.orderSelect-dialog-arrow{
  border-width: 2px;
  border-color: rgb(227, 227, 227);
  border-style: solid;
  background-color: rgb(227, 227, 227);
  position: absolute;
  width: 27px;
  height: 36px;
	right: 0;
	top: 0;
}
.orderSelect-dialog-arrow i{
	border-width: 4px;
	border-color: #838383 transparent transparent transparent;
	border-style: solid;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -2px;
}
.orderSelect-dialog .btn{
	width: 149px;
	height: 44px;
	line-height: 44px;
}
.orderSelect-dialog p{
	font-size: 14px;
	line-height: 21px;
}
