/*footer1*/
.footer1{
	padding-top: 98px;
	padding-bottom: 107px;
	background: #fff;
}
.footer1 ul{
	margin-left:-228px;
}
.footer1 li{
	float: left;
	position: relative;
	width: 117px;
	margin-left: 228px;
	font-size: 16px;
	text-align: center;
}
.footer1 .icon8{
	position: absolute;
	left: 219px;
	top: 35px;
}
.footer1 h2{
	margin-top: 20px;
	color: #949494;
}

/*footer2*/
.footer2{
	background: #333840;
	padding-top: 71px;
	padding-bottom: 174px;
}
.footer2,
.footer2 a{
	color:#C5C7C9
}
.footer2 dl{
	float: left;
	margin-right: 119px;
}
.footer2 dt{
	font-size: 16px;
}
.footer2 dd{
	margin-top: 24px;
}
.footer2 dd a{
	font-size: 12px;
}
.footer2 a:hover{
	color: #fff;
}
.footer2-c1{
	margin-right: 130px;
}

.footer2 .phone{
	font-size: 24px;
	margin-bottom: 12px;
}
.footer2 .time{
	font-size: 16px;
	margin-bottom: 26px;
}
.footer2-email{
	font-size: 14px;
	margin-bottom: 18px;
}
.footer2-email .icon{
	margin-right: 10px;
}
.footer2-service{
	font-size: 14px;
}
.footer2-service .icon{
	margin-right: 12px;
}
/*footer3*/
.footer3{
	height: 50px;
	padding: 20px 0 10px 0;
	line-height: 20px;
	background: #23262C;
	color: #4b4f5e;
	text-align: center;
	font-size: 12px;
}