/*footer1*/
.footer1{
	padding: 60px 0;
	background: #fff;
	margin-top:80px;
}
.footer1 ul{
	margin-left:-123px;
	padding-left:70px;
}
.footer1 li{
	float: left;
	position: relative;
	width: 110px;
	margin-left: 123px;
	font-size: 16px;
	text-align: center;
}
.footer1 h2{
	margin-top: 15px;
	color: #949494;
	font-weight:normal;
}
%footer1-icon{
	background:url(#{$bg-url}footer1-icon.png) no-repeat;
	vertical-align:middle;
	height:83px;
}
.footer1-icon1{
	@extend %footer1-icon;
}
.footer1-icon2{
	@extend %footer1-icon;
	background-position:-232px 0;
}
.footer1-icon3{
	@extend %footer1-icon;
	background-position:-465px 0;
}
.footer1-icon4{
	@extend %footer1-icon;
	background-position:-697px 0;
}
.footer1-icon5{
	@extend %footer1-icon;
	background-position:-929px 0;
}
.footer1-line{
	background:url(#{$bg-url}footer1-line.png) no-repeat;
	width:65px;
	height:3px;
	position:absolute;
	top:50px;
	left:135px;
}

/*footer2*/
.footer2{
	background: #333840;
	font-size: 14px;
}
.footer2 .pm{
	padding-top: 45px;
	padding-bottom: 40px;
}
.footer2,
.footer2 a{
	color:#999
}
.footer2 dl{
	float: left;
	width: 170px;
}
.footer2 dt{
	font-size: 18px;
	color: #999;
}
.footer2 dd{
	margin-top: 22px;
}

.footer2 a:hover{
	color: #fff;
}
.footer2-c1{
	margin-right: 117px;
}

.footer2 .phone{
	font-size: 24px;
	margin-bottom: 12px;
}
.footer2 .time{
	font-size: 18px;
	line-height:24px;
	margin-bottom: 26px;
}
.footer2-email{
	font-size: 14px;
	margin-bottom: 18px;
}
.footer2-email .icon{
	margin-right: 10px;
}
.footer2-service{
	font-size: 14px;
}
.footer2-service .icon{
	margin-right: 12px;
}
.footer2-c3{
	padding-left: 38px;
}
.footer2-c4{
	margin-right: 16px;
	text-align: center;
	position: relative;
}
.footer2-c4 p{
	margin-top: 10px;
}
.footer2-c4 img{
	display: none;
	position: absolute;
	top:44px;
	left:0;
}
.footer2-c4:hover img,
.footer2-c4:active img{
	display:block;
}
.footer2 .icon66{
	margin-right: 10px;
}
/*footer3*/
.footer3{
	height: 68px;
	line-height: 68px;
	background: #23262c;
	color: #4b4f5e;
	text-align: center;
	font-size: 12px;
	color: #999;
}