/*footer1*/
.footer1{
	padding-top: 68px;
	padding-bottom: 68px;
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
}
.footer1 ul{
	margin-left:-228px;
}
.footer1 li{
	float: left;
	position: relative;
	width: 117px;
	margin-left: 228px;
	font-size: 16px;
	text-align: center;
}
.footer1 .icon8{
	position: absolute;
	left: 219px;
	top: 35px;
}
.footer1 h2{
	margin-top: 20px;
	color: #949494;
}

/*footer2*/
.footer2{
	background: #fff;
	padding-top: 71px;
	padding-bottom: 174px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.footer2,
.footer2 a{
	color:#999
}
.footer2 dl{
	float: left;
	width: 124px;
	border-left: 1px solid #e7e7e7;
	padding-left: 38px;
}
.footer2 dt{
	font-size: 18px;
	color: #666;
}
.footer2 dd{
	margin-top: 22px;
}

.footer2 a:hover{
	color: #333;
}
.footer2-c1{
	margin-right: 34px;
}

.footer2 .phone{
	font-size: 24px;
	margin-bottom: 12px;
}
.footer2 .time{
	font-size: 16px;
	margin-bottom: 26px;
}
.footer2-email{
	font-size: 14px;
	margin-bottom: 18px;
}
.footer2-email .icon{
	margin-right: 10px;
}
.footer2-service{
	font-size: 14px;
}
.footer2-service .icon{
	margin-right: 12px;
}
.footer2-c3{
	padding-left: 38px;
	border-left: 1px solid #e7e7e7;
}
.footer2-c4{
	margin-right: 16px;
	text-align: center;
}
.footer2-c4 p{
	margin-top: 10px;
}
.footer2 .icon53{
	margin-left: 38px;
}
/*footer3*/
.footer3{
	height: 50px;
	padding: 20px 0 10px 0;
	line-height: 20px;
	background: #fff;
	color: #4b4f5e;
	text-align: center;
	font-size: 12px;
	color: #999;
}