/*头部*/
.header{
	height: 139px;
	background: #fff;
}
.header-c1{
	padding-top: 36px;
}
.header-c1 .icon10{
	margin-right: 25px;
}
.header-c1 .icon11{
	margin-top: 2px;
}

.header-c2{
	padding-top: 43px;
}
.header-c2 li{
	float: left;
	width: 188px;
}
.header-c2 h2,
.header-c2 p{
	margin-left: 61px;
}
.header-c2 h2{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 7px;
}
.header-c2 p{
	color:#666666;
}