.nav{
	height: 43px;
}
.nav-inner{
	height: 43px;
	line-height: 43px;
	background: #32363e;
}
.nav li{
	float: left;
	font-size: 15px;
	width: 114px;
	text-align: center;
	position:relative;
}
.nav .active,
.nav li:hover{
	background: #dc3334;
}
.nav a{
	color: #fff;	
	display:block;

}
.nav .icon54,
.nav .icon55{
	position: absolute;
	right:0px;
	top:5px;
}

.nav .active a,
.nav li:hover a{
	color:#fff;
}
.nav-c2{
	background: #181b20;
	padding-left: 17px;
	padding-right: 30px;
}
.nav-c2 a{
	color: #fff;
	display: block;
}
.nav-c2 .label{
	padding: 0;
	width: 25px;
	text-align: center;
	background: #dc3334;
	margin-left: 10px;
	transition:all 0.5s;
}
.nav-c2 .label i{
	border-color: transparent #dc3334 transparent transparent;
	left: -6px;
	right: auto;
}
.nav-c2 .label.active{
	animation:cart-num 0.5s linear;
}
@keyframes cart-num{
	50%{
		transform:scale(1.2);
	}
}
.nav-arrow-icon{
	position: absolute;
	right: 9px;
	top: 20px;
	vertical-align: middle;
	background: url(../img/nav-arrow-icon.png) no-repeat 0 0;
	font: 0/0 a;
	width: 11px;
	height: 7px;
	transition: transform .3s ease-in;
}
.nav li:hover .nav-arrow-icon{
	top: 18px;
	transform: rotate(180deg);
}
.nav-text{
	margin-left: 15px;
	border-left: 1px solid #5a5c60;
	padding: 4px 0 4px 15px;
}
.nav-fixed{
	height:0;
}
.nav-fixed .nav-inner{
	position: fixed;
	width: 100%;
	left: 0;
	top: -56px;
	z-index: 2;
}
.nav-pannel{
	position: relative;
	width: 1180px;
	margin: 0 auto;
}
.nav-pannel-inner{
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	padding: 10px;
	z-index: 2;
	box-shadow:0px 1px 4px rgba(102,102,102,0.3)
}
.nav-pannel-img{
	margin-top: -10px;
	margin-right: 7px;
}
.nav-pannel-img li{
	margin-top: 10px;
}
.nav-pannel-text{
	width: 873px;
	overflow: hidden;
}
.nav-pannel-text dl{
	float: left;
	width: 280px;
	height: 155px;
	overflow: hidden;
	margin-top: -1px;
	margin-left: -1px;
	padding-left: 10px;
	border-top: 1px dashed #d5d5d5;
	border-left: 1px dashed #d5d5d5;
}
.nav-pannel-text dt{
	padding-left: 10px;
	margin-top: 20px;
	color: #a94275;
	font-size: 14px;
	font-weight: 700;
}
.nav-pannel-text dt span{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: -4px;
	background-image: url(../img/nav-pannel-icon.png);
	background-repeat: no-repeat;
	margin-right: 10px;
}
.nav-pannel-text dd a{
	display: inline-block;
	margin-top: 20px;
	padding: 0 10px;
	white-space: nowrap;
}
.nav-pannel-icon1{
	background-position: 0 -20px;
}
.nav-pannel-icon2{
	background-position: 0 -40px;
}
.nav-pannel-icon3{
	background-position: 0 -60px;
}
.nav-pannel-icon4{
	background-position: 0 -100px;
}
.nav-pannel-icon6{
	background-position: 0 -80px;
}