.nav{
	height: 43px;
}
.nav-inner{
	height: 43px;
	line-height: 43px;
	background: url(#{$bg-url}nav.png) repeat-x;
}
.nav li{
	float: left;
	font-size: 16px;
	width: 114px;
	text-align: center;
}
.nav .active,
.nav li:hover{
	background: url(#{$bg-url}header-active.png) repeat-x;
}
.nav a{
	color: #c5c5c5;	
	display:block;
}
.nav .icon{
	position: absolute;
	margin-top: 4px;
}

.nav .active a,
.nav li:hover a{
	color:#fff;
}
.nav-c2{
	display: none;
}
.nav-c2 a{
	margin: 0 10px;
	color: #666;
	display:inline-block;
	height:100%;
}
.nav-fixed{
	height:0;
}
.nav-fixed .nav-inner{
	position: fixed;
	width: 100%;
	left: 0;
	top: -56px;
	z-index: 1;
}
