@import '../comment-img/index';
@import '../comment-additional/index';
@import '../comment-label/index';
.comment-list table{
	table-layout: fixed;
	width: 100%;
	margin-bottom: 32px;
}
.comment-list th{
	height: 38px;
	line-height: 38px;
	background: #F5F5F5;
	color: #666;
}
.comment-list thead tr{
	border: 1px solid #F5F5F5;	
}
.comment-list tbody tr{
	border: 1px solid #E5E5E5;
	border-top: none;
}
.comment-list td{
	color: #999;
	padding: 32px 0;
	vertical-align: top;
}
.comment-list .col1{
	padding-left: 30px;
	width: 520px;
}
.comment-list .col2{
	width: 148px;
	padding-left: 80px;
}
.comment-list .col3{
	width: 140px;
}
.comment-list .col4{
	position: relative;
}
.comment-list .col4 p{
	margin-bottom: 14px;
	line-height:1.5;
}
.comment-list .col4 a{
	color:#999;
}
.comment-list .col4 a:hover{
	text-decoration: underline;
}
.comment-list .p1{
	margin-bottom: 10px;
	line-height: 20px;
	color: #333;
}
.comment-list .p2{
	color: #666;
	line-height: 20px;
}
.comment-list .p3{
	color: #666;
}
.comment-list .p4{
	text-align: center;
}
.comment-list-expose{
	background:#FFFAFA;
}
.comment-list-tag{
	background:#FF3465;
	height:20px;
	line-height:20px;
	color: #fff;
	padding-left:18px;
	padding-right:8px;
	position: absolute;
	right:0;
	top:24px;
}
.comment-list-tag:before{
	content:'';
	position: absolute;
	left:0;
	top:0;
	border-style:solid;
	border-color:transparent transparent transparent #FFFAFA;
	border-width:10px 8px;
}
