.announcement-icon {
    font-size: 10px;
}

.announcement-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/announcement.svg");
    background-repeat: no-repeat;
    background-size: 5.9em 5.5em;
}

.no-svg .announcement-icon:before {
    background-image: url("../svg/announcement.png");
}

.announcement-icon.icon-voise:before {
    background-position: -1em -1em;
    width: 3.9em;
    height: 3.5em;
}

