/*
@styleguide

# 账号管理

*/
.account-manage-wp{
	position: relative;
}
.account-manage{
	min-height: 313px;
	padding-bottom: 40px;
	display: none;
	padding-left: 45px;
	margin-top: 43px;
}
.account-manage.active{
	display: block;
}
.account-manage1 .btn{
	margin-left: 90px;
}
.account-manage2 .btn{
	height: 30px;
	line-height: 30px;
	border: 0 none;
	font-size: 12px;
	margin-right: 10px;
}
.account-manage2 .btn-canel{
	color: #666;
	font-size: 12px;
}
.account-manage2 .btn-canel:hover,
.account-manage2 .btn-input-reset:hover{
	color: #333;
}
.account-manage input{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 247px;
}
.account-manage li{
	margin-left: 90px;
	margin-bottom: 16px;
	position: relative;
	color: #666;
	font-size: 14px;
	line-height: 28px;
}
.account-manage li a{
	color: #4E9BDF;
	font-size: 14px;
}
.account-manage label{
	font-size: 14px;
	margin-right: 20px;
	position: absolute;
	width:5em;
	left: -90px;
}
.account-manage-fix{
	margin-left: 20px;
}
.account-manage-input-box{
	margin-top: 10px;
}
.account-manage .input{
	width: 170px;
	height: 28px;
	line-height: 28px;
	color: #666;
	font-size: 12px;
	padding: 0 10px;
	border: 1px solid #979797;
	border-radius: 0;
}
.account-manage-input-box .btn-vcode{
	margin-left: 8px;
}
.account-manage-input-box .input-vcode{
	width: 58px;
}
.account-manage-input-box .input-tips,
.account-manage .input-error{
	margin-left: 10px;
}
.account-manage-input-box .input-tips{
	font-size: 12px;
	color: #B2B2B2;
}
.account-manage2 .input-pw-tips{
	margin-left: 20px;
}
.account-manage-input-box .input-tips-strong{
	font-size: 12px;
	font-weight: 400;
	color: #666;
}
.account-manage .input-error{
	color: #EE5151;
	font-size: 12px;
}
.icon-wechat,
.icon-alipay{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.account-manage-sns{
	margin-right: 30px;
}
.account-manage-sns .tips{
	color: #B2B2B2;
}
.account-manage-tips{
	color: #B2B2B2;
	line-height: 20px;
	margin-top: 40px;
}
.input-pw-brtips{
	position: relative;
	display: inline-block;
	color: #666;
	background-color: #F2F2F2;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 4px;
	margin-left: 18px;
	font-size: 12px;
}
.input-pw-brtips:before{
	position: absolute;
	content: "";
	border: 7px dashed transparent;
	border-right: 10px dashed #F2F2F2;
	border-radius: 4px;
	left: -15px;
	top: 7px;
}