.login-icon {
    font-size: 10px;
}

.login-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 9.5em 26.8em;
}

.no-svg .login-icon:before {
    background-image: url("../svg/sprite.png");
}

.login-icon.icon-account:before {
    background-position: 0em 0em;
    width: 1.5em;
    height: 1.5em;
}

.login-icon.icon-alipay:before {
    background-position: 0em -1.5em;
    width: 3.6em;
    height: 3.6em;
}

.login-icon.icon-close:before {
    background-position: 0em -5.1em;
    width: 1.7em;
    height: 1.5em;
}

.login-icon.icon-logo:before {
    background-position: 0em -6.6em;
    width: 9.5em;
    height: 9.5em;
}

.login-icon.icon-password:before {
    background-position: 0em -16.1em;
    width: 1.8em;
    height: 1.9em;
}

.login-icon.icon-reflash:before {
    background-position: 0em -18em;
    width: 1.8em;
    height: 1.8em;
}

.login-icon.icon-success:before {
    background-position: 0em -19.8em;
    width: 1.7em;
    height: 1.4em;
}

.login-icon.icon-username:before {
    background-position: 0em -21.2em;
    width: 2em;
    height: 2em;
}

.login-icon.icon-webchat:before {
    background-position: 0em -23.2em;
    width: 3.6em;
    height: 3.6em;
}

