<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/topic.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--头部-->
== Slim::Template.new('../../module/header.slim').render
<!--头部-->
<div class="pb">

<div class="pm">
== Slim::Template.new('../../module/slider.slim').render
<img src="http://placehold.it/1180x100" class="banner" alt="">
== Slim::Template.new('../../module/product2.slim').render
<img src="http://placehold.it/1180x100" class="banner" alt="">
<!--热卖商品-->
== Slim::Template.new('../../module/product.slim').render
<!--热卖商品-->
<img src="http://placehold.it/1180x100" class="banner" alt="">
<!--热卖商品-->
== Slim::Template.new('../../module/product.slim').render
<!--热卖商品-->
== Slim::Template.new('../../module/topic.slim').render
</div>

</div>
</div>
<!--尾部-->
== Slim::Template.new('../../module/footer.slim').render
<!--尾部-->

<!--美妆个护-->
<div class="nataral-top nataral-top2">
    <ul>
      <li><a href="#nataral-shop1"><i><span class="icon-floor5"></span></i><span class="nataral-top-text">全球潮</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor6"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor7"></span></i><span class="nataral-top-text">健康生活</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor8"></span></i><span class="nataral-top-text">原汁原味</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor9"></span></i><span class="nataral-top-text">母婴保健</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor10"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor11"></span></i><span class="nataral-top-text">健康生活</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor12"></span></i><span class="nataral-top-text">原汁原味</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor13"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor14"></span></i><span class="nataral-top-text">健康生活</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor15"></span></i><span class="nataral-top-text">原汁原味</span></a></li>
    </ul>
    <div class="nataral-top-r1"><a href="#"><span class="nataral-top-text">Top</span><span class="icon icon114"></span></a></div>
</div>
<!--母婴-->
<div class="nataral-top nataral-top3">
    <ul>
      <li><a href="#nataral-shop1"><i><span class="icon-floor16"></span></i><span class="nataral-top-text">全球潮</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor17"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor18"></span></i><span class="nataral-top-text">健康生活</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor19"></span></i><span class="nataral-top-text">原汁原味</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor20"></span></i><span class="nataral-top-text">母婴保健</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor21"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
    </ul>
    <div class="nataral-top-r1"><a href="#"><span class="nataral-top-text">Top</span><span class="icon icon114"></span></a></div>
</div>
<!--保健品-->
<div class="nataral-top nataral-top4">
    <ul>
      <li><a href="#nataral-shop1"><i><span class="icon-floor22"></span></i><span class="nataral-top-text">全球潮</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor23"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor24"></span></i><span class="nataral-top-text">健康生活</span></a></li>
      <li><a href="#nataral-shop2"><i><span class="icon-floor25"></span></i><span class="nataral-top-text">原汁原味</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor26"></span></i><span class="nataral-top-text">母婴保健</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor27"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor28"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor29"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor30"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor31"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor32"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor33"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
      <li><a href="#nataral-shop1"><i><span class="icon-floor34"></span></i><span class="nataral-top-text">美妆个护</span></a></li>
    </ul>
    <div class="nataral-top-r1"><a href="#"><span class="nataral-top-text">Top</span><span class="icon icon114"></span></a></div>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/nataral-index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
