.pagenofind-icon {
    font-size: 10px;
}

.pagenofind-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/pagenofind.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .pagenofind-icon:before {
    background-image: url("../svg/pagenofind.png");
}

