<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../../../css/pages/common/common.css" rel="stylesheet" type="text/css" />
<link href="../../../css/pages/other/search.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--头部-->
== Slim::Template.new('../../module/header.slim').render
<!--头部-->
<div class="pb">
<div id="classify" class="classify">
	<div class="pm">
		<h2><strong>“奶嘴”</strong>有<span class="text-important">33</span>条相关产品</h2>
		<ul class="classify-list">
			<li class="classify-select">
				<label>已选条件：</label>
				<ul id="classify-select">
					
				</ul>
				<a href="" class="text-disabled">全部重置</a>
			</li>
			<li class="clearfix classify-logo">
				<div class="classify-c1 fl">
					<label>品牌：</label>
					<ul id="classify-logo">
						<li><a href="javascript:"><span>asdfffffffffffffffff</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王1"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王2"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王4"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王5"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王6"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王7"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王8"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王9"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王0"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王1"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王2"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王4"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王5"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王6"><span>花王</span></a></li>
						<li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王7"><span>花王</span></a></li>
					</ul>
				</div>
				<div class="classify-c2 fr">
					<a href="javascript:"><span id="classify-more" class="classify-more"></span><span class="icon icon105"></span></a>
				</div>	
			</li>
			
			<li class="classify-text">
				<label>分类：</label>
				<ul>
					<li><a href="javascript:">母婴专区</a></li>
					<li><a href="javascript:">个人美妆</a></li>
					<li><a href="javascript:">食品保障</a></li>
					<li><a href="javascript:">生活服务</a></li>
				</ul>
			</li>
			<li class="classify-text">
				<label>货源地：</label>
				<ul>
					<li><a href="javascript:">德国</a></li>
					<li><a href="javascript:">美国</a></li>
					<li><a href="javascript:">台湾</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="pm">
	<div class="sort">排序:
		<ul>
			<li><a href="javascript:">综合</a></li>
			<li><a href="javascript:">人气</a></li>
			<li class="active"><a href="javascript:" id="sort-price">价格<span class="icon icon107"></span></a></li>
			<li class="active"><a href="javascript:" id="sort-price">评价<span class="icon icon107"></span></a></li>
			<li><a href="javascript:">上新时间</a></li>
		</ul>
		<label><input type="checkbox">只看有货商品</label>
		<label><input type="checkbox">只看促销</label>
	</div>
	<!--热卖商品-->
	<div class="product-1">
		<div class="mb pm">
		  <ul class="clearfix product-1-list">
		  	-for i in 1..4
			    <li>
			      <div class="product-1-r1">
			        <a href=""><img src="../img/index-makeup/product-img#{i}.png" alt="" ></a><span></span>
			        <div class="icon icon-soldout icon-soldout-big">已售光</div>
			      </div>
			      <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
			      <p><img src="../img/icon-usa.png" alt="" width="22" height="14" />广州保税仓发货</p>
			      <div class="product-1-r2 clearfix">
			        <div class="product-1-r2c1 fl">
			          <span>秒杀价：￥</span><strong>129</strong>
			          
			        </div>
		            <div class="product-1-r2c2 fr"><button class="btn btn-black btn-small">加入购物车<img src="../img/index-makeup/product-img#{i}.png" class="addtocart-img" alt=""></button></div>
			      </div>
			      <div class="product-1-r3">30天销量：235 <span class="product-1-comment">评价：<span>0</span></span></div>
			    </li>
		  </ul>
		</div>
	</div>
	<div class="search-page">
		<a class="btn btn-normal">上一页</a><a class="btn btn-normal">下一页</a>
	</div>

</div>

</div>
</div>
<!--尾部-->
== Slim::Template.new('../../module/footer.slim').render
<!--尾部-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/search.js"></script>
</body>
</html>