<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>注册顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/agreement.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('../../module/header.slim').render
<div class="pm">
<div class="agreement">
<h1>服务协议</h1>
<p>欢迎使用“丰趣海淘”提供的服务，为了保障您的权益，请在使用“丰趣海淘”前，详细阅读本协议的所有内容。当您勾选“我已看过并同意《服务协议》”时，您的行为表示您同意并签署了本协议，并同意遵守本协议中的约定。该协议构成您与“丰趣海淘”达成的协议，具有法律效力。</p>
<p>1.	您在注册时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在注册资料中出现违法和不良信息。</p>

<p>2.	您支付交易款项过程中，您点击“提交订单”意味着您认可订单表格中包含的所有信息都是正确和完整的。由于众所周知的互联网技术因素等客观原因存在，丰趣海淘显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解。在由于排版错误或信息错误的情况下以不正确的价格列出来的商品，丰趣海淘有拒绝或取消任何对以不正确的价格列出来的商品所下订单的权利。</p>

<p>3.	您承诺在丰趣海淘所购买商品系个人合理自用，现委托丰趣海淘代理申报、代缴税款等通关事宜，您保证遵守《海关法》和国家相关法律法规，保证所提供的身份信息和收货信息真实完整，无侵犯他人权益的行为，您愿意接受海关、检验检疫机构及其他监管部门的监管，并承担相应法律责任。  </p>

<p>4.	本协议自发布之日起实施，并构成您和丰趣海淘之间的共识。</p>
</div>
</div>
<!--尾部-->
== Slim::Template.new('../../module/footer.slim').render
<!--尾部-->
</body>
</html>
