@import '../../utils/variables';
@import '../../utils/placeholders';
@import '../../module/order-success';
@import '../../module/gotopay';
.header {
  border-bottom: 1px solid #353a42;
  padding-bottom: 23px;
}
.nav{
	display: none;
}

