/*
@styleguide

# 头部

*/
%header-icon{
	background:url(http://img0.sfht.com/cmsres/20151013/287d7c27-1494-4e00-8d69-5520ff497bad.png) no-repeat;
	vertical-align:middle;
	display:inline-block;
}
.header1{
	height: 30px;
	line-height: 30px;
	background: #3E3A39;
}
.header-c1 {
	margin-top: 23px;
}
.header1-c1 a{
	margin-right: 20px;
}
.header .header-c2{
	margin-top: 20px;
}
.header1-c2 a{
	margin-left: 20px;
}
.header-icon01{
	@extend %header-icon;
	width:203px;
	height:67px;
	font-size: 0;
}
.header-icon02{
	@extend %header-icon;
	width:20px;
	height:24px;
	margin-right:4px;
	background-position:-268px 0px;
}
.header-icon03{
	@extend %header-icon;
	width:20px;
	height:25px;
	margin-right:4px;
	background-position:-300px 0px;
}
.header-icon04{
	@extend %header-icon;
	width:20px;
	height:25px;
	margin-right:4px;
	background-position:-336px 0px;
}
.header-icon05{
	@extend %header-icon;
	margin-top: 6px;
	width: 25px;
	height:22px;	
	background-position:-384px 0;
	position: relative;
}
.header-icon06{
	@extend %header-icon;
	background-position: -245px 0;
	width: 9px;
	height: 12px;
	margin-left: 10px;
}
.header-icon07{
	@extend %header-icon;
	background-position: -413px -34px;
	width: 25px;
	height: 24px;
	float:left;
	margin-left:-30px;
	margin-top:6px;
}
.nav-c2{
	margin-left: 22px;
}
.cart-num,
.cart-item{
	display: inline-block;
	height: 35px;
	text-align: center;
}
.cart-num{
	width: 54px;
	background-color: #fff;	
	position: relative;
}
.cart-num:before{
	content:'';
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
.cart-num-inner{
	@extend %header-icon;
	background-position: -416px 0;
	width: 22px;
	height: 24px;
	line-height: 22px;
	margin-left: -1px;
	font-size: 12px;
	overflow: hidden;
	position: absolute;
	top: -16px;
	left: 17px;	
}
.cart-item{
	width: 123px;
	vertical-align: top;
	line-height: 37px;
	color: #666;
	margin-left: -1px;
	&:hover{
		color: rgba(102,102,102,0.8);
	}
}
.header1-c2 .icon116{
	margin-right: 8px;
}
.header1 a{
	color: #ccc;
	&:hover{
		color:rgba(204,204,204,0.8);
	}
}
.header1-user{
	margin-right:20px;
}
.header1-qrcode{
	position: relative;
}
.header1-qrcode:hover img{
	display: block;
}
.header1-qrcode img{
	position: absolute;
	left: -60px;
	top: 10px;
	z-index: map-get($z-index,header1-qrcode-img);
	display: none;
}
.header,
.nav{
	background-color: #fff;
}
.svg-header-logo-big{
	width:181px;
	height:66px;
}
.svg-header2{
	width:20px;
	height:24px;
	margin-right:7px;
}
.svg-header3{
	width:20px;
	height:24px;
	margin-right:7px;
}
.svg-header4{
	width:20px;
	height:24px;
	margin-right:7px;
}
.svg-header5{
	width:22px;
	height:19px;
}
.svg-header6{
	width:8px;
	height:13px;
	margin-left:12px;
}
.svg-header-cart-red{
	width:25px;
	height:22px;
}
.svg-header-logo{
	width:149px;
	height:36px;
}
.svg-ashbin{
	width:16px;
	height:16px;
}
@import 'headersearchbox';