
%comparison-icon{
	background:url(#{$bg-url}comparison.png) no-repeat;
	display: inline-block;
	vertical-align:middle;
}
%faq-icon{
	background:url(#{$bg-url}faq.png) no-repeat;
	display: inline-block;
	vertical-align:middle;
	margin-right:14px;
}
%discovery-icon{
	background: url(#{$bg-url}discovery.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}