/*
@styleguide

# 详情页
	
*/
@import '../../modules/crumbs/index';
@import '../../modules/goods/index';
@import '../../modules/presell-steps/index';
@import '../../modules/match/index';
@import '../../modules/recommends2/index';
@import '../../modules/comment/index';
@import '../../modules/comment-img/index';
@import '../../modules/comment-list/index';
@import '../../modules/comment-tab/index';
@import '../../modules/comment-additional/index';
@import '../../modules/comment-label/index';
@import '../../modules/comment-progress/index';
@import '../../modules/flow/index';
@import '../../modules/detail-tab/index';
@import '../../modules/goods-seckill/index';/*暂时未找到哪里有引用*/
@import '../../modules/comment-h/index';
@import '../../modules/faq/index';
@import '../../modules/comparison/index';
@import '../../modules/notify/index';
@import '../../modules/detail-h/index';
@import '../../modules/detail-content/index';
.detail{
	background:#fff;
	margin-bottom:20px;
	padding:0 0 30px;
}

.detail-b{
	padding: 0 50px;
}






























