##titleSubmodule name subName
##itemId link imgUrl name label showNationalUrl shippingPoint
#if($content&&$content.size()==2)
    #set($titleSubmodule=$content.get(0))
    #set($productSubmodule=$content.get(1))
    #if($productSubmodule&&$productSubmodule.size()>0)
    <div class="product pm cms-module-fillprice">
        #if($titleSubmodule&&$titleSubmodule.size()>0)
        ##        热卖商品<span>每一款都为您精挑细选  度身定制</span>
            <h2 class="index-h2">$!{titleSubmodule.get(0).get("name")}<span>$!{titleSubmodule.get(0).get("subName")}</span></h2>
        #end
        <div class="mb">
        ##cms-flag-itemlist 标记商品列表
            #set($itemlist="")
            #foreach($product in $productSubmodule)
                #set($itemlist=$product.get("itemId")+","+$itemlist)
            #end
            <ul class="clearfix product-list cms-src-itemlist" data-cms-itemlist="$!{itemlist}">
                #foreach($product in $productSubmodule)
                ##cms-flag-item 标记商品
                    <li class="cms-src-item" data-cms-itemid="$product.get("itemId")">
                        <div class="product-r1">
                            <a href="$product.get("link")"><img class="img-lazyload" src="http://img.sfht.com/sfht/img/loading.gif"
                                                                lazy-src="$product.get("imgUrl")"
                                                                alt="$product.get("name")"></a><span></span>
                            #if($!{product.get("label")}&&$!{product.get("label")}!="")
                                <div class="label label-new">$!{product.get("label")}</div>
                            #end
                        </div>
                        <h3><a href="$product.get("link")">$product.get("name")</a></h3>

                        <p><img src="$product.get("showNationalUrl")" alt="货源地" width="22" height="14"/>$product.get("shippingPoint")发货</p>

                        <div class="product-r2 clearfix">
                        ##                            客户端渲染
                            <div class="product-r2c1 fl">￥
                                <strong>
                                    <span class="cms-fill-price">
                                    </span>
                                </strong>
                                <span class="cms-fill-discountparent">
                                    <span class="cms-fill-discount"></span>折
                                </span>
                                <span class="cms-fill-originpriceparent">
                                    <del>￥<span class="cms-fill-originprice"></span></del>
                                </span>
                            </div>
                            <div class="product-r2c2 fr">
                                <a href="#" class="btn btn-buy cms-fill-gotobuy">立即购买</a>
                            </div>
                        </div>
                    </li>
                #end
            </ul>
        </div>
    </div>
    #end
#end