/*
@styleguide

# 常见问题

*/
.commonProblem{
  background: #fff;
  margin-bottom: 10px;
}
.commonProblem h2{
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 12px;
  font-weight: normal;
}

.commonProblem li{
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  border-top: 1px solid #f7f7f9;
  font-size: 14px;
}
.commonProblem li a{
  color: #666;
}
.commonProblem .icon-message{
  width: 23px;
  height: 23px;
  vertical-align: middle;
  margin-right: 10px;
}
