<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../../../css/pages/common/common.css" rel="stylesheet" type="text/css" />
<link href="../../../css/pages/order/gotopay.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('../../module/header2.slim').render
<div class="pb">
  <div class="pm"> 
    
    <!--去支付-->
    <div class="order-success">
      <span class="icon icon36"></span>
      <h1>订单提交成功，现在只差最后一步啦！</h1>
      <!-- <div class="order-success-r1">订单金额：¥900</div> -->
      <div class="order-success-r1">预售定金：¥40</div>
      <p>请您在提交订单后<span class="text-important">1小时00分钟</span>内完成支付，否则订单会自动取消！</p>
      <div class="order-success-pos">
        <a href="javascript:" id="order-detail" class="text-link">订单详情<span class="icon icon16-1"></span></a>
      
      </div>
    
    </div>  
    <div class="order-success-detail">
      <ul>
        <li><span>订单编号：</span>x201504022GIRDER471878</li>
        <li><span>下单时间：</span>201xw5-04－28</li>
        <li><span>订单内容：</span>韩国Nature Republic自然乐园芦荟胶300ml/瓶x2 <br />Mediheal可莱丝HDP收缩毛孔去粉刺竹炭面膜 10片/盒</li>
        <li><span>送货地址：</span>张弦悦 13306132577 上海徐汇区红梅路20071号楼8楼</li>
      </ul>
    </div>
    <div class="gotopay">
      <div class="gotopay-r1">应付金额:<b class="text-important">¥</b><strong class="text-important">896.90</strong>
        <span class="gotopay-r1-c1">原应付：￥388</span><span class="gotopay-r1-c1">首单减优惠：-￥388</span>
      </div>
      <h2>推荐支付方式:</h2>
      <ul class="first">
        <li class="active">
          <img src="../../../img/other/gotopay2.png" alt="支付宝" />
          <h3>中国最大的第三方支付平台</h3>
          <span class="icon icon85"></span>
        </li>
      </ul>
      <h2>其他支付方式:</h2>
      <button class="btn btn-normal">其他支付方式</button>
      <ul class="last hide">
        <li>
          <img src="../../../img/other/gotopay1.png" alt="快捷支付" />
          <h3>首次使用快捷支付，立减5元</h3>
          <span class="icon icon85"></span>
        </li>
        <li>
          <img src="../../../img/other/gotopay3.png" alt="微信支付" />
          <h3>首次使用快捷支付，立减5元</h3>
          <span class="icon icon85"></span>
        </li>
        <li>
          <img src="../../../img/other/gotopay4.png" alt="财付通" />
          <h3>首次使用快捷支付，立减5元</h3>
          <span class="icon icon85"></span>
        </li>
      </ul>
      <div class="gotopay-r2">使用<span class="text-important" id="payment">快捷支付</span>进行支付<button class="btn btn-danger btn-big">确认支付</button></div>
    </div> 
  </div>
</div>
<!--尾部--> 
== Slim::Template.new('../../module/footer.slim').render 
<!--尾部--> 
<script src="js/jquery-1.11.1.min.js"></script> 
<script src="js/index.js"></script>
<script src="js/gotopay.js"></script>
</body>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>