.sort-icon {
    font-size: 10px;
}

.sort-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sort.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .sort-icon:before {
    background-image: url("../svg/sort.png");
}

