@charset "UTF-8";
/*
@styleguide

# 个人中心

*/
.personal {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
  display: table;
  width: 100%; }

.personal > div {
  display: table-cell;
  vertical-align: top; }

.personal-c1 {
  width: 198px;
  text-align: center; }

.personal-c1 h1 {
  height: 58px;
  line-height: 58px;
  color: #de3d3f;
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  font-weight: normal; }

.personal-c1 li {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px; }

.personal-c1 li a {
  color: #777;
  display: block;
  height: 58px;
  line-height: 58px; }

.personal-c1 li.active {
  position: relative;
  margin-left: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 4px;
  width: 200px;
  background: #fff; }

.personal-c1 li.active:before {
  content: '';
  height: 100%;
  width: 4px;
  background: #db3f40;
  position: absolute;
  left: 0px; }

.personal-c2 {
  padding: 0 39px 0 39px;
  border-left: 1px solid #e5e5e5; }

.myorder-tab {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px; }

.myorder-tab li {
  display: inline-block;
  height: 68px;
  line-height: 68px;
  padding: 0 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px; }

.myorder-tab li a {
  color: #777; }

.myorder-tab li strong {
  color: #de3d3f;
  margin-left: 5px;
  font-weight: bold; }

.myorder-tab li.active {
  border-bottom: 4px solid #db3f40;
  position: relative;
  top: 1px; }

.myorder-tab li.active a {
  color: #de3d3f; }

/*
@styleguide

# 收藏

*/
.collect ul {
  margin-left: -12px; }

.collect-list li {
  float: left;
  width: 216px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 12px;
  border: 1px solid #E5E5E5;
  margin-bottom: 12px; }

.collect-list .collect-r1:hover .icon-trash {
  display: block; }

.collect-r1 {
  position: relative; }

.collect-r1 .icon-trash {
  position: absolute;
  right: 0px;
  top: 0px;
  display: none; }

.collect-list h3 {
  margin-top: 16px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 5px;
  height: 42px;
  overflow: hidden; }

.collect-list strong {
  font-size: 18px;
  margin-right: 5px; }

.collect-list del {
  font-size: 14px;
  color: #ccc; }

.collect .text-orange {
  margin-top: 8px; }

.collect-r2c1 {
  padding-top: 5px; }
