.helpcenter-orderpay-icon {
    font-size: 10px;
}

.helpcenter-orderpay-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/helpcenter-orderpay.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .helpcenter-orderpay-icon:before {
    background-image: url("../svg/helpcenter-orderpay.png");
}

