@import "../coupons/index.scss";
.cart-coupon{
	padding: 30px 40px;
	margin-top: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 1px dashed #ccc;
	border-radius: 4px 4px 0 0;
}
.cart-coupon-r1{
	margin-bottom: 26px;
}
.cart-coupon-r1 a{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background: #de312d;
	color: #fff;
	border-radius: 2px;
	margin-right: 20px;
	text-indent: -999em;
	position: relative;
}
.cart-coupon-r1 a:before,
.cart-coupon-r1 a:after{
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -1px;
	transition:all 0.5s;
}
.cart-coupon-r1 a.active:before{
	transform:rotate(270deg);
}
.cart-coupon-r1 a.active:after{
	transform:rotate(360deg);
}
.cart-coupon-r2{
	padding-bottom: 17px;
	border-bottom: 1px dashed #aaa;
	text-align: right;
}
.cart-coupon-r2 .text-link .icon{
	transition:all 0.3s;
}
.cart-coupon-r2 .text-link.active .icon{
	transform:rotate(180deg);
	
	vertical-align: 1px;
}


.cart-coupon-r3{
	color: #aaa;
	margin-top: 24px;
}
.cart-coupon-r3 a{
	margin-left: 5px;
}
.cart-coupon-r4 input{
	padding-top: 12px;
	padding-bottom: 12px;
}
.cart-coupon-r4 .btn-normal{
	margin: 0 10px;
}