/*
@styleguide

# 头部

*/
@import "../../utils/variables";
@import "sprites/css/sprite";
@import 'headersearchbox';
@import 'nav';
%header-icon{
	vertical-align:middle;
	display:inline-block;
}
.header1{
	height: 30px;
	line-height: 30px;
	background: #3E3A39;
}
.header-c1 {
	margin-top: 23px;
}
.header1-c1 a{
	margin-right: 20px;
}
.header .header-c2{
	margin-top: 20px;
}
.header1-c2 a{
	margin-left: 20px;
}
.header1-c2>ul>li{
	display:inline-block;
}
.header-c2 .header-icon{
	@extend %header-icon;
}
.header-icon.icon-cart-black{
	@extend %header-icon;
	margin-right: 5px;
	position: relative;
}
.header-icon.icon-arrow-right{
	margin-left:10px;
}
.header-icon.icon-ashbin{

}
.nav-c2{
	margin-left: 22px;
}
.cart-num,
.cart-item{
	display: inline-block;
	height: 35px;
	text-align: center;
}
.cart-num{
	width: 54px;
	background-color: #fff;	
	position: relative;
}
.cart-num:before{
	content:'';
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
.icon-bubble{
	@extend %header-icon;
	position: absolute;
	top: -16px;
	left: 19px;	
}
.header-bubble-num{
	position: absolute;
	left:0;
	right:0;
	top:5px;
}
.cart-item{
	width: 123px;
	vertical-align: top;
	line-height: 37px;
	color: #666;
	margin-left: -1px;
	&:hover{
		color: rgba(102,102,102,0.8);
	}
}
.header1-c2 .icon116{
	margin-right: 8px;
}
.header1 a{
	color: #fff;
	&:hover{
		color:rgba(204,204,204,0.8);
	}
}
.header1-user{
	margin-right:20px;
}
.header1-qrcode{
	position: relative;
}
.header1-qrcode:hover img{
	display: block;
}
.header1-qrcode img{
	position: absolute;
	left: -60px;
	top: 10px;
	z-index: map-get($z-index,header1-qrcode-img);
	display: none;
}
.header1-focus{
	position:relative;
}
.header1-focus img{
	display:none;
	position: absolute;
	left:-104px;
	top:- 4px;
}
.header1-focus ul{
	display:none;
	position: absolute;
	right:0;
	top:100%;
	z-index:2;
	background:#2F2E2E;
	padding:0 15px;
}
.header1-focus li{
	height:30px;
	line-height:30px;
	border-bottom:1px solid #3E3A39;
	width:70px;
	white-space:nowrap;
}
.header1-focus li:hover img{
	display:block;
}
.header1-focus li:last-child{
	border-bottom:none;
}
.header1-focus li a{
	margin-left:0;
}
.header1-focus li span{
	margin-right:4px;
}
.header1-focus .icon-arrow-down{
	margin-left:3px;
}
.header1-focus:hover ul{
	display:block;
}
.header,
.nav{
	background-color: #fff;
}

