.brand-icon {
    font-size: 10px;
}

.brand-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/brand.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .brand-icon:before {
    background-image: url("../svg/brand.png");
}

