.header2-icon {
    font-size: 10px;
}

.header2-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/header2.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .header2-icon:before {
    background-image: url("../svg/header2.png");
}

