<div id="messagedialog">
  <div class="mask2" style="display: inline;width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: #000; opacity: 0.5; filter:alpha(opacity=50); z-index: 3;"></div>

  <div class="dialog dialog-center" style="display: block; text-align:left">
    <h2>{{title}}</h2><a href="javascript:void(0)" class="btn btn-close" id="close">关闭</a>
    <div id="content">{{content}}</div>
    <div class="dialog-f">
      {{{buttons}}}
    </div>
  </div>
</div>


