<div class="mask"></div>
<div class="u-dialog u-dialog-browser">
    <div class="u-dialog-main">
        <div class="u-dialog-h">
            <span class="icon icon46"></span>
            <button type="button" class="icon icon48 btn-close"></button>
        </div>
        <div class="u-dialog-browser-b">
            <h2><span class="icon icon47"></span>浏览器版本太低了啦！</h2>
            <p class="u-dialog-browser-r1">对不起，为了得到我们网站最好的体验效果
                <br>我们建议您使用升级到最新版本的internet Explorer 或选择另一个web浏览器</p>
            <p class="u-dialog-browser-r2">推荐您使用下方列表中的浏览器<b>↓</b></p>
            <ul>
                <li><a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/" class="icon icon43"></a><a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/">CHROME</a></li>
                <li><a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/" class="icon icon45"></a><a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/">Internet Explorer 9</a></li>
                <li><a target="_blank" href="http://www.firefox.com.cn/download/" class="icon icon44"></a><a target="_blank" href="http://www.firefox.com.cn/download/">Firefox</a></li>
            </ul>
        </div>
    </div>
</div>