<div>
  {{#each process}}
  <div class="{{classname}} {{on tag active}}" style="{{custom process tag style}}">
    <b class="fl">{{num}}</b><span class="fl">{{name}}</span>
  </div>
  {{/each}}
</div>