<div class="page">
  <a href="#" class="pagination-prev"><span class="icon icon16-7"></span></a>

  {{#each sarr}}
  <a href="#" data-target="{{.}}" class="{{equal current .}} pagination-set-page">{{.}}</a>
  {{/each}}

  {{#requireMore}}
  <span>...</span>
  {{/requireMore}}

  {{#each larr}}
  <a href="#" data-target="{{.}}" class="{{equal current .}} pagination-set-page">{{.}}</a>
  {{/each}}

  <a href="#" class="pagination-next"><span class="icon icon16-6 "></span></a>
</div>