<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/617.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('module/header.slim').render
<div class="pb">
  <div class="m617-banner"></div>
  <div class="pm">
    <div class="m617-r1 clearfix">
      <div class="m617-r1c1 fl">
        <a href=""><img src="../img/617/617_02.jpg"></a>
        <a href=""><img src="../img/617/617_05.jpg"></a>
      </div>
      <div class="m617-r1c2 fl">
        <a href=""><img src="../img/617/617_03.jpg"></a>
      </div>
      <div class="m617-r1c3 fr">
        <a href=""><img src="../img/617/617_04.jpg"></a>
      </div>
    </div>
    <div class="m617-time">
      <span class="c1">12</span>
      <span class="c2">34</span>
      <span class="c3">56</span>
    </div>
    <div class="m617-top">
      <ul>
        <li>年中大促</li>
        <li><a href="">查看攻略</a></li>
        <li><a href="">整点秒杀</a></li>
        <li><a href="">奶粉</a></li>
        <li><a href="">纸尿裤</a></li>
        <li><a href="">美妆个护</a></li>
        <li><a href="">宝宝辅食</a></li>
        <li><a href="">宝宝用品</a></li>
        <li><a href="">活色生鲜</a></li>
        <li><a href="#">TOP<span class="icon icon16-2"></span></a></li>
      </ul>
    </div>
    <div class="m617-tab">
      <ul class="m617-tab-h">
        <li class="active"><a href="">10点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">14点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">15点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">16点整</a><span class="icon icon16-5"></span></li>
        <li><a href="">21点整</a><span class="icon icon16-5"></span></li>
      </ul>
      <div class="m617-tab-b active">
        <li><a href=""><img src="../img/61/1.jpg"></a></li>
        <li><a href=""><img src="../img/61/2.jpg"></a></li>
        <li><a href=""><img src="../img/61/3.jpg"></a></li>
        <li><a href=""><img src="../img/61/4.jpg"></a></li>
        <li><a href=""><img src="../img/61/5.jpg"></a></li>
        <li><a href=""><img src="../img/61/6.jpg"></a></li>
        <li><a href=""><img src="../img/61/7.jpg"></a></li>
        <li><a href=""><img src="../img/61/8.jpg"></a></li>
      </div>
      <div class="m617-tab-b">
        <li><a href=""><img src="../img/61/5.jpg"></a></li>
        <li><a href=""><img src="../img/61/6.jpg"></a></li>
        <li><a href=""><img src="../img/61/7.jpg"></a></li>
        <li><a href=""><img src="../img/61/8.jpg"></a></li>
        <li><a href=""><img src="../img/61/1.jpg"></a></li>
        <li><a href=""><img src="../img/61/2.jpg"></a></li>
        <li><a href=""><img src="../img/61/3.jpg"></a></li>
        <li><a href=""><img src="../img/61/4.jpg"></a></li>
      </div>
      <div class="m617-tab-b">
        <li><a href=""><img src="../img/61/4.jpg"></a></li>
        <li><a href=""><img src="../img/61/5.jpg"></a></li>
        <li><a href=""><img src="../img/61/6.jpg"></a></li>
        <li><a href=""><img src="../img/61/1.jpg"></a></li>
        <li><a href=""><img src="../img/61/2.jpg"></a></li>
        <li><a href=""><img src="../img/61/3.jpg"></a></li>
        <li><a href=""><img src="../img/61/7.jpg"></a></li>
        <li><a href=""><img src="../img/61/8.jpg"></a></li>
      </div>
    </div>
  </div>
    
</div>
<!--尾部-->
== Slim::Template.new('module/footer.slim').render
<!--尾部-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/617.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>