<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>扒衣见君</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/81.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
  <div class="m81">
    <div class="pm">
      <div class="m81-day">6</div>
      <a class="m81-play" href="javascript:">播放</a>
      <div class="m81-info">
        <ul>
          -for i in 1..9
            <li><span>#{i}51*****777</span>领取全场满299减100红包</li>
        </ul>
        
      </div>
      <a href="" class="m81-btn">点击领取</a>
    </div>
    
  </div>
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/81.js"></script>
</body>
</html>