<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/cart.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('module/header2.slim').render
<div class="pb">
  <div class="pm"> 
    <!--购物车-->
    <div class="cart">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th class="th1"><input type="checkbox">全选</th>
                        <th class="th2">商品信息</th>
                        <th class="th3">单价（元）</th>
                        <th class="th4">数量</th>
                        <th class="th5">金额</th>
                        <th class="th6">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td1">
                            <input type="checkbox"> 
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <del>1099.00</del>
                            <strong>599.00</strong>
                            <div class="icon icon73">限时促销</div>
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span></div>
                            <p class="text-error">限购 2 件</p>
                        </td>
                        <td class="td5">
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <input type="checkbox"> 
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span></div>
                            <p>限购 2 件</p>
                        </td>
                        <td class="td5">
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <input type="checkbox"> 
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span></div>
                        </td>
                        <td class="td5">
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <input type="checkbox"> 
                            <a href=""><img src="../img/product.jpg"></a>
                            <span class="icon icon74">满折减</span>
                        </td>
                        <td class="td2">
                            <div class="text-error">已满足2件8折优惠 <a class="text-error">更多活动内容>  </a></div>
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span></div>
                        </td>
                        <td class="td5">
                            <del>1099.00</del>
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <input type="checkbox"> 
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span></div>
                        </td>
                        <td class="td5">
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <input type="checkbox"> 
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">
                            <div><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span></div>
                        </td>
                        <td class="td5">
                            <del>1099.00</del>
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr class="cart-disable">
                        <td class="td1">
                            <span class="label label-disabled">已下架</span>   
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">1</td>
                        <td class="td5">
                            <del>1099.00</del>
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                    <tr class="cart-disable">
                        <td class="td1">
                            <span class="label label-disabled">已下架</span>   
                            <a href=""><img src="../img/product.jpg"></a>
                        </td>
                        <td class="td2">
                            <h2><a href="">韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</a></h2>
                            <div class="cart-standard">蓝色 20com</div>
                        </td>
                        <td class="td3">
                            <strong>599.00</strong>
                        </td>
                        <td class="td4">1</td>
                        <td class="td5">
                            <del>1099.00</del>
                            <strong class="text-error">599.00</strong>
                        </td>
                        <td class="td6">
                            <a class="icon icon72" href="">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        	
    	<div class="cart-footer cart-footer-fixed clearfix">
    		<div class="cart-footer-c1 fl">
    			<label><input type="checkbox" />全选</label>|
    			<a href="">删除选中商品</a>
    			<a href="">清除无效商品</a>
    		</div>
    		<div class="cart-footer-c2 fr">
    			<ul>
    				<li class="li1"><span class="s1">商品总计 :</span>¥1200</li>
    				<li class="li1">
    					<div class="tooltip-cart"><span class="icon icon77 fl"></span><span class="text-error">已满足满200减100活动：省100</span><span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>
    					<span class="s1">活动优惠 :</span>- ¥ 100
    				</li>
    				<li><span class="s1">总价（含税费） :</span><strong class="text-error">¥1100</strong></li>
    			</ul>
    			<div class="tooltip-cart"><span class="icon icon77 fl"></span>您已经超过了海关<span class="text-error">限额¥1000</span>，请选择部分商品进行结算<span class="icon icon78"></span><span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>
    			
    			
    			<button class="btn btn-disable">去结算</button>
    			

    		</div>
    		<span class="icon icon75"></span>
    		<span class="icon icon76"></span>
    	</div>
    </div>
    <!--购物车--> 
  </div>
</div>
<!--尾部--> 
== Slim::Template.new('module/footer.slim').render 
<!--尾部--> 
<script src="js/jquery-1.11.1.min.js"></script> 
<script src="js/index.js"></script>
<script src="js/cart.js"></script>
</body>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>