<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/cart.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('module/header2.slim').render
<div class="pb">
  <div class="pm"> 
    <!--购物车-->
    <div class="cart">
    	<table>
    		<thead>
    			<tr>
    				<th><input tyle="checkbox">全选</th>
    				<th>商品信息</th>
    				<th>单价（元）</th>
    				<th>数量</th>
    				<th>金额</th>
    				<th>操作</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>
    					<input tyle="checkbox">	
    					<img src="img/product.jpg">
    				</td>
    				<td>
    					<h2>韩国Nature Republic自然乐园芦荟胶300ml/瓶x2</h2>
						<div class="cart-standard">蓝色 20com</div>
    				</td>
    				<td>
    					<del>1099.00</del>
    					<strong>599.00</strong>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
    <!--购物车--> 
  </div>
</div>
<!--尾部--> 
== Slim::Template.new('module/footer.slim').render 
<!--尾部--> 
<script src="js/jquery-1.11.1.min.js"></script> 
<script src="js/index.js"></script>
</body>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>