<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>确定订单</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/order.css" rel="stylesheet" type="text/css" />
<link href="../css/center.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="pm">
      <!--订单-->
      <div class="center order">

        <h2>收货人管理</h2>
        <div class="order-b active">
          <ul>
            <li class="clearfix active">
              <div class="order-r1 clearfix">
                <div class="order-r1c1 fl">
                  <span>黄小牙</span>
                  <span>身份证号：350***********6233</span>
                  <span>联系方式：13699839901</span>
                </div>
                <div class="order-r1c2 fl">
                  <a class="order-edit" href="">修改</a>
                  <a class="order-del" href="">删除</a>
                </div>
              </div>
              <div class="order-r2">
                <h3>修改收货人信息</h3>
                <p class="order-r2r1">由于国家政策规定，海淘商品进口需提供收货人的实名认证信息。</p>
                <ul>
                  <li class="li">
                    <label for="name">姓名：</label>
                    <input type="text" id="name" value="黄小牙" />
                  </li>
                  <li class="li">
                    <label for="identity">身份证</label>
                    <input id="identity" type="text" value="350***********6233" />
                    <p class="order-r2r2">为了使您可以顺畅的收到进口商品，请务必填写正确的身份证信息</p>
                  </li>
                  <li class="li">
                    <label for="phone">电话</label>
                    <input id="email" type="text" value="13699839901" />
                  </li>
                </ul>
                <div class="order-r2r3">
                  <a href="#" class="btn btn-send">保存</a>
                  <a href="#" class="order-cancel">取消保存</a>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="order-r1 clearfix">
                <div class="order-r1c1 fl">
                  <span>陈小雨</span>
                  <span>身份证号：350***********2229</span>
                  <span>联系方式：15990029910</span>
                </div>
                <div class="order-r1c2 fl">
                  <a class="order-edit" href="">修改</a>
                  <a class="order-del" href="">删除</a>
                </div>
              </div>
              <div class="order-r2">
                <h3>修改收货地址信息</h3>
                <ul>
                  <li class="li">
                    <label for="name">姓名：</label>
                    <input type="text" id="name" value="黄小牙" />
                  </li>
                  <li class="li">
                    <label for="identity">身份证</label>
                    <input id="identity" type="text" value="350***********6233" />
                  </li>
                  <li class="li">
                    <label for="phone">电话</label>
                    <input id="email" type="text" value="13699839901" />
                  </li>
                </ul>
                <div class="order-r2r3">
                  <a href="#" class="btn btn-send">保存</a>
                  <a href="#" class="order-cancel">取消保存</a>
                </div>
              </div>
            </li>
          </ul>
          <div class="order-r2">
            <h3>添加收货人信息</h3>
            <p class="order-r2r1">由于国家政策规定，海淘商品进口需提供收货人的实名认证信息。</p>
            <ul>
              <li class="li">
                <label for="name">姓名：</label>
                <input type="text" id="name" value="黄小牙" />
              </li>
              <li class="li">
                <label for="identity">身份证</label>
                <input id="identity" type="text" value="350***********6233" />
                <p class="order-r2r2">为了使您可以顺畅的收到进口商品，请务必填写正确的身份证信息</p>
              </li>
              <li class="li">
                <label for="phone">电话</label>
                <input id="email" type="text" value="13699839901" />
              </li>
            </ul>
            <div class="order-r2r3">
              <a href="#" class="btn btn-send">保存</a>
              <a href="#" class="order-cancel">取消保存</a>
              <span class="icon icon26-1">保存成功</span>
            </div>
          </div>
          <a href="#" class="btn btn-add">+ 添加收货人信息</a>
        </div>

        <h2>收货地址管理</h2>
        <div class="order-b active">
          <ul>
            <li class="clearfix active">
              <div class="order-r1 clearfix">
                <div class="order-r1c1 fl">
                  <span>上海</span>
                  <span>上海市</span>
                  <span>虹梅路2007号上海远中产业园1号楼8楼</span>
                  <span>200002</span>
                </div>
                <div class="order-r1c2 fl">
                  <a class="order-edit" href="">修改</a>
                  <a class="order-del" href="">删除</a>
                </div>
              </div>
              <div class="order-r2">
                <h3>修改收货地址</h3>
                <ul>
                  <li class="li">
                    <label for="area">选择地区：</label>
                    <div class="btn btn-select" role="btn">
                      <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                      <ul>
                        <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                        <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                        <li>7.5</li>
                        <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                        <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                      </ul>
                    </div>
                    <div class="btn btn-select" role="btn">
                      <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                      <ul>
                        <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                        <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                        <li>7.5</li>
                        <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                        <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                      </ul>
                    </div>
                    <div class="btn btn-select" role="btn">
                      <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                      <ul>
                        <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                        <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                        <li>7.5</li>
                        <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                        <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                      </ul>
                    </div>
                  </li>
                  <li class="li">
                    <label for="address">地址详情</label>
                    <input id="address" type="text" placeholder="填写详细地址">
                  </li>
                  <li class="li">
                    <label for="email">邮箱</label>
                    <input id="email" type="text" placeholder="填写邮箱">
                  </li>
                </ul>
                <div class="order-r2r3">
                  <a href="#" class="btn btn-send">保存</a>
                  <a href="#" class="order-cancel">取消保存</a>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="order-r1 clearfix">
                <div class="order-r1c1 fl">
                  <span>上海</span>
                  <span>上海市</span>
                  <span>虹梅路2007号上海远中产业园1号楼8楼</span>
                  <span>200001</span>
                </div>
                <div class="order-r1c2 fl">
                  <a class="order-edit" href="">修改</a>
                  <a class="order-del" href="">删除</a>
                </div>
              </div>
              <div class="order-r2">
                <h3>修改收货地址</h3>
                <ul>
                  <li class="li">
                    <label for="area">选择地区：</label>
                    <div class="btn btn-select" role="btn">
                      <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                      <ul>
                        <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                        <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                        <li>7.5</li>
                        <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                        <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                      </ul>
                    </div>
                    <div class="btn btn-select" role="btn">
                      <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                      <ul>
                        <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                        <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                        <li>7.5</li>
                        <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                        <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                      </ul>
                    </div>
                    <div class="btn btn-select" role="btn">
                      <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                      <ul>
                        <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                        <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                        <li>7.5</li>
                        <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                        <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                      </ul>
                    </div>
                  </li>
                  <li class="li">
                    <label for="address">地址详情</label>
                    <input id="address" type="text" placeholder="填写详细地址">
                  </li>
                  <li class="li">
                    <label for="email">邮箱</label>
                    <input id="email" type="text" placeholder="填写邮箱">
                  </li>
                </ul>
                <div class="order-r2r3">
                  <a href="#" class="btn btn-send">保存</a>
                  <a href="#" class="order-cancel">取消保存</a>
                </div>
              </div>
            </li>
          </ul>
          <div class="order-r2">
            <h3>添加收货地址</h3>
            <ul>
              <li class="li">
                <label for="area">选择地区：</label>
                <div class="btn btn-select" role="btn">
                  <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                  <ul>
                    <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                    <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                    <li>7.5</li>
                    <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                    <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                  </ul>
                </div>
                <div class="btn btn-select" role="btn">
                  <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                  <ul>
                    <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                    <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                    <li>7.5</li>
                    <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                    <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                  </ul>
                </div>
                <div class="btn btn-select" role="btn">
                  <span class="btn-select-num">请选择</span><span class="icon icon16-1"></span>
                  <ul>
                    <li><label>6.5<input type="radio" name="size" value="6.5" class="visuallyhidden"></label></li>
                    <li><label>7<input type="radio" name="size" value="7" class="visuallyhidden"></label></li>
                    <li>7.5</li>
                    <li><label>8<input type="radio" name="size" value="8" class="visuallyhidden"></label></li>
                    <li><label>9<input type="radio" name="size" value="9" class="visuallyhidden"></label></li>
                  </ul>
                </div>
              </li>
              <li class="li">
                <label for="address">地址详情</label>
                <input id="address" type="text" placeholder="填写详细地址">
              </li>
              <li class="li">
                <label for="email">邮箱</label>
                <input id="email" type="text" placeholder="填写邮箱">
              </li>
            </ul>
            <div class="order-r2r3">
              <a href="#" class="btn btn-send">保存</a>
              <a href="#" class="order-cancel">取消保存</a>
              <span class="icon icon26-1">保存成功</span>
            </div>
          </div>
          <a href="#" class="btn btn-add">+ 添加收货人信息</a>
        </div>

      </div>
      <!--订单-->
    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>

</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>