<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="pb">
    <div class="pm">
      <h2 class="index-h2">icon</h2>
      == Slim::Template.new('components/icon.slim').render
      <h2 class="index-h2">btn</h2>
      == Slim::Template.new('components/btn.slim').render

      <h2 class="index-h2">input</h2>
      == Slim::Template.new('components/input.slim').render
      <h2 class="index-h2">tooltip</h2>
      == Slim::Template.new('components/tooltip.slim').render
      <h2 class="index-h2">label</h2>
      == Slim::Template.new('components/label.slim').render

      <h2 class="index-h2">dialog</h2>
      == Slim::Template.new('components/dialog.slim').render
      <h2 class="index-h2">page</h2>
      == Slim::Template.new('components/page.slim').render
      <h2 class="index-h2">text</h2>
      == Slim::Template.new('components/text.slim').render
  </div>
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>