<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="lib/raty/lib/jquery.raty.css" rel="stylesheet">
<link href="../css/comment.css" rel="stylesheet" type="text/css" />

</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <!--main-->
  <div class="pb">
    <div class="pm">
      <!--面包屑-->
      <div class="crumbs"><a href="http://www.sfht.com/index.html">首页</a><span>&gt;</span><a href="http://www.sfht.com/mtorder.html">我的订单</a><span>&gt;</span>评价填写</div>
      <!--面包屑-->
      <div class="comment">
        <h2>商品评价</h2>
        <ul class="comment-h">
          <li class="comment-c1">商品信息</li>
          <li class="comment-c2">规格</li>
          <li class="comment-c3">评价</li>
        </ul>
        <ul class="comment-b">
            <li class="comment-list">
              <div class="comment-c1">
                <img src="http://dummyimage.com/100x100">
                <h3>韩国Nature 韩国THE CHOUTEi love gel nails G09天蓝色13ml G03西瓜红13ml G02</h3>
              </div>
              <div class="comment-c2">160ml*2+300ml</div>
              <div class="comment-c3">
                <a class="text-link comment-view" href="javascript:">发表评论</a>
                <p class="p1">（已获得10积分）</p>
              </div>
              <div class="comment-add hide js-comment-add">
                <ul>
                  <li>
                    <label class="justify"><abbr title="必填">*</abbr>商品评分<span>：</span></label><span class="rating"></span>
                    <div class="tooltip-cart tooltip-cart-left hide"><span class="comment-add-score">3</span>星不错<span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>
                    <p class="text-error hide">还没评分哟</p>
                  </li>
                  <li>
                    <label class="justify">标 签<span>：</span></label>
                    <span class="btn btn-goods active">补水效果不错<span class="icon icon23"></span></span>
                    <span class="btn btn-goods">用完滑滑的<span class="icon icon23"></span></span>
                    <span class="btn btn-goods">紧致肌肤<span class="icon icon23"></span></span>
                    <input class="comment-add-custom" placeholder="自定义标签">
                    <span class="s1">( 标签不能超过12个字，按回车提交 )</span>
                    <p class="text-error hide">最多只能添加3个标签哦，选你认为最贴切的吧</p>
                  </li>
                  <li>
                    <label class="justify"><abbr title="必填">*</abbr>您的评价<span>：</span></label>
                    <textarea class="textarea" placeholder="商品是否给力，快来分享下您的购物心得吧~"></textarea>
                    <span class="s1"><span class="text-error">5</span>-300字</span>
                    <p class="text-error hide">最少5个字，多说几句吧，小伙伴期待你的使用心得</p>
                    <!--   -->
                  </li>
                  <li>
                    <label class="justify">晒 单<span>：</span></label>
                    <ul class="comment-img comment-img-del">
                      -for i in 1..3
                        <li><img src="http://dummyimage.com/80x80" alt=""><a href="javascript:" class="comment-add-img-del">X</a></li>
                    </ul>
                    <label class="comment-add-img-add">
                      <span>+</span>添加照片<input type="file" class="visuallyhidden" />
                    </label>
                    <p class="p2">( 最多可上传5张照片，每张不超过5M。<br />支持格式jpg，jpeg，bmp，png，gif )</p>
                    <div class="comment-img-big">
                      <div class="comment-img-big-inner">
                        <a href="javascript:" class="comment-img-big-prev"></a>
                        <ul>
                          -for i in 1..3
                            <li><img src="http://dummyimage.com/#{i*2}00x300" alt=""></li>
                        </ul>
                        <a href="javascript:" class="comment-img-big-next"></a>
                      </div>
                    </div>



                    <p class="p3">照片将在1个工作日后展示，审核通过后将额外获得10个积分</p>
                    <button class="btn btn-danger btn-small" type="button">评价并继续</button><label><input class="checkbox" type="checkbox" checked />匿名评价</label>
                  </li>
                </ul>
              </div>
            </li>
            <li class="comment-list">
              <div class="comment-c1">
                <img src="http://dummyimage.com/100x100">
                <h3>韩国Nature 韩国THE CHOUTEi love gel nails G09天蓝色13ml G03西瓜红13ml G02</h3>
              </div>
              <div class="comment-c2">160ml*2+300ml</div>
              <div class="comment-c3">
                <a class="text-link comment-view" href="javascript:">查看评论</a>
                <p class="p1">（已获得10积分）</p>
              </div>
              <div class="comment-add hide js-comment-view">
                <ul>
                  <li>
                    <label class="justify"><abbr title="必填">*</abbr>商品评分<span>：</span></label><span class="rating"></span>
                    <div class="tooltip-cart tooltip-cart-left"><span class="comment-add-score">3</span>星不错<span class="icon icon16-5"></span><span class="icon icon16-5 icon16-5-1"></span></div>
                    <p class="text-error hide">还没评分哟</p>
                  </li>
                  <li>
                    <label class="justify">标 签<span>：</span></label>
                    <span class="btn btn-goods">补水效果不错<span class="icon icon23"></span></span>
                    <span class="btn btn-goods">用完滑滑的<span class="icon icon23"></span></span>
                    <span class="btn btn-goods">紧致肌肤<span class="icon icon23"></span></span>
                  </li>
                  <li>
                    <label class="justify"><abbr title="必填">*</abbr>您的评价<span>：</span></label>
                    <p class="p4">大促时候买的，价格很便宜，用了一片，觉得补水效果不错~</p>
                  </li>
                  <li>
                    <label class="justify">晒 单<span>：</span></label>
                    <ul class="comment-img">
                      -for i in 1..3
                        <li><img src="http://dummyimage.com/80x80" alt=""></li>
                    </ul>
                    <div class="comment-img-big">
                      <a href="javascript:" class="comment-img-big-prev"></a>
                      <ul>
                        -for i in 1..3
                          <li><img src="http://dummyimage.com/#{i*2}00x300" alt=""></li>
                      </ul>
                      <a href="javascript:" class="comment-img-big-next"></a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
        </ul>
      </div>

      <div class="satisfaction">
        <h2>整体满意度评价</h2>
        <ul>
          <li>
            <label><abbr title="必填">*</abbr>服务态度：</label><span class="rating"></span>
            <div class="text-error">错误提示</div>
          </li>
          <li>
            <label><abbr title="必填">*</abbr>发货速度：</label><span class="rating"></span>
            <div class="text-error">错误提示</div>
          </li>
          <li>
            <label><abbr title="必填">*</abbr>物流速度：</label><span class="rating"></span>
            <div class="text-error">错误提示</div>
          </li>
        </ul>
        <button class="btn btn-danger btn-small">提交</button>
      </div>
    </div>
  </div>
  <!--main-->
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="lib/raty/lib/jquery.raty.js"></script>
  <script src="js/comment-img.js"></script>
  <script src="js/comment.js"></script>
</body>
</html>
