<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/discovery.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="header1"><div class="pm"><div class="header1-c1 fl"><a href=""><span class="icon icon11"></span>海淘首页</a><a href="">登录</a><a href="">免费注册</a></div><div class="header1-c2 fr"><a href="">个人中心</a><a href="">帮助中心</a><a href="">我的优惠券</a><a href="">帮助中心</a><a href="">在线客服</a></div></div></div>
  
  <div class="pm">
    <h1 class="discovery-header">海淘发现<span>DISCOVERY</span></h1>
    <div class="discovery-index">
      <ul class="clearfix">
        <li>
          <div class="discovery-index-r1">
            <embed src="http://player.youku.com/player.php/sid/XOTM1MDc3MjQ4/v.swf" allowFullScreen="true" quality="high" width="530" height="348" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
            <span class="discovery-icon3"></span>
            <div class="discovery-index-num">6</div>
          </div>
          
          <h2><a href="">育儿海淘多多与“拉拉”——帮宝适拉拉裤的小探秘</a></h2>
          <p>帮助很大，我是新手妈妈，对如何判断是否该为宝宝换尿裤比较头疼，尿显功能的出现，对我帮助很大。</p>
          <div class="discovery-index-r2"><a href="javascript:" class="discovery-icon1"></a>喜欢<a class="discovery-icon2"></a>评论 32</div>
        </li>
        <li>
          <div class="discovery-index-r1">
            <img src="../img/flashsale.png">
            <span class="discovery-icon3"></span>
            <div class="discovery-index-num">6</div>
          </div>
          
          <h2><a href="">育儿海淘多多与“拉拉”——帮宝适拉拉裤的小探秘</a></h2>
          <p>帮助很大，我是新手妈妈，对如何判断是否该为宝宝换尿裤比较头疼，尿显功能的出现，对我帮助很大。</p>
          <div class="discovery-index-r2"><a href="javascript:" class="discovery-icon1"></a>喜欢<a class="discovery-icon2"></a>评论 32</div>
        </li>
        <li>
          <div class="discovery-index-r1">
            <img src="../img/product.jpg">
            <span class="discovery-icon3"></span>
            <div class="discovery-index-num">6</div>
          </div>
          
          <h2><a href="">育儿海淘多多与“拉拉”——帮宝适拉拉裤的小探秘</a></h2>
          <p>帮助很大，我是新手妈妈，对如何判断是否该为宝宝换尿裤比较头疼，尿显功能的出现，对我帮助很大。</p>
          <div class="discovery-index-r2"><a href="javascript:" class="discovery-icon1"></a>喜欢<a class="discovery-icon2"></a>评论 32</div>
        </li>
        <li>
          <div class="discovery-index-r1">
            <img src="../img/banner1.jpg">
            <span class="discovery-icon3"></span>
            <div class="discovery-index-num">6</div>
          </div>
          
          <h2><a href="">育儿海淘多多与“拉拉”——帮宝适拉拉裤的小探秘</a></h2>
          <p>帮助很大，我是新手妈妈，对如何判断是否该为宝宝换尿裤比较头疼，尿显功能的出现，对我帮助很大。</p>
          <div class="discovery-index-r2"><a href="javascript:" class="discovery-icon1"></a>喜欢<a class="discovery-icon2"></a>评论 32</div>
        </li>
      </ul>
      <div class="discovery-index-f">END</div>
    </div>
  </div>
    

  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/discovery.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>