<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>正品保证-帮助中心-顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/helpcenter.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="pm">
      <!--关于我们-->
      <div class="aboutus clearfix">
        <div class="aboutus-c1 fl">
          <span class="icon icon40">help center</span>
          <h1>帮助中心</h1>
          <h2>新手指南</h2>
          <ul>
            <li class="active"><span class="icon icon38"></span><a href="helpcenter-quality.html">正品保证</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-register.html">免费注册</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-shopping.html">购物流程</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-overbooking.html">下单指南</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-cost.html">费用说明</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-orderpay.html">订单支付</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-certification.html">实名认证</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-signfor.html">签收说明</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-order-status.html">查询订单</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-transport-failure.html">运输时效</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-size.html">尺码对照</a><span class="icon icon16-5"></span></li>
          </ul>
          <h2>常见问题</h2>
          <ul>
            <li><span class="icon icon38"></span><a href="helpcenter-account-infomation.html">账户信息</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-shopping-link.html">购物环节</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-shopping-time.html">配送时效</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-saled-problem.html">售后问题</a><span class="icon icon16-5"></span></li>
            <li><span class="icon icon38"></span><a href="helpcenter-tax.html">商品缴税</a><span class="icon icon16-5"></span></li>
          </ul>
        </div>
        <div class="aboutus-c2 fr">
          <!--面包屑-->
          <div class="aboutus-crumbs">
            <a href="http://www.sfht.com/index.html">首页</a><span>&gt;</span>正品保证
          </div>
          <!--面包屑-->
          <h3>1、正规采购渠道，货品全程跟踪</h3>

          <p>顺丰海淘秉承诚信的核心价值观，精选上千件来自国外优质供货商的海外商品，原产地直采，顺丰品质保证。<br />
          另外我们还提供数万件来自海外优质电商网站的商品，例如美国亚马逊、日本亚马逊等，完备的商品品类，让您足不出户便可轻松淘遍全球时尚精品，既省心更放心！</p>


          <h3>2、合理价位销售商品</h3>

          <p>顺丰海淘创办的初衷就是利用顺丰速运在国际运输与贸易上的优势，为消费者提供实惠、高品质的服务体验。顺丰海淘不会暴力销售，一直坚持获取最好的货源，利用销售季节、商家活动等方式将最全面的优惠信息及时传递给消费者，顺丰海淘的平均折扣幅度在20%-50%左右。同时，顺丰海淘也不会为了获利而低价销售过期、伪劣、假冒商品。顺丰海淘全程做到让用户放心，购物省心。</p>


          <h3>3、安全支付流程，放心支付</h3>

          <p>顺丰海淘采用全球知名的第三方支付平台——支付宝，作为我们的支付服务商。您在确认付款后会指引去支付宝页面完成付款。</p>


          <h3>4、退换货保障，完美售后</h3>

          <p>符合国家法律退换范围内的商品质量问题，顺丰海淘均可以退换，让您买的放心。</p>


          <h3>5、用户至上原则</h3>

          <p>为能给消费者提供优质产品与服务，维护消费者的合法权益，依据《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》等相关法律法规，顺丰海淘郑重承诺：</p>

          <p>1、顺丰海淘网站所展示产品，均来自正规渠道与厂家；</p>

          <p>2、顺丰海淘网站不提供任何“三无”、假冒伪劣、失效、变质及国家命令禁止销售的产品；</p>

          <p>3、顺丰海淘网站销售产品，质量均符合国家相关标准，暂无国家标准产品，参照部委、行业或企业标准从严执行；</p>

          <p>4、顺丰海淘网站就所出售商品，为消费者提供贴心售后服务，并不断完善。</p>
        </div>
      </div>
      <!--关于我们-->
    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>