<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=1280">
	<title>积分</title>
	<link href="../css/common.css" rel="stylesheet" type="text/css" />
	<link href="../css/myorder.css" rel="stylesheet" type="text/css" />
</head>
<body>
	== Slim::Template.new('module/header.slim').render
	<div class="pb">
		<div class="pm"> 
			<!--我的订单-->
			<div class="personal">
				<div class="personal-c1 fl">
					<h1>个人中心</h1>
					<ul>
						<li><a href="">我的订单</a></li>
						<li><a href="">账户管理</a></li>
						<li><a href="">收货地址</a></li>
						<li class="active"><a href="">我的积分</a></li>
					</ul>
				</div>
				<div class="personal-c2">
					<div class="integral">
						<h2>我的积分</h2>
						<div class="integral-r1">可用积分：<span class="text-important">1150</span>即将过期积分：<span class="text-important">240</span><span class="text-disabled">（2015年7月31日）</span></div>
						<div class="integral-tab clearfix">
							<div class="integral-tab-c1 fl">
								<ul>
									<li class="active"><a href="">全部</a></li>
									<li><a href="">收入</a></li>
									<li><a href="">支出</a></li>
								</ul>
									
							</div>
							<div class="integral-tab-c2 fr">
								<select>
									<option value="三个月内积分记录">三个月内积分记录</option>
									
								</select>
								<div class="tooltip-pos">
									<a class="text-link" href="">积分说明</a>
									<div class="tooltip-outer">
										<div class="tooltip">
											<span class="icon icon16-3"><span class="icon icon16-4"></span></span>
											<ul>
												<li>
													<span>1. </span>积分的有效期：<br />积分的有效期为1年，即从获得获得积分开始至次年年底，逾期自动作废（如若交易在使用积分有效期之外发生退款，该部分积分不予退还）。
												</li>
												<li>
													<span>2. </span>积分的兑换比例：<br />积分和人民币兑换比例是100:1，即100个积分相当于人民币1元。
												</li>
												<li>
													<span>3. </span>积分如何获取：<br />用户在顺丰海淘进行签到、在线支付订单都可以获得积分。每支付1元即获得1积分。
												</li>
												<li>
													<span>4. </span>积分的扣除：<br />所支付订单发生退货，需要扣除该商品通过支付所获赠的积分，如账户积分不足，则从商品退款金额中扣除相应的现金。
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="address">
						<div class="address-table integral-table">
							<table>
								<thead>
									<tr>
										<th class="col1">日期</th>
										<th class="col2">收入/支出</th>
										<th class="col3">说明</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="col1">2015-03-28   12:10:15</td>
										<td class="col2"><strong class="text-success">+50</strong></td>
										<td class="col3">签到获得</td>
										
									</tr>
									<tr>
										<td class="col1">2015-03-28   12:10:15</td>
										<td class="col2"><strong class="text-important">-50</strong></td>
										<td class="col3">订单消费（订单号：123456789012345）</td>
										
									</tr>
									<tr>
										<td class="col1">2015-03-28   12:10:15</td>
										<td class="col2"><strong class="text-success">+50</strong></td>
										<td class="col3">完成订单（订单号：123456789012345）</td>
										
									</tr>
									<tr>
										<td class="col1">2015-03-28   12:10:15</td>
										<td class="col2"><strong class="text-success">+50</strong></td>
										<td class="col3">签到获得</td>
										
									</tr>
									<tr>
										<td class="col1">2015-03-28   12:10:15</td>
										<td class="col2"><strong class="text-important">-50</strong></td>
										<td class="col3">订单消费（订单号：123456789012345）</td>
										
									</tr>
									<tr>
										<td class="col1">2015-03-28   12:10:15</td>
										<td class="col2"><strong class="text-success">+50</strong></td>
										<td class="col3">完成订单（订单号：123456789012345）</td>
										
									</tr>
								</tbody>
							</table>
						</div>
							
					</div>
				</div>
			</div>
			<!--我的订单--> 
		</div>
	</div>
	<!--尾部--> 
	== Slim::Template.new('module/footer.slim').render 
	<!--尾部--> 
	<script src="js/jquery-1.11.1.min.js"></script> 
	<script src="js/index.js"></script>
	<script src="js/cart.js"></script>
</body>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>