<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=1280">
	<title>积分</title>
	<link href="../css/common.css" rel="stylesheet" type="text/css" />
	<link href="../css/integral-active.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="integral-active">
		<div class="integral-active-r1"><a href="">查看我的积分</a></div>
		<div class="integral-active-r2"></div>
		<div class="integral-active-r3"></div>
		<div class="integral-active-r4"><a href="">去看看你得积分吧</a></div>
	</div>
</body>
</html>