<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>404</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="../css/introduce.css" rel="stylesheet" type="text/css" />
</head>
<body>
== Slim::Template.new('module/header.slim').render
<div class="introduce1">
	<div class="pm">
		<div data-0="transform:rotate(45deg) translate(0,-743px);" data-800="transform:rotate(-45deg) translate(0,-743px)" class="introduce1-plane"></div>
	</div>
	
</div>
<div class="introduce2">
	
</div>
<div class="introduce3">
	<ul>
		<li><a class="fancybox" href="http://player.youku.com/player.php/sid/XMTI2MDEzOTc1Ng==/v.swf">播放</a></li>
		<li><a class="fancybox" href="http://player.youku.com/player.php/sid/XMTI2MDE0MDIyNA==/v.swf">播放</a></li>
	</ul>	
	
	
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="lib/fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/introduce.js"></script>
<!--尾部-->
== Slim::Template.new('module/footer.slim').render
<!--尾部-->
</body>

</html>