<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=1280">
  <title>强悍的人生，不需要解释，只卖正品，顺丰直营</title>
  <link href="../css/common.css" rel="stylesheet" type="text/css" />
  <link href="lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
  <link href="../css/introduce.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
<div class="introduce1">
  <div class="pm">
    <div data-0="transform:rotate(45deg) translate(0,-743px);" data-800="transform:rotate(-45deg) translate(0,-743px)" class="introduce1-plane"></div>
  </div>

</div>
<div class="introduce-logistics">
  <h2>强大的物流仓管能力</h2>
  <p>“强大的供应链管控能力”做到“服务可承诺，质量有保障”</p>
</div>
<div class="introduce-vs">
  <div class="pm clearfix">
    <div class="introduce-vs-c1 fl">
      <p>SFHT.COM依托顺丰强大的供应链监管能力，</p>
      <p>做到<strong>100%品质保证。</strong></p>
    </div>
    <div class="introduce-vs-c2 fl">
      <p><strong>来自各种渠道</strong>，亲，各种渠道哦，</p>
      <p>大量的中间渠道商，各种标准的商品混合，难以分辨真假。</p>
    </div>
  </div>
</div>
<div class="introduce-qa">
  <div class="pm">
    <h2>Q&A</h2>
    <h3><span>Q</span>为什么顺丰小哥能够在国外取货？</h3>
    <p><span>A</span>答：问这个问题，你是怀疑我们无所不能的顺丰小哥吗？呐，在香港、台湾、日韩及其他国家，顺丰小哥随处可见。到处都是我们大顺丰的人马，你说为神马。除此之外，我们顺丰物流网点多年合作的海外商家何其多，那些商户们也会通过我们将自己的商品弄到国内销售哒。</p>
    <p class="p1"> （当初在加德满都机场同时降落的顺丰飞机和美国鱼鹰22，美国的新闻是想彰显美国的全球运输能力，亲，发现了其他 LOGO 没 ？！<br />亲，非洲飞机直邮哦~！）</p>
    <img src="../img/introduce/introduce-qa1.jpg">
    <h3><span>Q</span>我的商品出现质量问题怎么办？</h3>
    <p><span>A</span>答：先不说海外商品监管严格基本不会出质量问题，如果真的有，联系我们，7天内我们给退哒。</p>
    <img src="../img/introduce/introduce-qa2.jpg">

    <h3><span>Q</span>为什么有的商品没有中文标示？</h3>
    <p><span>A</span>答：你和男朋友亲密夏威夷10日游带了不少当地特产回国送朋友，你朋友会问你：“亲为什么特产没有中文标示么？？？”上面最多可能made in china会让你小丢人，但是绝对不会出现中文说明的，因为那里是美国，说英语！~</p>
  </div>
    
</div>

<div class="slider">
  <ul class="slider-img">
    <li class="active"><a class="fancybox" href="../video/sfht1.swf" style="background-image: url(../img/introduce/introduce3.jpg);"><span class="slider-icon"></span></a></li>
    <li><a class="fancybox" href="../video/sfht2.swf" style="background-image: url(../img/introduce/introduce4.jpg);"><span class="slider-icon"></span></a></li>
  </ul>
  <div class="pm">
    <a href="javascript:" class="btn btn-prev">向前</a>
    <a href="javascript:" class="btn btn-next">向后</a>
  </div>
  <ul class="slider-num"></ul> 
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script src="lib/fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/introduce.js"></script>

<!--尾部-->
== Slim::Template.new('module/footer.slim').render
<!--尾部-->
</body>

</html>