<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=1280">
  <title>introduce</title>
  <link href="../css/common.css" rel="stylesheet" type="text/css" />
  <link href="lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
  <link href="../css/introduce.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="introduce1">
   <div class="pm">
    <div data-0="transform:rotate(45deg) translate(0,-743px);" data-800="transform:rotate(-45deg) translate(0,-743px)" class="introduce1-plane"></div>
  </div>

</div>
<div class="introduce2">
  <div class="pm">
    <ul>
     <li class="li1">商品签收的7日内，<br />在不影响二次销售的前提下，<br />退！</li>
     <li class="li2">商品存在破损、<br />错发情况，不用担心，<br />退！</li>
     <li class="li3">收到的商品与网站描述不符，<br />退！</li>
     <li class="li4">不必担心复杂的退货流程，<br />不用负担昂贵的国际运费，<br />退货简易无忧</li>
    </ul> 
  </div>
</div>
<div class="slider">
  <ul class="slider-img">
    <li class="active"><a class="fancybox" href="../video/sfht1.swf" style="background-image: url(../img/introduce/introduce3.jpg);"><span class="slider-icon"></span></a></li>
    <li><a class="fancybox" href="../video/sfht2.swf" style="background-image: url(../img/introduce/introduce4.jpg);"><span class="slider-icon"></span></a></li>
  </ul>
  <div class="pm">
    <a href="javascript:" class="btn btn-prev">向前</a>
    <a href="javascript:" class="btn btn-next">向后</a>
  </div>
  <ul class="slider-num"></ul> 
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script src="lib/fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/introduce.js"></script>

<!--尾部-->
== Slim::Template.new('module/footer.slim').render
<!--尾部-->
</body>

</html>