<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>日本馆</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/japan.css">
</head>
<body>
	== Slim::Template.new('module/header.slim').render
	<div class="japan-box">
		<div class="japan-banner">
			<h1>全球免税海外购</h1>
			<h2>让你不出国门享受国外当地价8折</h2>
			<h3>全球正品 值得信赖</h3>
		</div>
		<!-- 馆列表 -->
		<ul class="japan-list clearfix">
			<li class="japan-open">
				<img src="../img/japan/img-01.jpg" alt="" width="373" height="110">
				<div class="japan-mask">
					<h2>日本馆</h2>
					<p>8月8日开业盛典</p>
				</div>
			</li>
			<li>
				<img src="../img/japan/img-02.jpg" alt="" width="373" height="110">
				<div class="japan-mask">
					<h2>澳新馆</h2>
					<p>敬请期待</p>
				</div>
			</li>
			<li>
				<img src="../img/japan/img-03.jpg" alt="" width="373" height="110">
				<div class="japan-mask">
					<h2>意大利馆</h2>
					<p>敬请期待</p>
				</div>
			</li>
		</ul>
		<!-- 馆列表 -->
		<!-- 视频简介 -->
		<div class="japan-intro clearfix">
			<!-- 视频部分 -->
			<div class="japan-video-box fl">
				<ul class="japan-video-list fl">
					<li style="display:block;">
						<div class="japan-video-list-play"><i class="icon">播放</i><br/>查看视频</div>
						<div class="japan-video-item"><img src="../img/japan/demo.jpg" alt="" width="581" height="298" /></div>
						<div class="japan-mask"></div>
					</li>
					<li>
						<div class="japan-video-list-play"><i class="icon">播放</i><br/>查看视频</div>
						<div class="japan-video-item"><img src="../img/japan/demo.jpg" alt="" width="581" height="298" /></div>
						<div class="japan-mask"></div>
					</li>
					<li>
						<div class="japan-video-list-play"><i class="icon">播放</i><br/>查看视频</div>
						<div class="japan-video-item"><img src="../img/japan/demo.jpg" alt="" width="581" height="298" /></div>
						<div class="japan-mask"></div>
					</li>
					<li>
						<div class="japan-video-list-play"><i class="icon">播放</i><br/>查看视频</div>
						<div class="japan-video-item"><img src="../img/japan/demo.jpg" alt="" width="581" height="298" /></div>
						<div class="japan-mask"></div>
					</li>
				</ul>
				<div class="japan-video-list-pic">
					<a href="" class="up"><span class="japan-arrow">up</span></a>
					<div class="japan-video-list-pic-box fl">
						<ul class="japan-video-list-pic-list">
							<li class="active">
								<img src="../img/japan/img-02.jpg" alt="" width="114" height="61" />
								<div class="japan-mask"></div>
							</li>
							<li>
								<img src="../img/japan/img-02.jpg" alt="" width="114" height="61" />
								<div class="japan-mask"></div>
							</li>
							<li>
								<img src="../img/japan/img-02.jpg" alt="" width="114" height="61" />
								<div class="japan-mask"></div>
							</li>
							<li>
								<img src="../img/japan/img-02.jpg" alt="" width="114" height="61" />
								<div class="japan-mask"></div>
							</li>
						</ul>
					</div>
					<a href="" class="down"><span class="japan-arrow">down</span></a>
				</div>
			</div>
			<!-- 视频部分 -->
			<!-- 简介 -->
			<div class="japan-intro-text">
				<div class="japan-intro-text-inner">
					<div class="japan-intro-text-title">
						<h2>顺丰海淘携手日本领事馆</h2>
						<p>SFHT&Japanese Consulate</p>
					</div>
					<div class="japan-intro-text-ct">
						<p>为你带来日本国宝级的必买商品</p>
						<p class="bg">正品授权，海外自采</p>
						<p>原生态直邮免税</p>
					</div>
					<span class="japan-flag">japan</span>
				</div>
			</div>
			<!-- 简介 -->
		</div>
		<!-- 视频简介 -->
		<!-- 日本馆banner02 -->
		<img src="../img/japan/japan-banner02.jpg" alt="" width="1180" height="400" class="japan-banner02" />
		<!-- 日本馆banner02 -->
		<!-- 单品推荐 -->
		<div class="japan-goods-box">
			<h2 class="title"><span class="text-icon">日本国宝级 单品推荐</span></h2>
			<ul class="japan-goods-list clearfix">
				<li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>
				<li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>
				<li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>
				<li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>

			</ul>
		</div>
		<!-- 单品推荐 -->
		<!-- 活动规则 -->
		<div class="japan-active-rule">
			<h2><span>活动规则</span></h2>
			<ol class="japan-active-rule-list">
				<li><span class="num">1.</span>【活动时间】2015-8-5 10:00:00 - 2015-8-31 23:59:59</li>
				<li><span class="num">2.</span>99元减30元（不封顶），是指订单金额满99元购物车会立即减30元，并且根据订单金额可以累计立减。</li>
				<li><span class="num">3.</span>满300送3000，是指一个账户一次购物订单支付满300元，可以返3000积分，订单配送成功客户确认收货后，系统自动会把3000积分返到你的账户中，100积分=1元，3000积分相当于30元，不可以兑现，可以直接购物抵用。</li>
				<li><span class="num">4.</span>积分的使用详细说明请到在账户的个人中心中查看</li>
				<li><span class="num">5.</span>折扣商品数量有限先到先得；</li>
				<li><span class="num">6.</span>顺丰海淘可在法律法规允许范围内对本次活动规则进行解释。</li>
			</ol>
		</div>
		<!-- 活动规则 -->
		<!-- 视频box -->
		<div class="japan-video" style="display:block;">
			<!-- 这里放视频内容 -->
			<a href="javascript:" class="japan-video-close">x</a>
		</div>
		<!-- 视频box	 -->
	</div>
</body>
</html>