<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/nataral.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
<div class="pb">
  <div class="nataral-shop-detail">
    <div class="pm">
      <div class="crumbs"><a href="http://www.sfht.com/index.html">原汁原味</a><span>&gt;</span>美妆个护</div>
      <img src="http://placehold.it/650x360"><div class="nataral-shop-detail-inner">
        <h2>霓净思 Neogence</h2>
        <p>秉持『针对肌肤问题提出有效对策，让肌肤更美丽！』的理念，精选有效活性成分，搭配高科技生医传导技术，提升有效成分吸收度与作用力，快速有效改善肌肤问题。以其高浓度、高纯度、高吸收度、高作用度、低敏感度的独特之处，可于医学美容手术前后使用，更能迅速解决肌肤的保养问题。 </p>

      </div>
    </div>
  </div>
  <div id="classify" class="classify">
    <div class="pm">
      <ul class="classify-list">
        <li class="classify-select">
          <label>已选条件：</label>
          <ul id="classify-select">

          </ul>
          <a href="" class="text-disabled">全部重置</a>
        </li>
        <li class="clearfix classify-logo">
          <div class="classify-c1 fl">
            <label>品牌：</label>
            <ul id="classify-logo">
              <li><a href="javascript:"><span>asdfffffffffffffffff</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王1"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王2"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王4"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王5"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王6"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王7"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王8"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王9"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王0"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王1"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王2"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王4"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王5"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王6"></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王7"></a></li>
            </ul>
          </div>
          <div class="classify-c2 fr">
            <a href="javascript:"><span id="classify-more" class="classify-more"></span><span class="icon icon105"></span></a>
          </div>
        </li>

        <li class="classify-text">
          <label>分类：</label>
          <ul>
            <li><a href="javascript:">母婴专区</a></li>
            <li><a href="javascript:">个人美妆</a></li>
            <li><a href="javascript:">食品保障</a></li>
            <li><a href="javascript:">生活服务</a></li>
          </ul>
        </li>
        <li class="classify-text">
          <label>货源地：</label>
          <ul>
            <li><a href="javascript:">德国</a></li>
            <li><a href="javascript:">美国</a></li>
            <li><a href="javascript:">台湾</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
    <div class="pm">
      <div class="sort">排序:
        <ul>
          <li class="active"><a href="javascript:">最新</a></li>
          <li><a href="javascript:">人气</a></li>
        </ul>
      </div>

      <div class="nataral-product nataral-product2" id="nataral-product0">
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="search-page"><a class="btn btn-normal">上一页</a><a class="btn btn-normal">下一页</a></div>

    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/search.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
