<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=1280">
  <title>顺丰海淘</title>
  <link href="../css/common.css" rel="stylesheet" type="text/css" />
  <link href="../css/nataral.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="pm">
      == Slim::Template.new('module/slider.slim').render
      <div class="nataral-nav">
        <ul>
          <li class="active"><a href="">全球<br />精品</a></li>
          <li><a href=""><i>in</i><br />韩国</a></li>
          <li><a href=""><i>in</i><br />台湾</a></li>
        </ul>
      </div>
      <div class="flashsale">
        <h2 class="nataral-h2">限时特卖</h2>

        <ul>
          <li class="clearfix">
            <div class="flashsale-c1 fl">
              <a href=""><img src="http://placehold.it/670x340" alt="" /></a>
            </div>
            <div class="flashsale-c2">
              <div class="flashsale-c2-inner">
                <h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
                <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
                <div class="flashsale-c2r1">
                  <span class="icon icon56"></span>仅剩：<span class="text-error">3天5小时20分10秒</span>
                </div>
              </div>

              <div class="flashsale-c2r2 clearfix">
                <div class="flashsale-c2r2c1 fl">
                  <span>￥</span><strong>69</strong>元起
                </div>
                <div class="flashsale-c2r2c2 fr">
                  <a href="#" class="btn btn-buy">立即抢购</a>
                </div>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="flashsale-c1 fl">
              <a href=""><img src="http://placehold.it/670x340" alt="" /></a>
            </div>
            <div class="flashsale-c2">
              <div class="flashsale-c2-inner">
                <h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
                <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
                <div class="flashsale-c2r1">
                  <span class="icon icon56"></span>活动已结束
                </div>
              </div>

              <div class="flashsale-c2r2 clearfix">
                <div class="flashsale-c2r2c1 fl">
                  <strong>7</strong>折起
                </div>
                <div class="flashsale-c2r2c2 fr">
                  <a href="#" class="btn btn-buy disable">已结束</a>
                </div>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="flashsale-c1 fl">
              <a href=""><img src="http://placehold.it/670x340" alt="" /></a>
            </div>
            <div class="flashsale-c2">
              <div class="flashsale-c2-inner">
                <h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
                <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
                <div class="flashsale-c2r1">
                  <span class="icon icon56"></span><span class="text-error">3天5小时20分10秒</span>后开始
                </div>
              </div>

              <div class="flashsale-c2r2 clearfix">
                <div class="flashsale-c2r2c1 fl">
                  <span>￥</span><strong>69</strong>元起
                </div>
                <div class="flashsale-c2r2c2 fr">
                  <a href="#" class="btn btn-buy soon">即将开始</a>
                </div>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="flashsale-c1 fl">
              <a href=""><img src="http://placehold.it/670x340" alt="" /></a>
            </div>
            <div class="flashsale-c2">
              <div class="flashsale-c2-inner">
                <h3><a href="">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐</a></h3>
                <p>荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
                <div class="flashsale-c2r1">
                  <span class="icon icon56"></span><span class="text-error">3天5小时20分10秒</span>后开始
                </div>
              </div>

              <div class="flashsale-c2r2 clearfix">
                <div class="flashsale-c2r2c1 fl">
                  <span>￥</span><strong>69</strong>元起
                </div>
                <div class="flashsale-c2r2c2 fr">
                  <a href="#" class="btn btn-buy soon">即将开始</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--美妆个护-->
      <div class="nataral-category">    
        <div class="nataral-category-h clearfix">
          <h2 class="nataral-h2 fl">美妆个护</h2>
          <a href="" class="fr">查看全部</a>
        </div>
        <div class="nataral-category-br1 clearfix">
          <div class="nataral-category-bc1 fl">
            <ul>
              <li><a href="">洗面奶</a></li>
              <li><a href="">BB霜</a></li>
              <li><a href="">爽肤水</a></li>
              <li><a href="">睫毛膏</a></li>
              <li><a href="">洗面奶</a></li>
              <li><a href="">洗面奶</a></li>
              <li><a href="">洗面奶</a></li>
            </ul>
          </div>
          <div class="nataral-category-bc2">
            <ul clearfix>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
              <li><a href="javascript:"><img src="http://placehold.it/98x48" alt="花王3"><span>花王3</span></a></li>
            </ul>
          </div>
        </div>
        <div class="nataral-product nataral-product3">
          <div class="product">
            <div class="mb">
              <ul class="clearfix product-list">
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-new">新品</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>
                <li>
                  <div class="product-r1">
                    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                    <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                    <div class="product-hot">热卖</div>
                  </div>
                  <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                  <div class="product-r2 clearfix">
                    <div class="product-r2c1 fl">
                      <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                    </div>
                  </div>
                  <div class="nataral-product-r1">
                    <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                  </div>
                </li>

                <li class="nataral-product-more"><a href="">查看更多 &gt;&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--食品保健-->
      <div class="nataral-category nataral-category1">    
        <div class="nataral-category-h clearfix">
          <h2 class="nataral-h2 fl">食品保健</h2>
          <a href="" class="fr">查看全部</a>
        </div>
        <div class="nataral-category-br1 clearfix">
          <div class="nataral-category-bc1 fl">
            <ul>
              <li><a href="">洗面奶</a></li>
              <li><a href="">BB霜</a></li>
              <li><a href="">爽肤水</a></li>
              <li><a href="">睫毛膏</a></li>
              <li><a href="">洗面奶</a></li>
              <li><a href="">洗面奶</a></li>
              <li><a href="">洗面奶</a></li>
            </ul>
          </div>
          <div class="nataral-product nataral-product3">
            <div class="product">
              <div class="mb">
                <ul class="clearfix product-list">
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-new">新品</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>
                  <li>
                    <div class="product-r1">
                      <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                      <a href=""><img src="http://placehold.it/216x216" alt="" ></a><span></span>
                      <div class="product-hot">热卖</div>
                    </div>
                    <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>

                    <div class="product-r2 clearfix">
                      <div class="product-r2c1 fl">
                        <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>

                      </div>

                    </div>
                    <div class="nataral-product-r1">
                      <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                    </div>
                  </li>

                  <li class="nataral-product-more"><a href="">查看更多 &gt;&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
          
      </div>



    </div>
  </div>
  
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/nataral-index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>