<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/nataral.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="pm">
      == Slim::Template.new('module/slider.slim').render
      <div class="nataral-nav">
        <ul>
          <li><a href="">全球<br />精品</a></li>
          <li class="active"><a href=""><i>in</i><br />韩国</a></li>
          <li><a href=""><i>in</i><br />台湾</a></li>
        </ul>
      </div>
      <div class="nataral-product nataral-product2">
        <h2 class="nataral-h2">明星爆款</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              
              <li>

                <div class="product-r1">
                  
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <span class="icon icon115">明星</span>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <span class="icon icon115">明星</span>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <span class="icon icon115">明星</span>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="http://placehold.it/240x240" srcset="http://placehold.it/240x240 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <span class="icon icon115">明星</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
        
      
       
      <div class="nataral-shop">
        <h2 class="nataral-h2">明洞 명동</h2>
        <div class="nataral-shop-top">
          <a href=""><img src="http://placehold.it/590x278"></a>
          <div class="nataral-shop-top-c1">
            <h3><a href="">明洞  명동</a></h3>
            <p>明洞位于首尔中区，是韩国代表性的购物街，不仅可以购买服装、鞋类、杂货和化妆品，还有各种饮食店，同时银行和证券公司云集于此。和商品中低档的南大门、东大门相比，明洞的商品以中高档为主。明洞大街两旁都是高级名牌的店铺，明洞大街两侧的胡同里都是中档品牌的店铺和保税商店。</p>
            <h4>热销专营店：</h4>
            <ul>
              <li><a href=""><img src="http://placehold.it/128x48"></a></li>
              <li><a href=""><img src="http://placehold.it/128x48"></a></li>
              <li><a href=""><img src="http://placehold.it/128x48"></a></li>
              <li><a href=""><img src="http://placehold.it/128x48"></a></li>
            </ul>
          </div>
        </div>
        <ul class="clearfix nataral-shop-list">
          <li>
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <a href=""><img src="http://placehold.it/250x180"></a>
              </div>
              <div class="nataral-shop-c2">
                <div class="clearfix">
                  <h3 class="fl"><a href="">糖村</a></h3>
                  <a href="" class="nataral-shop-link fr">逛实体店</a>
                </div>
                
                <div class="nataral-shop-c2r1">
                  <span class="nataral-shop-address">地址：台北市南京东路180号</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
            <div class="nataral-shop-b">
              <ul class="clearfix">
                <li>
                  <span class="icon icon110">明星</span>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <a href=""><img src="http://placehold.it/250x180"></a>
              </div>
              <div class="nataral-shop-c2">
                <div class="clearfix">
                  <h3 class="fl"><a href="">糖村</a></h3>
                  <a href="" class="nataral-shop-link fr">逛实体店</a>
                </div>
                
                <div class="nataral-shop-c2r1">
                  <span class="nataral-shop-address">地址：台北市南京东路180号</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
            <div class="nataral-shop-b">
              <ul class="clearfix">
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <a href=""><img src="http://placehold.it/250x180"></a>
              </div>
              <div class="nataral-shop-c2">
                <div class="clearfix">
                  <h3 class="fl"><a href="">糖村</a></h3>
                  <a href="" class="nataral-shop-link fr">逛实体店</a>
                </div>
                
                <div class="nataral-shop-c2r1">
                  <span class="nataral-shop-address">地址：台北市南京东路180号</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
            <div class="nataral-shop-b">
              <ul class="clearfix">
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <a href=""><img src="http://placehold.it/250x180"></a>
              </div>
              <div class="nataral-shop-c2">
                <div class="clearfix">
                  <h3 class="fl"><a href="">糖村</a></h3>
                  <a href="" class="nataral-shop-link fr">逛实体店</a>
                </div>
                
                <div class="nataral-shop-c2r1">
                  <span class="nataral-shop-address">地址：台北市南京东路180号</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
            <div class="nataral-shop-b">
              <ul class="clearfix">
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
                <li>
                  <a href=""><img src="http://placehold.it/143x143"></a>
                  <h4>佳德糕饼 原味佳德凤梨酥 <span>12入 2盒装</span></h4>
                  <div class="nataral-shop-br1"><span class="text-important">￥<strong>129</strong></span><span class="text-disabled">约 NT$890</span></div>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </div>
  
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>