<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/nataral.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    
    <div class="nataral-shop-detail">
      <div class="pm">
        <div class="crumbs"><a href="http://www.sfht.com/index.html">原汁原味</a><span>&gt;</span>美妆个护</div>
        <img src="../img/nataral-shop.jpg"><div class="nataral-shop-detail-inner">
          <h2>霓净思 Neogence</h2>
          <p>秉持『针对肌肤问题提出有效对策，让肌肤更美丽！』的理念，精选有效活性成分，搭配高科技生医传导技术，提升有效成分吸收度与作用力，快速有效改善肌肤问题。以其高浓度、高纯度、高吸收度、高作用度、低敏感度的独特之处，可于医学美容手术前后使用，更能迅速解决肌肤的保养问题。 </p>
          <a class="text-link" href="#">三家分店</a>
        </div>
      </div>
      

    </div>
    <div class="pm">
      <!--热门商品-->
      <div class="nataral-pruduct nataral-pruduct2">
        <h2 class="nataral-h2">热门商品</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--面部护理-->
      <div class="nataral-pruduct nataral-pruduct2" id="nataral-pruduct0">
        <h2 class="nataral-h2">面部护肤</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li class="nataral-product-more">
                  <a href="">查看更多 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--彩妆-->
      <div class="nataral-pruduct nataral-pruduct2" id="nataral-pruduct1">
        <h2 class="nataral-h2">彩妆</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li class="nataral-product-more">
                  <a href="">查看更多 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--身体护理-->
      <div class="nataral-pruduct nataral-pruduct2" id="nataral-pruduct2">
        <h2 class="nataral-h2">身体护理</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
              </li>
              <li class="nataral-product-more">
                  <a href="">查看更多 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/search.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>