<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/nataral.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="header1"><div class="pm"><div class="header1-c1 fl"><a href=""><span class="icon icon11"></span>海淘首页</a><a href="">登录</a><a href="">免费注册</a></div><div class="header1-c2 fr"><a href="">个人中心</a><a href="">帮助中心</a><a href="">我的优惠券</a><a href="">帮助中心</a><a href="">在线客服</a></div></div></div>
  <div class="pb">
    
    <div class="nataral-header">
      <div class="pm">
        <h1>原汁原味<span>海外商户直供</span><span>真正原汁原味</span></h1>
      </div>
    </div>
    <div class="nataral">
      <div class="pm">
        == Slim::Template.new('module/crumbs.slim').render
        <div class="nataral-video clearfix">
          <div class="nataral-video-c1 fl">
            <embed src="http://player.youku.com/player.php/sid/XOTM1MDc3MjQ4/v.swf" allowFullScreen="true" quality="high" width="650" height="360" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
          </div>
          <div class="nataral-video-c2">
            <h2>緣起臺中第一家现场烘焙餐廳 . 糖村  </h2>
            <p class="nataral-video-c2r1">每次我都想这样的方式真的是最好的啊我也是这样，腹有诗书气自华每次我都想这样的方式真的是最好的，我也是这样。每次我都想这样的方式真的是最好的，我也是这样...</p>
            <div class="nataral-video-c2r2">
              <div class="tooltip-pos">
                <a class="nataral-video-c2r2-a" href="">共有15家分店</a>
                <div class="tooltip-outer">
                  <div class="tooltip">
                    <ul>
                      <li>
                        <h3><span class="icon icon69"></span><a href="">糖村闽南路店</a></h3>
                        <p>闽南路145号停车大楼内号停车大楼内号停车大楼内</p>
                      </li>
                      <li>
                        <h3><span class="icon icon69"></span><a href="">糖村闽南路店</a></h3>
                        <p>闽南路145号停车大楼内号停车大楼内号停车大楼内</p>
                      </li>
                    </ul>
                    <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="nataral-index">
        <div class="product pm">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong>
                    
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
      </div>
        
    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>