<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/nataral.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="pm">
      == Slim::Template.new('module/slider.slim').render
      <div class="nataral-nav">
        <ul>
          <li class="active"><a href="">全球<br />精品</a></li>
          <li><a href=""><i>in</i><br />韩国</a></li>
          <li><a href=""><i>in</i><br />台湾</a></li>
        </ul>
      </div>
      <div class="nataral-shop">
        <h2 class="nataral-h2">明星店铺</h2>
        <ul class="clearfix">
          <li class="nataral-shop-list">
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <img src="../img/nataral-shop.png">
              </div>
              <div class="nataral-shop-c2">
                <h3><a href="">糖村</a></h3>
                <div class="nataral-shop-c2r1">
                  <span class="icon icon98"></span><span class="text-important">台湾</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
              
          </li>
          <li class="nataral-shop-list">
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <img src="../img/nataral-shop.png">
              </div>
              <div class="nataral-shop-c2">
                <h3><a href="">糖村</a></h3>
                <div class="nataral-shop-c2r1">
                  <span class="icon icon98"></span><span class="text-important">台湾</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
              
          </li>
          <li class="nataral-shop-list">
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <img src="../img/nataral-shop.png">
              </div>
              <div class="nataral-shop-c2">
                <h3><a href="">糖村</a></h3>
                <div class="nataral-shop-c2r1">
                  <span class="icon icon98"></span><span class="text-important">台湾</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
              
          </li>
          <li class="nataral-shop-list">
            <div class="nataral-shop-h clearfix">
              <div class="nataral-shop-c1 fl">
                <img src="../img/nataral-shop.png">
              </div>
              <div class="nataral-shop-c2">
                <h3><a href="">糖村</a></h3>
                <div class="nataral-shop-c2r1">
                  <span class="icon icon98"></span><span class="text-important">台湾</span>一家分店
                </div>
                <p>以礼物分享概念经营的「蛋糕‧礼盒专卖店」， 精选来自法国、欧美等食材，搭配台湾当地新鲜特产，期望能以专业、高雅……</p>
              </div>
            </div>
              
          </li>
        </ul>
      </div>

      <div class="nataral-pruduct" id="nataral-pruduct0">
        <h2 class="nataral-h2">地方美食</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li class="nataral-product-more">
                  <a href="">查看更多 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="nataral-pruduct" id="nataral-pruduct1">
        <h2 class="nataral-h2">美妆个护</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li class="nataral-product-more">
                  <a href="">查看更多 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="nataral-pruduct" id="nataral-pruduct2">
        <h2 class="nataral-h2">特色文化</h2>
        <div class="product">
          <div class="mb">
            <ul class="clearfix product-list">
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-new">新品</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                  <div class="product-hot">热卖</div>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li>
                <div class="product-r1">
                  <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
                  <a href=""><img src="../img/product.jpg" srcset="../img/product.jpg 1x,../img/product.webp 1x" alt="" ></a><span></span>
                </div>
                <h3><a href="">白色恋人 巧克力夹心饼干12枚白色恋人 巧克力夹心饼干12枚</a></h3>
                
                <div class="product-r2 clearfix">
                  <div class="product-r2c1 fl">
                    <span>￥</span><strong>129</strong><span class="nataral-product-price">约 NT$890</span>
                    
                  </div>
                    <div class="product-r2c2 fr"><a href="javascript:" class="icon icon90">购买</a></div>
                </div>
                <div class="nataral-pruduct-r1">
                  <span class="icon icon109"></span><a href="">台湾 旧震南糕饼店</a>
                </div>
              </li>
              <li class="nataral-product-more">
                  <a href="">查看更多 >></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="nataral-top">
    <ul>
      <li><a href="#nataral-pruduct0"><i><span class="icon icon112"></i></span>地方美食</a></li>
      <li><a href="#nataral-pruduct1"><i><span class="icon icon111"></span></i>美妆个护</a></li>
      <li><a href="#nataral-pruduct2"><i><span class="icon icon113"></span></i>特色文化</a></li>
    </ul>
    <div class="nataral-top-r1"><a href="#">Top<span class="icon icon114"></span></a></div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/nataral-index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>