<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>订单列表</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/orderlist.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="pm">
      <!--订单列表-->
      <div class="orderlist">
        <div class="orderlist-h clearfix">
          <div class="orderlist-hc1 fl">
            <h2>温馨提示：</h2>
            <p>顺丰海淘未付款订单超过2小时将被自动取消，提交订单请尽快完成支付。</p>
          </div>
          <div class="orderlist-hc2 fr">
            <input type="text" class="input" placeholder="输入订单号/收货人" />
            <a href="#" class="btn btn-buy">搜索</a>
          </div>
        </div>
        <div class="table table-1">
          <div class="table-h clearfix">
            <div class="table-c1 fl">订单信息</div>
            <div class="table-c2 fl">收货人</div>
            <div class="table-c3 fl">订单金额</div>
            <div class="table-c4 fl">订单状态</div>
            <div class="table-c5 fl">操作</div>
          </div>
          <ul class="table-b">
            <li class="clearfix">
              <div class="table-c1 fl">
                <div class="table-r1 clearfix">
                  <div class="table-img fl">
                    <a href=""><img src="../img/product.jpg" alt="" width="68" height="42" /></a><span></span>
                  </div>
                  <div class="table-text">
                    <h3><a href="">kate spade new york 长款牛皮钱包 </a></h3>
                    <p><img src="../img/icon-usa.png" alt="美国国旗" width="19" height="13" />黑色</p>
                  </div>
                </div>
                <div class="table-r2">订单号：35703505832085<span>下单日期：2014/12/12 13:34:25</span></div>
              </div>

              <div class="table-c2 fl">黄小牙</div>
              <div class="table-c3 fl">￥1280</div>
              <div class="table-c4 fl">待付款</div>
              <div class="table-c5 fl">
                <a href="#" class="btn btn-send">立即支付</a>
                <a href="#" class="btn btn-add">查看订单</a>
                <a href="#" class="link">取消订单</a>
                <a href="#" class="btn btn-add">分享红包</a>
              </div>
            </li>
            <li class="clearfix">
              <div class="table-c1 fl">
                <div class="table-r1 clearfix">
                  <div class="table-img fl">
                    <a href=""><img src="../img/product.jpg" alt="" width="68" height="42" /></a><span></span>
                  </div>
                  <div class="table-text">
                    <h3><a href="">kate spade new york 长款牛皮钱包 </a></h3>
                    <p><img src="../img/icon-usa.png" alt="美国国旗" width="19" height="13" />黑色</p>
                  </div>
                </div>
                <div class="table-r2">订单号：35703505832085<span>下单日期：2014/12/12 13:34:25</span></div>
              </div>

              <div class="table-c2 fl">黄小牙</div>
              <div class="table-c3 fl">￥1280</div>
              <div class="table-c4 fl">已发货
                <div class="table-1-logistics">
                  <div class="tooltip-pos">
                    <a href="">查看物流</a>
                    <div class="tooltip-outer">
                      <div class="tooltip">
                        <h4>物流跟踪</h4>
                        <ul>
                          <li class="active"><div class="time fl">2014\12\12 13:23:25</div><div class="tooltip-c2">从海外仓发出从海外仓发出从海外仓发出从海外仓发出从海外仓发出</div></li>
                          <li><span class="time">2014\12\12 13:23:25</span>从海外仓发出</li>
                          <li><span class="time">2014\12\12 13:23:25</span>从海外仓发出</li>
                          <li><span class="time">2014\12\12 13:23:25</span>从海外仓发出</li>
                        </ul>
                        <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
                        <a href="">查看全部</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="table-c5 fl">
                <a href="#" class="btn btn-add">查看订单</a>
                <div class="tooltip-pos">
                  <a href="#" class="link">取消订单</a>
                  <span class="icon icon26">上传身份证照片</span>
                  <div class="tooltip-outer">
                    <div class="tooltip">
                      <h4>请在“查看订单”中上传身份照片</h4>
                      <h5>为什么要传身份证？</h5>
                      <p>由于国家政策规定，您在购买海外商品时，在物流及海关清关过程中需要出示购买人的身份证复印件。</p>
                      <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
                    </div>

                  </div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="table-c1 fl">
                <div class="table-r1 clearfix">
                  <div class="table-img fl">
                    <a href=""><img src="../img/product.jpg" alt="" width="68" height="42" /></a><span></span>
                  </div>
                  <div class="table-text">
                    <h3><a href="">kate spade new york 长款牛皮钱包 </a></h3>
                    <p><img src="../img/icon-usa.png" alt="美国国旗" width="19" height="13" />黑色</p>
                  </div>
                </div>
                <div class="table-r2">订单号：35703505832085<span>下单日期：2014/12/12 13:34:25</span></div>
              </div>

              <div class="table-c2 fl">黄小牙</div>
              <div class="table-c3 fl">￥1280</div>
              <div class="table-c4 fl">交易成功</div>
              <div class="table-c5 fl">
                <a href="#" class="btn btn-add">查看订单</a>
                <div class="tooltip-pos">
                  <span class="icon icon26">上传身份证照片</span>
                  <div class="tooltip-outer">
                    <div class="tooltip">
                      <h4>请在“查看订单”中上传身份照片</h4>
                      <h5>为什么要传身份证？</h5>
                      <p>由于国家政策规定，您在购买海外商品时，在物流及海关清关过程中需要出示购买人的身份证复印件。</p>
                      <span class="icon icon16-3"><span class="icon icon16-4"></span></span>
                    </div>

                  </div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="table-c1 fl">
                <div class="table-r1 clearfix">
                  <div class="table-img fl">
                    <a href=""><img src="../img/product.jpg" alt="" width="68" height="42" /></a><span></span>
                  </div>
                  <div class="table-text">
                    <h3><a href="">kate spade new york 长款牛皮钱包 </a></h3>
                    <p><img src="../img/icon-usa.png" alt="美国国旗" width="19" height="13" />黑色</p>
                  </div>
                </div>
                <div class="table-r2">订单号：35703505832085<span>下单日期：2014/12/12 13:34:25</span></div>
              </div>

              <div class="table-c2 fl">黄小牙</div>
              <div class="table-c3 fl">￥1280</div>
              <div class="table-c4 fl">交易关闭</div>
              <div class="table-c5 fl">
                <a href="#" class="btn btn-add">查看订单</a>
              </div>
            </li>
          </ul>
          <div class="page">
            <a href=""><span class="icon icon16-7"></span></a>
            <a class="active" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href=""><span class="icon icon16-6"></span></a>
          </div>
      </div>
      <!--订单列表-->

    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>