<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>登陆顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/order.css" rel="stylesheet" type="text/css" />
<link href="../css/coupon.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
      <!--订单-->
      <div class="order-success">
        <h2><span class="order-success-icon"></span>订单支付成功</h2>
        <p class="order-success-p1">感谢您使用顺丰海淘，我们将尽快为您发货！<a href="#">查看订单 ></a></p>
        <div class="order-success-r1 clearfix pm">
          <!--
          <div class="order-success-r1c1 fl">
            <p class="order-success-p2">恭喜你！获得一张顺丰海淘新年活动30元优惠券，已自动存入“我的优惠券”</p>
            <a class="coupon">
              <div class="coupon-r1">
                <span>30</span>元
              </div>
              <div class="coupon-r2">新年满300元减20元优惠券</div>
            </a>
          </div>
          <div class="order-success-r1c2">
            <div class="order-success-qrcode">
              <p class="order-success-qrcode-r1">支付成功散红包，向小伙伴发200元红包</p>
              <img src="../img/qrcode2.png" width="140" height="140">
              <p class="order-success-qrcode-r2">扫一扫分享散红包到微信</p>
            </div>
          </div>
          <-->
          <!--
          <p class="order-success-p2">恭喜你！获得一张顺丰海淘新年活动30元优惠券，已自动存入“我的优惠券”</p>
          <a class="coupon">
            <div class="coupon-r1">
              <span>30</span>元
            </div>
            <div class="coupon-r2">新年满300元减20元优惠券</div>
          </a>
          <-->
          <div class="order-success-qrcode">
            <p class="order-success-qrcode-r1">支付成功散红包，向小伙伴发200元红包</p>
            <img src="../img/qrcode2.png" width="140" height="140">
            <p class="order-success-qrcode-r2">扫一扫分享散红包到微信</p>
          </div>
        </div>
      </div>
      <!--订单-->
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
