<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>注册成功</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/index.css" rel="stylesheet" type="text/css" />
<link href="../css/register.css" rel="stylesheet" type="text/css" />
</head>
<body>
  == Slim::Template.new('module/header.slim').render
  <div class="pb">
    <div class="slider">

      <ul class="slider-img">
        <li class="active"><a href="" style="background-image: url(../img/banner1.jpg)"></a></li>
        <li><a href="" style="background-image: url(../img/banner2.jpg)"></a></li>
      </ul>
      <ul class="slider-num"></ul>
      <div class="pm">
        <a href="###" class="btn btn-prev">向前</a>
        <a href="###" class="btn btn-next">向后</a>
      </div>
    </div>
    <div class="pm">
      <!--限时特卖-->
      <div class="product">
        <div class="mh clearfix">
          <h2 class="fl">限时特卖</h2>
          <ul class="fl product-tab">
            <li class="active"><a href="###">当前</a><span></span></li>
            <li><a href="###">即将开始</a><span></span></li>
          </ul>
        </div>
        <div class="mb clearfix" id="product-mb">
          <ul class="product-list">
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
          </ul>
          <ul class="product-list">
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon4"></span>01天23时09分44秒</div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--限时特卖-->

      <!--极速海淘-->
      <div class="product">
        <div class="mh">
          <h2>极速海淘</h2>
        </div>
        <div class="mb">
          <ul class="clearfix product-list">
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon6"><b>123</b>天到<i></i></span></div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon6"><b>34534543</b>天到<i></i></span></div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon6"><b>123</b>天到<i></i></span></div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon6"><b>123</b>天到<i></i></span></div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon6"><b>123</b>天到<i></i></span></div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
            <li>
              <div class="product-r1">
                <a href=""><img src="../img/product.jpg" alt="" ></a><span></span>
              </div>
              <h3><a href="">Kate Spade女款手提包手拎包</a></h3>
              <p>美式休闲打牌，零利疯抢！</p>
              <div class="product-r2 clearfix">
                <div class="product-r2c1 fl"><span class="icon icon6"><b>123</b>天到<i></i></span></div>
                <div class="product-r2c2 fr"><img src="../img/icon-usa.png" alt="" /></div>
              </div>
              <div class="product-r3 clearfix">
                <div class="product-r3c1 fl">
                  <strong>￥1280</strong>
                  <del>￥1680</del>
                </div>
                <div class="product-r3c2 fr">
                  <strong>2.3</strong>折
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="mf">
          <a href="#" class="btn btn-more">查看更多</a>
        </div>
      </div>
      <!--极速海淘-->

    </div>
  </div>
  <!--尾部-->
  == Slim::Template.new('module/footer.slim').render
  <!--尾部-->

  <!--注册-->
  <div class="mask"></div>
  <div class="register">
    <div class="register-h">
      <h2>注册成功</h2>
      <a href="#" class="btn btn-close">关闭</a>
      <span class="icon icon34"></span>
      <span class="icon icon35"></span>
    </div>
    <!--注册成功-->
    <div class="register-b1">
       <span class="icon icon27"></span>
       <h3>注册成功</h3>
       <p>2秒后页面将自动跳转</p>
    </div>
    <!--注册成功-->
  </div>
  <!--注册-->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1253511102%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</html>