<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/search.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--头部-->
== Slim::Template.new('module/header.slim').render
<!--头部-->
<div class="pb">

<div class="pm">
	<!--热卖商品-->
	== Slim::Template.new('module/product.slim').render

</div>

</div>
</div>
<!--尾部-->
== Slim::Template.new('module/footer.slim').render
<!--尾部-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/index.js"></script>
<script src="js/search.js"></script>
</body>
</html>