<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280">
<title>顺丰海淘</title>
<script src="lib/StackSlider/js/modernizr.custom.63321.js"></script>
<link rel="stylesheet" type="text/css" href="lib/StackSlider/css/style.css" />
<link href="../css/young.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="young-banner">
    <div class="pm">
      <video src="../video/sfht.mp4" width="347" height="217"></video>
    </div>
  </div>
  <div class="young-time">
    <div class="pm">
      <div class="young-time-inner">3254732</div>
    </div>
  </div>
  <div class="young-slider">
    <div class="pm">
      <ul id="st-stack" class="st-stack-raw">
          <li><div class="st-item"><a href="http://drbl.in/fgQV"><img src="lib/StackSlider/images/1.jpg"/></a></div><div class="st-title"><h2>Graverobber</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fpRz"><img src="lib/StackSlider/images/2.jpg"/></a></div><div class="st-title"><h2>Hideous Snake Queen</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fGVs"><img src="lib/StackSlider/images/3.jpg"/></a></div><div class="st-title"><h2>Queen of Hearts</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fgvZ"><img src="lib/StackSlider/images/4.jpg"/></a></div><div class="st-title"><h2>Dead Pirate vs Kraken</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fyfM"><img src="lib/StackSlider/images/5.jpg"/></a></div><div class="st-title"><h2>Mountain Lion</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fCmJ"><img src="lib/StackSlider/images/6.jpg"/></a></div><div class="st-title"><h2>Flying Skull</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fsMv"><img src="lib/StackSlider/images/7.jpg"/></a></div><div class="st-title"><h2>The Fly &amp; Bureaucratic Elephant</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fGOf"><img src="lib/StackSlider/images/8.jpg"/></a></div><div class="st-title"><h2>Failsnake</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fypr"><img src="lib/StackSlider/images/9.jpg"/></a></div><div class="st-title"><h2>Cultist</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fEmG"><img src="lib/StackSlider/images/10.jpg"/></a></div><div class="st-title"><h2>Crusader &amp; Viking</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/ffiw"><img src="lib/StackSlider/images/11.jpg"/></a></div><div class="st-title"><h2>Crocodile</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fqWx"><img src="lib/StackSlider/images/12.jpg"/></a></div><div class="st-title"><h2>Captain Banana</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fkuv"><img src="lib/StackSlider/images/13.jpg"/></a></div><div class="st-title"><h2>Werewolf</h2><h3>by Isaac Montemayor</h3></div></li>
          <li><div class="st-item"><a href="http://drbl.in/fIli"><img src="lib/StackSlider/images/14.jpg"/></a></div><div class="st-title"><h2>Vegetables</h2><h3>by Isaac Montemayor</h3></div></li>
      </ul>
      <ul class="young-slider-r1">
        <li class="active"><a href="">正儿八经照片</a></li>
        <li class="active"><a href="">60,000票</a></li>
        <li><a href="">80,000票</a></li>
        <li><a href="">200,000票</a></li>
      </ul>
      <div class="young-slider-r2">被扒<span>76,543</span>次</div>
      <a class="btn" class="btn">扒下他<span>10</span></a>
    </div>
  </div>
  <h2 class="young-h2">活动专场优惠券</h2>
  <div class="young-coupon">
    
    <div class="pm">
      <a class="btn" href="">点我领券</a>
      <a class="btn" href="">点我领券</a>
    </div>
  </div>
  <div class="young-photo">
    <ul class="clearfix">
      <li><img src="../img/young/young-photo.jpg" alt=""></li>
      <li><img src="../img/young/young-photo.jpg" alt=""></li>
      <li><img src="../img/young/young-photo.jpg" alt=""></li>
      <li><img src="../img/young/young-photo.jpg" alt=""></li>
      <li><img src="../img/young/young-photo.jpg" alt=""></li>
    </ul>
  </div>
  <h2 class="young-h2">裸价促销专场</h2>
  <div class="young-tab">
    <div class="pm">
      <ul class="young-tab-h">
        <li class="active"><a href="javascript:"><span>7/15</span><img src="../img/young/young-tab-h.png" alt=""></a></li>
        <li><a href="javascript:"><span>7/15</span><img src="../img/young/young-tab-h.png" alt=""></a></li>
        <li><a href="javascript:"><span>7/16</span><img src="../img/young/young-tab-h.png" alt=""></a></li>
        <li><a href="javascript:"><span>7/17</span><img src="../img/young/young-tab-h.png" alt=""></a></li>
        <li><a href="javascript:"><span>7/18</span><img src="../img/young/young-tab-h.png" alt=""></a></li>
        <li><a href="javascript:"><span>7/19</span><img src="../img/young/young-tab-h.png" alt=""></a></li>
      </ul>
      <ul class="young-tab-b">
        <li class="active">
          <img src="../img/young/young-tab.jpg" alt="">
        </li>
        <li>
          <img src="http://placehold.it/1035x513" alt="">
        </li>
        <li>
          <img src="http://placehold.it/1035x513" alt="">
        </li>
        <li>
          <img src="http://placehold.it/1035x513" alt="">
        </li>
        <li>
          <img src="http://placehold.it/1035x513" alt="">
        </li>
      </ul>
    </div>
    
  </div>
  <script src="js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="lib/StackSlider/js/jquery.stackslider.js"></script>
  <script src="js/young.js"></script>
</body>
</html>