/*
@styleguide

# 订单状态

*/
@import "sprites/css/sprite.css";
.order-status{
	background: #fff8f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: -36px;
	margin-top: 35px;
	padding-left: 25px;
	padding-bottom: 7px;
}
.order-status h2{
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 21px;
}
.order-status li{
	margin: 12px 0;
	color: #969696;
}
.order-status li.active{
	color: #333;
}
.order-status-step{
	margin-left: 69px;
	margin-right: 29px;
}
.order-status-icon{
	margin-right: 24px;
}
