/*
@styleguide

# 订单状态

*/
@import "sprites/css/sprite.css";
.order-status-icon{
	margin-right: 24px;
	position: relative;
	z-index: 1;
	width: 27px;
	display: inline-block;
}
.order-status-icon.icon-step-active:before{
	width: 2.3em;
	height: 2.3em;
}
.order-status{
	background: #fff8f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: -36px;
	margin-top: 35px;
	padding-left: 25px;
	padding-bottom: 14px;
}
.order-status h2{
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 17px;
}
.order-status li{
	margin-top: 16px;
	color: #969696;
	position: relative;
}
.order-status li:before{
	content: '';
	height: 100%;
	border-left: 1px dashed #969696;
	position: absolute;
    left: 12px;
    top: 14px;         
}
.order-status li.active{
	color: #333;
}
.order-status-step{
	margin-left: 69px;
	margin-right: 29px;
}

