.register-icon {
    font-size: 10px;
}

.register-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/register.svg");
    background-repeat: no-repeat;
    background-size: 11.5em 44.8em;
}

.no-svg .register-icon:before {
    background-image: url("../svg/register.png");
}

.register-icon.icon-account:before {
    background-position: -1em -1em;
    width: 1.5em;
    height: 1.5em;
}

.register-icon.icon-alipay:before {
    background-position: -1em -4.5em;
    width: 3.6em;
    height: 3.6em;
}

.register-icon.icon-close:before {
    background-position: -1em -10.1em;
    width: 1.7em;
    height: 1.5em;
}

.register-icon.icon-logo:before {
    background-position: -1em -13.6em;
    width: 9.5em;
    height: 9.5em;
}

.register-icon.icon-password:before {
    background-position: -1em -25.1em;
    width: 1.8em;
    height: 1.9em;
}

.register-icon.icon-reflash:before {
    background-position: -1em -29em;
    width: 1.8em;
    height: 1.8em;
}

.register-icon.icon-success:before {
    background-position: -1em -32.8em;
    width: 1.7em;
    height: 1.4em;
}

.register-icon.icon-username:before {
    background-position: -1em -36.2em;
    width: 2em;
    height: 2em;
}

.register-icon.icon-webchat:before {
    background-position: -1em -40.2em;
    width: 3.6em;
    height: 3.6em;
}

