<div class="mask show"></div>
  <div class="dialog dialog-center dialog-subscription show">
  <h2>标题内容</h2>
  <a href="#" class="btn btn-close">关闭</a>
  <div class="dialog-b">
    <span class="icon icon36"></span>
    <h3>恭喜你，订阅成功！</h3>
  </div>
</div>