<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
<symbol id="icon-star" viewBox="0 0 20 20">
        <title>icon-star</title><path d="M18.957 7.81c-.114-.378-.444-.637-.82-.646l-5.5-.117-1.806-5.425C10.708 1.25 10.374 1 10 1c-.374 0-.708.25-.83.623L7.363 7.047l-5.502.117c-.375.01-.705.268-.82.645-.115.376.01.79.31 1.03l4.377 3.467-1.59 5.49c-.11.378.02.79.32 1.023.298.23.72.236 1.022.015L10 15.55l4.52 3.286c.147.107.32.164.498.164.188 0 .368-.062.522-.18.302-.235.43-.646.32-1.024l-1.59-5.49 4.378-3.467c.3-.24.425-.655.31-1.03" fill-rule="evenodd"/>
</symbol>
</svg>
<div class="goods clearfix">
    <div class="goods-c3 fl">
      <ul class="clearfix">
          <li class="active"><a href=""><img src="http://placehold.it/74x74" alt="" /></a><span></span></li>
          <li><a href=""><img src="http://placehold.it/74x74" alt="" /></a><span></span></li>
          <li><a href=""><img src="http://placehold.it/74x74" alt="" /></a><span></span></li>
          <li><a href=""><img src="http://placehold.it/74x74" alt="" /></a><span></span></li>
          <li><a href=""><img src="http://placehold.it/74x74" alt="" /></a><span></span></li>
	  </ul>
    </div>
    <div class="goods-c1 fl">
      <div class="goods-c1r1">
        <ul>
          <li class="active"><img src="http://placehold.it/420x420" alt="" /><span></span></li>
        </ul>
        
      </div>
    </div>
    <div class="nataral-product-price2">当地售价<div class="text-important">NT$1120</div></div>
    <div class="goods-c2">
      <form action="">
        <h1>2014秋冬新款UGG羊皮毛一体短筒蝴蝶结保暖雪地靴2014秋冬新款UGG羊皮毛一体短筒蝴蝶结保暖雪地靴</h1>
        <p>秋冬新款 林格纹链条包 复古造型秋冬新款 林格纹链条包 复古造型秋冬新款 林格纹链条包 复古造型秋冬新款 林格纹链条包 复古造型</p>
        <div class="goods-nataral">台湾 佳德糕饼店 发货<a href=""> 逛实体店</a></div>
        <div class="goods-c2r1">
          <img src="../../../img/other/icon-usa.png" alt="" width="30" height="20">韩国品牌  LANEIGE<span class="goods-c2r1-from">海外仓发货</span>
        </div>
        
        <div class="goods-price">
        
          <!-- <div class="goods-seckill">
            <span class="goods-seckill-c1">秒杀</span>
            <div class="goods-seckill-c2">
              <b>距开始：</b><span class="text-important"><strong>2</strong>天<strong>3</strong>小时<strong>50</strong>分<strong>12</strong>秒</span>
            </div>
          </div> -->
          <div class="goods-price-c1">
            <div class="goods-price-r1"><em>促销价</em><span>¥</span><strong>69</strong><!--<a href="">丰富健康生活</a>--><b>国内参考价：￥259</b></div>
            <!--<div class="goods-price-r2">顺淘原价：￥120   国内参考价：￥155</div>
            <div class="goods-price-r2"><span>原价      ：NT$320</span>国内售价：￥89</div>-->
          </div>
          <div class="goods-price-c2">美妆节限时促销 <b>剩余：</b><span><strong>01</strong>天<strong>02</strong>时<strong>21</strong>分<strong>29</strong>秒</span>
            <div class="goods-activity-c1"><a href="javascript:"><span class="goods-activity-text">更多优惠</span><span class="icon icon67"></span></a></div>
          </div>
        </div>
        <div class="goods-activity">
          
          <div class="goods-activity-c2"><span class="label label-soon">满就减</span><span class="goods-activity-info">买一送一活动<a class="goods-activity-link" href="">去看看</a></span></div>
          <div class="goods-activity-detail">
            <ul>
              <li>满100减20<a class="goods-activity-link" href="">去看看</a></li>
              <li>满100减20<a class="goods-activity-link" href="">去看看</a></li>
            </ul>
          </div>
        </div>
        <div class="goods-activity">
          <!-- <div class="goods-activity-c1 fr"><a href="javascript:"><span class="goods-activity-text">更多优惠</span><span class="icon icon67"></span></a></div> -->
          <div class="goods-activity-c2"><span class="label label-soon">满就折</span><span class="goods-activity-info">买一送一活动<a class="goods-activity-link" href="">去看看</a></span></div>
          <div class="goods-activity-detail">
            <ul>
              <li>满100减20<a class="goods-activity-link" href="">去看看</a></li>
              <li>满100减20<a class="goods-activity-link" href="">去看看</a></li>
            </ul>
          </div>
        </div>
        <!--
        <ul>
          <li><label>品牌</label>妞妞</li>
          <li><label>配送</label>6-12天到货，<span class="text-important">免运费</span></li>
          <li><label>规格</label><span class="btn btn-goods">400-500g<span class="icon icon23"></span></span><span class="btn btn-goods active">500-600g<span class="icon icon23"></span></span></li>
        </ul> -->
        <ul>
          <!-- <li><label>品牌</label>妞妞</li> -->
          <li><label>配送</label>全场满88包邮<span class="tips">全国可配送</span><span class="tips">预计6-10个工作日到货</span></li>
          <li><label>送至</label>
            <select><option value="上海">上海</option></select>
            <select><option value="上海市">上海市</option></select>
            <select><option value="黄浦区">黄浦区</option></select>
            <span class="text-important">免运费</span>
          </li>
          <li><label>规格</label><span class="btn btn-goods">400-500g<span class="icon icon23"></span></span><span class="btn btn-goods active">500-600g<span class="icon icon23"></span></span></li>
          <li><label>数量</label><span class="btn btn-num"><a class="btn-num-reduce" href="#">-</a><a class="btn-num-add" href="#">+</a><input type="text" value="1"></span>
          <span class="icon icon62"></span><span class="text-important">每人限购5件</span>
          </li>
        </ul>
        <div class="goods-c2r2 clearfix">
          <div class="fl">
            <!--
            <a href="#" class="btn btn-buy">立即购买</a>-->
            <a href="#" class="btn btn-buy disable">立即购买</a>
            <!-- <a href="#" class="btn btn-buy border">到货通知</a> -->
            <button class="btn btn-soon" id="addtocart-btn">加入购物车<img src="../img/qrcode.png" class="addtocart-img" alt="" /></button>
            <div class="goods-collect">
              <svg class="icon-star" width="18" height="18">
                <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                <use xlink:href="#icon-star"></use>
              </svg>收藏商品
            </div>
            <div class="goods-collect active">
                <svg class="icon-star" width="18" height="18">
                  <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                  <use xlink:href="#icon-star"></use>
                </svg>已收藏
                <div class="goods-tooltip">收藏成功，<a href="">去个人中心看看&gt;</a></div>
            </div>

              
            </div>
              
            </div>

            <!-- 评价 晒单 -->
            <div class="goods-c2r3">
              <svg width="13" height="13">
                  <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                  <use xlink:href="#icon-star"></use>
              </svg>
              <svg width="13" height="13">
                  <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                  <use xlink:href="#icon-star"></use>
              </svg>
              <svg width="13" height="13">
                  <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                  <use xlink:href="#icon-star"></use>
              </svg>
              <svg width="13" height="13">
                  <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                  <use xlink:href="#icon-star"></use>
              </svg>
              <svg class="icon-star02" width="13" height="13">
                  <desc><img src="http://img0.sfht.com/cmsres/20151124/a8767842-492d-4b92-86f2-03e81d6481d2.png"></desc>
                  <use xlink:href="#icon-star"></use>
              </svg>
              <span class="text-important">100%</span> 好评
              <a href="#" class="tips">128人评价</a><a href="#"  class="tips">46人晒单</a>

              <!-- 分享 -->
              <div class="goods-share">分享赢好礼：
                    <div class="bdsharebuttonbox"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
              <!-- </div> -->
              <!-- </div> -->
          </div>
          
        </div>
      </form>
      
</div>