<div class="notify">
  <h3><span class="notify-icon"></span>消费者告知书</h3>
  <h4>尊敬的用户：</h4>
  <p>在您选购进口商品前，请仔细阅读本文，同意告知的内容后再下单购买：</p>
  <ul>
    <li>您在本网站上购买的进口商品，仅限个人自用，请勿再进行二次销售。</li>
    <li>您购买的进口商品所适用的质量、标识、健康标准等均按照原产国标准，与我国标准可能会有所不同，产生的差异以及其它风险，将由您个人承担。</li>
    <li>本网站（公司）默认顺丰海淘代您向海关进行申报和代缴税款。</li>
  </ul>
</div>