<div class="order-success">
    <div class="pm">
      <h2><span class="order-success-icon"></span>订单支付成功</h2>
      <p class="order-success-p1">感谢您使用顺丰海淘，我们将尽快为您发货！<a href="#">查看订单 ></a></p>
      <div class="order-success-r1 clearfix">
        <!--优惠券
        <div class="order-success-r1c1 fl">
          <p class="order-success-p2">恭喜你！获得一张顺丰海淘新年活动30元优惠券，已自动存入“我的优惠券”</p>
          <a class="coupon">
            <div class="coupon-r1">
              <span>30</span>元
            </div>
            <div class="coupon-r2">新年满300元减20元优惠券</div>
          </a>
        </div>
        <-->
        <!--礼包-->
        <div class="order-success-r1c1 fl">
          <p class="order-success-p2">恭喜你！获得一张顺丰海淘新年活动30元礼包，已自动存入“我的优惠券”</p>
          <a class="coupon gift">
            <div class="coupon-r1">
              <span>30</span>元
            </div>
            <div class="coupon-r2">新年满300元减20元优惠券</div>
          </a>
        </div>
        <!--礼包-->
        <div class="order-success-r1c2">
          <div class="order-success-qrcode">
            <p class="order-success-qrcode-r1">支付成功散红包，向小伙伴发200元红包</p>
            <img src="../img/qrcode2.png" width="140" height="140">
            <p class="order-success-qrcode-r2">扫一扫分享散红包到微信</p>
          </div>
        </div>
        
        <!--单个出现
        <p class="order-success-p2">恭喜你！获得一张顺丰海淘新年活动30元优惠券，已自动存入“我的优惠券”</p>
        <a class="coupon">
          <div class="coupon-r1">
            <span>30</span>元
          </div>
          <div class="coupon-r2">新年满300元减20元优惠券</div>
        </a>
        
        <div class="order-success-qrcode">
          <p class="order-success-qrcode-r1">支付成功散红包，向小伙伴发200元红包</p>
          <img src="../img/qrcode2.png" width="140" height="140">
          <p class="order-success-qrcode-r2">扫一扫分享散红包到微信</p>
        </div>
        <-->
      </div>
    </div>
      
      
</div>