<div class="info">
  <div class="info-r1">
    <div class="info-c1 fl">收货人信息</div>
    <ul class="info-c2">
      <li>收货人：黄小牙</li>
      <li>地址：虹梅路2007号上海园中产业园1号楼8楼</li>
      <li>联系电话：15900830081</li>
      <li>身份证号码：350**********1120</li>
    </ul>
  </div>
  <div class="info-r2">
    <div class="info-c1 fl">支付及配送方式</div>
    <ul class="info-c2">
      <li>支付方式：在线支付</li>
      <li>运费：￥0</li>
      <li>配送方式：顺丰配送</li>
      <li>送货日期：未配送</li>
      <li>配送时间：未配送</li>
    </ul>
  </div>
</div>