<div class="mask"></div>
<div class="register">
	<div class="register-h">
		<h2>注册顺丰海淘</h2>
		<ul>
			<li><a href="">手机注册</a><span class="icon icon16-2"></span></li>
			<li class="active"><a href="">邮箱注册</a><span class="icon icon16-2"></span></li>
		</ul>
		<a href="#" class="btn btn-close">关闭</a>
		<span class="icon icon34"></span>
		<span class="icon icon35"></span>
	</div>
	<!--手机注册-->
	<div class="register-b">
		<ol>
			<li>
				<input type="text" placeholder="手机号" /><span class="icon icon26">手机号输入错误</span>
			</li>
			<li>
				<div class="clearfix">
					<div class="fl">
						<input type="text" class="input1" placeholder="手机验证码" />
					</div>

					<a href="#" class="btn btn-send fr">发送验证码</a>
					<!--不可发送时--<a href="#" class="btn btn-send disable">发送验证码</a><!--不可发送时-->
				</div>
				<span class="icon icon26">手机验证码错误</span>

			</li>

			<li>
				<label for="password">设置密码</label>
				<input id="password" type="passward" class="password" />
				<p>6-18位字母、数字或标点符号</p>
			</li>
		</ol>
		<div class="register-br1">
			<a href="#" class="btn btn-send btn-register">同意协议并注册</a>
		</div>
		<div class="register-br2">
			<a href="">《顺丰海淘服务协议》</a>
		</div>
	</div>
	<!--手机注册-->
	<!--邮箱注册-->
	<div class="register-b active">
		<ol>

			<li>
				<input type="email" placeholder="邮箱地址" />
			</li>
			<li>
				<input type="text" class="input2" /><img src="../img/code.jpg" width="80" alt="验证码" /><a class="a1" href="">换一个</a>
			</li>
		</ol>
		<div class="register-br1">
			<a href="#" class="btn btn-send btn-register">同意协议并注册</a>
		</div>
		<div class="register-br2">
			<a href="">《顺丰海淘服务协议》</a>
		</div>
	</div>
	<!--邮箱注册-->
	<div class="register-other">
		<h3>使用第三方账号登陆</h3>
		<span class="icon icon52"></span><span class="icon icon68"></span>
	</div>
</div>