<div class="slider">
  <ul class="slider-img">
    <li class="active"><a href="" style="background-image: url(../../../img/other/index-makeup/slider.png);"></a></li>
    <li class="active"><a href="" style="background-image: url(../../../img/other/index-makeup/slider2.png);"></a></li>
  </ul>
  <div class="pm">
    <ul class="slider-num"></ul>
    <div class="slidebar">
    	<h2>美妆个护分类</h2>
    	<ul class="slidebar-c1">
        -for i in 1..4
          <li>
            <div class="slidebar-c1-inner">
              <h3><div class="slidebar-icon slidebar-icon#{i}"></div><a href="">推荐品牌</a></h3>
              <div class="slidebar-c1-link"><a href="">资深堂</a><a href=""><strong>菲诗小铺</strong></a><a href="">倩碧</a></div>
              <div class="slidebar-hover"></div>
              <div class="slidebar-c2">
                <ul>
                  -for j in 1..3
                    <li>
                      <h3>国际品牌#{i}</h3>
                      <div class="slidebar-c2-link"><a href="">资深堂</a><span>|</span><a href=""><strong>菲诗小铺</strong></a><span>|</span><a href="">倩碧</a><span>|</span><a href="">资深堂</a><span>|</span><a href=""><strong>菲诗小铺</strong></a><span>|</span><a href="">倩碧</a></div>
                    </li>
                </ul>
              </div>
              <div class="slidebar-c2 slidebar-c2-2">
                <ul>
                  -for j in 1..3
                    <li>
                      <h3>国际品牌#{i}</h3>
                      <div class="slidebar-c2-link"><a href="">资深堂</a><span>|</span><a href=""><strong>菲诗小铺</strong></a><span>|</span><a href="">倩碧</a><span>|</span><a href="">资深堂</a><span>|</span><a href=""><strong>菲诗小铺</strong></a><span>|</span><a href="">倩碧</a></div>
                    </li>
                </ul>
              </div>
            </div>
          </li>
         
    	</ul>
    	
    </div> 
    <img class="slider-banner" src="../../../img/other/index-makeup/slider-banner.png"/>
  </div>
  
</div>