.svg {
    font-size: 10px;
}

.svg:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 14.7em 21.4em;
}

.no-svg .svg:before {
    background-image: url("../svg/sprite.png");
}

.svg.icon-car:before {
    background-position: 0em 0em;
    width: 4em;
    height: 3.1em;
}

.svg.icon-cart:before {
    background-position: 0em -3.1em;
    width: 3.6em;
    height: 4em;
}

.svg.icon-earth:before {
    background-position: 0em -7.1em;
    width: 3.7em;
    height: 3.6em;
}

.svg.icon-list:before {
    background-position: 0em -10.7em;
    width: 2.7em;
    height: 3.3em;
}

.svg.icon-logo:before {
    background-position: 0em -14em;
    width: 14.7em;
    height: 4.1em;
}

.svg.icon-package:before {
    background-position: 0em -18.1em;
    width: 3.6em;
    height: 3.3em;
}

