/*
@styleguide

# base

*/
body{
	background: #f5f5f5;
	min-width: 1280px;
}
body.sub{
	min-width: inherit;
	overflow-y:hidden;
}
a{outline: none;}
a,a:hover{color:#333;}
img{vertical-align: middle;}
strong{
	font-weight:normal;
}
a[title="站长统计"]{
	display: none;
}