<div class="center-passdord-title">修改登录密码</div>

<div class="center-passdord-form clearfix" {{sf.untoggle success}}>
  <form>
    <dl class="clearfix" style="margin-bottom:15px; border-bottom:1px solid #F3F3F3;">
      <dt class="fl">原 密 码：</dt>
      <dd class="center-secret-old-password">
        <input autocomplete="off" type="password" class="c-passwoed" can-value="input.originalPassword" id="center-opriginal-password">
        {{#oldPwdError.opassed}}
        <span class="yes"> <em></em>
          {{oldPwdError.otext}}
        </span>
        {{/oldPwdError.opassed}}
        {{#oldPwdError.ofailed}}
        <span class="no"> <em></em>
          {{oldPwdError.otext}}
        </span>
        {{/oldPwdError.ofailed}}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="fl">新 密 码：</dt>
      <dd class="center-secret-new-password">
        <input type="password" class="c-passwoed" can-value="input.password">
        {{#error}}
        <span class="no"> <em></em>
          {{errorText}}
        </span>
        {{/error}}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="fl">确认密码：</dt>
      <dd>
        <input type="password" class="c-passwoed" can-value="input.repeatPassword">
          {{#confirmError}}
          <span class="no"> <em></em>
              {{confirmErrorText}}
          </span>
          {{/confirmError}}
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="fl" style="width:0px;"></dt>
      <dd>
        <input type="submit" class="c-submit" id="center-change-password-btn"></dd>
    </dl>
  </form>
</div>


<div class="c-Success" {{sf.toggle success}}>
  <div class="shop-yes clearfix">
    <div class="clearfix" style="width:490px; margin:0 auto;">
      <img src="images/ico15.png" class="fl">
      <div class="yes-text fr">
        <span>恭喜您，修改密码成功！</span>
        <p>
            请妥善保管您的密码，如有任何账户安全疑问请联系顺丰海淘客服。
          <br>
          <a href="#" class="go-Return">返回</a>
        </p>
      </div>
    </div>
  </div>
</div>