<h2 class="invite-h2">邀请有礼</h2>


<div class="invite-income clearfix">
    <div class="invite-income-c1 fl">
        <span class="invite-income-icon"></span>
        <h3>欢迎回来</h3>
    </div>

    <ul class="fl">
        <li>
            <h4>昨日收益：</h4>
            <div class="invite-income-price"><span class="text-important">{{sf.price lastestIncome}}</span>元</div>
        </li>
        <li>
            <h4>累计收益：</h4>
            <div class="invite-income-price"><span class="text-important">{{sf.price totalIncome}}</span>元</div>
        </li>
        <li>
            <h4>账户余额：</h4>
            <div class="invite-income-price"><span class="text-important">{{sf.price actBalance}}</span>元<button class="btn btn-normal btn-small" id="getmoney">提现</button></div>

            {{#hasBindAccount bindAliAct}}
            <div class="invite-income-alipay">支付宝账号：{{bindAliAct}} <a href="javascript:;" id="modifyaccount" class="text-link" style="display: block; padding-top: 5px; ">修改账号</a></div>
            {{/hasBindAccount}}
        </li>
    </ul>
</div>
{{#hasIncome infoList}}
<div class="invite-account">
    <div class="invite-account-b active">
        <h3>账户明细:</h3>
        <a href="javascript:;" id="switchwiew" class="text-link"><span class="icon-change"></span>切换至收益图表</a>
        <div class="address" id="infoList" class="active">
            <div class="address-table integral-table">
                <table>
                    <thead>
                        <tr>
                            <th class="col1">日期</th>
                            <th class="col2">收入/支出</th>
                            <th class="col3">说明</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each infoList}}
                        <tr>
                            <td class="col1">{{sf.time gmtCreate}}</td>
                            {{^isNegative income}}
                            <td class="col2"><strong class="text-important">+{{sf.price income}}</strong></td>
                            {{/isNegative}}
                            {{#isNegative income}}
                            <td class="col2"><strong class="text-disabled">{{sf.price income}}</strong></td>
                            {{/isNegative}}
                            <td class="col3">{{{reason}}}</td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{! <div class="page"><a href=""><span class="icon icon16-7"></span></a><a class="active" href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href=""><span class="icon icon16-6"></span></a></div> }}
        </div>
    </div>
    <div class="invite-account-b">
        <h3>收益图表:</h3>
        <a href="javascript:;" id="switchwiew" class="text-link"><span class="icon-change"></span>切换至账户明细</a>
        {{! <div id="chartContainer" style="height: 200px; width: 100%;"></div> }}
        <canvas id="canvas" height="250" width="600"></canvas>
    </div>
</div>
{{/hasIncome}}

<div class="invite-rule">
    <h3 class="invite-h3">本期规则</h3>
    <div class="invite-rule-bg" style="background: url(http://img.sfht.com/sfht/1.1.141/img/invite-rule.png) no-repeat center 55px"></div>
    <a href="/helpcenter-invitation.html" target="_blank" class="btn btn-success btn-radius" id="viewrule">查看规则条款</a>
</div>
<a name="shareway"></a>
<div class="invite-open" name="shareway">
    <h3 class="invite-h3">开启您的邀请之旅</h3>
    <ul class="clearfix">
        <li class="invite-open-li1">
            <h4>方式<span class="invite-open-icon1">1</span></h4>
            <h5><b>微信扫一扫，朋友圈撒红包</b></h5>
            <p style="color:#333;">勾搭朋友成为新用户，朋友注册购买后您将得到返现：）</p>
            <span id="shareURLQrcode"></span>
        </li>
        <li class="invite-open-li2">
            <h4>方式<span class="invite-open-icon2">2</span></h4>
            <h5><b>复制链接分享</b></h5>
            <p style="color:#333;">将以下链接分享到您的QQ群或朋友圈，朋友注册购买后您将得到返现
</p>
            <input id="urlinput" value="">
            {{! <button class="btn btn-success btn-small">复制</button> }}
        </li>
        <li class="invite-open-li3">
            <h4>方式<span class="invite-open-icon3">3</span></h4>
            <h5><b>任意商品分享</b></h5>
            <p style="color:#333;">任意商品详情页点分享有礼，朋友注册购买后您将得到返现
</p>
            <p><a href="/" style="font-weight:bold;color:#dc3334;">马上去找商品</a></p>
        </li>
    </ul>
</div>