<dt class="fl">*收货人：</dt>
<dd class="fl">
  <div class="mes-name clearfix">

    <div class="title3">由于国家政策规定，海淘商品进口需提供收货人的实名认证信息。<a target="_blank" href="/help-guide-recognize.html">了解详情</a></div>

    <div class="title4 clearfix">
      <span>收货人姓名：</span>
      <input type="text" class="name-input" can-value="input.recName">
      {{#consigneeName}}
          <b class="consignee-name">{{consigneeName.nameError}}</b>
      {{/consigneeName}}

    </div>

    <div class="title4 clearfix">
      <span>收货人身份证：</span>
      <input type="text" id="id-num-input" class="name-input" can-value="input.credtNum">
        {{#consigneeCardId}}
            <b class="consignee-paper">{{consigneeCardId.cardIdError}}</b>
        {{/consigneeCardId}}

    </div>

    <div class="title4 clearfix">
      <span>身份证照片：</span>
      <input type="button" class="name-img" value="立即上传" id="center-submit-photo">
      <font>若收货人身份证照片无法提供，可暂不上传。</font>
    </div>

    <div class="title5 clearfix">
      {{#image.spphoto}}<img src="{{sf-user-img image.spphoto}}">{{/image.spphoto}}
      {{#image.snphoto}}<img src="{{sf-user-img image.snphoto}}">{{/image.snphoto}}
    </div>

    <div id="center-id-photo-editor"></div>
    <div class="title4">
      <input type="submit" class="name-submit" value="保存收货人信息">
      <a href="javascript:;" class="name-q" id="center-cancel-add-user">取消</a>
    </div>
  </div>
</dd>