<h2>收货地址管理</h2>
{{^if hasData}}
<div class="order-b active">
<div class="order-r2" id="addAdrArea">

  </div>
    <a href="javascript:void(0)" id="btn-add-addr" class="btn btn-add">+ 添加收货地址</a>
</div>
{{/if}}

{{#if hasData}}
<div class="order-b active" id="addrList">
  <ul>
    {{#each addressList}}
    <li class="clearfix active" name="addrEach" data-addressid="{{addrId}}">
      <div class="order-r1 clearfix">
      <div class="order-r1c1 fl">
        <span class="order-r1c1c1 fl">{{nationName}} {{provinceName}} {{cityName}} {{regionName}}</span>
        <span class="order-r1c1c2 fl">{{detail}}</span>
        <span class="order-r1c1c3 fl">{{cellphone}}</span>
        <span class="order-r1c1c4 fl">{{zipCode}}</span>
      </div>
      <div class="order-r1c2 fl">
        <a class="order-edit" href="javascript:void(0)" data-index="{{@index}}">修改</a>
        <a class="order-del" href="javascript:void(0)" data-index="{{@index}}">删除</a>
      </div>
    </div>
    <div class="order-r2" id="editAdrArea">
    </li>
    {{/each}}
  </ul>

  <div class="order-r2" id="addAdrArea"></div>
  <a href="javascript:void(0)" id="btn-add-addr" class="btn btn-add">+ 添加地址信息</a>
</div>
{{/if}}