<table>
    <thead>
        <tr>
            <th class="th2">商品信息</th>
            <th class="th3">规格</th>
            <th class="th7">评价</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="itemlist">
                sss
            </td>
            <td class="td5" rowspan="1">￥109</td>


            <td class="td7" data-orderid="11001000991641">
                  <a href="javascript:;">发表评价</a>
            </td>
        </tr>
    </tbody>
  </table>