<div class="u-bj"></div>
<div class="u-shows" >
  <b class="t">上传证件电子照</b>
  <span class="error-tips">{{error.errorText}}</span>
  <div class="u-btn-identity clearfix">
    <div id="file-submit-input-photo-p">
      <span>
        <img src="{{sf-user-img user.credtImgUrl1}}" class="fr sf-submit-photo" id="submit-id-p">
      </span>
    </div>

    <div id="file-submit-input-photo-n">
      <span>
        <img src="{{sf-user-img user.credtImgUrl2}}" class="fr sf-submit-photo" id="submit-id-n">
      </span>
    </div>
  </div>

  <div class="u-text2 clearfix">
      请上传与收件人姓名对应的身份证电子照。<br />
      证件照片仅仅在邮政清关环节作为个人物品进境凭证。顺丰海淘保证不对外泄露您的信息。<br />
    <b>电子照片要求：</b><br />
    1、身份证正面和反面，垂直角度拍摄，边框完整；<br />
      如您需要自行添加水印，文字可填写“邮政清关专用”，水印不遮挡文字和头像信息。<br />
      支持jpg、png格式图片，大小控制在5MB以内。

  </div>
  <div class="clearfix">
    <input type="submit" class="submit-up fl" id="submit-file" value="确定上传">
    <a href="#" class="u-no fl" id="center-cancel-submit-photo">取消上传</a>
  </div>
</div>