<!-- 订单基本信息 -->
<div class="titles01">订单基本信息：</div>
<div class="content01">
  <p>
    订单号：{{order.orderId}}  创建日期：{{sf.time order.gmtCreate}}     订单总额：{{sf.price order.totalPrice}}元     订单状态：{{sf.pay.status order.orderStatus}}
  </p>
  <span>买家备注：{{order.userMsg}}</span>
  <div class="clearfix" style="padding-top:10px;">

    {{#sf-status-check 'SENT' order.orderStatus}}
    <!-- <a href="#" class="btn01 btnshow1 fl sf-order__confirm-btn">确认收货</a> -->
    <!-- <a href="#" class="btn01 btnshow1 fl sf-order__remark-btn">评价订单</a> -->
    <!-- <a href="#" class="btn06">联系客服</a> -->
    {{/sf-status-check}}

    {{#sf-status-check 'PAY' order.orderStatus}}
    <a href="#" class="btn01 btnshow1 fl center-buy" style="background:url(images/btn08.png) no-repeat;"  {{data 'order'}}>
      <form method="post" id="pay-form" style="display:none;"></form>
    </a>
    <a href="#" class="btn06 center-buy-cancel" data-id="{{order.orderId}}">取消</a>
    <!-- <a href="#" class="btn06">联系客服</a> -->
    {{/sf-status-check}}

    {{#sf-status-check 'WAIT' order.orderStatus}}
    <!-- <a href="#" class="btn06">联系客服</a> -->
    {{/sf-status-check}}

  </div>
</div>
<div class="titles01" style="padding-top:20px;">收货信息：</div>
<div class="content01">
  <p class="clearfix">
    <span class="fl">收货人：{{order.receiverDesc.recName}}     手机号：{{order.receiverDesc.mobile}}    证件信息：{{sf-id-status order.user.status}}</span>
    {{#sf-is-allow-reupload-img order.user.status}}
    <div class="fl" style="position:relative; width:80px;">
      <span class="tishi">你的证件电子照片审核未通过，请重新上传，如有问题请电话联系客服021-69763622</span>
      <a href="#" class="btn07 sf-photo-upload">重新上传</a>
    </div>
    {{/sf-is-allow-reupload-img}}
    {{#sf-is-allow-upload-img order.user.status}}<a href="#" class="fl btn07 sf-photo-upload">立即上传</a>{{/sf-is-allow-upload-img}}
  </p>

  <span>收货地址：{{order.receiverDesc.nationName}} {{order.receiverDesc.provinceName}} {{order.receiverDesc.cityName}} {{order.receiverDesc.regionName}} {{order.receiverDesc.detail}}</span>


</div>
<div id="center-id-photo-editor"></div>

<!-- 商品清单 -->
<div class="titles01" style="padding-top:20px;">商品清单：</div>
<div class="table-tops">
  <table>
    <tbody>
      <tr>
        <td width="320">商品信息</td>
        <td width="105">到手价（元）</td>
        <td width="80">购买数量</td>
        <td width="125">小计（元）</td>
        <td width="80">商品状态</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 订单 -->
{{#subOrderList}}

<div class="sf-order__suborder clearfix">
  <div class="fl heights">

    {{#subOrderItems}}
    <div class="clist clearfix" style="width:700px;">
      <div class="clist-main clearfix fl" style=" position:relative; width:700px;border-bottom:none;">
        <table>
          <col width="90">
          <col width="200">
          <col width="105">
          <col width="80">
          <col width="125">
          <col width="80">
          <tbody><tr>
            <td>
              <a href="/detail.html?sku={{skuId}}" target="_blank" class="img02">
                {{#sf.contain.img img}}<img src="{{sf.img img}}">{{/sf.contain.img}}
              </a>
            </td>
            <td>
              <div class="clearfix order-shop" style="width:auto;">
                <div class="order-r">
                  <span>
                    <a href="/detail.html?sku={{skuId}}" target="_blank">{{name}}</a>
                  </span>
                  <font>{{#skuSpec}} {{specName}}:{{specValue}} {{/skuSpec}}</font>
                  <span style="font-family:'宋体'; color:#B8B8B8;">
                    <img class="sf-country-icon-s" src="{{sf.nation.img shippingStartPointId}}">{{sf.nation.name shippingStartPointId}}
                  </span>
                </div>
              </div>
            </td>
            <td>{{sf.price price}}</td>
            <td>{{count}}</td>
            <td>{{sf-sum price count}}</td>

            <td>
              <div class="">{{sf-suborder-status subOrderStatus}}</div>
            </td>
          </tr>
        </tbody></table>
      </div>
    </div>
    {{/subOrderItems}}

  </div>

  {{#sf-amount 'more' subOrderItems}}
  {{#sf-ship subOrderStatus}}
  <div class="fl cright" style="height: 100%;">
    <div class="cright-mian clearfix">
      <span class="fl">包裹</span>
      <a href="#" class="fl center-buy-logistic" data-id="{{subOrderId}}">查看<br>物流</a>
      {{^sf-complete subOrderStatus}}<a href="#" class="fl center-buy-confirm" data-id="{{subOrderId}}">确认<br>收货</a>{{/sf-complete}}
    </div>
  </div>
  {{/sf-ship}}
  {{/sf-amount subOrderItems}}

  {{^sf-amount 'more' subOrderItems}}
  {{#sf-ship subOrderStatus}}
  <div class="fl cright" style="height:50px; margin-top:35px; margin-left:-25px;">
    <div class="cright-mian clearfix" style=" margin-top:0px;">
      <span class="fl">包裹</span>
      <a href="#" class="fl center-buy-logistic" data-id="{{subOrderId}}">查看<br>物流</a>
      {{^sf-complete subOrderStatus}}<a href="#" class="fl center-buy-confirm" data-id="{{subOrderId}}">确认<br>收货</a>{{/sf-complete}}
    </div>
  </div>
  {{/sf-ship}}
  {{/sf-amount subOrderItems}}

</div>

{{/subOrderList}}

<div class="c-form-more clearfix" style="border:1px solid #d8d8d8; border-top:none;">
</div>


{{#logistic}}
<div class="u-dialog">
  <div class="u-dialog-bg"></div>
  <div class="u-dialog-main">
    <div class="u-dialog-h">
      <h2>物流信息</h2>
      <button type="button" class="u-icon-close"></button>
    </div>
    <div class="u-dialog-b">

      {{^list}}<p>暂无物流信息</p>{{/list}}

      <ul>
        {{#list}}
        <li>
          <div class="u-dialog-c1">{{eventTime}}</div>
          <div class="u-dialog-c2">{{position}}   <span>{{remark}}</span></div>
        </li>
        {{/list}}
      </ul>
    </div>
    <div class="u-dialog-f">
        <button type="button" class="u-btn-success">确  定</button>
    </div>
  </div>
</div>
{{/logistic}}