<div class="shop-yes clearfix">
  <div class="clearfix" style="width:490px; margin:0 auto;">
    <img src="images/ico15.png" class="fl">
    <div class="yes-text fr">
      <span>恭喜您，密码重置成功！</span>
      <p>
         您的邮箱：{{user.accountId}}<br>
        <a href="/login.html" class="go-Return">前往登陆</a>
      </p>
    </div>
  </div>
</div>