<div class="order-navs clearfix order-navs2" style="padding-top:0px; padding-bottom:20px; width:990px;">
  {{#each process}}
  <div class="order-d order-d2 fl {{isActive num}} clearfix" style="{{isLast name}}">
    <b class="fl">{{num}}</b><span class="fl">{{name}}</span>
  </div>
  {{/each}}
</div>