{{#required}}
<div class="center-hide clearfix">
  <a href="#" class="fr close"><img src="images/ico18.png"></a>请完善您的个人资料，将帮助我们为您提供更好的服务。我们有义务维护您的个人隐私。
</div>
{{/required}}

<div class="center-Data clearfix">
  <div class="sf-b2c-mall-center-userinfo"></div>
</div>

<!--
<div class="date-Integral">
  <div class="clearfix Data-tops">
    <b class="fl">账户积分</b>
  </div>
  <div class="date-in-text">
    可使用积分：<b>{{points}}</b> <span>提示：积分在购物环节可进行金额抵扣。10积分=￥1人民币元</span>
  </div>
</div>
-->

<div class="sf-b2c-mall-center-address"></div>