<div class="self-alert">温馨提示：顺丰海淘未付款订单超过2小时将被自动取消，提交订单请尽快完成支付。</div>
<div class="c-orderform clearfix">
  <div class="hd clearfix">
  <!--
    <ul class="lead">
      <li><a href="#" data-channel="NULL">全部订单</a></li>
      <li><a href="#" data-channel="SUBMITED">待付款</a></li>
      <li><a href="#" data-channel="BUYING">已付款</a></li>
      <li><a href="#" data-channel="WAIT_SHIPPING">已发货</a></li>
      <li style="margin-right:0px;"><a href="#" data-channel="COMPLETED">交易完成</a></li>
    </ul>
  -->
  </div>
  <!-- <div class="img01"><img src="images/img01.png"></div> -->
  <div class="bd clearfix">
    <ul>
      <div class="table-tops">
        <table>
          <tbody>
            <tr>
              <td width="90">订单编号</td>
              <td width="144">创建日期</td>
              <td width="144">订单总额</td>
              <td width="115">订单状态</td>
              <td width="300">订单操作</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="sf-order__order-list"></div>

      <div class="page sf-b2c-mall-pagination"></div>
    </ul>
  </div>
</div>