<div class="shop-yes clearfix">
  <div class="clearfix" style="width:850px; margin:0 auto;">
    <div class="clearfix">
      <img src="images/ico15.png" class="fl">
      <div class="yes-text fl" style="padding-left:30px;">
        <span style="display:block; margin-top:20px;">恭喜您成功注册顺丰海淘！ </span>
      </div>
    </div>
    <div class="clearfix reg-btns">
      <a href="/">开始海淘之旅</a>
      <a href="login.html?from=center.html">完善账户资料</a>
    </div>
  </div>
</div>