<div class="c-binding-mains clearfix">
  <div class="center-passdord-title" style="border-bottom:1px solid #d8d8d8; padding-bottom:15px; margin-bottom:0px;">
    修改邮箱
  </div>

  <div class="order-navs clearfix sf-b2c-mall-center-board" style="width:791px; padding-top:20px; padding-bottom:20px;">
  </div>

  <div class="shop-yes clearfix">
    <div class="clearfix" style="width:490px; margin:0 auto;">
      <img src="images/ico15.png" class="fl">
      <div class="yes-text fr">
        <span>恭喜您，邮箱修改成功！</span>
        <p>
          您的帐户安还可以绑定其他平台哦，快去账户绑定完善吧！<br>
          <a href="javascript:history.go(-1);" class="go-Return">返回</a>
        </p>
      </div>
    </div>
  </div>
</div>



