<div class="reg-two clearfix">
  <b>账户创建完成，请完成验证步骤，即可注册成功</b>

  {{#if canRedictedToEmailURL}}
  <div class="mr1">注册邮箱地址：<a target="_blank" href="{{sf-email-host-url emailHost}}}"><span>{{email}}</span></a><a target="_blank" href="{{sf-email-host-url emailHost}}" class="go-to-look">去看看</a></div>
  {{else}}
   <div class="mr1">注册邮箱地址：<span>{{email}}</span></div>
  {{/if}}

  {{#if isSFEmail}}
  <div class="mr2">如何登录顺丰工作邮箱：用户名填工号，密码填开机域密码</div>
  {{/if}}

  已向您的注册邮箱发送验证邮件，请查收并完成校验。如果没有收到验证邮件，点此<a href="#" id="register-resend-confirm-email">重新发送验证邮件</a>
</div>
