<div class="p-imgs clearfix">
  <a href="#"><img src="{{userImgUrl}}"></a>
</div>
<div class="c-l-nav clearfix">
  <ul>
    {{#each menu}}
    <li class="{{isActive tag active}}"><a href="{{link}}">{{name}}</a></li>
    {{/each}}
  </ul>
</div>