<h2>基本资料</h2>
{{^isModified}}
  <div class="order-b">
    <ul>
      <li class="active">
        <div class="order-r1 clearfix">
          <div class="order-r1c1 fl">
            <span>昵称：{{user.nick}}</span>
            <span>性别：{{user.gender}}</span>
          </div>
          <div class="order-r1c2 fl">
            <a class="order-edit" href="" id="user-info-modify-btn">修改</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
{{/isModified}}
{{#isModified}}
  <div class="order-b center-info">
    <ul>
      <li class="active">
        <div class="order-r1 clearfix">
            <div class="order-r1c1 fl">
              昵称：<input type="text" class="input" can-value="input.nick">
              性别：
              <select can-value='input.gender' name="" id="select-sex">
                <option value="MALE">男</option>
                <option value="FEMALE">女</option>
              </select>
            </div>
            <div class="order-r1c2 fr">
              <a href="#" class="btn btn-send" id="user-info-confirm-btn">保存</a>
            </div>
        </div>
      </li>
    </ul>
  </div>
{{/isModified}}