<div class="c-email-form clearfix" style="padding-left:250px;">
  <dl class="clearfix">
    <dt class="fl">
      账户名：
    </dt>
    <dd>
      <input type="text" class="email-password" can-value="user.accountId">
    </dd>
  </dl>
<!--   <dl class="clearfix">
    <dt class="fl">
      验证码：
    </dt>
    <dd>
      <input type="text" class="email-text"><img src="images/yzm.png"><a href="#">看不清？<span>换一张</span></a>
    </dd>
  </dl> -->
  <dl class="clearfix">
    <dt class="fl">
    </dt>
    <dd>
      <input type="submit" class="email-submit" id="sf-b2c-mall-support-btn" value="下一步">
    </dd>
  </dl>
</div>