<div class="integral">
  <div class="integral-r1">欢迎回来，今日收益100,000元      累计收益500,000  账户余额：100，000 支付宝账号：18101865122 </div>
  <div class="integral-tab clearfix">
    <button class="btn btn-normal" id="getmoney">提现</button>
  </div>
</div>

<div class="address">
  <div class="address-table integral-table">
    <table>
      <thead>
        <tr>
          <th class="col1">日期</th>
          <th class="col2">收入</th>
          <th class="col3">原因</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col1">2015-03-28   12:10:15</td>
          <td class="col2"><strong class="text-success">+50</strong></td>
          <td class="col3">签到获得</td>

        </tr>
        <tr>
          <td class="col1">2015-03-28   12:10:15</td>
          <td class="col2"><strong class="text-important">-50</strong></td>
          <td class="col3">订单消费（订单号：123456789012345）</td>

        </tr>
        <tr>
          <td class="col1">2015-03-28   12:10:15</td>
          <td class="col2"><strong class="text-success">+50</strong></td>
          <td class="col3">完成订单（订单号：123456789012345）</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="shareURLQrcode"></div>
<input type="text" style="width:200px" id="urlinput">