<div class="invite-alipay">
  <h1 class="invite-alipay-banner">真送钱 支付宝提现！</h1>
  <div class="invite-alipay-way">
      <ul>
          <li class="li1">
              <h2>做土豪 派发红包</h2>
              <p name="cms-fill-coupon" data-cms-couponbagid="{{bagid}}" data-cms-coupontype="SHAREBAG">每日红包派发不停</p>
          </li>
          <li class="li2">
              <h2>20元红包</h2>
              <h3>微信扫码分享朋友圈</h3>
              <p>好友抢得红包后<br />在顺丰海淘消费即可抵用现金</p>
          </li>
          <li class="li3">
              <h2>朋友单笔订单支付满100元即送您30元，可支付宝提现</h2>
              <p>请点击查看下方登录查看去查看规则并且确认，否则无法获得奖励哦</p>
              <a href="javascript:;" id="viewruleimg"><img src="http://img.sfht.com/sfht/1.1.131/img/view.jpg" style="height: 42px; padding-top: 20px;" ></a>
          </li>
          <li class="li4">
              <h2><a href="/invitation.html">登录－个人中心－好友邀请查看收益</a></h2>
              <a href="javascript:;" id="viewruleimg"><img src="http://img.sfht.com/sfht/1.1.131/img/view.jpg" style="height: 42px; padding-top: 20px;" id="gotocenterimg"></a>
          </li>
      </ul>
  </div>
  <div class="pm">
      <div class="invite-open">
          <h3 class="invite-h3">开启您的邀请之旅</h3>
          <ul class="clearfix">
              <li class="invite-open-li1">
                  <h4>方式<span class="invite-open-icon1">1</span></h4>
                  <h5>微信扫一扫，朋友圈撒红包</h5>
                  <p>撒完红包找到您觉得靠谱的朋友卖力推荐，成功率更高哦！</p>
                  {{#isLogin}}
                  <span id="shareURLQrcode"></span>
                  {{/isLogin}}
              </li>
              <li class="invite-open-li2">
                  <h4>方式<span class="invite-open-icon2">2</span></h4>
                  <h5>复制您的url，邀请朋友注册下单</h5>
                  <p>您可以通过QQ或其他工具邀请您的朋友加入</p>

                  {{#isLogin}}
                  <input value="" id="urlinput">
                  {{/isLogin}}
              </li>
              <li class="invite-open-li3">
                  <h4>方式<span class="invite-open-icon3">3</span></h4>
                  <h5>挑选商品分享</h5>
                  <p>选出您有信心的商品分享给您的朋友</p>
                  <div class="invite-open-way">前往首页<span class="icon icon16-5"></span>挑选商品<span class="icon icon16-5"></span>点击分享</div>
                  <button class="btn btn-danger btn-small" id="gotohome">开始挑选</button>
              </li>
          </ul>
      </div>
      {{^isLogin}}
      <button class="btn btn-success btn-big" id="logintoShare">登录开始分享</button>
      {{/isLogin}}
  </div>

</div>


<div class="m-dialog" style="display:none">
    <div class="mb">
      <a class="close" href="">X</a>
      <h2>一、活动时间</h2>
      <ul>
        <li>2015年7月7日开始，具体结束时间另行公布。</li>
      </ul>

      <h2>二、参与资格</h2>
      <ul>
        <li>注册了顺丰海淘的用户均可获得活动资格。</li>
      </ul>

      <h2>三、推荐方式</h2>
      <ul>
        <li>顺丰海淘用户通过点击“推荐好友”功能按钮，将顺丰海淘相关信息分享给自己的朋友，该分享内容中会包含推广链接，当您的朋友点击推广链接注册成为顺丰海淘用户并在网站成功完成订单的，您将成为该好友的推荐人并获得返现奖励。 </li>
      </ul>

      <h2>四、例外情况</h2>
      <ul>
        <li>（一）您推荐的好友，在初次点击该活动对应的推广链接15天后才进行注册并完成订单；</li>
        <li>（二）您推荐的好友，在注册时点击的是其它顺丰海淘用户的推广链接；</li>
        <li>（三）您推荐的好友，在注册时点击的是顺丰海淘其他合作单位的推广链接；</li>
        <li>（四）邀请的朋友必须为新注册顺丰海淘会员</li>
        <li>（五）可提现金额与代金券将于被邀请人完成支付的次日10:00更新至您的账户，可登录后通过个人中心－好友邀请查看明细</li>
        <li>（六）若顺丰海淘发现存在恶意刷单的情况将取消派发奖励</li>
      </ul>

      <h2>五、奖励规则</h2>
      <ul>
        <li>1.当您的朋友点击推广链接注册成为顺丰海淘用户并在网站成功完成单笔订单，且金额大于100元时，您将成为该好友的推荐人并获得30元返现奖励＋奖励上限【10000】元。</li>
        <li>2.若您的朋友取消订单并产生退款将取消对应奖励</li>
      </ul>
      <h2>六、奖励时间</h2>
      <ul>
        <li>活动奖励将会在【您朋友的审单通过后2天之内】发放到推荐人的提现账户中（如有特殊情况会有所延迟，最迟会在【您朋友的订单审单通过后5】个工作日内发放至您的提现账户中，奖励金额请以支付宝账户实际到账为准）。</li>
      </ul>

      <h2>七、提现规则</h2>
      <ul>
        <li>1.单次提现金额不得小于50</li>
        <li>2.首次提现会提示您绑定支付宝账户，请确认输入正确的支付宝账号若因输入错误导致无法收到奖励金顺丰海淘将不予补发</li>
        <li>3.支付宝账户一经绑定将无法变更或取消</li>
      </ul>

      <h2>八、其他说明</h2>
      <ul>
        <li> 1、进行好友推荐的方式需要合法，符合顺丰海淘好友推荐规则，如若发现推荐者有任何违反好友推荐规则的行为发生，一经查实，顺丰海淘有权冻结推荐者账户并取消奖励。</li>
        <li>2、如您以虚假信息等方式对顺丰海淘进行欺诈的，顺丰海淘有权取消所有奖励，并保留追究您法律责任的权利。</li>
        <li>如因黑客攻击、系统错误、数据异常等造成奖励金额发放错误的，对超出部分顺丰海淘有权要求用户返还。</li>
        <li>3、请您在参与活动前了解活动规则，一旦您参与活动，视为您对活动规则的理解和接受。</li>
        <li>4、以上活动最终解释权归顺丰海淘所有。</li>
      </ul>
    </div>
  </div>