<div class="order verification retrieve verification-1">
    <h1>修改密码</h1>
    <ol>
      <li>
        <label for="old-password">原始密码：</label>
        <input id="old-password" type="password" class="input" can-value="oldPwd">
        <span id="oldPwd-error-tips" class="icon icon26"></span>
      </li>
      <li>
        <label for="new-password">新密码：</label>
        <input id="new-password" type="password" class="input" can-value="newPwd">
        <span id="newPwd-error-tips" class="icon icon26"></span>
      </li>
      <li>
        <label for="confirm-password">确认密码：</label>
        <input id="confirm-password" type="password" class="input" can-value="confirmPwd">
        <span id="confirmPwd-error-tips" class="icon icon26"></span>
      </li>
    </ol>
    <a id="btn-confirm" href="#" class="btn btn-send">确认</a>
    
</div>