<table>
    <thead>
        <tr>
            <th class="th2">商品信息</th>
            <th class="th3">规格</th>
            <th class="th7">评价</th>
        </tr>
    </thead>
    <tbody>
        {{#each orderPackageItemList}}
            {{#each orderGoodsItemList}}
                <tr>
                    <td colspan="3" style="text-align:left">
                        <ul style="list-style: none;">
                            <li style="width:430px; display:inline-block">
                                <a {{^isSecGoods goodsType}}href="http://www.sfht.com/detail/{{itemId}}.html"{{/isSecGoods}}>
                                    <img src="{{showImage imageUrl}}" alt="">
                                </a>
                                <h2>
                                <a {{^isSecGoods goodsType}}href="http://www.sfht.com/detail/{{itemId}}.html"{{/isSecGoods}}>{{goodsName}}</a>
                                {{#isSecGoods goodsType}}<div class="godds-type">秒杀商品</div>{{/isSecGoods}}
                                </h2>
                            </li>
                            <li style="width:130px; display:inline-block">
                                {{sf.price price}} {{quantity}}
                            </li>
                            <li style="width:135px; display:inline-block">
                                <a href="javascript:;" class="gotoshareorder" data-index="{{@index}}">去评价</a>
                            </li>
                        </ul>
                        <div class="commentEditorArea" style="height:0px"></div>
                    </td>
                </tr>
            {{/each}}
        {{/each}}
    </tbody>
  </table>

  <div id="commentEditorArea"></div>