<h2>收货人管理</h2>
{{^if hasData}}
<div class="order-b active">
<div class="order-r2" id="addPersonArea">
  </div>
    <a href="#" class="btn btn-add">+ 添加收货人信息</a>
</div>
{{/if}}

{{#if hasData}}
<div class="order-b active" id="personList">
  <ul>
    {{#each personList}}
    <li class="clearfix active" name="personEach" data-recid="{{recId}}">
      <div class="order-r1 clearfix">
      <div class="order-r1c1 fl">
        <span>{{recName}}</span>
        <span>身份证号：{{credtNum}}</span>
        <span>手机号码：{{cellphone}}</span>
      </div>
      <div class="order-r1c2 fl">
        <a class="order-edit" href="" data-index="{{@index}}">修改</a>
      </div>
    </div>
    <div class="order-r2" id="editPersonArea">
    </li>
    {{/each}}
  </ul>

  <div class="order-r2" id="addPersonArea"></div>
  <a href="#" class="btn btn-add">+ 添加收货人信息</a>
</div>
{{/if}}