<div class="c-email-form clearfix" style="padding-left:250px;">
  <div class="l-titles">身份验证成功，请重置密码</div>
  <dl class="clearfix">
    <dt class="fl">
      登录密码：
    </dt>
    <dd class="l-tel">
      <input type="password" class="email-text" can-value="user.newPassword">
    </dd>
  </dl>
  <dl class="clearfix">
    <dt class="fl">
       确认密码：
    </dt>
    <dd>
      <input type="password" class="email-text" can-value="user.repeatPassword">
    </dd>
  </dl>
  <dl class="clearfix">
    <dt class="fl">

    </dt>
    <dd>
      <input type="submit" class="email-submit" id="sf-b2c-mall-reset-btn" value="下一步">
    </dd>
  </dl>
</div>