<div class="c-email-form clearfix" style="padding-left:250px;">
<!--   <dl class="clearfix">
    <dt class="fl">
      选择验证方式：
    </dt>
    <dd>
      <select class="selects">
        <option>手机</option>
        <option>邮箱</option>
      </select>
    </dd>
  </dl> -->
  <dl class="clearfix">
    <dt class="fl">
      <!-- 选择验证方式： -->

    </dt>
    <dd class="l-tel">
      <!-- <span>151*****949</span><input type="submit" class="submit-tel" value="获取手机验证码"> -->
    </dd>
  </dl>
  <dl class="clearfix">
    <dt class="fl">
    </dt>
    <dd>
      已向您的注册邮箱{{accountId}}发送验证邮件，请查收并完成校验
    </dd>
  </dl>
  <dl>
    <dt class="fl"></dt>
    <dd>
      如果没有收到验证邮件，点此<a href="#" id="register-resend-confirm-email">重新发送验证邮件</a>
    </dd>
  </dl>


<!--   <dl class="clearfix">
    <dt class="fl">
      验证码：
    </dt>
    <dd>
      <input type="text" class="email-text" style="width:100px;">
    </dd>
  </dl> -->
<!--   <dl class="clearfix">
    <dt class="fl">

    </dt>
    <dd>
      <input type="submit" class="email-submit" id="sf-b2c-mall-confirm-btn" value="下一步">
    </dd>
  </dl> -->
</div>