<div class="order verification retrieve verification-1">
    <h1>设置密码</h1>
    <ol>
      <li>
        <label for="old-password">手机号码：</label>
        <input id="input-mobile" type="text" class="input" can-value="phoneNumber">
      </li>

      <li>
        <div class="clearfix">
        <div class="fl">
          <input type="text" class="input1" placeholder="点击按钮获取验证码" id="input-mobile-code" can-value="mobileCode"></div>
          <a href="#" class="btn btn-send fr" id="mobile-code-btn">发送验证码</a>
        </div>
        <span class="icon icon26" id="mobile-code-error">短信验证码输入有误，请重新输入</span>
      </li>

      <li>
        <label for="new-password">新密码：</label>
        <input id="new-password" type="password" class="input" can-value="newPwd">
        <span id="newPwd-error-tips" class="icon icon26"></span>
      </li>
      <li>
        <label for="confirm-password">确认密码：</label>
        <input id="confirm-password" type="password" class="input" can-value="confirmPwd">
        <span id="confirmPwd-error-tips" class="icon icon26"></span>
      </li>
    </ol>
    <a id="btn-confirm-bind" href="#" class="btn btn-send">确认</a>

</div>