/*
@styleguide

# 公告

*/
.announcement{
  color: #f18629;
  height: 38px;
  line-height: 38px;
  background: #fce7c4;
  padding-left: 13px;
  border: 1px solid rgb(249, 206, 137);
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 22px;

}
.announcement .icon-voise{
  margin-right: 10px;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  fill: #f29545;
  fill-rule: evenodd;
}
