#define($_content)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1280">
    <meta name="description" content="顺丰海淘，正品保障，含税一口价，顶尖物流，快速清关，在线销售母婴、食品、保健品、护肤品、等优质进口商品。为您提供一站式便捷的海淘商品购物体验！">
    <meta name="keywords" content="顺丰海淘,海淘网站,进口商品,进口品牌,秒杀特卖,限时抢购,折扣,母婴,鞋子,包包,保健,辅食,奶粉,纸尿裤,尿不湿">
    <title>顺丰海淘-100%海外正品保障（sfht.com），顺心全球购,丰富好生活！</title>
  $!{_const_indexCss}
</head>
<body>
<div id="content">
    <div class="sf-b2c-mall-header"></div>
    <div class="pb">
      #if($sliders&&$sliders.size()!=0)
          <div class="sf-b2c-mall-main-slider serverRendered">
              <div class="slider">
                  <ul class="slider-img">
                    #foreach ($_el in $sliders)
                        <li  #if($velocityCount==1)class="active"#end>
                            <a href="$!{_el.link}" target="_blank" style="background-image: url($!{_el.imgUrl})"></a>
                        </li>
                    #end
                  </ul>
                  <ul class="slider-num">
                    #foreach ($_el in $sliders)
                        <li #if($velocityCount==1)class="active"#end>
                            <a href="javascript:"></a>
                        </li>
                    #end
                  </ul>
                  <div class="pm">
                      <a href="javascript:" class="btn btn-prev" style="left: -100px; opacity: 0;">向前</a>
                      <a href="javascript:" class="btn btn-next" style="right: -100px; opacity: 0;">向后</a>
                  </div>
              </div>
          </div>
      #end
        <div class="pm">
          #if($freshFoodList)
              <!--生鲜-->
              <div class="sf-b2c-mall-freshFoodList serverRendered">
                  <div class="product product2" id="FreshFoodList">
                      <div class="mh">
                          <h2>Hi生鲜</h2>
                      </div>
                      <div class="mb">
                          <ul class="clearfix product-list" data-itemIds=${freshFoodListItemIds}>
                            #foreach ($_el in $freshFoodList)
                                <li>
                                    <a href="$!{_el.property.link}" target="_blank" title="$!{_el.property.title}">
                                        <div class="product-r1">
                                            <img src="$!{_el.property.imgUrl}" alt=""/>
                                            <span></span>
                                        </div>
                                        <h3>
                                          $!{_el.property.name}
                                        </h3>

                                        <p>$!{_el.property.subName}</p>

                                        <div id="price4ProductClient" class="product-r3 clearfix" data-contentType="PRODUCT"
                                             data-itemId="$!{_el.property.itemId}"></div>
                                    </a>
                                </li>
                            #end
                          </ul>
                      </div>
                  </div>
              </div>
              <!--生鲜-->
          #end
          #if($limitedTimeSale&&$limitedTimeSale.size()!=0)
              <!--限时特卖-->

              <div class="sf-b2c-mall-limitedtimesale serverRendered">
                  <div class="product product1" id="LimitedTimeSale">
                      <div class="mh clearfix">
                          <h2 class="fl">限时特卖</h2>
                          <ul class="fl product-tab">
                              <li id="current" class="active">
                                  <a href="#">当前</a>
                                  <span></span>
                              </li>
                              <li id="future">
                                  <a href="#">即将开始</a>
                                  <span></span>
                              </li>
                          </ul>
                      </div>
                      <div class="mb">
                          <ul class="clearfix product-list" data-itemIds=$!{timeLimitedSaleItemIds}>
                            #foreach ($_el in $limitedTimeSale)
                                <li>
                                    <a href="$!{_el.link}" target="_blank">
                                        <div class="product-r1">
                                            <img src="$!{_el.imgUrl}" alt=""/>
                                            <span></span>
                                        </div>
                                        <h3>
                                          $!{_el.title}
                                        </h3>

                                        <p>$!{_el.subTitle}</p>

                                        <div class="product-r2 clearfix">
                                            <div id="timeAndNation4ProductClient" data-contentType="$!{_el.contentType}" #if($_el.homepageProductInfo)
                                                 data-itemId="$!{_el.homepageProductInfo.itemId}" #elseif($_el.homepageTopicInfo)
                                                 data-topicId="$!{_el.homepageTopicInfo.topicId}" data-displayEndTime="$!{_el.displayEndTime}" #end
                                                 class="product-r2c1 fl"><span class="icon icon4"></span></div>
                                          #if ($_el.homepageProductInfo)
                                              <div class="product-r2c2 fr">
                                            <span class="icon">
                                              <img src="$!{_el.homepageProductInfo.showNationalUrl}" alt=""/>
                                            </span>
                                                  <span class="product-r2-time"></span>
                                              </div>
                                          #end
                                        </div>
                                      #if ($_el.homepageProductInfo)
                                          <div id="price4ProductClient" class="product-r3 clearfix" data-contentType="$!{_el.contentType}"
                                               data-itemId="$!{_el.homepageProductInfo.itemId}"></div>
                                      #elseif ($_el.homepageTopicInfo)
                                          <div class="product-r3 clearfix" data-contentType="$!{_el.contentType}"
                                               data-topicId="$!{_el.homepageTopicInfo.topicId}">
                                              <div class="product-r3c1 fl">
                                                  <strong><span>￥</span>$!{_el.homepageTopicInfo.price}起</strong>
                                              </div>
                                              <div class="product-r3c2 fr">
                                                  <strong>$!{_el.homepageTopicInfo.discount}</strong>折起
                                              </div>
                                          </div>
                                      #end
                                    </a>
                                </li>
                            #end
                          </ul>
                      </div>
                  </div>
              </div>
              <!--限时特卖-->
          #end
          #if($fastSaleInfoList)
              <!--极速海淘-->

              <div class="sf-b2c-mall-rapidseabuy serverRendered">
                  <div class="product product2" id="RapidSeaBuy">
                      <div class="mh">
                          <h2>极速海淘</h2>
                      </div>
                      <div class="mb">
                          <ul class="clearfix product-list" data-itemIds=${fastSaleInfoItemIds}>
                            #foreach ($_el in $fastSaleInfoList.fastSaleInfos )
                                <li>
                                    <a href="$!{_el.link}" target="_blank" title="$!{_el.title}">
                                        <div class="product-r1">
                                            <img src="$!{_el.imgUrl}" alt=""/>
                                            <span></span>
                                        </div>
                                        <h3>
                                          $!{_el.title}
                                        </h3>

                                        <p>$!{_el.subTitle}</p>

                                        <div class="product-r2 clearfix">
                                            <div class="product-r2c1 fl">
                                            <span class="icon icon6">
                                              <b>$!{_el.limitedTime}</b>天到
                                              <i></i>
                                            </span>
                                            </div>
                                          #if ($_el.homepageProductInfo)
                                              <div class="product-r2c2 fr">
                                                  <img src="$!{_el.homepageProductInfo.showNationalUrl}" alt=""/>
                                              </div>
                                          #end
                                        </div>
                                      #if ($_el.homepageProductInfo)
                                          <div id="price4ProductClient" class="product-r3 clearfix" data-contentType="$!{_el.fastSaleContentType}"
                                               data-itemId="$!{_el.homepageProductInfo.itemId}"></div>
                                      #elseif ($_el.homepageTopicInfo)
                                          <div class="product-r3 clearfix" data-contentType="$!{_el.fastSaleContentType}"
                                               data-topicId="$!{_el.homepageTopicInfo.topicId}">
                                              <div class="product-r3c1 fl">
                                                  <strong><span>￥</span>$!{_el.homepageTopicInfo.price}起</strong>
                                              </div>
                                              <div class="product-r3c2 fr">
                                                  <strong>$!{_el.homepageTopicInfo.discount}</strong>折起
                                              </div>
                                          </div>
                                      #end
                                    </a>
                                </li>
                            #end
                          </ul>
                      </div>
                      <div class="mf">
                        #if( $fastSaleInfoList.pageInfo.hasMore )
                            <a href="#" class="btn btn-more">查看更多</a>
                        #end
                      </div>
                  </div>
              </div>
              <!--极速海淘-->
          #end
        </div>
    </div>
    <!--尾部-->
    <div class="sf-b2c-mall-footer"></div>

    <!--尾部-->
</div>
  $!{_const_indexScript}
</body>
#end
